<template>
    <div class="vue-csv-uploader">
        <div v-if="!is_importing">
            <div class="pb-4">
              <button class="btn btn-primary" @click="start_import">Start Import</button>
            </div>
            <ImportDetailPane />
        </div>
        <form-wizard v-else :color="primary_color" error-color="#f1556c" title='' subtitle='' @on-complete="save_audience" @on-loading="set_loading" >
            <tab-content title="Choose file" icon="ti-file" :before-change="validate_file">
                <div class="vue-csv-uploader-part-one">
                    <div class="form-group csv-import-file">
                        <div id="dropzone" @dragover.prevent @drop.prevent>
                            <div class="dropzone-container" @drop="handle_file_drop">
                                <div class="file-wrapper">
                                    <p>Drag and drop or <span class="scrb-link scrb-color" @click="trigger_file">choose a file</span> to import audience</p>
                                    <p>Only .csv file type is supported.</p>
                                    <div v-if="file">
                                      <i class="fas fa-file scrb-color"></i> <span class="pl-1 scrb-filename">{{file.name}}</span>
                                    </div>
                                    <input ref="csv" type="file" class="scrb-file" name="csv" @change="handle_file_change">
                                </div>
                            </div>
                        </div>

                        <div class="form-check csv-import-checkbox pt-2" v-if="headers === null">
                            <slot name="hasHeaders" :headers="hasHeaders" :toggle="toggleHasHeaders">
                                <input :class="checkboxClass" type="checkbox" id="hasHeaders" :value="hasHeaders" @change="toggleHasHeaders">
                                <label class="scrb-header-label" for="hasHeaders">
                                    Please check the box if the file has headers.
                                </label>
                            </slot>
                        </div>

                    </div>
                    <p v-if="validation.file_not_selected" class="text-danger">{{ validation.file_not_seleccted_msg }}</p>
                    <p v-if="validation.file_type_not_csv" class="text-danger">{{ validation.file_not_csv_msg }}</p>
                </div>
            </tab-content>

            <tab-content title="Personal details" icon="ti-user" :before-change="validate_personal_fields">
                <div class="vue-csv-uploader-part-two">
                    <div class="vue-csv-mapping" v-if="sample">
                        <table :class="tableClass">
                            <slot name="thead">
                                <thead>
                                <tr>
                                    <th>Field</th>
                                    <th>Preview Information</th>
                                    <th>CSV Column</th>
                                    <th></th>
                                </tr>
                                </thead>
                            </slot>
                            <tbody>
                            <tr v-for="(field, key) in personal_fields" :key="key">
                                <td>{{ field.label }}</td>
                                <td>
                                <p v-for="(value, index) in headerValues(map[field.key])" :key="index">{{value}}</p>
                                </td>
                                <td>
                                    <select class="form-control" v-model="map[field.key]">
                                        <option v-for="(column, key) in firstRow" :key="key" :value="key">{{ column }}</option>
                                    </select>
                                </td>
                                <td>
                                <b-form-checkbox
                                    v-if="!(field.key in required_fields)"
                                    :id="field.key"
                                    v-model="exclude_columns[field.key]"
                                    :name="field.key"
                                    :value="true"
                                >
                                    Do not import this column
                                </b-form-checkbox>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <p v-if="validation.personal_fields_not_selected" class="text-danger">{{ validation.fields_not_selected_msg }}</p>

                        <div class="mt-2">
                            <b-form-checkbox
                                v-if="unmatched_personal_columns.length"
                                v-model="unmatched_personal_data_checked"
                                :value="true"
                            >
                                Do not import unmatched data
                            </b-form-checkbox>
                        </div>
                        <div class="form-group" v-if="url">
                            <slot name="submit" :submit="submit">
                                <input type="submit" :class="buttonClass" @click.prevent="submit" :value="submitBtnText">
                            </slot>
                        </div>
                    </div>
                </div>

            </tab-content>

            <tab-content title="Address Details" icon="ti-location-pin" :before-change="validate_address_fields">
                <div class="vue-csv-uploader-part-two">
                    <div class="vue-csv-mapping" v-if="sample">
                        <table :class="tableClass">
                            <slot name="thead">
                                <thead>
                                <tr>
                                    <th>Field</th>
                                    <th>Preview Information</th>
                                    <th>CSV Column</th>
                                    <th></th>
                                </tr>
                                </thead>
                            </slot>
                            <tbody>
                            <tr v-for="(field, key) in address_fields" :key="key">
                                <td>{{ field.label }}</td>
                                <td>
                                <p v-for="(value, index) in headerValues(map[field.key])" :key="index">{{value}}</p>
                                </td>
                                <td>
                                    <select class="form-control" v-model="map[field.key]">
                                        <option v-for="(column, key) in firstRow" :key="key" :value="key">{{ column }}</option>
                                    </select>
                                </td>
                                <td>
                                <b-form-checkbox
                                    v-if="!(field.key in required_fields)"
                                    :id="field.key"
                                    v-model="exclude_columns[field.key]"
                                    :name="field.key"
                                    :value="true"
                                >
                                    Do not import this column
                                </b-form-checkbox>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <p v-if="validation.address_fields_not_selected" class="text-danger">{{ validation.fields_not_selected_msg }}</p>

                        <div class="mt-2">
                            <b-form-checkbox
                                v-if="unmatched_address_columns.length"
                                v-model="unmatched_address_data_checked"
                                :value="true"
                            >
                                Do not import unmatched data
                            </b-form-checkbox>
                        </div>
                        <div class="form-group" v-if="url">
                            <slot name="submit" :submit="submit">
                                <input type="submit" :class="buttonClass" @click.prevent="submit" :value="submitBtnText">
                            </slot>
                        </div>
                    </div>
                </div>

            </tab-content>

            <tab-content title="Spreadsheet" icon="ti-file" :before-change="validate_hot_table">
                <div class="vue-csv-uploader-part-three ">
                    <h5 class="pb-2">Edit the details from the table if anything is missing.</h5>
                    <hot-table class="input-table" :settings="table_settings" ref="hot_table" ></hot-table>
                </div>
            </tab-content>

            <tab-content title="Last step" icon="ti-check">
                <div class="vue-csv-uploader-part-three table-responsive ">
                    <h5 class="pb-2">Please review the details</h5>
                    <div style="height: 350px">
                      <table :class="tableClass">
                          <slot name="thead">
                              <thead>
                              <tr>
                                  <th v-for="(row, index) in firstRow" :key="index">{{ row }}</th>
                              </tr>
                              </thead>
                          </slot>
                          <tbody>
                              <tr v-for="(row, index) in final_audience_details" :key="index">
                                  <td v-for="(value, index) in row" :key="index">{{value}}</td>
                              </tr>
                          </tbody>
                      </table>
                    </div>
                </div>

            </tab-content>
            <LoadingButton :loading="wizard_loading" variant="primary" slot="next">Next</LoadingButton>
            <LoadingButton variant="primary" slot="prev">Back</LoadingButton>
            <LoadingButton :loading="adding_recipient" variant="primary" slot="finish">Finish</LoadingButton>
        </form-wizard>
    </div>
</template>

<script>
import _ from 'lodash'
import axios from 'axios'
import Papa from 'papaparse'
import { HotTable } from '@handsontable/vue'
import { db } from '@/lib/firebase.js'
import LoadingButton from '../../components/LoadingButton'
import ImportDetailPane from './ImportDetailPane'
import text_utils from '../../lib/text_utils'
import {
  MIN_UNITS,
  MAX_UNITS,
  RECIPIENTS_ERROR
} from '../../../functions/shared/constants'

export default {
  components: {
    HotTable,
    LoadingButton,
    ImportDetailPane
  },
  props: {
    hide_csv_modal: Function,
    value: Array,
    url: {
      type: String
    },
    mapFields: {
      required: true
    },
    callback: {
      type: Function,
      default: () => {
      }
    },
    catch: {
      type: Function,
      default: () => {
      }
    },
    finally: {
      type: Function,
      default: () => {
      }
    },
    parseConfig: {
      type: Object,
      default () {
        return {}
      }
    },
    headers: {
      default: null
    },
    loadBtnText: {
      type: String,
      default: 'Next'
    },
    submitBtnText: {
      type: String,
      default: 'Submit'
    },
    tableClass: {
      type: String,
      default: 'table'
    },
    checkboxClass: {
      type: String,
      default: 'form-check-input'
    },
    buttonClass: {
      type: String,
      default: 'btn btn-primary'
    },
    inputClass: {
      type: String,
      default: 'form-control-file'
    },
    countries_list: {
      type: Object
    },
    states_list: {
      type: Object
    }
  },

  data () {
    let countries_lookup = {}
    Object.keys(this.countries_list || {}).reduce((obj, key) => (countries_lookup[this.countries_list[key]] = key), {})

    let states_lookup = {}
    Object.keys(this.states_list || {}).reduce((obj, key) => (states_lookup[this.states_list[key]] = key), {})

    let that = this

    return {
      is_importing: false,
      file: null,
      form: {
        csv: null
      },
      fieldsToMap: [],
      map: {},
      hasHeaders: true,
      csv: null,
      sample: null,
      exclude_columns: {},
      unmatched_personal_data_checked: false,
      unmatched_address_data_checked: false,
      unmatched_personal_columns: [],
      unmatched_address_columns: [],
      csvData: null,
      required_fields: { first_name: true, last_name: true, country: true, address_line_1: true },
      table_settings: {
        data: [],
        rowHeaders: true,
        colHeaders: ['Title', 'First Name', 'Last Name', 'Department', 'Company', 'Address line 1', 'Address line 2', 'Address line 3', 'City', 'Postal code', 'State/Region', 'Country'],
        colWidths: 100,
        width: '100%',
        height: 250,
        rowHeights: 23,
        columns: [{}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {
          type: 'dropdown',
          source: Object.values(this.countries_list)
        }],
        afterChange: function (changes) {
          if (changes) {
            let [row, prop, oldValue, newValue] = changes[0]
            if (prop === 11 && newValue === 'United States') {
              this.setCellMeta(row, 10, 'type', 'dropdown')
              this.setCellMeta(row, 10, 'source', Object.values(that.states_list))
            } else if (prop === 11) {
              this.setCellMeta(row, 10, 'type', 'text')
              this.setCellMeta(row, 10, 'source', '')
            }
          }
        },
        afterLoadData (initialLoad) {
          let row_count = this.countRows()

          for (let row = 0; row < row_count; row++) {
            let country = this.getDataAtCell(row, 11)
            if (country === 'United States') {
              this.setCellMeta(row, 10, 'type', 'dropdown')
              this.setCellMeta(row, 10, 'source', Object.values(that.states_list))
            }
          }
        }
      },
      final_audience_details: [],
      validation: {
        file_not_selected: false,
        file_not_seleccted_msg: 'Please choose a file',
        fields_not_selected: false,
        personal_fields_not_selected: false,
        address_fields_not_selected: false,
        fields_not_selected_msg: 'Please select all the fields or check the below box',
        file_type_not_csv: false,
        file_not_csv_msg: 'Only CSV file type is supported'
      },
      audience_data: {},
      personal_fields: [],
      address_fields: [],
      primary_color: '#4450a5',
      countries_lookup,
      states_lookup,
      wizard_loading: false,
      adding_recipient: false
    }
  },

  created () {
    this.hasHeaders = this.headers

    if (_.isArray(this.mapFields)) {
      this.fieldsToMap = _.map(this.mapFields, (item) => {
        return {
          key: item,
          label: item
        }
      })
    } else {
      this.fieldsToMap = _.map(this.mapFields, (label, key) => {
        return {
          key: key,
          label: label
        }
      })
    }

    this.personal_fields = this.fieldsToMap.slice(0, 5)
    this.address_fields = this.fieldsToMap.slice(5)
  },

  methods: {
    set_loading: function (value) {
      this.wizard_loading = value
    },
    start_import () {
      this.is_importing = true
    },
    handle_file_drop (e) {
      this.file = e.dataTransfer.files[0]
    },
    handle_file_change (e) {
      this.file = e.target.files[0]
    },
    trigger_file () {
      this.$refs.csv.click()
    },
    submit () {
      const _this = this
      this.form.csv = this.buildMappedCsv()
      this.$emit('input', this.form.csv)

      if (this.url) {
        axios.post(this.url, this.form).then(response => {
          _this.callback(response)
        }).catch(response => {
          _this.catch(response)
        }).finally(response => {
          _this.finally(response)
        })
      } else {
        _this.callback(this.form.csv)
      }
    },

    validate_personal_fields () {
      this.validation.personal_fields_not_selected = false
      let filteredMap = this.filterMap()
      this.csvData = this.buildMappedCsv(filteredMap)
      let mapFields = this.mapFields.slice(0, 5)

      if (this.unmatched_personal_data_checked) {
        return true
      } else {
        const hasAllKeys = mapFields.every(item => {
          return this.map.hasOwnProperty(item)
        })

        if (!hasAllKeys) {
          this.validation.personal_fields_not_selected = true
          return false
        } else {
          return true
        }
      }
    },

    validate_address_fields () {
      this.validation.address_fields_not_selected = false
      let filteredMap = this.filterMap()
      this.csvData = this.buildMappedCsv(filteredMap)
      let mapFields = this.mapFields.slice(5)

      if (this.unmatched_address_data_checked) {
        return true
      } else {
        const hasAllKeys = mapFields.every(item => {
          return this.map.hasOwnProperty(item)
        })

        if (!hasAllKeys) {
          this.validation.address_fields_not_selected = true
          return false
        } else {
          return true
        }
      }
    },

    buildMappedCsv (map) {
      let csv = this.hasHeaders ? _.drop(this.csv) : this.csv

      return _.map(csv, (row) => {
        let newRow = {}
        _.forEach(map, (column, field) => {
          _.set(newRow, field, _.get(row, column))
        })

        return newRow
      })
    },

    filterMap () {
      let mappedCsv = Object.assign({}, this.map)
      for (let key in this.exclude_columns) {
        if (this.exclude_columns[key]) {
          delete mappedCsv[key]
        }
      }

      return mappedCsv
    },

    async validate_file () {
      this.validation.file_not_selected = false
      this.validation.file_type_not_csv = false
      const result = await new Promise((resolve, reject) => {
        this.readFile((err, output) => {
          if (err) {
            if (err.file_not_selected) {
              this.validation.file_not_selected = true
              resolve(false)
            }

            if (err.file_type_not_csv) {
              this.validation.file_type_not_csv = true
              resolve(false)
            }
          }

          this.sample = _.get(Papa.parse(output, { preview: 2, skipEmptyLines: true }), 'data')
          this.csv = _.get(Papa.parse(output, { skipEmptyLines: true }), 'data')
          this.mapHeadersWithProperties()
          this.disabledSelect = false
          resolve(true)
        })
      })

      return result
    },

    load () {
      this.validation.file_not_selected = false
      this.readFile((err, output) => {
        if (err) {
          if (err.file_not_selected) {
            this.validation.file_not_selected = true
          }
          return false
        }
        this.sample = _.get(Papa.parse(output, { preview: 2, skipEmptyLines: true }), 'data')
        this.csv = _.get(Papa.parse(output, { skipEmptyLines: true }), 'data')
        this.mapHeadersWithProperties()
        this.disabledSelect = false
        return true
      })
    },

    readFile (callback) {
    //   let file = this.$refs.csv.files[0]
      let file = this.file

      if (file) {
        if (this.allow_mime_type(file.type)) {
          let reader = new FileReader()
          reader.readAsText(file, 'UTF-8')
          reader.onload = function (evt) {
            callback(null, evt.target.result)
          }
          reader.onerror = function () {
          }
        } else {
          callback({ file_type_not_csv: true })
        }
      } else {
        callback({ file_not_selected: true })
      }
    },
    toggleHasHeaders () {
      this.hasHeaders = !this.hasHeaders
    },

    mapHeadersWithProperties () {
      let fields = this.fieldsToMap.map(f => f.key)
      let rows = this.firstRow
      // let headers = {}
      let personal_fields = { first_name: true, last_name: true, title: true, department: true, company: true }

      for (let i = 0; i < fields.length; i++) {
        let index
        let field_length = fields[i].length
        let last_string = fields[i][field_length - 1]
        let is_last_number = false
        if (!isNaN(last_string)) {
          is_last_number = true
        }

        // Check for the matched columns with at least 3 characters
        for (let j = 3, len = fields[i].length; j < len; j++) {
          let substring = fields[i].substring(0, j)

          if (is_last_number) {
            index = _.findIndex(rows, function (o) {
              let regex = new RegExp(last_string, 'i')
              return regex.test(o)
            })

            if (index > -1) break
          }

          index = _.findIndex(rows, function (o) {
            let regex = new RegExp(substring, 'i')
            return regex.test(o)
          })

          if (index > -1) {
            break
          }
        }

        if (fields[i] === 'state') {
          const state_index = _.findIndex(rows, function (o) {
            return o === 'state'
          })

          if (state_index) {
            index = state_index
          }
        }

        if (index > -1) {
          this.$set(this.map, fields[i], index)
        } else if (fields[i] in personal_fields) {
          this.unmatched_personal_columns.push(fields[i])
        } else {
          this.unmatched_address_columns.push(fields[i])
        }
      }
    },

    headerValues (index) {
      let values = []
      let length = _.get(this, 'csv', []).length
      if (length > 5) {
        length = 5
      }
      for (let i = 1; i < length; i++) {
        values.push(this.csv[i][index])
      }
      return values
    },

    validate_hot_table () {
      let rows = this.$refs.hot_table.hotInstance.getData()
      let fields = this.fieldsToMap.map(f => f.key)

      this.final_audience_details = rows

      let errors = {}
      errors[RECIPIENTS_ERROR.last_name] = []
      errors[RECIPIENTS_ERROR.address] = []
      errors[RECIPIENTS_ERROR.postcode] = []
      errors[RECIPIENTS_ERROR.country] = []
      errors[RECIPIENTS_ERROR.us_state] = []

      let data = []
      let bad_chars = []
      let bad_char_error_rows = []
      rows.forEach((row, index) => {
        let obj = {}
        let row_data = ''
        for (let i = 0; i < row.length; i++) {
          const header = fields[i]
          obj[header] = row[i]
          row_data += row[i]
        }

        obj.country = this.countries_lookup[obj.country]

        if (obj.country === 'US') {
          obj.state = this.states_lookup[obj.state] || ''
        }

        let out = text_utils.check_bad_text(row_data)
        if (!out[0]) {
          bad_chars.push(...out[2])
          bad_char_error_rows.push(index)
        }

        if (obj['last_name'].length < 1) {
          errors[RECIPIENTS_ERROR.last_name].push(index)
        }

        if (obj['address_line_1'].length < 1) {
          errors[RECIPIENTS_ERROR.address].push(index)
        }

        if (obj['postal_code'].length < 1) {
          errors[RECIPIENTS_ERROR.postcode].push(index)
        }

        if (!(obj['country'] in this.countries_list)) {
          errors[RECIPIENTS_ERROR.country].push(index)
        }

        if (obj['country'] === 'US' && !(obj['state'] in this.states_list)) {
          errors[RECIPIENTS_ERROR.us_state].push(index)
        }

        data.push(obj)
      })

      let has_shown_errors = false
      let rows_to_highlight = []
      for (let error_code in errors) {
        for (let row_index of errors[error_code]) {
          rows_to_highlight.push(row_index)
          has_shown_errors = true
        }

        if (has_shown_errors) {
          this.$bvToast.toast(this.get_validation_error_by_code(error_code), {
            title: `Validation Error`,
            autoHideDelay: 5000,
            variant: 'danger',
            appendToast: true
          })
          break
        }
      }

      if (bad_chars.length) {
        this.highlight_rows(bad_char_error_rows)
        this.$bvToast.toast(`Character currently not supported. Please remove characters: ${_.uniq(bad_chars).join('')}`, { title: `Unsupported character`,
          autoHideDelay: 5000,
          variant: 'danger',
          appendToast: true
          // static: true
        })

        return false
      }

      if (has_shown_errors) {
        this.highlight_rows(rows_to_highlight)
        return false
      }

      this.audience_data = data
      return true
    },

    async save_audience () {
      this.adding_recipient = true

      let audience_ref = db.collection('audiences')
        .doc(this.$route.params.id)
        .collection('recipients')

      // for (let i = 0, len = this.audience_data.length; i < len; i++) {
      //   batch.set(audience_ref.doc(), this.audience_data[i]);
      // }

      let write_count = 0
      let chunk_size = 500
      let data_length = this.audience_data.length
      let data = []

      for (let i = 0; i < data_length; i += chunk_size) {
        let sliced = this.audience_data.slice(i, i + chunk_size)
        // Do something if you want with the group
        data.push(sliced)
      }

      try {
        for (let i = 0; i < data.length; i++) {
          const batch = db.batch()
          for (let j = 0; j < data[i].length; j++) {
            batch.set(audience_ref.doc(), data[i][j])
          }

          await batch.commit()
        }
        this.$swal('Success', 'Added recipient(s)', 'success')
      } catch (err) {
        this.$swal('Error', err.message, 'error')
      } finally {
        this.adding_recipient = false
        this.hide_csv_modal()
      }
      // batch.commit()
      //   .catch(err => {
      //     console.log(err)
      //     this.$swal('Error', err.message, 'error');
      //   })
      //   .finally(() => {
      //     this.hide_csv_modal()
      //   })
    },
    allow_mime_type (mime) {
      let types = [
        'text/plain',
        'application/vnd.ms-excel',
        'text/x-csv',
        'application/csv',
        'application/x-csv',
        'text/csv',
        'text/comma-separated-values',
        'text/x-comma-separated-values'
      ]

      return (types.indexOf(mime) > -1)
    },
    get_validation_error_by_code (code) {
      switch (parseInt(code)) {
        case RECIPIENTS_ERROR.quantity:
          return `Please enter at least ${MIN_UNITS} units and no more then ${MAX_UNITS}.`
        case RECIPIENTS_ERROR.last_name:
          return `Last Name field should contain at least 2 letters.`
        case RECIPIENTS_ERROR.address:
          return `Address line 1 should contain at least 2 letters.`
        case RECIPIENTS_ERROR.city:
          return `City field should contain at least 2 letters.`
        case RECIPIENTS_ERROR.country:
          return `Invalid or empty country field. Please choose from the dropdown`
        case RECIPIENTS_ERROR.postcode:
          return `Postcode is invalid or missing. Please enter a postcode.`
        case RECIPIENTS_ERROR.us_state:
          return `Invalid or empty state field. Please select from the dropdown`
        default:
          return `Unknown error type`
      }
    },
    highlight_rows (rowsToHighlight) {
      const errorColor = '#F8D7DA'
      const hotTable = this.$refs.hot_table.hotInstance
      if (!hotTable) {
        return
      }

      const numOfRows = hotTable.countRows()
      for (let i = 0; i < numOfRows; i++) {
        if (rowsToHighlight.includes(i)) {
          this.highlightRow(i, errorColor)
        } else {
          this.highlightRow(i, '')
        }
      }
    },
    highlightRow (row, color) {
      const hotTable = this.$refs.hot_table.hotInstance
      if (!hotTable) {
        return
      }
      try {
        const numOfCols = hotTable.countCols()
        for (let i = 0; i < numOfCols; i++) {
          const cell = hotTable.getCell(row, i)
          cell.style.background = color
        }
      } catch (error) {}
    }
  },
  watch: {
    map: {
      handler: function (newVal) {
        if (!this.url) {
          let personal_columns = [...this.unmatched_personal_columns]
          let address_columns = [...this.unmatched_address_columns]
          for (let i = 0; i < personal_columns.length; i++) {
            if (personal_columns[i] in this.map) {
              this.unmatched_personal_columns.splice(i, 1)
            }
          }

          for (let i = 0; i < address_columns.length; i++) {
            if (address_columns[i] in this.map) {
              this.unmatched_address_columns.splice(i, 1)
            }
          }
        }
      },
      deep: true
    },
    csvData: {
      deep: true,
      handler (val) {
        let data = []
        let headers = [
          'title', 'first_name', 'last_name', 'department', 'company', 'address_line_1',
          'address_line_2', 'address_line_3', 'city', 'postal_code', 'state', 'country'
        ]

        for (let v of val) {
          let row = []
          for (let header of headers) {
            row.push(v[header] || '')
          }

          data.push(row)
        }

        this.table_settings.data = data
      }
    },

    unmatched_personal_data_checked () {
      this.validation.personal_fields_not_selected = false
    },

    unmatched_address_data_checked () {
      this.validation.address_fields_not_selected = false
    }

  },
  computed: {
    firstRow () {
      return _.get(this, 'sample.0')
    }
  }
}
</script>

<style src="../../../node_modules/handsontable/dist/handsontable.full.css" ></style>
<style scoped>
  .audience-hot-table {
    max-width: 600px;
    max-height: 300px;
  }

.dropzone-container {
  background-color: #f5f5f5;
  border: 1px dashed;
  min-height: 150px;
  border-radius: 5px;
  position: relative;
}

.file-wrapper .scrb-file {
  display: none;
}

/deep/ .scrb-link {
  cursor: pointer;
  font-weight: 700;
}

/deep/ .scrb-link:hover {
  text-decoration: underline;
}

.file-wrapper {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/deep/ .scrb-color {
  color: #4450a5;
}

.scrb-filename {
  font-weight: 600;
  font-size: 1.2rem;
}

.scrb-header-label,
.file-wrapper p {
  font-size: 16px;
}

</style>
