<template>
    <div class="card">
        <div class="card-body">
        <h4 class="header-title mb-0 text-secondary">Audience Growth</h4>
        </div>

        <div class="card-body ml-3 pb-3 pr-6" >
          <div class="row bar-container">
              <div class="col-2 bar-col">
                <div class="bars bar-1 content-loader-bg"></div>
              </div>
              <div class="col-2 bar-col">
                <div class="bars bar-2 content-loader-bg"></div>
              </div>
              <div class="col-2 bar-col">
                <div class="bars bar-3 content-loader-bg"></div>
              </div>
              <div class="col-2 bar-col">
                <div class="bars bar-4 content-loader-bg"></div>
              </div>
              <div class="col-2 bar-col">
                <div class="bars bar-5 content-loader-bg"></div>
              </div>
              <div class="col-2 bar-col">
                <div class="bars bar-6 content-loader-bg"></div>
              </div>
          </div>
        </div>

        <!--
        <div class="card-body pt-0 pb-0" style="position: relative;" >

        <ContentLoader
            v-bind:speed="0"
            :width="200"
            :height="145"
            primaryColor="#c3c5c5"
            secondaryColor="#d8d8d8"
        >
            <rect x="35" y="76" rx="0" ry="0" width="10" height="60" />
            <rect x="116" y="52" rx="0" ry="0" width="9" height="84" />
            <rect x="89" y="31" rx="0" ry="0" width="9" height="105" />
            <rect x="62" y="103" rx="0" ry="0" width="9" height="33" />
            <rect x="142" y="86" rx="0" ry="0" width="10" height="50" />
            <rect x="9" y="138" rx="0" ry="0" width="172" height="1" />
            <rect x="9" y="18" rx="0" ry="0" width="1" height="121" />
        </ContentLoader>
        </div>
        -->
    </div>
</template>

<script>
import { ContentLoader } from 'vue-content-loader'

export default {
  name: 'EmptyAudienceChart',
  components: {
    ContentLoader
  }
}
</script>

<style scoped>
  .content-loader-bg {
    background-color: #c3c5c5;
  }

  .bar-container {
    border-left: 2px solid #c3c5c5;
    border-bottom: 2px solid #c3c5c5;
    height: 19.8rem;
  }

  .bar-col {
    display: flex;
    flex-direction: column;
  }

  .bars {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 0.3rem;
    width: 1rem;
  }

  .bar-1 {
    height: 10rem;
  }

  .bar-2 {
    height: 8rem;
  }

  .bar-3 {
    height: 6rem;
  }

  .bar-4 {
    height: 15rem;
  }

  .bar-5 {
    height: 11rem;
  }

  .bar-6 {
    height: 9rem;
  }

  .bar-container {
    border-left: 1px solid #c3c5c5;
    border-bottom: 1px solid #c3c5c5;
  }
</style>
