<template>

  <div class="card-box bg-pattern">
    <div class="row">
      <div class="col-6">
        <div class="avatar-md rounded content-loader-bg">
        </div>
      </div>
      <div class="col-6">
        <div>
          <div class="content-loader-bg content-loader-count">
          </div>
          <div class="content-loader-bg content-loader-desc">
          </div>
        </div>
      </div>
    </div>
  </div>
    <!--
  <div class="card-box bg-pattern">
    <ContentLoader
      v-bind:speed="0"
      :width="300"
      :height="55"
      primaryColor="#c3c5c5"
      secondaryColor="#d8d8d8"
    >
      <rect x="10" y="10" rx="0" ry="0" width="53" height="46" />
      <rect x="255" y="11" rx="0" ry="0" width="30" height="26" />
      <rect x="198" y="46" rx="0" ry="0" width="89" height="11" />
    </ContentLoader>
  </div>
  -->
</template>

<script>
import { ContentLoader } from 'vue-content-loader'

export default {
  name: 'EmptySummaryCard',
  props: ['title'],
  components: {
    ContentLoader
  }
}
</script>

<style scoped>
  .content-loader-count {
    margin-left: auto;
    margin-right: 0;
    width: 2rem;
    height: 2rem;
  }

  .content-loader-desc {
    margin-left: auto;
    margin-right: 0;
    margin-top: 0.5rem;
    width: 4rem;
    height: 0.6rem;
  }

  .content-loader-bg {
    background-color: #c3c5c5;
  }
</style>
