<template>
<div class="navbar-custom">
    <ul class="list-unstyled topnav-menu float-right mb-0">
        <!-- <li class="d-none d-sm-block">
            <form class="app-search">
                <div class="app-search-box">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search..." />
                        <div class="input-group-append">
                            <button class="btn" type="submit">
                                <i class="fe-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </li> -->

        <b-nav-item v-if="CONFIG.environment != 'production'"><span class="badge badge-pill badge-warning rounded">{{CONFIG.environment | uppercase}} {{version}}</span></b-nav-item>
        <b-nav-item style="padding-top:5px"><span class="text-white" @click="toggle_RightSidebar"><i class="fe-gift" style="color: rgba(255,255,255,.6);font-size:20px;" />
            </span></b-nav-item>
        <div class="right-bar">
            <div class="rightbar-title">
                <a href="javascript:void(0);" class="right-bar-toggle float-right" @click="toggle_RightSidebar">
                    <i class="fe-x noti-icon"></i>
                </a>
                <h4 class="m-0 ">What's New ? </h4>
            </div>

            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: auto;">
                <div class="slimscroll-menu" style="overflow: hidden; width: auto; height: auto;">
                    <div id="sidebar-menu" class="active">
                        <!-- User box -->

                        <div class="card-box">
                            <div>
                                <ul class="list-unstyled timeline-sm">
                                    <span class="timeline-icon"></span>
                                    <li>
                                        <span class="timeline-sm-date">Apr 15, 2020</span>
                                        <h5 class="mt-0 mb-1 mt-2">
                                            <router-link to="/settings">
                                                <i class="fe-tag"></i>
                                                <span>Earn free Credits</span>
                                            </router-link>

                                        </h5>
                                        <p class="text-muted mt-2">
                                            You can now copy referral links and send it to other users and get free credits.
                                        </p>
                                        <hr>
                                    </li>

                                    <li>
                                        <span class="timeline-sm-date">Apr 12, 2020</span>
                                        <h5 class="mt-0 mb-1 mt-2">

                                            <router-link to="/audience">
                                                <i class="fe-user"></i>
                                                <span>New: Audience Management</span>
                                            </router-link>
                                        </h5>
                                        <p class="text-muted mt-2">
                                            You can now not only add the recipient details but also import CSV files for your ease.

                                        </p>
                                        <hr>
                                    </li>
                                    <li>
                                        <span class="timeline-sm-date">Apr 12, 2020</span>
                                        <h5 class="mt-0 mb-1 mt-2">
                                            <router-link to="/team">
                                                <i class="fe-user"></i>
                                                <span>Team Management</span>
                                            </router-link>
                                        </h5>
                                        <p class="text-muted mt-2">
                                            You can invite new team members.
                                        </p>
                                        <hr>
                                    </li>
                                    <li>
                                        <span class="timeline-sm-date">Apr 10, 2020</span>
                                        <h5 class="mt-0 mb-1 mt-2">
                                            <router-link to="/">
                                                <i class="fe-airplay"></i>
                                                <span>Dashboard</span>
                                            </router-link>
                                        </h5>
                                        <p class="text-muted mt-2">
                                            You can now view new improved dashboard page.
                                        </p>
                                    </li>
                                </ul>
                            </div>
                            <!-- end tab-pane -->
                        </div>
                    </div>
                    <div class="clearfix"></div>

                </div>

            </div>
            <!-- Sidebar -left -->

        </div>
        <b-nav-item-dropdown right class="notification-list" menu-class="profile-dropdown">
            <template slot="button-content">
                <div class="nav-user mr-0">
                    <img v-if="user_profile.avatar" :src="user_profile.avatar" alt="user-image" class="rounded-circle" />
                    <div v-else class="initials">
                        <avatar :username="`${user_profile.first_name} ${user_profile.last_name}`" :size="32" backgroundColor="#F4C678" color="">
                        </avatar>
                    </div>
                    <span class="pro-user-name ml-1">
                        {{user ? user.name : ''}}
                        <i class="mdi mdi-chevron-down text-white"></i>
                    </span>
                </div>
            </template>

            <b-dropdown-item href="#" @click="link_setting_route">
                <i class="fe-settings mr-1"></i>
                <span>Settings</span>
            </b-dropdown-item>

            <b-dropdown-divider></b-dropdown-divider>
            <b-dropdown-item @click="logout">
                <i class="fe-log-out mr-1"></i>
                <span>Logout</span>
            </b-dropdown-item>
        </b-nav-item-dropdown>

    </ul>

    <ul class="list-unstyled topnav-menu topnav-menu-left m-0">
        <li>
            <button class="button-menu-mobile text-white" @click="toggle_menu">
                <i class="fe-menu"></i>
            </button>
        </li>
    </ul>

    <!-- LOGO -->
    <div class="logo-box">
        <a href="" class="logo text-center">
            <!--
            <span class="logo-sm">
                <!-- <span class="logo-sm-text-dark">X</span> -->
            <!-- <img src="/static/images/icon.png" alt height="38" />
            </span>
            -->
            <span class="logo-lg">
                <img src="/static/images/logo1.png" alt height="28" />
                <!-- <span class="logo-lg-text-light">Xeria</span> -->
            </span>
        </a>
    </div>

    <ul class="list-unstyled topnav-menu topnav-menu-left m-0 ">
        <b-nav-item-dropdown class="ml-4 d-lg-block ripple">
            <template slot="button-content" v-if="user_profile.role !== 'viewer'">
                <div style="color: rgba(255,255,255,.6);"> Create New
                    <i class="mdi mdi-chevron-down "></i>
                </div>
            </template>
            <b-dropdown-item href="/create">
                <i class="fe-edit mr-1"></i>
                <span>Create New Campaign</span>
            </b-dropdown-item>
            <b-dropdown-item href="/audience">
                <i class="fe-user mr-1"></i>
                <span>Create New Audience</span>
            </b-dropdown-item>
            <b-dropdown-item href="/team">
                <i class="icon-people mr-1"></i>
                <span>Invite New Team Member</span>
            </b-dropdown-item>
        </b-nav-item-dropdown>
    </ul>
</div>
</template>

<script>
import {
  db,
  auth
} from '@/lib/firebase.js'
import Avatar from 'vue-avatar'

export default {
  name: 'TheNavbar',
  props: ['user_profile'],
  components: {
    Avatar
  },
  data () {
    return {
      config: {
        handler: this.handleRightBarClick,
        middleware: this.middleware,
        events: ['click']
      },
      user: {},
      version: ''
    }
  },
  methods: {
    toggle_menu () {
      this.$parent.toggle_menu()
    },
    logout () {
      console.log('Logged out')
      auth.signOut()
    },
    link_setting_route () {
      this.$router.push('/settings')
    },
    toggle_RightSidebar () {
      this.$parent.toggleRightSidebar()
    },
    middleware (event, el) {
      return !event.target.classList.contains('toggle-right')
    }
  }
}
</script>

<style scoped>
.initials {
    display: inline-block;
}

/deep/ .dropdown-toggle::after {
    display: none;
}

/* .timeline-sm .timeline-sm-item {
    position: relative;
    padding-bottom: 20px;
    padding-left: 40px;
    border-left: 2px solid #dee2e6;

}

.timeline-sm {
    padding-left: 30px;

}

.timeline-sm .timeline-sm-item .timeline-sm-date::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    left: -8px;
    background-color: white;
    border: 3px solid rgb(34, 122, 64);
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.timeline-icon {
    padding-right: 50px;
} */

/* .d-lg-block {
    padding: 0 15px;
    color: rgba(255,255,255,.6);
    min-width: 32px;
    display: block;
    line-height: 70px;
    text-align: center;
    max-height: 70px;

} */

/* .d-lg-block:active {
    box-shadow: 0 0 35px 0 rgba(154, 161, 171, .15);
    border: none;
    font-size: .900rem;
} */
.ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: rgba(255,255,255,.05) radial-gradient(circle, transparent 1%, rgba(255,255,255,.05) 1%) center/15000%;
}
.ripple:active {
  background-size: 100%;
  transition: background 0s;
}

/* Button style */
</style>
