<template>
  <div>
    <DailyInvoiceUsageChart
      :invoices="this.invoices"
      :dates="this.dates"
      :from_date="from_date"
      :total_days="total_days"
    />
    <DailyUsageChart
      :usages="this.usages"
      :dates="this.dates"
      :from_date="from_date"
      :total_days="total_days"
    />
  </div>
</template>

<script>
import DailyUsageChart from '@/components/DailyUsageChart'
import DailyInvoiceUsageChart from '@/components/DailyInvoiceUsageChart'

export default {
  name: 'CampaignRecipientAnalysis',
  props: ['invoices', 'usages', 'dates', 'from_date', 'total_days'],
  components: {
    DailyUsageChart,
    DailyInvoiceUsageChart
  }
}
</script>

<style></style>
