.vue-form-wizard.xs {
    .wizard-header {
        padding: 30px;
    }

    .wizard-navigation {

        .wizard-progress-with-circle {
            height: 2px;
            margin: auto;
            width: 65%;
            background: #ccd2dc;
        }

        .wizard-icon-circle {
            width: 35px;
            height: 35px;
            border: 1px solid $gray-300;

            &.checked {
                color: $green;
            }
        }

        .wizard-nav-pills {
            margin: auto;
            width: 100%;

            li {
                .stepTitle {
                    padding-top: 10px;
                    font-size: 20px;
                }

                a.wizard-icon {
                    font-size: 21px;
                }

                .disabled {
                    .wizard-icon {
                        display: none;
                    }
                }
            }
        }
    }

    
    .wizard-tab-content {
        .wizard-tab-container {
            .tab-wrapper {
                margin-top: 30px;
                padding: 70px 50px;
                border-radius: 10px;
                background-color: $white;
                box-shadow: 10px 10px 20px -12px rgba(143,143,143,1);

                .tab-title {
                    margin-top: 0;
                    font-weight: 300;
                    font-size: 35px;
                }

                .tab-description {
                    font-size: 19px;
                }
            }

            .tab-wrapper-payment {
                max-width: 790px;
                margin: auto;
                margin-top: 30px;
                padding: 70px 50px;
                border-radius: 10px;
                background-color: $white;
                box-shadow: 10px 10px 20px -12px rgba(143,143,143,1);

                .tab-title {
                    margin-top: 0;
                    font-weight: 300;
                    font-size: 35px;
                }

                .tab-description {
                    font-size: 19px;
                }
            }
        }

        #Payment8{
            max-width: 790px;
            margin: auto;

            .tab-wrapper {
                // h3 {
                //     text-align: center;
                // }
            }
        }
    }
}

