<template>
<div class="kt-wizard-v3__content" data-ktwizard-type="step-content" data-ktwizard-state="current">
    <div class="kt-heading kt-heading--md">Schedule</div>
    <div class="kt-separator kt-separator--height-xs"></div>
    <div class="kt-form__section kt-form__section--first">
        <div class="form-group">
            <div class="row">
                <div class="col-xl-6">
                    <label class="kt-option kt-option kt-option--plain">
                        <span class="kt-option__control">
                            <span class="kt-radio kt-radio--check-bold">
                                <input type="radio" name="m_option_1" value="1" checked="">
                                <span></span>
                            </span>
                        </span>
                        <span class="kt-option__label">
                            <span class="kt-option__head">
                                <span class="kt-option__title">
                                    Send immediately
                                </span>
                            </span>
                            <span class="kt-option__body">
                                30 days free trial and lifetime free updates
                            </span>
                        </span>
                    </label>
                </div>
                <div class="col-xl-6">
                    <label class="kt-option kt-option kt-option--plain">
                        <span class="kt-option__control">
                            <span class="kt-radio kt-radio--check-bold">
                                <input type="radio" name="m_option_1" value="1" checked="">
                                <span></span>
                            </span>
                        </span>
                        <span class="kt-option__label">
                            <span class="kt-option__head">
                                <span class="kt-option__title">
                                    Schedule Campaign
                                </span>
                            </span>
                            <span class="kt-option__body">
                                24/7 support and Lifetime access
                            </span>
                        </span>
                    </label>
                </div>
            </div>
        </div>
        <div class="kt-separator kt-separator--border-dashed"></div>
    </div>
</div>
</template>

<script>
export default {
  name: 'Schedule'
}
</script>
