<template>
  <div>
    <b-input data-hj-whitelist v-model="campaign.title" placeholder="Campaign Title" />
  </div>
</template>

<script>
export default {
  name: 'CampaignTitle',
  props: ['campaign']
}
</script>
