<template>
  <div>
    <h3>Customise Stationery</h3>

    <div v-if="stationary.flipped == false">

      <b-row v-if="campaign && !campaign.is_sample && !is_edit_page">

        <b-col>
          <b-button-group size="sm" variant="outline-primary" class="mb-2">
            <b-button @click="insert_template_var('title')" variant="outline-primary">Title</b-button>
            <b-button @click="insert_template_var('first name')" variant="outline-primary">First Name</b-button>
            <b-button @click="insert_template_var('last name')" variant="outline-primary">Last Name</b-button>
            <b-button @click="insert_template_var('company')" variant="outline-primary">Company</b-button>
          </b-button-group>

          <b-button-group size="sm" variant="outline-primary" class="mb-2">
            <b-button @click="insert_template_var('city')" variant="outline-primary">City</b-button>
            <b-button @click="insert_template_var('custom 1')" variant="outline-primary">Custom 1</b-button>
            <b-button @click="insert_template_var('custom 2')" variant="outline-primary">Custom 2</b-button>
            <b-button @click="insert_template_var('custom 3')" variant="outline-primary">Custom 3</b-button>
            <b-button @click="insert_template_var('custom 4')" variant="outline-primary">Custom 4</b-button>
          </b-button-group>
        </b-col>
      </b-row>

      <div v-if="user_profile.stationery_enabled && paper_types.length > 1">
          <b-form-group label="Paper & Material" label-for="paper" description="Select one of our luxury, high-quality white textured stationery types.">
              <b-form-select id="paper" v-model="stationary.paper" :options="paper_types" />
          </b-form-group>
      </div>

      <b-form-group label="Choose header type" label-for="header-type" description="You can choose either text or upload your own logo">
        <b-form-select v-model="stationary.header_type" id="header-type" :options="Object.values(HEADER_TYPE)" ></b-form-select>
      </b-form-group>

      <b-form-group label="Choose stationary type" label-for="stationary-type">
        <b-form-select v-model="stationary.front_type" id="stationary-type" :options="[{ value: 'editor', text: 'Editor' }, { value: 'custom', text: 'Custom Image' }]" ></b-form-select>
      </b-form-group>

      <b-button v-if="stationary_image.header_logo && stationary.header_type === HEADER_TYPE.logo && stationary.front_type === 'editor'" variant="warning" @click="stationery_ref.clear_header_logo" class='mb-1 mt-2'>Clear logo</b-button>

      <b-form-group v-if="stationary.front_type === 'custom'">
          <p><small>Need a little more flexibility? Upload a custom image and use it as the background image for your card. </small></p>
          <p><small> Either browse the background image that matches the paper size from your local device or download the template below. You may also drag and drop to reposition the textbox inside the template.</small></p>
          <b-form-file @change="on_front_image_change" v-model="stationary_image.front_image" placeholder="Upload Card front image..." accept="image/*" />
          <!-- <small class="text-muted">Download a note front <a :href="`/static/images/note_image_template${stationary.paper.orientation === 'portrait' ? '_portrait' : '_landscape'}.png`" download="note_image_template.png">image template</a></small> -->
          <small class="text-muted">Download a note front <a :href="`/static/images/note_image_template/${stationary.paper.key}_new.png?t=1`" :download="`${stationary.paper.key}.png`">image template</a></small>

          <b-button v-if="stationary.front_image" variant="warning" @click="clear_front_image" class='mb-1 mt-2'>Clear image</b-button>
      </b-form-group>

      <b-form-group label="Handwriting Size" label-for="handwriting-size" v-if="!is_edit_page">
        <b-form-radio-group id="btnradios1" buttons size="sm" variant="secondary" v-model="stationary.handwriting_size" :options="Object.values(HANDWRITING_SIZE)" button-variant="outline-primary" class="mb-2" />
      </b-form-group>

      <div class="text-center mb-1" id="handwriting_style" v-if="handwriting_obj.handwriting_style && !is_edit_page">
        <div v-for="_handwriting_style in handwriting_obj.handwriting_styles" v-bind:key="_handwriting_style.label" :class="handwriting_obj.handwriting_style == _handwriting_style ? 'handwriting_style selected_handwriting_style' : 'handwriting_style'">
          <span @click="handwriting_obj.handwriting_style = _handwriting_style; stationary.handwriting_style = _handwriting_style.label" :style="{'font-family': `HandwritingFontFamily${_handwriting_style.label}`, 'font-size': (8 * (_handwriting_style.size_multiplier || 1)) + 'mm'}">{{_handwriting_style.label}}</span>
        </div>
      </div>

      <div id="handwriting_colour" v-if="handwriting_obj.handwriting_colour && !is_edit_page">
        <div v-for="_handwriting_colour in handwriting_obj.handwriting_colours" v-bind:key="_handwriting_colour.label" @click="handwriting_obj.handwriting_colour = _handwriting_colour; stationary.handwriting_colour = _handwriting_colour.label" :style="{'background-color': _handwriting_colour.label_colour}" :class="handwriting_obj.handwriting_colour == _handwriting_colour ? 'handwriting_colour selected_handwriting_colour' : 'handwriting_colour'">
        </div>
      </div>

    </div>

    <div v-else>
      <div v-if="(campaign && !campaign.is_sample) || (!campaign)">
        <!-- <small class="text-muted">Download a note front <a :href="`/static/images/note_image_template${stationary.paper.orientation === 'portrait' ? '_portrait' : '_landscape'}.png`" download="note_image_template.png">image template</a></small> -->
        <small class="text-muted">Download a note back <a :href="`/static/images/note_image_template/${stationary.paper.key}_new.png?t=1`" :download="`${stationary.paper.key}.png`">image template</a></small>
        <b-button v-if="stationary.back_image" variant="warning" @click="clear_back_image" class='my-3'>Clear image</b-button>

        <h4>Edge to Edge</h4>
        <p>For edge to edge printing we require designs to include bleed. Anything outside of the 4mm / 0.16" bleed lines may be excluded.</p>
        <b-form-checkbox v-model="stationary.show_bleed" class="mb-3">Show bleed crop markers</b-form-checkbox>
      </div>
      <div v-else>
        <b-alert show variant="info">
          Card back image cannot be added on a sample campaign
        </b-alert>
      </div>
    </div>

  </div>
</template>

<script>
import {HEADER_TYPE, HANDWRITING_SIZE, HANDWRITING_STYLE, FONTS, PAPER_SIZES} from '../../../functions/shared/constants'

export default {
  name: 'CustomiseStationery',
  props: [
    'campaign',
    'stationary',
    'user_profile',
    'stationary_image',
    'is_edit_page',
    'font_style',
    'font_size_mm',
    'handwriting_obj',
    'stationery_ref'
  ],
  components: {
    'tags-input': () => import('@voerro/vue-tagsinput')
  },
  data () {
    return {
      param_id: this.$route.params.id,
    }
  },
  methods: {
    on_front_image_change (e) {
      if (e.target && e.target.files && e.target.files.length) {
        // Check if the image is 1000 x 1000 and display warning
        this.stationary.front_image = URL.createObjectURL(e.target.files[0])
        var image = new Image()
        image.src = this.stationary.front_image
        let that = this
        image.onload = function () {
          if (!((this.width / this.height > 1.41 && this.width / this.height < 1.42) || (this.height / this.width > 1.41 && this.height / this.width < 1.42))) {
            // 148 x 210 mm
            that.$swal('Wrong aspect ratio', 'Please upload an image that matches the size of the paper. Download the image template (below the input).', 'warning')
            that.stationary.front_image = null
            that.front_image = null
            return false
          }

          if (this.height < 1000 || this.width < 1000) {
            that.$swal('Low quality image', 'Please upload an image that is at least 1000 x 1000 pixels', 'info')
            return false
          }
          // alert('Uploaded image has valid Height and Width.')
          return true
        }
      }

      if (e.dataTransfer && e.dataTransfer.files && e.dataTransfer.files.length) {
        this.stationary.front_image = URL.createObjectURL(e.dataTransfer.files[0])
      }
    },

    clear_front_image () {
      this.stationary.front_image = null
      this.front_image = null
    },

    insert_template_var (variable) {
      if (!this.campaign.text) {
        this.campaign.text = ''
      }

      const target = this.stationery_ref.$el.querySelector('#message-text')

      target.focus()

      if (this.last_selection) {
        this.last_selection.nodeValue = this.last_selection.nodeValue + `{{{${variable}}}}`
      } else {
        let selection = document.getSelection()
        let cursor_pos = selection.anchorOffset
        let old_content = selection.anchorNode.nodeValue || ''

        let new_content = old_content.substring(0, cursor_pos) + `{{{${variable}}}}` + old_content.substring(cursor_pos)
        selection.anchorNode.nodeValue = new_content
      }

      // setTimeout(() => target.focus(), 0)

      this.stationery_ref.text_change()
    },

    clear_back_image () {
      this.stationary.back_image = null
      this.stationary_image.back_image = null
    },

  },
  computed: {
    paper_types: function () {
      if (!this.user_profile || !this.user_profile.stationery_enabled) {
        return []
      } else {
        let user_stationery_enabled = this.user_profile.stationery_enabled
        if (this.user_profile.country === 'GB') {
          user_stationery_enabled.unshift('A5_landscape')
          user_stationery_enabled.unshift('A5')
          user_stationery_enabled.unshift('A4')
          user_stationery_enabled.unshift('A6_landscape')
          user_stationery_enabled.unshift('A6')
        } else {
          user_stationery_enabled.unshift('half_letter_landscape')
          user_stationery_enabled.unshift('half_letter')
          user_stationery_enabled.unshift('letter')
          user_stationery_enabled.unshift('postcard_landscape')
          user_stationery_enabled.unshift('postcard')
        }

        user_stationery_enabled = [...new Set(user_stationery_enabled)]
        let paper_types = []
        for (let stationery_type of user_stationery_enabled) {
          let size = PAPER_SIZES[stationery_type]
          let text = stationery_type.replace(/_/g, ' ')
          text = text.charAt(0).toUpperCase() + text.slice(1)
          paper_types.push({
            value: size,
            text: text
          })
        }

        return paper_types
      }
    }
  }
}
</script>

<style scoped>

.alignment {
  border: 1px solid #bbb;
  border-radius: 3px;
  cursor: pointer;
  padding: 0.5rem;
}

#handwriting_colour {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1em;
}

.handwriting_colour {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  margin-right: 1em;
}

.selected_handwriting_colour {
  border: 3px solid #1D2731;
}

#handwriting_style {
  display: flex;
  flex-wrap: wrap;
}

.handwriting_style {
  border: 3px solid white;
  margin: auto;
  padding: 12px;
  transition: all .2s ease-in-out;
  user-select: none;
}

.handwriting_style:hover {
  transform: scale(1.1)
}

.selected_handwriting_style {
  border: 3px solid #1D2731;
}

[contenteditable]:focus {
  outline: 0px solid transparent;
}

</style>
