<template>
<div class="col-12">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <h4 class="page-title">
                    {{ audienceTitle }}
                </h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <b-row>
                        <b-col cols="12">
                            <div class="float-left mt-2">
                                <label class="d-inline-flex align-items-center">
                                    Show&nbsp;
                                    <b-form-select v-model="per_page" size="sm" :options="pageOptions"></b-form-select>&nbsp;
                                </label>
                                <label class="d-inline-flex align-items-center">
                                    Search:
                                    <b-form-input v-model="filter" type="search" placeholder="Search..." class="form-control form-control-sm ml-2">
                                    </b-form-input>
                                </label>
                            </div>
                            <div class="float-right mb-3 mt-2 ">
                                <b-button v-b-modal.modal-responsive href="javascript: void(0);" variant="secondary">
                                    <i class="mdi mdi-plus-circle mr-1"></i> Add New Recipient
                                </b-button>
                                <b-button v-b-modal.import type="button" variant="primary" class="btn btn-primary">Import</b-button>
                            </div>
                        </b-col>
                    </b-row>

                    <div class="table-responsive mb-0">
                        <b-table thead-class="bg-light text-black" show-empty empty-filtered-text="No users" empty-text="No audience" :current-page="current_page" :per-page="per_page" :items="users" :filter="filter" :fields="fields" bordered @filtered="on_filtered">
                            <template v-slot:cell(state)="row">
                              {{states_list[row.item.state] || row.item.state}}
                            </template>

                            <template v-slot:cell(country)="row">
                              {{countriesList[row.item.country]}}
                            </template>

                            <template v-slot:cell(action)="row">
                                <div>
                                    <b-button variant="outline-primary" @click="open_edit_modal(row.item)">
                                        <i class="fas fa-edit"></i> Edit
                                    </b-button>
                                </div>
                            </template>
                        </b-table>
                    </div>

                    <div class="row mt-4">
                        <div class="col-sm-12 col-md-5">
                        </div>
                        <div class="col-sm-12 col-md-7">
                            <b-pagination class="pagination pagination-rounded justify-content-end" v-model="current_page" :total-rows="total_rows" :per-page="per_page"></b-pagination>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <b-modal @ok="import_from_csv" no-close-on-backdrop no-close-on-esc size="xl" id="import" title="Import" title-class="font-18" body-class="p-4" :hide-footer="true">
                <div class="p-4">
                    <CsvImport :hide_csv_modal="hide_csv_modal" v-model="csv" :map-fields="['title', 'first_name', 'last_name', 'department', 'company', 'address_line_1', 'address_line_2', 'address_line_3', 'city', 'postal_code', 'state', 'country']" :countries_list="countriesList" :states_list="states_list"></CsvImport>
                    <div class="mt-2">
                        <!-- {{ csv }} -->
                    </div>
                </div>
            </b-modal>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <b-modal v-model="edit_modal" size="xl" title="Edit Recipient" title-class="font-18" body-class="p-4" :hide-footer="true">
                <AudienceDetailForm :audience_input="audience_edit_input" :handle_submit="edit_recipient" :is_loading="is_loading" :states_list="states_list" />
            </b-modal>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <b-modal size="xl" id="modal-responsive" title="Add New Recipient" title-class="font-18" body-class="p-4" :hide-footer="true">
                <AudienceDetailForm :audience_input="audience_input" :handle_submit="add_recipient"  :is_loading="is_loading"  :states_list="states_list" />
            </b-modal>
        </div>
    </div>
</div>
</template>

<script>
import Vue from 'vue'
import {
  db
} from '@/lib/firebase.js'

import AudienceDetailForm from '../components/AudienceDetailForm'
import countriesList from '../lib/countries'
import states_list from '../lib/states'
import CsvImport from '../components/import/CsvImport'
// import 'handsontable/dist/handsontable.full.css';

const fields = [{
  key: 'title',
  label: 'Title',
  sortable: true
},
{
  key: 'first_name',
  label: 'First Name',
  sortable: true
},
{
  key: 'last_name',
  label: 'Last Name',
  sortable: true
},
{
  key: 'last_name',
  label: 'Last name',
  sortable: true
},
{
  key: 'last_name',
  label: 'Last name',
  sortable: true
},
{
  key: 'department',
  label: 'Department',
  sortable: true
},
{
  key: 'company',
  label: 'Company',
  sortable: true
},
{
  key: 'address_line_1',
  label: 'Address line 1',
  sortable: true
},
{
  key: 'address_line_2',
  label: 'Address Line 2',
  sortable: true
},
{
  key: 'address_line_3',
  label: 'Address Line 3',
  sortable: true
},
{
  key: 'city',
  label: 'City',
  sortable: true
},
{
  key: 'postal_code',
  label: 'Postal Code',
  sortable: true
},
{
  key: 'state',
  label: 'State/Region',
  sortable: true
},
{
  key: 'country',
  label: 'Country',
  sortable: true
},
{
  key: 'action',
  label: 'Action'
}
]

export default {
  name: 'UserList',
  props: ['user_profile'],
  components: {
    CsvImport,
    AudienceDetailForm
  },
  firestore () {
    return {
      users: db.collection('audiences').doc(this.$route.params.id).collection('recipients').limit(this.limit)
    }
  },
  data: () => ({
    current_page: 1,
    per_page: 50,
    // total_rows: 1,
    limit: 25,
    show_load_all: true,
    fields: fields,
    users: [],
    search_by_email: undefined,
    parse_header: [],
    parse_csv: [],
    sortOrders: {},
    sortKey: '',
    name: '',
    csv: null,
    filter: null,
    filterOn: [],
    pageOptions: [5, 10, 50, 100],
    countriesList,
    states_list,
    audienceTitle: 'Audience Details',
    audience_input: {
      title: '',
      first_name: '',
      last_name: '',
      department: '',
      company: '',
      address_line_1: '',
      address_line_2: '',
      address_line_3: '',
      city: '',
      postal_code: '',
      state: '',
      country: ''
    },
    validation: {},
    edit_modal: false,
    edit_id: null,
    audience_edit_input: {},
    is_loading: false
  }),

  created () {
    this.load_title()
  },

  computed: {
    total_rows () {
      if (this.users) {
        return this.users.length
      }
      return 0
    }
  },
  mounted () {
    if (this.$route.query.audience === 'new') {
      this.$bvModal.show('import')
      // Remove the audience query parameter
      this.$router.replace(`/audience/${this.$route.params.id}`)
    }
    if (window.innerWidth > 767) {
      this.$parent.collapse_menu()
    }
  },
  beforeDestroy: function () {
    if (window.innerWidth > 767 && !this.$parent.isMenuCondensed) {
      this.$parent.show_menu()
    }
  },
  methods: {

    async import_from_csv () {
      try {
        let audience_ref = db.collection('audiences')
          .doc(this.$route.params.id)
          .collection('recipients')

        let csv = Object.assign({}, this.csv)

        for (let [key, value] of Object.entries(csv)) {
          audience_ref
            .doc()
            .set((value))
            .then(function () {
              console.log('Document Added ')
            })
            .catch(function (error) {
              console.error('Error adding document: ', error)
            })
        }

        // console.log('Added audience detail')
      } catch (error) {
        console.log(error)
      }
    },
    async add_recipient () {
      // bvModalEvt.preventDefault()
      this.is_loading = true
      let audience_ref = db.collection('audiences')
        .doc(this.$route.params.id)
        .collection('recipients')

      await audience_ref
        .doc()
        .set({
          created: new Date(),
          ...this.audience_input
        })
        .then(() => {
          this.reset_audience_input()
          this.$bvToast.toast('Recipient added', {
            title: `Success`,
            autoHideDelay: 3000,
            variant: 'success',
            appendToast: true
          })
          this.$bvModal.hide('modal-responsive')
        })
        .catch((error) => {
          this.$bvToast.toast('Error adding recipient. Please try again later', {
            title: `Error`,
            autoHideDelay: 3000,
            variant: 'danger',
            appendToast: true
          })
        })
        .finally(() => {
          this.is_loading = false
        })
    },
    edit_recipient () {
      this.is_loading = true
      const data = this.audience_edit_input
      const audience_ref = db.collection('audiences')
        .doc(this.$route.params.id)
        .collection('recipients')
        .doc(this.edit_id)

      audience_ref
        .update(this.audience_edit_input)
        .then(() => {
          this.edit_id = null
          this.audience_edit_input = {}
          this.edit_modal = false
          this.$swal('Success', 'Updated recipient', 'success')
        })
        .catch((error) => {
          this.$swal('Error', 'Error updating recipient. Please try again later.', 'error')
        })
        .finally(() => {
          this.is_loading = false
        })
    },
    load_users: function (limit) {
      let query = db.collection('audiences').doc(this.$route.params.id).collection('recipients')

      if (limit) {
        query = query.limit(limit)
      } else {
        this.show_load_all = false
      }
      this.$bind('users', query)
    },

    reset_audience_input () {
      this.audience_input = {
        title: '',
        first_name: '',
        last_name: '',
        department: '',
        company: '',
        address_line_1: '',
        address_line_2: '',
        address_line_3: '',
        city: '',
        postal_code: '',
        state: '',
        country: ''
      }
    },

    load_title () {
      const audienceRef = db.collection('audiences').doc(this.$route.params.id)
      audienceRef.get()
        .then(doc => {
          if (doc.exists) {
            this.audienceTitle = doc.data().title
          }
        })
    },

    hide_csv_modal () {
      this.$bvModal.hide('import')
    },

    on_filtered () {},

    open_edit_modal (item) {
      this.edit_id = item.id
      this.audience_edit_input = Object.assign({}, item)
      this.edit_modal = true
    }

  }
}
</script>

<style scoped>
</style>
