<template>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="page-title-box">
                <div class="page-title-right">
                </div>
                <h4 class="page-title">Calendar</h4>
            </div>
        </div>
    </div>

   <div class="row">
        <div class="col-12" v-if="loading">
         <b-card class="text-center">
            <b-spinner variant="primary" label="Spinning"></b-spinner>
        </b-card>
        </div>
        <div class="col-12" v-else>
            <div class="card" v-if="campaigns.length">
                <div class="card-body">
                    <div class="app-calendar">
                        <FullCalendar
                          ref="fullCalendar"
                          default-view="dayGridMonth"
                          :header="{ left: 'prev,next today',center: 'title',right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek' }"
                          :plugins="calendarPlugins"
                          :weekends="calendarWeekends"
                          :theme-system="themeSystem"
                          :events="events"
                          :eventTextColor="event_text_color"
                          :height="calculate_height"
                          :selectable="true"
                          :disableDragging="false"
                          @datesRender="handleMonthChange"
                          @eventClick="handle_event_click"
                        />
                    </div>
                </div>
            </div>
            <div class="row" v-else>
                <div class="col-xl-12">

                    <!-- Card -->
                    <div class="card card-inactive">
                        <div class="card-body text-center">

                            <!-- Image -->
                            <img src="/static/images/calendar1.svg" alt="..." class="img-fluid mt-4" style="max-width: 358px; ">

                            <!-- Title -->
                            <h2> No scheduled campaigns yet. </h2>

                            <!-- Subtitle -->
                            <p class="text-muted">
                                This page will contain the scheduled view of campaign once you start creating campaigns
                            </p>

                            <!-- Button -->
                            <router-link to="/create" class="btn btn-primary" v-if="user_profile.role !== 'viewer'">
                                Create New Campaign
                            </router-link>

                        </div>
                    </div>
                </div>
            </div>

            <!--
            <h5 class="px-3 py-4 mb-0 text-secondary">
              This page will contain the scheduled view of campaign once you start creating campaigns
            </h5>

            <ContentLoader
              v-bind:speed="0"
              :width="300"
              :height="110"
              primaryColor="#c3c5c5"
              secondaryColor="#d8d8d8"
            >
              <rect x="4" y="0" rx="0" ry="0" width="25" height="10" />
              <rect x="33" y="0" rx="0" ry="0" width="20" height="10" />
              <rect x="120" y="0" rx="0" ry="0" width="40" height="10" />
              <rect x="235" y="0" rx="0" ry="0" width="60" height="10" />

              <rect x="4" y="20" rx="0" ry="0" width="290" height="80" />
            </ContentLoader>
          -->

        </div>
    </div>
</div>
</div>
</template>

<script>
import FullCalendar from '@fullcalendar/vue'
import dayGridPlugin from '@fullcalendar/daygrid'
import timeGridPlugin from '@fullcalendar/timegrid'
import interactionPlugin from '@fullcalendar/interaction'
import bootstrapPlugin from '@fullcalendar/bootstrap'
import listPlugin from '@fullcalendar/list'
import {
  db
} from '@/lib/firebase.js'
import moment from 'moment'
import {
  ContentLoader
} from 'vue-content-loader'

import '@fullcalendar/core/main.css'
import '@fullcalendar/timegrid/main.css'
import '@fullcalendar/daygrid/main.css'
import '@fullcalendar/list/main.css'

/**
 * Calendar component
 */
export default {
  name: 'Billing',
  props: ['user_profile'],
  components: {
    FullCalendar,
    ContentLoader
  },
  // firestore () {
  //   return {
  //     campaigns: db.collection('campaigns').where('uid', '==', this.user_profile.uid)
  //   }
  // },
  data () {
    return {
      loading: true,
      campaigns: [],
      calendarWeekends: true,
      calendarPlugins: [
        dayGridPlugin,
        timeGridPlugin,
        interactionPlugin,
        bootstrapPlugin,
        listPlugin
      ],
      themeSystem: 'bootstrap',
      events: [],
      event_text_color: '#fff'
    }
  },
  created () {
    db.collection('campaigns').where('uid', '==', this.user_profile.uid)
      .get()
      .then(campaigns => {
        if (!campaigns.empty) {
          this.campaigns = campaigns.docs.map(doc => ({ id: doc.id, ...doc.data() }))
        }
      })
      .catch(err => {

      })
      .finally(() => {
        this.loading = false
      })
  },
  methods: {
    handle_event_click (info) {
      this.$router.push(`/campaign/${info.event.id}`)
    },
    // TODO
    async handleMonthChange (arg) {
      // var currentStart = arg.view.currentStart;
      // var check = moment(currentStart, "YYYY/MM/DD");
      // var currentMonth = check.format("YYYY-MM-DD");
      // var endDate = moment(currentMonth).endOf('month').format('YYYY-MM-DD');

      // let start = new Date('2020-04-01');
      // let end = new Date('2020-04-30');

      // var campaigns_query = db.collection('campaigns')
      //     .where('uid', '==', this.user_profile.uid)
      // .where('delivery.due_date', '>=', start)
      // .where('delivery.due_date', '<=', end)

      // this.$bind('campaigns', campaigns_query)
    },

    calculate_height () {
      return window.innerHeight
    }

  },

  watch: {
    campaigns: {
      handler (val) {
        for (let i = 0, len = val.length; i < len; i++) {
          let campaign = val[i]
          const due_date = campaign.delivery.due_date
          const date = moment(due_date.toDate()).format('YYYY-MM-DD')
          this.$set(this.events, i, {
            title: campaign.title,
            start: date,
            color: '#4450a5',
            id: campaign.id
          })
        }
      }
    }
  }
}
</script>

<style scoped>
  >>> .fc-event {
    cursor:  pointer !important;
  }
</style>
