<template>
  <div class="container-fluid">
    <!-- Page title -->
    <div class="row">
      <div class="col-12">
        <div class="page-title-box">
          <div class="page-title-right"></div>
          <h4 class="page-title">Dashboard</h4>
        </div>
      </div>
    </div>

    <!-- Summary cards -->
    <div class="row">
      <div class="col-md-4">
        <div v-if="total_contacts" class="card-box bg-pattern">
          <div class="row">
            <div class="col-6">
              <!-- <div class="avatar-md rounded bg-blue">
                <i class="fe-users avatar-title font-22 text-white"></i>
              </div> -->
               <div class="avatar-md rounded bg-soft-primary border-primary border">
                    <i class="fe-users font-22 avatar-title text-primary"></i>
              </div>
            </div>
            <div class="col-6">
              <div class="text-right">
                <h3 class="text-dark my-1">
                  <span
                    ><span>
                      {{ total_contacts }}
                    </span></span
                  >
                </h3>
                <p class="text-muted mb-0 text-truncate">Total Recipients</p>
              </div>
            </div>
          </div>
        </div>
        <EmptySummaryCard v-else />
      </div>
      <div class="col-md-4">
        <div v-if="letter_sent" class="card-box bg-pattern">
        <!-- <div  class="card-box bg-pattern"> -->

          <div class="row">
            <div class="col-6">
              <!-- <div class="avatar-md bg-blue">
                <i class="fe-file-text avatar-title font-22 text-white"></i>
              </div> -->
                <div class="avatar-md rounded bg-soft-warning border-warning border">
                    <i class="fe-file-text font-22 avatar-title text-warning"></i>
              </div>
            </div>
            <div class="col-6">
              <div class="text-right">
                <h3 class="text-dark my-1">
                  <span
                    ><span>
                      {{ letter_sent }}
                    </span></span
                  >
                </h3>
                <p class="text-muted mb-0 text-truncate">
                  Total Letters Sent
                </p>
              </div>
            </div>
          </div>
        </div>
        <EmptySummaryCard v-else />
      </div>
      <div class="col-md-4">
        <div v-if="total_cost" class="card-box bg-pattern">
        <!-- <div class="card-box bg-pattern"> -->

          <div class="row">
            <div class="col-6">
              <!-- <div class="avatar-md rounded bg-blue">
                <i class="mt-3 far fa-money-bill-alt avatar-title font-22 text-white" style="padding-left:13px"></i>
              </div> -->
               <div class="avatar-md rounded bg-soft-primary border-primary border">
                    <i class="far fa-money-bill-alt font-22 avatar-title text-primary" style="padding-left:12px; padding-top:17px"></i>
              </div>
            </div>
            <div class="col-6">
              <div class="text-right">
                <h3 class="text-dark my-1">
                  <span
                    ><span>
                      {{ total_cost }}
                    </span></span
                  >
                </h3>
                <p class="text-muted mb-0 text-truncate">Total Costs</p>
              </div>
            </div>
          </div>
        </div>
        <EmptySummaryCard v-else />
      </div>
    </div>

    <!-- Summary charts -->
    <div class="row">
      <div class="col-lg-6">
        <div v-if="has_monthy_letter_data" class="card">
          <div class="card-body">
            <h4 class="header-title mb-0 text-secondary text-muted">
              Letter Sent
            </h4>
          </div>
          <div id="collapse-1" class="collapse show">
            <div class="card-body pt-0 pb-0" style="position: relative;">
              <BarChart
                :data="monthly_letters_data"
                :label="monthly_letters_label"
                :height="350"
                :begin_at_zero="true"
              />
            </div>
          </div>
        </div>
        <EmptyLetter v-else />
      </div>
      <div class="col-lg-6">
        <div v-if="has_audience_stats" class="card">
          <div class="card-body">
            <h4 class="header-title mb-0 text-muted">Audience Growth</h4>
          </div>
          <div id="collapse-1" class="collapse show">
            <div class="card-body pt-0 pb-0" style="position: relative;">
              <div style="min-height: 350px;">
                <LineChart
                  v-if="has_audience_stats"
                  :data="audience_stats.data"
                  :label="audience_stats.label"
                  :height="350"
                />
                <div v-else class="card-body text-center">
                  <h2>
                    No audience growth data.
                  </h2>

                  <p class="text-muted">
                    No audience growth data yet.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!---->
        </div>
        <EmptyAudienceGrowth v-else />
      </div>
    </div>

    <!-- Campaign table -->
    <div class="row">
      <div class="col-lg-12">
        <div v-if="items.length" class="card">
          <div class="card-body">
            <h4 class="header-title mb-0">Latest Campaign</h4>
          </div>
          <div id="collapse-1" class="collapse show">
            <div class="card-body pt-0">
              <b-table
                hover
                @filtered="on_filtered"
                show-empty
                empty-filtered-text="No campaigns"
                empty-text="No campaigns"
                :current-page="current_page"
                :per-page="per_page"
                :tbody-tr-class="row_class"
                :items="items"
                :fields="fields"
                :filter="filter_by"
                class="table"
                ref="table"
              >
                <template v-slot:cell(status)="row">
                  <span :class="row.value.toLowerCase().replace(/ /g, '_')">{{
                    row.value
                  }}</span>
                </template>

                <template v-slot:cell(created)="row">
                  {{ display_timestamp(row.value) }}
                </template>

                <template v-slot:cell(due_date)="row">
                  {{ display_timestamp(row.item.delivery.due_date, true) }}
                </template>

                <template v-slot:cell(uid)="row" v-html="html">
                  <span v-html="display_user(row.value)"></span>
                </template>

                <template v-slot:cell(is_sample)="row">
                  <span v-if="row.value" class="text-center"
                    ><span class="fa fa-check"
                  /></span>
                  <span v-else></span>
                </template>

                <template v-slot:cell(actions)="row">
                  <b-dropdown variant="outline-primary" text="Actions">
                    <b-dropdown-item
                      :to="{ name: 'Campaign', params: { id: row.item.id } }"
                      >View</b-dropdown-item
                    >
                    <b-dropdown-item @click="duplicate(row.item)"
                      >Duplicate</b-dropdown-item
                    >
                  </b-dropdown>
                </template>
              </b-table>
            </div>
          </div>
        </div>
        <EmptyCampaign v-else />
      </div>
    </div>

    <b-modal centered no-fade hide-header hide-header-close no-close-on-backdrop no-close-on-esc ok-variant="secondary btn-lg" id="dashboard-info">
      <b-container class="text-center pl-4">
        <p class="pt-5">The information regarding this page will be filled out when you launch your first campaign</p>
        <p>
          You can start creating a campaign from
          <b-button class="p-0" variant="link" @click="click_create_campaign">here</b-button>
        </p>
      </b-container>

      <template slot="modal-footer" slot-scope="{ ok, cancel, hide }">
        <div class="btn-group-vertical">
          <b-button variant="link" @click="cancel_popup">Skip</b-button>
        </div>
      </template>
    </b-modal>
  </div>
</template>

<script>
import LineChart from '../components/charts/LineChart'
import BarChart from '../components/charts/BarChart'
import CampaignSourcesBarChart from '@/components/CampaignSourcesBarChart'
import { ContentLoader } from 'vue-content-loader'
import EmptySummaryCard from '../components/dashboard/empty-state/SummaryCard'
import EmptyLetter from '../components/dashboard/empty-state/LetterSummaryChart'
import EmptyAudienceGrowth from '../components/dashboard/empty-state/AudienceSummaryChart'
import EmptyCampaign from '../components/dashboard/empty-state/LatestCampaign'

/* eslint no-unused-vars: "off" */
import { db, auth } from '@/lib/firebase.js'
import { CAMPAIGN_STATUS, RECIPIENT_STATUS, PRODUCT } from '../lib/constants.js'

export default {
  name: 'Dashboard',
  components: {
    LineChart,
    BarChart,
    CampaignSourcesBarChart,
    ContentLoader,
    EmptySummaryCard,
    EmptyLetter,
    EmptyAudienceGrowth,
    EmptyCampaign
  },
  props: ['user_profile', 'data', 'label'],
  firestore () {
    this.bind_query()
    return {}
  },
  async created () {
    var campaigns_query = db
      .collection('campaigns')
      .orderBy('created')
      .limit(5)

    campaigns_query
      .get()
      .then(function (results) {
        if (results.empty) {
          console.log('No documents found!')
        } else {
          // go through all results
          results.forEach(function (doc) {
            // console.log('Document data:', doc.data())
          })

          // or if you only want the first result you can also do something like this:
          // console.log('Document data:', results.docs[0].data())
        }
      })
      .catch(function (error) {
        console.log('Error getting documents:', error)
      })

    if (!this.user_profile.admin) {
      campaigns_query = campaigns_query.where('uid', '==', this.user_profile.id)
    }

    var query = await campaigns_query.limit(1).get()
    if (query.empty) {
      this.first_campaign = true
    } else {
      this.first_campaign = false
    }

    this.loading = false
  },
  watch: {
    campaigns: {
      deep: true,
      handler: function (val) {
        this.items = []
        let load_users = []

        if (val) {
          this.total_rows = this.campaigns.length
        } else {
          this.total_rows = 0
        }

        for (let i = 0; i < this.campaigns.length; i++) {
          let campaign = this.campaigns[i]

          if (!this.loaded_users[campaign.uid]) {
            load_users.push(campaign.uid)
          }

          if (
            !this.user_profile.admin &&
            campaign.status === CAMPAIGN_STATUS.deleted
          ) {
            continue
          }

          this.items.push(campaign)
        }

        if (this.user_profile.admin) {
          let proms = []
          for (let uid of load_users) {
            proms.push(
              db
                .collection('users')
                .doc(uid)
                .get()
                .then(
                  function (doc) {
                    this.loaded_users[doc.id] = doc.data()
                  }.bind(this)
                )
            )
          }

          Promise.all(proms).then(
            function () {
              if (this.$refs.table) {
                this.$refs.table.refresh()
              }
            }.bind(this)
          )
        }

        if (this.set_page) {
          this.current_page = this.set_page
          this.set_page = undefined
        }
      }
    }
  },
  data () {
    var fields = [
      {
        key: 'title',
        label: 'Title'
      },
      {
        key: 'created',
        label: 'Created'
      },
      {
        key: 'due_date',
        label: 'Due'
      },
      {
        key: 'status',
        label: 'Status'
      },
      {
        key: 'actions',
        label: 'Actions'
      },
      {
        key: 'recipients_count',
        label: 'Count'
      }
    ]

    if (this.user_profile.admin) {
      fields.splice(3, 0, {
        key: 'uid',
        label: 'User'
      })
      fields.splice(5, 0, {
        key: 'product',
        label: 'Product'
      })
      fields.splice(6, 0, {
        key: 'is_sample',
        label: 'Sample?'
      })
    }

    return {
      total_rows: 0,
      ignore_first_load: true,
      items: [],
      audience_stats: {},
      letter_sent: 0,
      total_cost: 0,
      total_contacts: 0,
      monthly_letters_label: 'd',
      monthly_letters_data: '',
      filter_by: {
        user: '',
        show_api_tests: this.$route.query.show_api_tests
          ? this.$route.query.show_api_tests
          : true
      },
      // filter_status_by: 'In progress',
      campaigns: [],
      fields: fields,
      search_filter: null,
      current_page: 1,
      set_page: this.$route.query.set_page
        ? parseInt(this.$route.query.set_page)
        : undefined,
      per_page: 25,
      end_at: this.$route.query.end_at
        ? parseInt(this.$route.query.end_at)
        : 25 * 2,
      loading: true,
      first_campaign: false,
      filter_user_uid: this.$route.query.filter_user_uid
        ? this.$route.query.filter_user_uid
        : 'No user found',
      first_user_load: true,
      filter_status: this.$route.query.filter_status
        ? this.$route.query.filter_status
        : this.user_profile.admin
          ? CAMPAIGN_STATUS['ready_to_ship']
          : 'All',
      loaded_users: {},
      filter_users: 'All',
      has_audience_stats: false,
      has_monthy_letter_data: false
    }
  },
  computed: {
    campaign_statuses () {
      return ['All'].concat(Object.values(CAMPAIGN_STATUS))
    }
  },
  mounted: function () {
    this.get_integrations()
    this.set_total_contacts()
    this.set_letter_sent()
    this.set_total_cost()
    this.set_monthly_letter()
    this.set_audience_stats()
    this.init_popup()
  },
  methods: {
    async set_total_contacts () {
      let uid = this.user_profile.id
      // Total number of recipients
      let total = 0
      // Get first and last day of current month
      var date = new Date()
      var firstDay = new Date(date.getFullYear(), date.getMonth(), 1)
      var lastDay = new Date(date.getFullYear(), date.getMonth() + 1, 0)

      // Get all campaigns in current month
      let campaigns = await db
        .collection('campaigns')
        .where('uid', '==', uid)
        .where('created', '>', firstDay)
        .where('created', '<', lastDay)
        .get()
      if (campaigns) {
        for (let campaign of campaigns.docs) {
          total += campaign.data().recipients_count
        }
      }
      this.total_contacts = total
    },
    async set_letter_sent () {
      let docs = await db
        .collection('campaigns')
        .where('uid', '==', this.user_profile.id)
        .get()
      let lettersShipped = 0
      for (let doc of docs.docs) {
        if (doc.data().recipients_count_Shipped != undefined) {
          lettersShipped += doc.data().recipients_count_Shipped
        }
      }
      this.letter_sent = lettersShipped
    },
    async get_integrations () {
      let uid = this.user_profile.id

      let result = {
        hubspot: false,
        shopify: false,
        zapier: false
      }

      // Check if hubspot integration exists
      let hubspot = await db
        .collection('hubspot')
        .where('uid', '==', uid)
        .get()
      if (hubspot.docs.length !== 0) {
        result.hubspot = true
      }

      // Check if shopify integration exists
      let shopify = await db
        .collection('shopify')
        .where('uid', '==', uid)
        .get()
      if (shopify.docs.length !== 0) {
        result.shopify = true
      }

      return result
      // TODO: Check if Zapier integration exists
    },
    async set_audience_stats () {
      let uid = this.user_profile.id
      let week = {
        mon: 0,
        tue: 0,
        wed: 0,
        thu: 0,
        fri: 0,
        sat: 0,
        sun: 1
      }
      let curr = new Date()
      // Get first and last day of current week
      let first = curr.getDate() - curr.getDay()
      let last = first + 6

      // convert first and last day to dates
      let firstDay = new Date(curr.setDate(first))
      let lastDay = new Date(curr.setDate(last))

      let stats = await db
        .collection('stats')
        .where('uid', '==', uid)
        .where('date', '>=', firstDay)
        .where('date', '<=', lastDay)
        .get()
      if (!stats.empty) {
        this.has_audience_stats = true
      }

      for (let stat of stats.docs) {
        let day = stat
          .data()
          .date.toDate()
          .toDateString()
          .substring(0, 3)
          .toLowerCase()
        week[day] = stat.data().recipient_count
      }

      this.audience_stats.data = Object.values(week)
      this.audience_stats.label = Object.keys(week)
    },
    async set_total_cost () {
      let docs = await db
        .collection('invoices')
        .where('uid', '==', auth.currentUser.uid)
        .get()
      let totalCost = 0
      for (let doc of docs.docs) {
        if (doc.data().total_gbp != undefined) {
          totalCost += doc.data().total_gbp
        }
      }
      this.total_cost = totalCost
    },
    async set_monthly_letter () {
      let uid = this.user_profile.id
      let docs = await db
        .collection('invoices')
        .where('uid', '==', uid)
        .get()

      if (!docs.empty) {
        this.has_monthy_letter_data = true
      }

      let year = {
        jan: 0,
        feb: 0,
        mar: 0,
        apr: 0,
        may: 0,
        jun: 0,
        jul: 0,
        aug: 0,
        sep: 0,
        oct: 0,
        nov: 0,
        dec: 0
      }

      // TODO: Just get the current year
      for (let doc of docs.docs) {
        if (doc != undefined) {
          let month = doc
            .data()
            .billing_to.toDate()
            .toDateString()
            .substring(4, 7)
            .toLowerCase()
          let amount = doc.data().recipients_count
          year[month] += amount
        }
      }
      this.monthly_letters_label = Object.keys(year)
      this.monthly_letters_data = Object.values(year)
    },
    async duplicate (campaign) {
      // :to="{name: 'NewCampaign', params: {id: stationary.id, from_campaign: campaign, from_recipients: recipients}}"
      this.$swal({
        title: 'Duplicating, please wait.',
        allowEscapeKey: false,
        allowOutsideClick: false,
        onOpen: function () {
          this.$swal.showLoading()
        }.bind(this)
      })

      var recipients = {}
      var recipient_docs = await db
        .collection('campaigns')
        .doc(campaign.id)
        .collection('recipients')
        .orderBy('created')
        .get()
      recipient_docs.forEach(doc => {
        var recipient = doc.data()
        recipient['id'] = doc.id
        recipients[doc.id] = recipient
      })

      recipients = Object.values(recipients) // Use map to deduplicate

      this.$swal.hideLoading()
      this.$swal.close()

      this.$router.push({
        name: 'CreateNewCampaign',
        params: {
          id: campaign.stationary ? campaign.stationary : 'new',
          from_campaign: campaign,
          from_recipients: recipients
        }
      })
    },

    do_filter () {
      this.current_page = 1

      // Set to query params
      let query = {}
      for (let k in this.$route.query) {
        query[k] = this.$route.query[k]
      }
      query['filter_status'] = this.filter_status
      if (!this.filter_by.show_api_tests) {
        query['testing'] = false
      }

      if (this.filter_user_uid !== 'No user found') {
        query['filter_user_uid'] = this.filter_user_uid
      }

      this.$router.push({
        path: this.$route.currentPath,
        query: query
      })

      this.bind_query()
    },
    update_filter_status () {
      this.current_page = 1
      this.set_page = undefined
    },
    bind_query () {
      var campaigns_query = db
        .collection('campaigns')
        .orderBy('created', 'desc')

      if (!this.user_profile.admin) {
        campaigns_query = campaigns_query.where(
          'uid',
          '==',
          this.user_profile.id
        )
      }

      if (!this.filter_by.show_api_tests) {
        campaigns_query = campaigns_query.where('testing', '==', false)
      }

      if (this.filter_status !== 'All') {
        campaigns_query = campaigns_query.where(
          'status',
          '==',
          this.filter_status
        )
      }

      if (this.filter_users === 'Just me') {
        campaigns_query = campaigns_query.where(
          'uid',
          '==',
          this.user_profile.id
        )
      }

      if (this.filter_user_uid !== 'No user found') {
        campaigns_query = campaigns_query.where(
          'uid',
          '==',
          this.filter_user_uid
        )
      }

      this.$bind('campaigns', campaigns_query.limit(5))
    },
    change_page (page) {
      if ((page + 1) * this.per_page >= this.end_at) {
        this.end_at = (page + 1) * this.per_page + 1
        this.set_page = page
        this.bind_query()
      }

      let query = {}
      for (let k in this.$route.query) {
        query[k] = this.$route.query[k]
      }
      query['end_at'] = this.end_at
      query['set_page'] = page

      this.$router.push({
        path: this.$route.currentPath,
        query: query
      })
    },
    row_class (item, type) {
      if (!item) return
      if (item.testing) return 'table-warning'
      if (item.status === CAMPAIGN_STATUS.deleted) return 'table-danger'
    },
    display_user: function (uid) {
      for (var _uid in this.loaded_users) {
        let user = this.loaded_users[_uid]
        if (_uid === uid) {
          return `<a href="/user/${uid}" target="_blank">${user.email}</a>`
        }
      }

      return uid
    },
    on_filtered (filtered_items) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.total_rows = filtered_items.length
    },
    init_popup () {
      if (window._is_new_user) {
        this.$bvModal.show('dashboard-info')
      }
    },
    click_create_campaign () {
      window._is_new_user = false
      this.$router.push({
        name: 'Create'
      })
    },
    cancel_popup () {
      window._is_new_user = false
      this.$bvModal.hide('dashboard-info')
    }
  }
}
</script>

<style scoped>
.content_loader_bg {
/*  background-color: #eaeaea; */
}
</style>
