<template>
<div class="col-xl-12 mt-4">
  <b-card >
  <div v-if="stationary.paper">
      <b-row class="mx-1">
          <b-col md="9">
              <StationeryPreview
                :campaign="{}"
                :stationary="stationary"
                :user_profile="user_profile"
                :text_loading_obj="{}"
                ref="customize_stationary"
                :stationary_image="stationary_image"
                :font_size_mm="font_size_mm"
                :font_style="style"
                :handwriting_obj="handwriting_obj"
                :is_edit_page="true"
              />
          </b-col>

          <b-col md="3">
              <CustomiseStationery
                :campaign="{}"
                :stationary="stationary"
                :user_profile="user_profile"
                :text_loading_obj="{}"
                :stationary_image="stationary_image"
                :font_size_mm="font_size_mm"
                :font_style="style"
                :handwriting_obj="handwriting_obj"
                :stationery_ref="$refs.customize_stationary"
                :is_edit_page="true"
              />
          </b-col>
      </b-row>
      <b-row class="float-right mr-3">
        <LoadingButton variant="link btn-lg mr-3" @click="$router.go(-1)">Cancel</LoadingButton>
        <LoadingButton variant="secondary btn-lg" :loading="saving" @click="save_stationery">Save</LoadingButton>
      </b-row>
  </div>
  </b-card>

</div>
</template>

<script>
/* eslint no-return-await: "off" */
/* eslint no-unused-vars: "off" */

import Vue from 'vue'
import axios from 'axios'
import { db, auth, serverTimestamp } from '@/lib/firebase.js'
import LoadingButton from '../components/LoadingButton'
import CustomiseStationery from '../components/stationery/CustomiseStationery'
import StationeryPreview from '../components/stationery/StationeryPreview'

import api from '../services/api.js'
const API_URL = 'https://us-central1-hc-handwriting-engine-dev.cloudfunctions.net/' // TODO

export default {
  name: 'Stationary',
  components: {
    LoadingButton,
    CustomiseStationery,
    StationeryPreview
  },
  props: {
    user_profile: {
      type: Object,
      required: true
    }
  },
  firestore () {
    var stationary_id = this.$route.params.id

    // TODO 404 if dosn't exist

    return {
      stationary: db.collection('stationary').doc(stationary_id)
    }
  },
  methods: {
    save_stationery: async function () {
      // await this.$refs.stationary_preview.save(this.$firestoreRefs.stationary, this.$refs.stationary_edit.header_logo, this.$refs.stationary_edit.back_image)
      this.saving = true
      await this.$refs.customize_stationary.save(this.$firestoreRefs.stationary, this.stationary_image.header_image, this.stationary_image.back_image, this.stationary_image.front_image)
      this.saving = false

      this.$router.go(-1)
    },

    async get_handwriting_styles () {
      let response = await axios.get(`${API_URL}/api/getFonts?api_key=PymAOyWayrr0pqXdfnsS`)
      this.handwriting_obj.handwriting_styles = response.data.fonts

      if (!this.handwriting_obj.handwriting_style) {
        this.handwriting_obj.handwriting_style = this.handwriting_obj.handwriting_styles[0]
      }

      for (let style of this.handwriting_obj.handwriting_styles) {
        if (style.label === this.stationary.handwriting_style) {
          this.handwriting_obj.handwriting_style = style
        }
      }
    },

    async get_handwriting_colors () {
      let response = await axios.get(`${API_URL}/api/getColours?api_key=PymAOyWayrr0pqXdfnsS`, {})
      this.handwriting_obj.handwriting_colours = response.data.colours

      if (!this.handwriting_obj.handwriting_colour) {
        this.handwriting_obj.handwriting_colour = this.handwriting_obj.handwriting_colours[0]
      }

      for (let colour of this.handwriting_obj.handwriting_colours) {
        if (colour.label === this.stationary.handwriting_colour) {
          this.handwriting_obj.handwriting_colour = colour
        }
      }
    }
  },
  computed: {
    style: function () {
      if (this.handwriting_obj.handwriting_styles) {
        let styles = []
        for (let style of this.handwriting_obj.handwriting_styles) {
          styles.push(`@font-face {
            font-family: 'HandwritingFontFamily${style.label}';
            src: url('${style.url}');
          }`)
        }

        return `
          <style>
          ${styles.join('\n')}
          </style>
        `
      }

      return ''
    },

    font_size_mm () {
      let text_size_mm = 7
      switch (this.stationary.handwriting_size) {
        case 'Small':
          text_size_mm = 6
          break
        case 'Medium':
          text_size_mm = 7
          break
        case 'Large':
          text_size_mm = 8
          break
      }

      return text_size_mm
    }

  },
  mounted () {
    this.get_handwriting_styles()
    this.get_handwriting_colors()
    if (window.innerWidth > 767) {
      this.$parent.collapse_menu()
    }
  },
  beforeDestroy () {
    if (!this.$parent.isMenuCondensed && window.innerWidth > 767) {
      this.$parent.show_menu()
    }
  },
  data () {
    return {
      stationary: {},
      saving: false,
      stationary_image: {
        header_logo: null,
        back_image: null,
        front_image: null
      },
      handwriting_obj: {
        handwriting_styles: [],
        handwriting_colours: [],
        handwriting_colour: undefined,
        handwriting_style: undefined
      }
    }
  }
}
</script>

<style scoped>

</style>
