<template>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">

                </div>
                <h4 class="page-title">Integrations</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-4 ">
            <div class="card-box" style="height:315px">
                <div class="text-center">
                    <img src="/static/images/hubspot-logo.png" class="integration-logo">
                    <h4 class="mb-3 font-20">Hubspot</h4>
                </div>

                <p class="font-14 text-center text-muted">
                    HubSpot offers a full platform of marketing, sales, customer service, and CRM software — plus the methodology, resources, and support — to help businesses </p>
                <div class="text-center">

                    <div v-if="user_profile.hubspot_integration_doc && user_profile.hubspot_integration_doc.id">
                        <span>Connected to: Hubspot {{user_profile.hubspot_integration_doc.id}}</span>
                        <LoadingButton @click="disconnect_hubspot" variant="danger">Disconnect</LoadingButton>
                    </div>
                    <div v-else>
                        <LoadingButton variant="primary" @click="connect_hubspot">Connect</LoadingButton>
                    </div>
                </div>

            </div> <!-- end card-box -->
        </div><!-- end col -->

        <div class="col-lg-4">
            <div class="card-box" style="height:315px">
                <div class="text-center">
                    <img src="/static/images/shopify-logo.png" class="integration-logo">
                    <h4 class="mb-1 font-20">Shopify</h4>
                    <p class="text-muted  font-14"></p>
                </div>

                <p class="font-14 text-center text-muted">
                    We're not just an ecommerce software, Shopify is the best ecommerce platform that has everything you need to sell online, on social media.
                </p>

                <div class="text-center">
                    <LoadingButton variant="primary" @click="connect_shopify">Connect</LoadingButton>
                </div>

            </div> <!-- end card-box -->
        </div><!-- end col -->

        <div class="col-lg-4">
            <div class="card-box" style="height:315px">
                <div class="text-center">
                    <img src="/static/images/zapier-logo.png" class="integration-logo ">
                    <h4 class="mb-1 font-20">Zapier</h4>
                    <p class="text-muted  font-14"></p>
                </div>

                <p class="font-14 text-center text-muted">
                    Connect the apps you use everyday to automate your work and be more productive. 2000 apps and easy integrations - get started in minutes.
                </p>

                <div class="text-center">
                    <LoadingButton variant="primary" @click="connect_zapier">Connect</LoadingButton>
                </div>

            </div> <!-- end card-box -->
        </div><!-- end col -->

        <div class="col-lg-4">
            <div class="card-box" style="height:315px">
                <div class="text-center">
                    <img height="100px" src="/static/images/rest-api-logo1.png" class="integration-logo">
                    <h4 class="mb-1 font-20">RESTFUL API</h4>
                    <p class="text-muted  font-14"></p>
                </div>

                <p class="font-14 text-center text-muted">
                    Connect the apps you use everyday to automate your work and be more productive. 2000 apps and easy integrations - get started in minutes.
                </p>

                <div class="text-center">
                    <LoadingButton variant="primary" @click="connect_restful">Connect</LoadingButton>
                </div>

            </div> <!-- end card-box -->
        </div><!-- end col -->

    </div>
</div>
</template>

<script>
import {
    auth,
    db
} from '@/lib/firebase.js'
import config from '@/lib/config.js'
import LoadingButton from '@/components/LoadingButton'

export default {
    name: 'Integrations',
    components: {
        LoadingButton,
    },
    data() {
        return {
            hubspot_connecting: false,
            user: auth.currentUser,
            complete: false // TODO
        }
    },
    props: {
        user_profile: {
            type: Object
        }
    },
    methods: {
        connect_shopify: async function () {
            window.open(`https://apps.shopify.com/scribeless`, '_blank')
        },
        connect_zapier: async function () {
            window.open(`https://zapier.com/app-directory/scribeless/integrations`, '_blank')
        },
        connect_restful: async function () {
            window.open(`https://support.scribeless.co/api`, '_blank')
        },
        connect_hubspot: async function () {
            // TODO
            // this.hubspot_connecting = true
            // await api.set_hubspot_connection_session(auth.currentUser.uid)
            window.open(`${config.firebase_config.functions}/hubspot/install?uid=${auth.currentUser.uid}`, '_blank')
            // this.hubspot_connecting = false
        },
        disconnect_hubspot: async function () {
            await db.collection('hubspot').doc(this.user_profile.hubspot_integration_doc.id).delete()
            await db.collection('users').doc(auth.currentUser.uid).update({
                hubspot_integration_doc: null,
                updated: new Date(),
                updated_by: this.user_profile.id
            })
        }
    }
}
</script>