<template>
<div class="container-fluid">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <form class="form-inline">
                    <div class="form-group">

                    </div>
                    <a href="javascript: void(0);" class="btn btn-blue btn-sm ml-2">
                        <i class="mdi mdi-autorenew"></i>
                    </a>
                    <a href="javascript: void(0);" class="btn btn-blue btn-sm ml-1">
                        <i class="mdi mdi-filter-variant"></i>
                    </a>
                </form>
            </div>
            <h4 class="page-title">Billing</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 mb-3 mb-xl-5">
            <!-- Card -->
            <div class="card h-100">
                <div class="card-header d-flex align-items-center">
                    <h5 class="h6 font-weight-semi-bold mb-0">Discount</h5>
                </div>

                <div class="card-body">
                    <h6 class="h5 mb-3 mb-md-4">Order {{ current_months_recipient }} more notes and get 10% off your entire month</h6>

                    <div class="row">
                        <div class="col-md-6 col-xl-4 pb-4">
                            <div class="border rounded py-3 h-100">
                                <span class="badge badge-pill rounded-left-0 badge-success mb-3 mb-xl-5">Achieved</span>
                                <div class="text-center px-3">
                                    <i class="nova-cup icon-text icon-text-xxl d-block text-success mb-3 mb-md-4"></i>

                                    <h5 class="mb-1">+10% Discount</h5>
                                    <small class="d-block mb-3 mb-xl-5">Order 16 more notes and get 10% off your entire month</small>

                                    <div>
                                        <i class="nova-star icon-text d-inline-block text-success mx-2"></i>
                                        <i class="nova-star icon-text d-inline-block text-muted mx-2"></i>
                                        <i class="nova-star icon-text d-inline-block text-muted mx-2"></i>
                                        <i class="nova-star icon-text d-inline-block text-muted mx-2"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-xl-4 pb-4">
                            <div class="border rounded py-3 h-100">
                                <span class="badge badge-pill rounded-left-0 badge-success mb-3 mb-xl-5">Achieved</span>
                                <div class="text-center px-3">
                                    <i class="nova-cup icon-text icon-text-xxl d-block text-success mb-3 mb-md-4"></i>

                                    <h5 class="mb-1">+15% Discount</h5>
                                    <small class="d-block mb-3 mb-xl-5">Order 16 more notes and get 10% off your entire month</small>

                                    <div>
                                        <i class="nova-star icon-text d-inline-block text-success mx-2"></i>
                                        <i class="nova-star icon-text d-inline-block text-success mx-2"></i>
                                        <i class="nova-star icon-text d-inline-block text-muted mx-2"></i>
                                        <i class="nova-star icon-text d-inline-block text-muted mx-2"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-xl-4 pb-4">
                            <div class="border rounded py-3 h-100">
                                <span class="badge badge-pill rounded-left-0 badge-light mb-3 mb-xl-5">Coming Next</span>
                                <div class="text-center px-3">
                                    <i class="nova-cup icon-text icon-text-xxl d-block text-muted mb-3 mb-md-4"></i>

                                    <h5 class="mb-1">+20% Discount</h5>
                                    <small class="d-block mb-3 mb-xl-5">Order 16 more notes and get 10% off your entire month</small>

                                    <div>
                                        <i class="nova-star icon-text d-inline-block text-muted mx-2"></i>
                                        <i class="nova-star icon-text d-inline-block text-muted mx-2"></i>
                                        <i class="nova-star icon-text d-inline-block text-muted mx-2"></i>
                                        <i class="nova-star icon-text d-inline-block text-muted mx-2"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- End Card -->
        </div>

    </div>
    <InvoiceTable :user_profile="user_profile" />
</div>
</template>

<script>
import {
  auth,
  db
} from '@/lib/firebase.js'
import config from '@/lib/config.js'
import pricing from '../lib/pricing.js'
import InvoiceTable from '@/components/InvoiceTable'

export default {
  name: 'Invoices',
  components: {
    InvoiceTable
  },
  data () {
    return {
      hubspot_connecting: false,
      current_months_recipient: '',
      stripe_options: {
        iconStyle: 'solid',
        style: {
          base: {
            iconColor: '#c4f0ff',
            color: '#fff',
            fontWeight: 500,
            fontFamily: 'Roboto, Open Sans, Segoe UI, sans-serif',
            fontSize: '16px',
            fontSmoothing: 'antialiased',

            ':-webkit-autofill': {
              color: '#fce883'
            },
            '::placeholder': {
              color: '#87BBFD'
            }
          },
          invalid: {
            iconColor: '#FFC7EE',
            color: '#FFC7EE'
          }
        }
      },
      new_password: '',
      user: auth.currentUser,
      complete: false // TODO
    }
  },
  props: {
    logged_in: {
      type: Boolean
    },
    do_logout: {
      type: Boolean
    },
    user_profile: {
      type: Object
    },
    price_table: {
      type: Object
    }
  },
  computed: {
    uid: function () {
      let uid = auth.currentUser.uid
      return 'https://app.scribeless.co/?sign-up-request&referral=' + uid
    },
    tax_rate: function () {
      if (this.user_profile) {
        return pricing.caluclate_customer_tax_rate(this.user_profile)
      }

      return ''
    }
  },
  methods: {
    connect_hubspot: async function () {
      // this.hubspot_connecting = true
      // await api.set_hubspot_connection_session(auth.currentUser.uid)
      window.open(`${config.firebase_config.functions}/hubspot/install?uid=${auth.currentUser.uid}`, '_blank')
      // this.hubspot_connecting = false
    },
    disconnect_hubspot: async function () {
      await db.collection('hubspot').doc(this.user_profile.hubspot_integration_doc.id).delete()
      await db.collection('users').doc(auth.currentUser.uid).update({
        hubspot_integration_doc: null,
        updated: new Date(),
        updated_by: this.user_profile.id
      })
    },
    async set_current_months_recipient (uid) {
      // Total number of recipients
      let total = 0
      // Get first and last day of current month
      var date = new Date()
      var firstDay = new Date(date.getFullYear(), date.getMonth(), 1)
      var lastDay = new Date(date.getFullYear(), date.getMonth() + 1, 0)
      console.log(firstDay)
      console.log(lastDay)

      // Get all campaigns in current month
      let campaigns = await db.collection('campaigns').where('uid', '==', uid).where('created', '>', firstDay).where('created', '<', lastDay).get()
      if (campaigns) {
        for (let campaign of campaigns.docs) {
          total += campaign.data().recipients_count
          console.log(total)
        }
      }
      this.current_months_recipient = total
    },
    async update_address () {
      var valid_address = this.$refs.address.validate()
      if (!valid_address) {
        return
      }

      var address = [this.user_profile.address.address_line_1, this.user_profile.address.address_line_2].join('\n').trim()

      var _hsq = window._hsq = window._hsq || []
      _hsq.push(['identify', {
        email: this.user_profile.email,
        address: address,
        city: this.user_profile.address.city || null,
        zip: this.user_profile.address.postcode,
        country: this.user_profile.address.country,
        state: this.user_profile.address.region
      }])
      _hsq.push(['trackPageView'])

      await db.collection('users').doc(auth.currentUser.uid).update({
        first_name: this.user_profile.address.first_name || null,
        last_name: this.user_profile.address.last_name || null,
        address: {
          first_name: this.user_profile.address.first_name || null,
          last_name: this.user_profile.address.last_name || null,
          address_line_1: this.user_profile.address.address_line_1 || null,
          address_line_2: this.user_profile.address.address_line_2 || null,
          city: this.user_profile.address.city || null,
          postcode: this.user_profile.address.postcode || null,
          country: this.user_profile.address.country || null,
          region: this.user_profile.address.region || null
        },
        updated: new Date(),
        updated_by: this.user_profile.id
      })

      this.$swal('Success', 'Successfully updated address.', 'success')
    },
    copy_referral_code () {
      let referral_code = document.querySelector('#referral-code')
      referral_code.setAttribute('type', 'text')
      referral_code.select()

      try {
        var success = document.execCommand('copy')
        var status = success ? 'success' : 'error'
        if (status === 'success') {
          this.$swal('Success', 'Successfully copied referral.', 'success')
        }
      } catch (err) {
        alert('Whoops! Something went wrong')
      }
    },
    async update_password () {
      try {
        // var user = await auth.currentUser.updatePassword(this.new_password)
        this.$swal('Success', 'Successfully updated password.', 'success')
      } catch (err) {
        if (err.code === 'auth/requires-recent-login') {
          this.$swal('Info', 'We need to reauthenticate you before updating your password. Please log back in.', 'info')
          auth.signOut()
        } else {
          this.$swal('Error', err.message, 'error')
        }
      }
    },
    logout () {
      auth.signOut()
    }
  }
}
</script>
