<template>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <form-wizard stepSize="xs" ref="wizard" title='' subtitle='' @on-complete="campaign_complete" color="rgb(68,80,165)" @on-loading="set_loading" @on-change="on_tab_change">
                        <tab-content v-if="!add_recipients_only && campaign.is_sample === false" title="Create" :before-change="validate_cover" :route="`/create/${$route.params.id}/cover`">
                            <b-row class="mx-1">
                                <b-col md="12">
                                    <CreateCover :campaign="campaign" :stationary="stationary" :user_profile="user_profile" ref="cover" />
                                </b-col>
                            </b-row>
                        </tab-content>

                        <template v-if="this.campaign.stationary_required">
                          <tab-content class="mb-2 mr-3"  v-if="!add_recipients_only && this.campaign.stationary_required" title="Message" :before-change="validate_stationary" :route="`/create/${$route.params.id}/stationery`">
                              <b-row class="mx-1">
                                  <b-col md="9">
                                      <StationeryPreview
                                        :campaign="campaign"
                                        :stationary="stationary"
                                        :user_profile="user_profile"
                                        :text_loading_obj="text_loading_obj"
                                        ref="customize_stationary"
                                        :stationary_image="stationary_image"
                                        :font_size_mm="font_size_mm"
                                        :font_style="style"
                                        :handwriting_obj="handwriting_obj"
                                      />
                                  </b-col>

                                  <b-col md="3">
                                      <CustomiseStationery
                                        :campaign="campaign"
                                        :stationary="stationary"
                                        :user_profile="user_profile"
                                        :text_loading_obj="text_loading_obj"
                                        :stationary_image="stationary_image"
                                        :font_size_mm="font_size_mm"
                                        :font_style="style"
                                        :handwriting_obj="handwriting_obj"
                                        :stationery_ref="$refs.customize_stationary"
                                      />
                                  </b-col>
                              </b-row>
                              <b-row class="float-right">
                                  <PriceTable :campaign="campaign" :cost="cost" :price_table="price_table" />
                              </b-row>
                              <hr>
                          </tab-content>

                          <tab-content class="mb-2 mr-3" style="padding-bottom:30px;" v-if="campaign.is_sample === false" title="Recipients" :before-change="validate_recipients" :route="`/create/${$route.params.id}/recipients`">
                              <RecipientsEdit :from_recipients="from_recipients" :campaign="campaign" :user_profile="user_profile" ref="recipients" />
                              <hr>
                              <b-row class="float-right">
                                  <PriceTable :campaign="campaign" :cost="cost" :price_table="price_table" />
                              </b-row>
                          </tab-content>
                        </template>

                        <template v-else>
                          <tab-content class="mb-2 mr-3" style="padding-bottom:30px;" v-if="campaign.is_sample === false" title="Recipients" :before-change="validate_recipients" :route="`/create/${$route.params.id}/recipients`">
                              <RecipientsEdit :from_recipients="from_recipients" :campaign="campaign" :user_profile="user_profile" ref="recipients" />
                              <hr>
                              <b-row class="float-right">
                                  <PriceTable :campaign="campaign" :cost="cost" :price_table="price_table" />
                              </b-row>
                          </tab-content>
                        </template>

                        <template v-if="campaign.data_source != DATA_SOURCE.api_crm ">
                            <tab-content v-if="!add_recipients_only && !(campaign.product === PRODUCT.self_service && campaign.envelope.required === ENVELOPE_REQUIRED.no)" title="Sender" :before-change="validate_sender" :route="`/create/${$route.params.id}/sender`">
                                <b-row align-h="center">
                                    <b-col md="12">
                                        <EnvelopePreview v-if="campaign.is_sample" :user_profile="user_profile" :campaign="campaign" :stationary="stationary" :handwriting_obj="handwriting_obj" :font_size_mm="font_size_mm" :font_style="style" />
                                        <SettingsEdit :user_profile="user_profile" :campaign="campaign" ref="sender_edit" :price_table="price_table" :cost="cost" />
                                        <b-row class="float-right">
                                            <b-row class="float-right mr-3">
                                                <PriceTable :campaign="campaign" :cost="cost" :price_table="price_table" />
                                            </b-row>
                                        </b-row>
                                    </b-col>
                                </b-row>
                            </tab-content>
                            <tab-content title="Schedule" v-if="!campaign.is_sample && campaign.data_source != DATA_SOURCE.api_crm && !add_recipients_only && !(campaign.product === PRODUCT.self_service && campaign.envelope.required === ENVELOPE_REQUIRED.no)" :route="`/create/${$route.params.id}/schedule`">
                                <b-row class="mx-1">
                                    <b-col md="8">
                                        <CalenderEdit :user_profile="user_profile" :campaign="campaign" />
                                    </b-col>
                                    <b-col md="12">
                                      <b-row class="float-right ">
                                        <PriceTable :campaign="campaign" :cost="cost" :price_table="price_table" />
                                        </b-row>
                                    </b-col>

                                </b-row>
                            </tab-content>
                            <tab-content v-if="campaign.is_sample === false" title="Payment" :before-change="validate_payment" :route="`/create/${$route.params.id}/payment`">
                                <div class="d-flex justify-content-center" >
                                    <b-col md="12" >
                                        <StationeryPreview
                                          :campaign="campaign"
                                          :stationary="stationary"
                                          :user_profile="user_profile"
                                          :text_loading_obj="text_loading_obj"
                                          :stationary_image="stationary_image"
                                          :font_size_mm="font_size_mm"
                                          :font_style="style"
                                          :handwriting_obj="handwriting_obj"
                                          :is_preview="true"
                                          ref="stationery_preview"
                                        />
                                    </b-col>
                                </div>
                                <b-container class="content-container mb-4">
                                    <h3>Summary</h3>
                                    <CampaignSummary :campaign="campaign" :stationary="stationary" :user_profile="user_profile" />
                                </b-container>
                                <b-container class="content-container mb-4">
                                    <PaymentSummaryEdit ref="payment" :campaign="campaign" :stationary="stationary" :user_profile="user_profile" :cost="cost" :price_table="price_table" />
                                </b-container>
                            </tab-content>
                        </template>
                        <template v-else-if="campaign.data_source === DATA_SOURCE.api_crm">
                            <tab-content v-if="!add_recipients_only && !(campaign.product === PRODUCT.self_service && campaign.envelope.required === ENVELOPE_REQUIRED.no)" title="Sender" :before-change="validate_sender" :route="`/create/${$route.params.id}/sender`">
                                 <b-row align-h="center">
                                    <b-col md="12">
                                        <SettingsEdit :user_profile="user_profile" :campaign="campaign" ref="sender_edit" />
                                        <b-row class="float-right">
                                            <b-row class="float-right mr-3">
                                                <PriceTable :campaign="campaign" :cost="cost" :price_table="price_table" />
                                            </b-row>
                                        </b-row>
                                    </b-col>
                                </b-row>
                            </tab-content>
                            <tab-content v-if="campaign.is_sample === false" title="Payment" :before-change="validate_payment" :route="`/create/${$route.params.id}/payment`">
                                <div class="d-flex justify-content-center">
                                    <b-col md="12">
                                        <StationeryPreview
                                          :campaign="campaign"
                                          :stationary="stationary"
                                          :user_profile="user_profile"
                                          :text_loading_obj="text_loading_obj"
                                          :stationary_image="stationary_image"
                                          :font_size_mm="font_size_mm"
                                          :font_style="style"
                                          :handwriting_obj="handwriting_obj"
                                          :is_preview="true"
                                          ref="stationery_preview"
                                        />
                                    </b-col>
                                </div>
                                <b-container class="content-container mb-4">
                                    <h3>Summary</h3>
                                    <CampaignSummary :campaign="campaign" :stationary="stationary" :user_profile="user_profile" />
                                </b-container>
                                <b-container class="content-container mb-4">
                                    <PaymentSummaryEdit ref="payment" :campaign="campaign" :stationary="stationary" :user_profile="user_profile" :cost="cost" :price_table="price_table" />
                                </b-container>
                            </tab-content>
                        </template>
                        <template v-else>
                            <tab-content title="Schedule" v-if="!campaign.is_sample && campaign.data_source != DATA_SOURCE.api_crm && !add_recipients_only && !(campaign.product === PRODUCT.self_service && campaign.envelope.required === ENVELOPE_REQUIRED.no)" :route="`/create/${$route.params.id}/schedule`">
                                <b-row class="mx-1">
                                    <b-col md="8">
                                        <CalenderEdit :user_profile="user_profile" :campaign="campaign" />
                                    </b-col>
                                    <b-col md="12">
                                      <b-row class="float-right">
                                        <PriceTable :campaign="campaign" :cost="cost" :price_table="price_table" />
                                       </b-row>
                                    </b-col>
                                </b-row>
                            </tab-content>
                            <tab-content v-if="campaign.is_sample === false" title="Payment" :before-change="validate_payment" :route="`/create/${$route.params.id}/payment`">
                                <div class="d-flex justify-content-center">
                                    <b-col md="12">
                                        <StationeryPreview
                                          :campaign="campaign"
                                          :stationary="stationary"
                                          :user_profile="user_profile"
                                          :text_loading_obj="text_loading_obj"
                                          :stationary_image="stationary_image"
                                          :font_size_mm="font_size_mm"
                                          :font_style="style"
                                          :handwriting_obj="handwriting_obj"
                                          :is_preview="true"
                                          ref="stationery_preview"
                                        />
                                    </b-col>
                                </div>
                                <b-container class="content-container mb-4">
                                    <h3>Summary</h3>
                                    <CampaignSummary :campaign="campaign" :stationary="stationary" :user_profile="user_profile" />
                                </b-container>
                                <b-container class="content-container mb-4">
                                    <PaymentSummaryEdit ref="payment" :campaign="campaign" :stationary="stationary" :user_profile="user_profile" :cost="cost" :price_table="price_table" />
                                </b-container>
                            </tab-content>
                        </template>

                        <LoadingButton :loading="wizard_loading" variant="primary" slot="next">Next</LoadingButton>
                        <LoadingButton variant="primary" slot="prev">Back</LoadingButton>
                        <LoadingButton :loading="adding_campaign" variant="primary" slot="finish">Finish</LoadingButton>

                        <b-modal centered no-fade v-model='sample_intro_popup_visable' hide-header hide-header-close ok-variant="secondary btn-lg">
                          <b-container class="text-center pl-4">
                            <p class="text-muted text-center mb-0 mt-3"><small>Step 2 of 2</small></p>
                            <img src="/static/images/sample_intro1.png" width="300px"/>
                            <h3>Create a sample campaign</h3>
                            <p>A free sample campaign to show you how to use the interface</p>
                          </b-container>

                          <template slot="modal-footer" slot-scope="{ ok, cancel, hide }">
                            <div class="sample-ft-ct">
                              <div class="btn-group-vertical">
                                <b-button size="lg" variant="secondary" @click="ok()">Get Started</b-button>
                                <b-button variant="link" :to="{name: 'CampaignList'}">Skip</b-button>
                              </div>
                            </div>
                          </template>
                        </b-modal>

                        <b-modal centered v-model='sample_sent_popup_visable' @hide="redirect" hide-header hide-header-close ok-variant="secondary btn-lg" ok-only ok-title="Okay">
                          <b-container class="text-center pl-4">
                            <img src="/static/images/sample_sent1.png" width="300px"/>
                            <h3>Sample on the way</h3>
                            <p>Your sample is on the way! You can now explore and create your own campaigns.</p>
                          </b-container>

                          <template slot="modal-footer" slot-scope="{ ok }">
                            <div class="sample-ft-ct">
                              <div class="btn-group-vertical">
                                <b-button size="lg" variant="secondary" @click="ok()">Okay</b-button>
                              </div>
                            </div>
                          </template>
                        </b-modal>
                    </form-wizard>
                </div>
            </div>
        </div>
    </div>

</div>
</template>

<script>
/* eslint no-return-await: "off" */
/* eslint no-unused-vars: "off" */

import Vue from 'vue'
import moment from 'moment'
import axios from 'axios'
import {
  db,
  auth,
  serverTimestamp
} from '@/lib/firebase.js'
import api from '../services/api.js'

import Schedule from '../components/wizard/Schedule'
import EnvelopePreview from '../components/EnvelopePreview'
import SenderEdit from '../components/SenderEdit'
import CalenderEdit from '../components/CalenderEdit'
import SettingsEdit from '../components/SettingsEdit'
import CreateCover from '../pages/CreateCover'
import RecipientsEdit from '../components/RecipientsEdit'
import PaymentSummaryEdit from '../components/PaymentSummaryEdit'
import PriceTable from '../components/PriceTable'
import LoadingButton from '../components/LoadingButton'
import pricing from '../lib/pricing.js'
import CampaignSummary from '../components/CampaignSummary'
import CampaignMessageEdit from '../components/CampaignMessageEdit'
import StationeryPreview from '../components/stationery/StationeryPreview'
import CustomiseStationery from '../components/stationery/CustomiseStationery' // TODO

import {
  INSERTS,
  GOOD,
  SAMPLE_MESSAGE,
  PRODUCT,
  DEFAULT_PRICE_ID,
  CAMPAIGN_STATUS,
  MIN_DELIVERY_DATE,
  RECIPIENT_STATUS,
  FONTS,
  PAPER_SIZES,
  ENVELOPE_SIZES,
  HANDWRITING_SIZE,
  HANDWRITING_STYLE,
  HEADER_TYPE,
  STAMP_TYPES,
  DATA_SOURCE,
  SENDER,
  ENVELOPE_REQUIRED,
  BLEED,
  BLEED_MARK_MARGIN
} from '../../functions/shared/constants.js'
const API_URL = 'https://us-central1-hc-handwriting-engine-dev.cloudfunctions.net/'

export default {
  name: 'Stationary',
  components: {
    EnvelopePreview,
    SenderEdit,
    RecipientsEdit,
    PaymentSummaryEdit,
    PriceTable,
    LoadingButton,
    CalenderEdit,
    SettingsEdit,
    CreateCover,
    CampaignSummary,
    CampaignMessageEdit,
    StationeryPreview,
    CustomiseStationery
  },
  props: {
    user_profile: {
      type: Object,
      required: true
    },
    price_table: {
      type: Object,
      required: true
    }
  },
  firestore () {
    var stationary_id = this.$route.params.id || 'new'
    // if (this.$route.params.id === 'new') {
    if (stationary_id === 'new') {
      stationary_id = db.collection('stationary').doc().id
    }

    // TODO 404 if dosn't exist

    return {
      stationary: db.collection('stationary').doc(stationary_id),
      new_campaign: db.collection('campaigns').doc()
    }
  },
  mounted: function () {
    this.update_envelope_paper_size(this.stationary.paper)
    this.get_handwriting_styles()
    this.get_handwriting_colors()
    window.addEventListener('beforeunload', this.check_unload)
    if (window.innerWidth > 767) {
      this.$parent.collapse_menu()
    }
  },
  created: async function () {
    // if (this.$route.name === 'Create') {
    //     console.log("route>>>>>", this.$route.name)

    //     window.removeEventListener("beforeunload", this.preventNav);

    // }
    // else if  (this.$route.name !== 'Create'){
    //     console.log("route>>>>>", this.$route.name)

    // }

    this.from_campaign = this.$route.params.from_campaign
    this.from_recipients = this.$route.params.from_recipients
    this.add_recipients_only = this.$route.params.add_recipients_only
    this.edit_stationary = this.$route.params.edit_stationary
    this.duplicate_stationary = this.$route.params.duplicate_stationary

    if (this.duplicate_stationary) {
      let doc = await db.collection('stationary').doc(this.duplicate_stationary).get()
      let stationary = doc.data()
      for (let key in stationary) {
        if (key !== 'uid' && key !== 'template' && key !== 'template_tags') {
          this.stationary[key] = stationary[key]
        }
      }
    }

    if (this.from_campaign) {
      this.campaign.title = this.from_campaign.title
      this.campaign.data_source = this.from_campaign.data_source
      this.campaign.product = this.from_campaign.product
      this.campaign.is_sample = false
      this.campaign.text = this.from_campaign.text
      this.campaign.envelope = this.from_campaign.envelope
      this.campaign.delivery.sender = this.from_campaign.delivery.sender
      // this.campaign.delivery.include_country_name = this.from_campaign.delivery.include_country_name
      // this.campaign.delivery.include_return_address = this.from_campaign.delivery.include_return_address
      this.campaign.delivery.user_address = this.from_campaign.delivery.user_address
      this.campaign.stationary_required = this.from_campaign.stationary_required === undefined ? true : this.from_campaign.stationary_required
    }
  },
  watch: {
    stationary: {
      deep: true,
      handler: function (val) {
        this.update_envelope_paper_size(val.paper)
      }
    },
    campaign: {
      deep: true,
      handler: function (val, old_value) {
        if (this.$refs['message']) {
          this.$refs['message'].check_bad_text()
        }
        this.recipients = val.data
      }
    }
  },
  beforeDestroy: function () {
    window.removeEventListener('beforeunload', this.check_unload)
    if (window.innerWidth > 767 && !this.$parent.isMenuCondensed) {
      this.$parent.show_menu()
    }
  },
  beforeRouteLeave: function (to, from, next, event) {
    if (!this.add_campaign_complete) {
      const answer = window.confirm('Do you really want to leave? Changes you made may not be saved.')
      if (answer) {
        next()
      } else {
        next(false)
      }
    } else {
      next()
    }
  },
  asyncComputed: {
    cost: async function () {
      if (Object.keys(this.price_table).length === 0) { // Price table not loaded yet
        return
      }

      let recipients = this.campaign.data
      if (this.campaign.data.length === 0) {
        recipients = [{
          country: this.user_profile.country
        }]
      }

      let goods = await pricing.campaign_to_goods(this.campaign, recipients, this.stationary)
      let prices = await pricing.caluclate_price(this.price_table, this.user_profile, goods, recipients.length)
      prices.recipients_count = recipients.length
      return prices
    },

    style: function () {
      if (this.handwriting_obj.handwriting_styles) {
        let styles = []
        for (let style of this.handwriting_obj.handwriting_styles) {
          styles.push(`@font-face {
            font-family: 'HandwritingFontFamily${style.label}';
            src: url('${style.url}');
          }`)
        }

        return `
          <style>
          ${styles.join('\n')}
          </style>
        `
      }

      return ''
    },

    font_size_mm () {
      let text_size_mm = 7
      switch (this.stationary.handwriting_size) {
        case 'Small':
          text_size_mm = 6
          break
        case 'Medium':
          text_size_mm = 7
          break
        case 'Large':
          text_size_mm = 8
          break
      }

      return text_size_mm
    }
  },
  methods: {
    on_tab_change (prev_index, next_index) {
      const preview_ref = this.$refs['stationery_preview']

      preview_ref && preview_ref.load_stationary(this.stationary);
      preview_ref && preview_ref.position_logo();
      preview_ref && preview_ref.position_custom();
      if (next_index === 1) {
        this.$refs.customize_stationary && this.$refs.customize_stationary.load_stationary(this.stationary)

        let message_ele = document.getElementById('message-text')
        if (message_ele) {
          setTimeout(() => {
            message_ele.focus()
          }, 200)
        }
      }
    },
    set_loading: function (value) {
      this.wizard_loading = value
    },
    check_unload (event) {
      if (this.add_campaign_complete) return

      event.preventDefault()
      event.returnValue = ''
    },
    next_tab: function (a, skip_validation) {
      this.skip_validation = skip_validation
      this.$refs['wizard'].nextTab()
    },

    prev_tab: function () {
      this.$refs['wizard'].prevTab()
    },
    upload_campaign: async function () {
      if (this.add_recipients_only) {
        this.new_campaign_id = this.from_campaign.id
      } else {
        this.new_campaign_id = this.$firestoreRefs.new_campaign.id
      }

      if (this.adding_campaign) {
        console.log('Already adding campaign, skipping')
        return false
      }

      this.adding_campaign = true
      var campaign = Vue._.cloneDeep(this.campaign)
      delete campaign['data'] // Remove data
      campaign['status'] = CAMPAIGN_STATUS.pending
      campaign['created'] = serverTimestamp()
      campaign['last_updated'] = serverTimestamp()
      campaign['delivery']['due_date'] = moment(campaign.delivery.due_date, 'DD/MM/YYYY').toDate()

      var data = Vue._.cloneDeep(this.campaign.data) || []

      if (this.campaign.is_sample) {
        data = [{
          'index': 0,
          'first name': this.campaign.delivery.user_address.first_name || null,
          'last name': this.campaign.delivery.user_address.last_name || null,
          // 'job title': this.campaign.delivery.user_address.job_title,
          'company': this.campaign.delivery.user_address.organisation || null,
          'address line 1': this.campaign.delivery.user_address.address_line_1 || null,
          'address line 2': this.campaign.delivery.user_address.address_line_2 || null,
          'city': this.campaign.delivery.user_address.city || null,
          'region': this.campaign.delivery.user_address.region || null,
          'postal_code': this.campaign.delivery.user_address.postcode || null,
          'country': this.campaign.delivery.user_address.country || null
        }]
      }

      console.debug(data)
      if (this.add_recipients_only) {
        for (let r of data) {
          r['index'] = null // Override orderings
        }

        console.log('Setting campaign', this.new_campaign_id)
        await db.collection('campaigns').doc(this.new_campaign_id).update(campaign)
      } else {
        if (this.campaign.stationary_required) {
          let stationary_id = this.$firestoreRefs.stationary.id
          if (this.$route.params.id !== 'new') {
            stationary_id = this.new_stationary_doc.id
          }
          console.log('Adding stationary', stationary_id)
          this.stationary.updated = new Date()
          this.stationary.updated_by = this.user_profile.id
          await db.collection('stationary').doc(stationary_id).update(this.stationary)
          campaign['stationary'] = stationary_id
        }

        console.log('Setting campaign', this.new_campaign_id)
        await db.collection('campaigns').doc(this.new_campaign_id).set(campaign)
        this.campaign['data'] = data
      }

      if (this.campaign.data_source === DATA_SOURCE.upload || this.campaign.data_source === DATA_SOURCE.audience) {
        try {
          console.log('adding recipients...', this.new_campaign_id)
          let result = await api.add_recipients(data, this.new_campaign_id)

          if (result && result.data && !result.data.success) {
            console.warn(result)
            this.adding_campaign = false
            this.$swal('An error occured', result.data.error_message, 'error')
            return false
          }
        } catch (err) {
          console.error(err)
          this.adding_campaign = false
          this.$swal('An error occured', 'An error occured, please contact support to continue', 'error')
          return false
        }
      }

      // If sample add HubSpot data
      if (this.campaign.is_sample) {
        var today = new Date()
        var product_seen_date = new Date()
        if (this.campaign.delivery.user_address.country === 'GB') {
          product_seen_date.setDate(today.getDate() + 2) // Today plus 2 days
        } else {
          product_seen_date.setDate(today.getDate() + 4) // Today plus 4 days
        }

        var address = [this.campaign.delivery.user_address.address_line_1, this.campaign.delivery.user_address.address_line_2].join('\n').trim()

        var _hsq = window._hsq = window._hsq || []
        _hsq.push(['identify', {
          email: this.user_profile.email,
          sample_request_date: Date.now(),
          sample_sent_date: Date.now(),
          product_seen_date: product_seen_date.getTime(),
          address: address,
          city: this.campaign.delivery.user_address.city || null,
          zip: this.campaign.delivery.user_address.postcode,
          country: this.campaign.delivery.user_address.country,
          state: this.campaign.delivery.user_address.state
        }])
        _hsq.push(['trackPageView'])

        db.collection('users').doc(this.user_profile.id).update({
          address: {
            first_name: this.campaign.delivery.user_address.first_name || null,
            last_name: this.campaign.delivery.user_address.last_name || null,
            job_title: this.campaign.delivery.user_address.job_title || null,
            company: this.campaign.delivery.user_address.company || null,
            address_line_1: this.campaign.delivery.user_address.address_line_1 || null,
            address_line_2: this.campaign.delivery.user_address.address_line_2 || null,
            city: this.campaign.delivery.user_address.city || null,
            postcode: this.campaign.delivery.user_address.postcode || null,
            country: this.campaign.delivery.user_address.country || null,
            region: this.campaign.delivery.user_address.region || null
          },
          updated: new Date(),
          updated_by: this.user_profile.id
        })
      }

      this.adding_campaign = false
      return true
    },
    validate_payment: async function () {
      console.log(`> validate_payment`, this.skip_validation)
      if (this.skip_validation) {
        return true
      }

      var payment_validated = await this.$refs['payment'].validate()
      if (!payment_validated) {
        console.log('payment invalid')
        return false
      }

      return true
    },
    validate_cover: async function () {
      return await this.$refs['cover'].validate()
    },
    validate_message: async function () {
      return await this.$refs['message'].validate(true)
    },
    validate_recipients: async function () {
      return await this.$refs['recipients'].validate()
    },
    validate_sender: async function () {
      if (this.campaign.delivery.include_return_address || this.campaign.is_sample || this.campaign.delivery.sender == SENDER.ship_to_self) {
        var result = await this.$refs['sender_edit'].validate()

        if (result === false) {
          console.log('Invalid sender')
          return false
        }

        // if (this.campaign.is_sample) {
        //   // eslint-disable-next-line
        //   return await this.upload_campaign()
        // }
        return true
      } else {
        return true
      }
    },
    validate_stationary: async function () {
      try {
        if (!this.campaign.text) {
          this.$swal('Error', 'Enter some text', 'error')
        }

        let doc = this.$firestoreRefs.stationary
        if (this.$route.params.id !== 'new') {
          doc = this.new_stationary_doc
        }
        return await this.$refs['customize_stationary'].save(doc, this.stationary_image.header_logo, this.stationary_image.back_image, this.stationary_image.front_image)
      } catch (err) {
        this.$swal('Error', err.message, 'error')
        return false
      }
    },
    validate_preview: async function () {
      // eslint-disable-next-line
      // return await this.$refs['customize_stationary_preview'].save(this.$firestoreRefs.stationary, this.$refs.customize_stationary_preview.header_logo, this.$refs.stationary_edit.back_image)
      return await this.$refs['customize_stationary_preview'].save(this.$firestoreRefs.stationary, this.stationary_image.header_logo, this.stationary_image.back_image)
    },
    update_envelope_paper_size: function (stationary_paper) {
      // if (stationary_paper === PAPER_SIZES.A4) {
      //   this.campaign.envelope.paper = ENVELOPE_SIZES.DL
      // } else if (stationary_paper === PAPER_SIZES.A5 || stationary_paper === PAPER_SIZES.A5_landscape) {
      //   this.campaign.envelope.paper = ENVELOPE_SIZES.C5
      // }
    },
    async campaign_complete () {
      await this.upload_campaign()

      this.add_campaign_complete = true
      window.removeEventListener('beforeunload', this.check_unload)

      if (this.campaign.is_sample) {
        this.sample_sent_popup_visable = true
        return
      }

      this.redirect()
    },
    redirect () {
      if (this.add_recipients_only) {
        this.$router.push({
          name: 'Campaign',
          params: {
            id: this.from_campaign.id
          }
        })
      } else {
        this.$router.push({
          name: 'Campaign',
          params: {
            id: this.new_campaign_id
          }
        })
      }
    },

    async get_handwriting_styles () {
      let response = await axios.get(`${API_URL}/api/getFonts?api_key=PymAOyWayrr0pqXdfnsS`)
      this.handwriting_obj.handwriting_styles = response.data.fonts

      if (!this.handwriting_obj.handwriting_style) {
        this.handwriting_obj.handwriting_style = this.handwriting_obj.handwriting_styles[0]
      }

      for (let style of this.handwriting_obj.handwriting_styles) {
        if (style.label === this.stationary.handwriting_style) {
          this.handwriting_obj.handwriting_style = style
        }
      }
    },

    async get_handwriting_colors () {
      let response = await axios.get(`${API_URL}/api/getColours?api_key=PymAOyWayrr0pqXdfnsS`, {})
      this.handwriting_obj.handwriting_colours = response.data.colours

      if (!this.handwriting_obj.handwriting_colour) {
        this.handwriting_obj.handwriting_colour = this.handwriting_obj.handwriting_colours[0]
      }

      for (let colour of this.handwriting_obj.handwriting_colours) {
        if (colour.label === this.stationary.handwriting_colour) {
          this.handwriting_obj.handwriting_colour = colour
        }
      }
    }

  },
  data () {
    let is_sample = this.$route.params.is_sample
    let requires_envelope = this.$route.params.requires_envelope
    let requires_stationery = this.$route.params.requires_stationery
    let product = this.$route.params.product

    let recipients_count_by_status = {}
    for (let s in RECIPIENT_STATUS) {
      let status = RECIPIENT_STATUS[s]
      recipients_count_by_status[`recipients_count_${status}`] = 0
    }

    let stationary_html = `
    <div class='paper-preview' style="position: absolute; box-sizing: border-box">
      <link id='font-loader' rel="stylesheet" />

      <div id='vertical-line'></div>
      <div id='horizontal-line'></div>

      <div class='paper-header draggable hover-highlight' style="margin: auto; width: 50mm; height: 25mm; color: #333; font-family: 'Poiret One', cursive; top: 6mm !important; position: relative; overflow: hidden;">
        <p id="header-text" style="margin-top: 0px; font-size: 8mm; text-align: center; width: 100%;"></p>
        <img id="header-image" class='paper-logo' style="display: block; margin: 0 auto; width: 100%;" />
      </div>

      <div id="background-image-container" class='paper-element' style='position: absolute'>
        <img id="background-image" width="100%" />
      </div>

      <div id="handwriting-loading-container" class='paper-text text-center' style="box-sizing: border-box; display: none; padding-left: 6mm; padding-right: 6mm; width: 100%; height: 20mm; z-index: 1; position: absolute; background-size: 56.57px 56.57px;">
        <span class='fas fa-spinner fa-pulse mr-2 text_loading_spinner'></span>
      </div>

      <div id="handwriting-image-container" class='paper-text text-center' style="box-sizing: border-box; padding-left: 6mm; padding-right: 6mm; width: 100%; height: 20mm; overflow: hidden; z-index: 0; position: absolute; background-size: 56.57px 56.57px; top: 0px;">
        <img id="handwriting-image" width="100%" />
      </div>

      <div class='paper-footer' style="width: 100%; color: #333; font-family: 'Carlson'; position: absolute !important; bottom: 4mm;">
        <p id="footer-text" style="font-size: 5mm; text-align: center; white-space: pre-line; margin: 0px; padding-right: 4mm; padding-left: 4mm;"></p>
      </div>
    </div>
    `
    // <div style="height: 100%; width: 100%; position: absolute; pointer-events: none; background: red; opacity: 0.25;" id=""></div>
    // <div style="height: calc(100% - 8mm); width: calc(100% - 8mm); position: absolute; top: 4mm; left: 4mm; background: white; pointer-events: none; "></div>

    let bleed = `${BLEED}mm`
    let bleed_mark_margin = `${BLEED_MARK_MARGIN}mm`

    // <div style="width: 100%; height: 100%; position: absolute !important; pointer-events: none;">
    //   <img style="display: block; margin: auto; height: 100%; width: 100%; object-fit: contain;" src="https://firebasestorage.googleapis.com/v0/b/hc-application-interface-dev.appspot.com/o/paper%2FA5_crop_marks.png?alt=media&token=daf72d4c-3031-4000-97c4-1019bc94b448"/>
    // </div>

    let stationary_back_html = `
    <div class='paper-preview back-preview' style="position: absolute;">
      <div id='vertical-line'></div>
      <div id='horizontal-line'></div>

      <div id="bleed-marks">
        <div style="box-sizing: border-box; height: ${bleed}; width: ${bleed}; position: absolute; top: 0px; left: 0px; pointer-events: none; border-style: solid; border-color: black; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 0px; border-top-width: 0px;"></div>
        <div style="height: ${bleed_mark_margin}; width: ${bleed_mark_margin}; position: absolute; top: calc(${bleed} - ${bleed_mark_margin}); left: calc(${bleed} - ${bleed_mark_margin}); pointer-events: none; background: white;"></div>

        <div style="box-sizing: border-box; height: ${bleed}; width: ${bleed}; position: absolute; bottom: 0px; left: 0px; pointer-events: none; border-style: solid; border-color: black; border-right-width: 1px; border-top-width: 1px; border-left-width: 0px; border-bottom-width: 0px;"></div>
        <div style="height: ${bleed_mark_margin}; width: ${bleed_mark_margin}; position: absolute; bottom: calc(${bleed} - ${bleed_mark_margin}); left: calc(${bleed} - ${bleed_mark_margin}); pointer-events: none; background: white;"></div>

        <div style="box-sizing: border-box; height: ${bleed}; width: ${bleed}; position: absolute; top: 0px; right: 0px; pointer-events: none; border-style: solid; border-color: black; border-left-width: 1px; border-bottom-width: 1px; border-right-width: 0px; border-top-width: 0px;"></div>
        <div style="height: ${bleed_mark_margin}; width: ${bleed_mark_margin}; position: absolute; top: calc(${bleed} - ${bleed_mark_margin}); right: calc(${bleed} - ${bleed_mark_margin}); pointer-events: none; background: white;"></div>

        <div style="box-sizing: border-box; height: ${bleed}; width: ${bleed}; position: absolute; bottom: 0px; right: 0px; pointer-events: none; border-style: solid; border-color: black; border-left-width: 1px; border-top-width: 1px; border-right-width: 0px; border-bottom-width: 0px;"></div>
        <div style="height: ${bleed_mark_margin}; width: ${bleed_mark_margin}; position: absolute; bottom: calc(${bleed} - ${bleed_mark_margin}); right: calc(${bleed} - ${bleed_mark_margin}); pointer-events: none; background: white;"></div>
      </div>

      <div id="back-image-container" class='draggable hover-highlight' style="width: 100%; height: 100%; position: absolute !important">
        <img id="back-image" class="back_image" style="display: block; margin: auto; height: 100%; width: 100%; object-fit: contain; z-index: 1" />
      </div>

    </div>`

    let default_paper = PAPER_SIZES.half_letter_landscape
    if (this.user_profile.country) {
      default_paper = PAPER_SIZES.A5_landscape
    }

    return {
      new_stationary_doc: db.collection('stationary').doc(),
      constraints: {
        paper_header: {
          translate_x: 0,
          translate_y: 0,
          height: '25mm',
          width: '55mm'
        },
        handwriting: {
          translate_x: 0,
          translate_y: 0,
          height: 0,
          width: 0
        },
        back_image: {
          translate_x: 0,
          translate_y: 0,
          height: 0,
          width: 0
        }
      },
      skip_validation: false,
      new_campaign_id: undefined,
      is_sample: is_sample,
      adding_campaign: false,
      sample_intro_popup_visable: is_sample,
      sample_sent_popup_visable: false,
      from_campaign: {},
      from_recipients: [],
      add_recipients_only: false,
      edit_stationary: undefined,
      duplicate_stationary: undefined,
      wizard_loading: false,
      stationary_image: {
        header_logo: null,
        back_image: null,
        front_image: null
      },
      text_loading_obj: {
        text_loading: false
      },
      payment_id: DEFAULT_PRICE_ID,
      stationary: {
        show_bleed: true,
        add_bleed: true,
        flipped: false,
        front_type: 'editor',
        rendered_text: null,
        uid: auth.currentUser.uid,
        paper: default_paper,
        handwriting_colour: 'Blue',
        handwriting_style: Object.values(HANDWRITING_STYLE)[0],
        handwriting_size: Object.values(HANDWRITING_SIZE)[1],
        footer_font: 'Open Sans',
        header_font: 'Open Sans',
        header_type: HEADER_TYPE.logo,
        header_text: '',
        footer_text: is_sample ? 'Scribeless Sample // Visit scribeless.co for more details' : null,
        // header_image: 'https://app.scribeless.co/static/images/your_logo.png',
        header_image: '',
        header_image_align: 'center',
        header_text_size: 8,
        footer_text_align: 'center',
        footer_text_size: 5,
        back_image: null, // is_sample ? 'https://firebasestorage.googleapis.com/v0/b/hc-application-interface-dev.appspot.com/o/brand%2FLogo%20Scribeless%20-%20Secondary%20Gold.png?alt=media&token=087dd754-75ca-4713-93ef-ec6e34e7e938' : null,
        front_image: null,
        thumbnail: null,
        source: 'interface',
        html: stationary_html,
        back_html: stationary_back_html
      },
      recipients: [],
      campaign: {
        ...recipients_count_by_status,
        zip: null,
        recipients_count: 0,
        stationary_required: requires_stationery !== false,
        title: is_sample ? 'Sample Campaign' : `Campaign ${moment().format('ll')}`,
        is_sample: is_sample || false,
        product: product || PRODUCT.full_service,
        // uid: auth.currentUser.uid,
        uid: this.user_profile.uid,
        testing: false,
        text: is_sample ? SAMPLE_MESSAGE.replace('{{{first name}}}', auth.currentUser.displayName.split(' ')[0]) : '',
        envelope: {
          required: requires_envelope !== false ? ENVELOPE_REQUIRED.yes : ENVELOPE_REQUIRED.no,
          sealed: false,
          stamp: (product !== PRODUCT.self_service && requires_envelope !== false) ? STAMP_TYPES.first_class : STAMP_TYPES.no_stamp,
          inserts: null,
          paper: ENVELOPE_SIZES.C5
        },
        data_source: DATA_SOURCE.audience,
        data: [],
        delivery: {
          sender: (product !== PRODUCT.self_service && (!requires_envelope === false || requires_stationery === false)) ? SENDER.ship_to_self : SENDER.ship_for_me,
          include_return_address: false,
          include_country_name: false,
          user_address: {
            'first_name': this.user_profile.address ? this.user_profile.address.first_name || null : null,
            'last_name': this.user_profile.address ? this.user_profile.address.last_name || null : null,
            'job_title': this.user_profile.address ? this.user_profile.address.job_title || null : null,
            'company': this.user_profile.address ? this.user_profile.address.organisation || null : null,
            'address_line_1': this.user_profile.address ? this.user_profile.address.address_line_1 || null : null,
            'address_line_2': this.user_profile.address ? this.user_profile.address.address_line_2 || null : null,
            'city': this.user_profile.address ? this.user_profile.address.city || null : null,
            'postcode': this.user_profile.address ? this.user_profile.address.postcode || null : null,
            'country': this.user_profile.address ? this.user_profile.address.country || null : null,
            'region': this.user_profile.address ? this.user_profile.address.region || null : null
          },
          due_date: moment().add(MIN_DELIVERY_DATE, 'days').format('DD/MM/YYYY')
        },
        cost: { // TODO
          total: 0,
          currency: this.user_profile.currency
        },
        currency: this.user_profile.currency,
        source: 'interface'
      },
      add_campaign_complete: false,
      handwriting_obj: {
        handwriting_styles: [],
        handwriting_colours: [],
        handwriting_colour: undefined,
        handwriting_style: undefined
      }
    }
  }
}
</script>

<style scoped>
.sl-address {
    padding-bottom: 1.3rem;
    border-bottom: 1px solid #eeeef4;
    margin: 0 auto 2rem;
    width: 630px;
}
</style>
