<template>
  <router-view :logged_in='logged_in' :user_profile='user_profile' />
</template>

<script>
export default {
  name: 'Onboarding',
  props: {
    logged_in: {
      type: Boolean,
      required: true
    },
    user_profile: {
      type: Object,
      required: true
    }
  }
}
</script>

<style>

.form {
  padding: 1em;
}

.onboarding-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

</style>
