<template>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-xl-4">
            <div class="widget-rounded-circle card-box">
                <div class="row">
                    <div class="col-6">
                        <div class="avatar-lg rounded-circle bg-soft-primary border-primary border"><i class="far fa-money-bill-alt font-22 avatar-title text-primary" style="padding-left:20px; padding-top:25px"></i></div>
                    </div>
                    <div class="col-6">
                        <div class="text-right">
                            <h3 class="text-dark mt-1">
                                <span><span>
                                    {{total_earned}}
                                </span></span>
                            </h3>
                            <p class="text-muted mb-1 text-truncate">Total Earned</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-4">
            <div class="widget-rounded-circle card-box">
                <div class="row">
                    <div class="col-6">
                        <div class="avatar-lg rounded-circle bg-soft-info border-info border"><i class="fe-bar-chart-line- font-22 avatar-title text-info"></i></div>
                    </div>
                    <div class="col-6">
                        <div class="text-right">
                            <h3 class="text-dark mt-1">
                                <span> {{ referral_stats.total_referred_users || 0 }} </span>
                            </h3>
                            <p class="text-muted mb-1 text-truncate">Total Referred
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-4">
            <div class="widget-rounded-circle card-box">
                <div class="row">
                    <div class="col-6">
                        <div class="avatar-lg rounded-circle bg-soft-warning border-warning border"><i class="fe-eye font-22 avatar-title text-warning"></i></div>
                    </div>
                    <div class="col-6">
                        <div class="text-right">
                            <h3 class="text-dark mt-1">
                                <span> {{ referral_stats.total_clicks || 0 }} </span>
                            </h3>
                            <p class="text-muted mb-1 text-truncate">Total Clicks</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12">
            <div class="card-box">
                <h4 class="header-title mb-1"></h4>
                <div dir="ltr" class="widget-chart text-center" style="position: relative;">
                    <div class="card-body pt-0">
                        <h6 class="h4">Invite others and earn <br class="d-none d-xl-block">free credits.</h6>
                        <p class="text-muted mb-3 mb-xl-4">Read more in our support center.</p>
                        <div class="input-group input-group-merge input-group-merge-btn mb-2">
                            <b-form-input v-model='uid' readonly id='referral-code' :disabled="referrals.length >= 10"></b-form-input>
                            <div class="input-group-append-merge">
                                <button
                                  class="js-clipboard btn btn-primary"
                                  @click="copy_referral_code"
                                  data-content-target="#shareLink"
                                  data-default-text="Copy"
                                  data-success-text="Copied"
                                  :disabled="referrals.length >= 10"
                                >
                                  Copy
                                </button>
                            </div>
                        </div>
                        <p class="small text-muted mb-3">Copy this link to share with your friends.</p>
                        <!--
                        <div class="input-group input-group-merge input-group-merge-btn mb-2">
                            <input class="form-control" placeholder="Enter Email Address" type="text">
                            <div class="input-group-append-merge">
                                <a class="btn btn-sm btn-primary" href="#">Invite</a>
                            </div>
                        </div>
                        <p class="small text-muted mb-0">Separate multiple emails with commas.</p>
                        -->
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="col-xl-6">

        </div> -->
    </div>

    <div class="row">
        <div class="col-xl-12">
            <div class="card-box">
                <h4 class="header-title mb-3">Referral Stats</h4>
                <hr>
                <div class="table-responsive mb-0">
                    <b-table hover striped show-empty empty-filtered-text="No Referred Users" empty-text="No users referred" :current-page="current_page" :per-page="per_page" :items="referrals" :fields="fields" bordered class="table">
                        <template v-slot:cell(created)="row">
                            {{ display_timestamp(row.value) }}
                        </template>

                        <template v-slot:cell(email)="row">
                            {{ row.value || row.item.user }}
                        </template>

                    </b-table>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import {
  auth,
  db
} from '@/lib/firebase.js'
import config from '@/lib/config.js'

export default {
  name: 'Referral',
  asyncComputed: {
    uid: function () {
      let base_url
      if (config.environment === 'production') {
        base_url = 'app.scribeless.co'
      } else if (config.environment === 'testing') {
        base_url = 'app2.scribeless.co'
      } else {
        base_url = config.firebase_config.authDomain
      }

      let uid = this.user_profile.uid
      return `https://${base_url}/?sign-up-request&referral=${uid}`
    },
    total_rows () {
      if (this.referrals) {
        return this.referrals.length
      }
      return 0
    },
    async total_earned () {
      let credit = this.user_profile.credit || 0
      if (this.user_profile.role === 'viewer' || this.user_profile.role === 'editor') {
        let profile = await db.collection('users').doc(this.user_profile.uid).get()
        if (profile.exists) {
          credit = profile.data().credit || 0
        }
      }
      let currency = this.user_profile.currency_symbol
      // let credit = this.user_profile.credit || 0;
      credit = (credit / 100).toFixed(2)

      return `${currency} ${credit}`
    }
  },
  props: ['user_profile'],

  data () {
    const fields = [
      {
        key: 'created',
        label: 'Date',
        sortable: true
      },
      {
        key: 'email',
        label: 'User',
        sortable: true
      }
    ]

    return {
      current_page: 1,
      limit: 25,
      per_page: 25,
      fields,
      referrals: [],
      referral_stats: {}
    }
  },
  firestore () {
    return {
      referrals: db.collection('referrals').where('referrer', '==', this.user_profile.uid).limit(this.limit),
      referral_stats: db.collection('referral_stats').doc(this.user_profile.uid)
    }
  },
  methods: {
    copy_referral_code () {
      if (this.referrals.length >= 10) {
        return
      }
      let referral_code = document.querySelector('#referral-code')
      referral_code.setAttribute('type', 'text')
      referral_code.select()

      try {
        var success = document.execCommand('copy')
        var status = success ? 'success' : 'error'
        if (status === 'success') {
          this.$swal('Success', 'Successfully copied referral.', 'success')
        }
      } catch (err) {
        alert('Whoops! Something went wrong')
      }
    }
  }
}
</script>

<style scoped>
.widget-rounded-circle.card-box {
        border: 1px solid #DDD;

}
.card-box{
     border: 1px solid #DDD;
}
</style>
