<template>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="row">
                    <div class="col-md-8">
                        <h4 class="page-title">Invite Team Member</h4>
                    </div>
                    <div class="col-md-4" v-if="user_profile.role !== 'viewer' && !loading && !users.length">
                        <div class="invite-float float-right mt-4" >
                        <b-button @click="invitation_modal = true" variant="primary" class="btn btn-primary">
                            <i class="mdi mdi-plus-circle mr-1"></i> Invite New Team Member
                        </b-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" v-if="loading">
        <div class="col-12">
            <b-card class="text-center">
                <b-spinner variant="primary" label="Spinning"></b-spinner>
            </b-card>
        </div>
    </div>
    <div class="row" v-else-if="users.length">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-3" v-if="user_profile.role !== 'viewer'">
                        <div class="col-md-12">
                            <label class="d-inline-flex align-items-center">
                                Show&nbsp;
                                <b-form-select v-model="per_page" size="sm" :options="pageOptions"></b-form-select>&nbsp;
                            </label>
                            <label class="d-inline-flex align-items-center">
                                Search:
                                <b-form-input v-model="filter" type="search" placeholder="Search..." class="form-control form-control-sm ml-2"></b-form-input>
                            </label>
                            <div class="float-right" v-if="user_profile.role !== 'viewer'">
                                <b-button @click="invitation_modal = true" variant="primary" class="btn btn-primary">
                                    <i class="mdi mdi-plus-circle mr-1"></i> Invite New Team Member
                                </b-button>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive mb-0">
                        <!-- <b-table show-empty empty-filtered-text="No users" empty-text="No users" :sort-by.sync="sortBy" :sort-desc.sync="sortDesc" :current-page="current_page" :per-page="per_page" :items="users" :fields="fields" bordered @filtered="on_filtered"> -->
                        <b-table hover thead-class="bg-light text-black" @filtered="on_filtered" show-empty empty-filtered-text="No team members" empty-text="No team members" :sort-by.sync="sortBy" :sort-desc.sync="sortDesc" :current-page="current_page" :per-page="per_page" :filter-included-fields="filterOn" :items="users" :fields="fields" :filter="filter" class="table" ref="table">

                            <template slot="created" slot-scope="row">
                                {{ display_timestamp(row.value) }}
                            </template>

                            <template v-slot:cell(role)="row">
                                {{ team_roles[row.value] }}
                            </template>

                            <template v-slot:cell(actions)="row">
                                <b-button variant="outline-primary" @click="open_edit_modal(row.item)">
                                    <i class="fas fa-edit"></i>
                                    Edit Role
                                </b-button>
                            </template>
                        </b-table>
                    </div>
                    <div class="row" style="padding-top:30px">
                        <div class="col-sm-12 col-md-5">
                        </div>
                        <div class="col-sm-12 col-md-7">
                            <b-pagination class="pagination pagination-rounded justify-content-end" v-model="current_page" :total-rows="total_rows" :per-page="per_page"></b-pagination>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row" v-else>
        <div class="col-xl-12">
            <!-- Card -->
            <div class="card card-inactive">
                <div class="card-body text-center">
                    <img src="/static/images/teams.svg" alt="..." class="img-fluid mt-4" style="max-width: 240px; ">
                    <h2>No team members invited yet.</h2>
                    <p class="text-muted">
                        Any new team members when invited will be listed here.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <b-modal v-model="invitation_modal" centered id="modal-responsive" title="Invite New User" title-class="font-18" body-class="p-4">
                <div class="p-4">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="field-1" class="control-label">Name</label>
                                <b-input v-model="postBody.first_name" type="text" class="form-control" placeholder="First Name" :state="validation.first_name" />
                                <b-form-invalid-feedback :state="validation.first_name">
                                    Enter first name
                                </b-form-invalid-feedback>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="field-2" class="control-label">Surname</label>
                                <b-input v-model="postBody.last_name" type="text" class="form-control" placeholder="Last Name" :state="validation.last_name" />
                                <b-form-invalid-feedback :state="validation.last_name">
                                    Enter last name
                                </b-form-invalid-feedback>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="field-3" class="control-label">Email address</label>
                                <b-input v-model="postBody.email" type="text" class="form-control" placeholder="Email" :state="validation.email" />
                                <b-form-invalid-feedback :state="validation.email">
                                    Invalid email
                                </b-form-invalid-feedback>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="field-3" class="control-label">Role</label>

                                <select class="custom-select" v-model="postBody.role">
                                    <option value="viewer">Viewer</option>
                                    <option value="editor">Editor</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <template v-slot:modal-footer>
                    <b-button variant="secondary" @click="close_invitation_modal">Cancel</b-button>
                    <LoadingButton :loading="is_adding" variant="primary" @click="invite_user">Invite</LoadingButton>
                </template>
            </b-modal>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <b-modal v-model="edit_modal" centered ref="role-edit-modal" :title="`Edit role for ${team_edit.email}`" title-class="font-18" body-class="p-4">
                <div class="p-4">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="field-3" class="control-label">Role</label>
                                <select class="custom-select" v-model="team_edit.role">
                                    <option value="viewer">Viewer</option>
                                    <option value="editor">Editor</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <template v-slot:modal-footer>
                    <b-button variant="secondary" @click="close_edit_modal">Cancel</b-button>
                    <LoadingButton :loading="is_editing" variant="primary" @click="edit_role">Edit</LoadingButton>
                </template>
            </b-modal>
        </div>
    </div>
</div>
</template>

<script>
import {
  db,
  auth
} from '@/lib/firebase.js'
import config from '@/lib/config.js'
import axios from 'axios'
import {
  TEAM_ROLES as team_roles
} from '../lib/constants.js'
import LoadingButton from '../components/LoadingButton'

export default {
  name: 'Team',
  props: ['user_profile'],
  components: {
    LoadingButton
  },
  firestore () {
    return {
      users: db.collectionGroup('team').where('parent_id', '==', this.user_profile.uid).limit(this.limit)
    }
  },
  data () {
    const fields = [{
      key: 'email',
      label: 'Email',
      sortable: true
    },
    {
      key: 'first_name',
      status: 'First Name',
      sortable: true
    },
    {
      key: 'last_name',
      label: 'Last Name',
      sortable: true
    },
    {
      key: 'role',
      label: 'Role',
      sortable: true
    },
    {
      key: 'created',
      label: 'Created',
      sortable: true
    }
    ]

    if (this.is_owner()) {
      fields.push({
        key: 'actions',
        label: 'Actions'
      })
    }

    return {
      current_page: 1,
      per_page: 10,
      // total_rows: 1,
      limit: 25,
      postBody: {
        role: 'viewer'
      },
      pageOptions: [5, 10, 50, 100],
      show_load_all: true,
      fields: fields,
      users: [],
      search_by_email: undefined,
      sortBy: 'created',
      sortDesc: true,
      team_roles,
      validation: {
        email: undefined,
        first_name: undefined,
        last_name: undefined
      },
      is_adding: false,
      is_editing: false,
      edit_modal: false,
      invitation_modal: false,
      team_edit: {},
      filter: null,
      filterOn: [],
      loading: true
    }
  },
  computed: {
    total_rows () {
      if (this.users) {
        return this.users.length
      }
      return 0
    }
  },
  mounted () {
    db.collectionGroup('team').where('parent_id', '==', this.user_profile.uid).limit(1)
      .get()
      .catch(_ => {})
      .finally(() => {
        this.loading = false
      })
  },
  methods: {
    close_invitation_modal () {
      this.postBody = {
        role: 'viewer'
      }
      this.invitation_modal = false
    },
    async invite_user (bvModalEvt) {
      bvModalEvt.preventDefault()
      if (!this.check_validation()) {
        return
      }
      this.is_adding = true
      const payload = {
        'first_name': this.postBody.first_name,
        'last_name': this.postBody.last_name,
        'email': this.postBody.email,
        'api_key': this.user_profile.api_key,
        'role': this.postBody.role
      }
      const api_path = '/api/v1/teammember'
      const url = config.firebase_config.functions + api_path
      axios
        .post(url, payload)
        .then(response => {
          const {
            data
          } = response
          if (data.success) {
            this.$bvModal.hide('modal-responsive')
            this.$swal('Success', 'User has been added to the team', 'success')

            this.postBody = {
              role: 'viewer'
            }
          } else {
            const error_message = data.error_message || 'Some error has occured. Please try again later;'
            this.$swal('Error', error_message, 'error')
          }
        })
        .catch(error => {
          this.$swal('Error', error.message, 'error')
        })
        .finally(() => {
          this.is_adding = false
        })
    },

    async get_api_key () {
      return await db.collection('users')
    },

    on_filtered: _ => {},

    check_validation () {
      let is_validated = true
      const email_reg = /\S+@\S+\.\S+/
      const first_name = (this.postBody.first_name || '').trim()
      const last_name = (this.postBody.last_name || '').trim()

      if (!email_reg.test(this.postBody.email)) {
        this.validation.email = false
        is_validated = false
      } else {
        this.validation.email = undefined
      }

      if (!first_name) {
        this.validation.first_name = false
        is_validated = false
      } else {
        this.validation.first_name = undefined
      }

      if (!last_name) {
        this.validation.last_name = false
        is_validated = false
      } else {
        this.validation.last_name = undefined
      }

      return is_validated
    },

    open_edit_modal (item) {
      this.team_edit = {
        email: item.email,
        role: item.role,
        id: item.id,
        member_uid: item.uid
      }
      this.edit_modal = true
    },

    close_edit_modal (item) {
      this.team_edit = {}
      this.edit_modal = false
    },
    is_owner () {
      return auth.currentUser.uid === this.user_profile.uid
    },

    edit_role () {
      this.is_editing = true
      const member_uid = this.team_edit.member_uid
      const team_id = this.team_edit.id

      let user_doc = db.collection('users').doc(member_uid)

      let team_doc = db.collection('users')
        .doc(auth.currentUser.uid)
        .collection('team')
        .doc(team_id)

      let user_payload = {
        role: this.team_edit.role
      }

      if (this.team_edit.role === 'viewer') {
        user_payload['api_key'] = 'N/A'
      } else if (this.team_edit.role === 'editor') {
        user_payload['api_key'] = this.user_profile.api_key
      }

      user_doc.update(user_payload)
        .then(_ => team_doc.update({
          role: this.team_edit.role
        }))
        .then(_ => {
          this.$swal('Success', `Updated role for user ${this.team_edit.email}`, 'success')
          this.team_edit = {}
        })
        .catch(err => {
          this.$swal('Error', err.message, 'error')
        })
        .finally(() => {
          this.is_editing = false
          this.edit_modal = false
        })
    }
  }
}
</script>

<style scoped>
.required {
    color: rgb(139, 0, 0);
}

@media (max-width: 768px) {
    .invite-float {
        float: left !important;
        margin-top: 0 !important;
        margin-bottom: 10px;
    }
}

</style>
