<template>
<div>
    <b-row align-h="center">
        <b-col md="8">
            <div class="kt-wizard-v3__content" data-ktwizard-type="step-content" data-ktwizard-state="current">
                <h3>Add Return Address</h3>
                <hr>

                <div class="kt-heading kt-heading--md">Personal Details</div>
                <hr>
                <div class="kt-separator kt-separator--height-xs"></div>
                <div class="kt-form__section kt-form__section--first">
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="form-group">
                                <label>First Name:</label>
                                <b-input placeholder='First Name' v-model="first_name" autocomplete="given-name" @input="update()" />
                                <!-- <span class="form-text text-muted">Please enter your full name</span> -->
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="form-group">
                                <label>Last Name:</label>
                                <b-input placeholder='Last Name' v-model="last_name" autocomplete="family-name" @input="update()" />
                                <!-- <span class="form-text text-muted">Enter your contact number</span> -->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="form-group">
                                <label>Job title:</label>
                                <b-input placeholder='Job Title' v-model="job_title" autocomplete="organization-title" @input="update()" />
                                <!-- <span class="form-text text-muted">Please enter your job title</span> -->
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="form-group">
                                <label>Organisation:</label>
                                <b-input placeholder='Organisation' v-model="organisation" autocomplete="organization" @input="update()" />
                                <!-- <span class="form-text text-muted">Enter your company name</span> -->
                            </div>
                        </div>
                    </div>
                    <div class="kt-heading kt-heading--md">Mailing Address</div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Address Line 1:</label>
                                <NoSSR>
                                    <vue-google-autocomplete data-hj-whitelist ref="autocomplete" id="map" v-model="address_line_1" classname="form-control" placeholder="Address line 1" v-on:placechanged="getAddressData" v-on:change="update()" @input="update()">
                                    </vue-google-autocomplete>
                                </NoSSR>
                            </div>
                            <div class="form-group">
                                <label>City:</label>
                                <b-input placeholder='City' v-model="city" autocomplete="city" @input="update()" />
                            </div>
                            <div class="form-group">
                                <label>State:</label>
                                <StateSelect v-if='country == "US"' v-model="region" @input="update()" />
                                <b-input v-else placeholder='State / Region' v-model="region" autocomplete="state" @input="update()" />
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Address Line 2:</label>
                                <b-input placeholder='Address line 2' v-model="address_line_2" autocomplete="address-line2" @input="update()" />
                            </div>
                            <div class="form-group">
                                <label>Zip Code:</label>
                                <b-input placeholder='Zipcode / Postcode' v-model="postcode" autocomplete="postal-code" @input="update()" />
                            </div>
                            <div class="form-group">
                                <label>Country:</label>
                                <CountrySelect v-model="country" @input="update()" />
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </b-col>
    </b-row>
</div>
</template>

<script>
// import validator from 'validator'
import CountrySelect from '@/components/CountrySelect'
import StateSelect from '@/components/StateSelect'

import countries_list from '../lib/countries'
// import states_list from '../lib/states'
import NoSSR from 'vue-no-ssr'
// import VuetifyGoogleAutocomplete from 'vuetify-google-autocomplete'

export default {
  name: 'AddressInputSettings',
  props: ['value'],
  components: {
    CountrySelect,
    StateSelect,
    NoSSR,
    VueGoogleAutocomplete: () => import('vue-google-autocomplete')
  },
  dataTest: function () {
    return {
      address: ''
    }
  },
  data () {
    if (!this.value) {
      return {
        first_name: '',
        last_name: '',
        job_title: '',
        organisation: '',
        address_line_1: '',
        address_line_2: '',
        city: '',
        postcode: '',
        country: '',
        region: ''
      }
    }
    return {
      first_name: this.value.first_name || '',
      last_name: this.value.last_name || '',
      job_title: this.value.job_title || '',
      organisation: this.value.organisation || '',
      address_line_1: this.value.address_line_1 || '',
      address_line_2: this.value.address_line_2 || '',
      city: this.value.city || '',
      postcode: this.value.postcode || '',
      country: this.value.country || 'GB',
      region: this.value.region
    }
  },
  watch: {
    value: function (val) {
      if (!val) {
        return
      }
      this.first_name = val.first_name
      this.last_name = val.last_name
      this.job_title = val.job_title
      this.organisation = val.organisation
      this.address_line_1 = val.address_line_1 // this.$refs.autocomplete.$el.value
      this.address_line_2 = val.address_line_2
      this.city = val.city
      this.postcode = val.postcode
      this.country = val.country
      this.region = val.region
    }
  },
  methods: {
    update () {
      this.$emit('input', {
        first_name: this.first_name || '',
        last_name: this.last_name || '',
        job_title: this.job_title || '',
        organisation: this.organisation || '',
        address_line_1: this.$refs.autocomplete.$el.value || '',
        address_line_2: this.address_line_2 || '',
        city: this.city || '',
        postcode: this.postcode || '',
        country: this.country || 'GB',
        region: this.region || ''
      })
    },
    /**
         * Find the value for a given key
         * @param {Object} object Object
         * @param {Object} value Value
         */
    get_key_by_value (object, value) {
      return Object.keys(object).find(key => object[key] === value)
    },
    /**
         * When the location found
         * @param {Object} addressData Data of the found location
         * @param {Object} placeResultData PlaceResult object
         * @param {String} id Input container ID
         */
    getAddressData: function (addressData, placeResultData, id) {
      console.log(addressData)
      console.log(placeResultData)
      let address_line_1_name
      let address_line_2_name
      let city_name
      this.address_line_1 = null
      this.address_line_2 = null
      this.city = null
      this.postcode = null
      this.country = null
      this.region = null

      // city_name = addressData.locality

      // Set data
      if (placeResultData.address_components.length === 8) {
        address_line_1_name = addressData.street_number + ' ' + addressData.route
        if (placeResultData.address_components[2].long_name !== addressData.route) {
          address_line_2_name = placeResultData.address_components[2].long_name
          console.log(placeResultData.address_components[1].long_name, addressData.route, '2')
        }
        city_name = placeResultData.address_components[3].long_name
      } else {
        address_line_1_name = addressData.street_number + ' ' + addressData.route
        if (placeResultData.address_components[1].long_name !== addressData.route) {
          address_line_2_name = placeResultData.address_components[1].long_name
          console.log(placeResultData.address_components[1].long_name, addressData.route, '!')
        }
        city_name = placeResultData.address_components[2].long_name
      }
      // Validate and set values
      if (addressData.postal_code) {
        this.postcode = addressData.postal_code
      }
      if (city_name) {
        this.city = city_name
      }
      if (address_line_2_name) {
        this.address_line_2 = address_line_2_name
      }
      if (addressData.country) {
        this.country = this.get_key_by_value(countries_list, addressData.country)
      }
      if (this.country !== 'GB' && addressData.administrative_area_level_1) {
        this.region = addressData.administrative_area_level_1
      }
      if (addressData.street_number && addressData.route) {
        this.$refs.autocomplete.$el.value = address_line_1_name
      } else if (addressData.route) {
        this.$refs.autocomplete.$el.value = addressData.route
      } else {
        this.$refs.autocomplete.$el.value = ''
      }
    },
    validate: function () {
      if (!this.first_name || this.first_name.length < 1) {
        this.$swal('Error', 'Please enter a first name', 'error')
        return false
      }

      if (!this.last_name || this.last_name.length < 1) {
        this.$swal('Error', 'Please enter a last name', 'error')
        return false
      }

      if (!this.country || this.country.length < 2) {
        this.$swal('Error', 'Please enter a valid country', 'error')
        return false
      }

      if (this.country === 'US' && this.region.length < 2) {
        this.$swal('Error', 'Please enter a state', 'error')
        return false
      }

      if (!this.postcode) { // !validator.isPostalCode(this.postcode, this.country)
        this.$swal('Error', 'Please enter a valid zip / postal code', 'error')
        return false
      }

      if (!this.address_line_1 || this.address_line_1.length < 1) {
        this.$swal('Error', 'Please enter address line 1', 'error')
        return false
      }

      return true
    }
  }
}
</script>

<style scoped>
.kt-wizard-v3 .kt-wizard-v3__wrapper .kt-form .kt-wizard-v3__content .kt-wizard-v3__form {
    margin-top: 3rem;
}

.form-group {
    margin-bottom: 2rem;
}

.form-group .form-text {
    font-size: .9rem;
}

.text-muted {
    color: #b7bbce !important;
}

.form-text {
    display: block;
    margin-top: .25rem;
}

.checkboxText {
    font-size: .9rem;
}

.price {
    font-size: .8rem;
    color: #b0b4b3 !important;
    padding-left: 16px;

}

.kt-heading.kt-heading--md {
    font-size: 1.1rem;
}
.kt-heading.kt-heading--lg {
    font-size: 1.3rem;
}
</style>
