<template>
    <form-wizard class="p-4" :color="primary_color" error-color="#f1556c" title='' subtitle='' @on-complete="handle_submit" @on-loading="set_loading">
        <tab-content title="Personal Details" icon="ti-user" :before-change="validate_personal_fields">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="field-3" class="control-label">Title</label>
                        <b-input v-model="audience_input.title" type="text" class="form-control" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="field-3" class="control-label">First Name <span class="text-danger">*</span></label>
                        <b-input v-model="audience_input.first_name" type="text" class="form-control" placeholder="Required" :state="validation.first_name" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="field-3" class="control-label">Last Name <span class="text-danger">*</span></label>
                        <b-input v-model="audience_input.last_name" type="text" class="form-control" placeholder="Required" :state="validation.last_name" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="field-3" class="control-label">Department </label>
                        <input v-model="audience_input.department" type="text" class="form-control" placeholder="Optional" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="field-3" class="control-label">Company</label>
                        <input v-model="audience_input.company" type="text" class="form-control" placeholder="Optional" />
                    </div>
                </div>
            </div>

        </tab-content>

        <tab-content title="Address" icon="ti-location-pin" :before-change="validate_address_fields" >
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="field-3" class="control-label">Address Line 1 <span class="text-danger">*</span></label>
                        <b-input v-model="audience_input.address_line_1" type="text" class="form-control" placeholder="Required" :state="validation.address_line_1" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="field-3" class="control-label">Address Line 2 </span></label>
                        <input v-model="audience_input.address_line_2" type="text" class="form-control" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="field-3" class="control-label">Address Line 3 </label>
                        <input v-model="audience_input.address_line_3" type="text" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="field-3" class="control-label">City <span class="text-danger">*</span></label>
                        <b-input v-model="audience_input.city" type="text" class="form-control" placeholder="Required" :state="validation.city" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="field-3" class="control-label">Postal Code <span class="text-danger">*</span></label>
                        <b-input v-model="audience_input.postal_code" type="text" class="form-control" placeholder="Required" :state="validation.postal_code" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="field-3" class="control-label">State/Region <span class="text-danger" v-if="audience_input.country === 'US'">*</span></label>
                        <b-form-select v-model="audience_input.state" :options="states_options" :state="validation.state" v-if="audience_input.country === 'US'"></b-form-select>
                        <b-input v-model="audience_input.state" type="text" class="form-control" :state="validation.state" v-else />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="field-3" class="control-label">Country <span class="text-danger">*</span></label>
                        <b-form-select v-model="audience_input.country" :options="country_options" :state="validation.country"></b-form-select>
                    </div>
                </div>
            </div>
        </tab-content>
        <LoadingButton :loading="wizard_loading" variant="primary" slot="next">Next</LoadingButton>
        <LoadingButton variant="primary" slot="prev">Back</LoadingButton>
        <LoadingButton :loading="is_loading" variant="primary" slot="finish">Finish</LoadingButton>
    </form-wizard>
</template>

<script>
import countriesList from '../lib/countries'
import text_utils from '../lib/text_utils'
import uniq from 'lodash/uniq'
import LoadingButton from '../components/LoadingButton'

export default {
  name: 'AudienceDetailInput',
  props: ['audience_input', 'handle_submit', 'is_loading', 'states_list'],
  components: {
    LoadingButton
  },
  data () {
    let country_options = [{ value: null, text: 'Select country' }]
    for (let key in countriesList) {
      country_options.push({ value: key, text: countriesList[key] })
    }

    let states_options = [{ value: null, text: 'Select state' }]
    for (let key in this.states_list) {
      states_options.push({ text: this.states_list[key], value: key })
    }

    return {
      states_options,
      countriesList,
      country_options,
      validation: {
        title: undefined,
        first_name: undefined,
        last_nam: undefined,
        address_line_1: undefined,
        city: undefined,
        postal_code: undefined,
        state: undefined,
        country: undefined

      },
      primary_color: '#4450a5',
      wizard_loading: false
    }
  },
  methods: {
    set_loading: function (value) {
      this.wizard_loading = value
    },
    validate_personal_fields () {
      return this.validate_fields('personal')
    },

    validate_address_fields () {
      return this.validate_fields('address')
    },

    validate_fields (type) {
      let required_fields = []
      let bad_fields = []
      this.validation = {}
      let errors = {}
      if (type === 'personal') {
        required_fields = ['first_name', 'last_name' ]
        bad_fields = ['title', 'first_name', 'last_name', 'department', 'company']
      } else if (type === 'address') {
        required_fields = ['address_line_1', 'city', 'postal_code', 'country']
        bad_fields = ['address_line_1', 'address_line_2', 'address_line_3', 'city', 'postal_code', 'state']
        if (this.audience_input['country'] === 'US' && !(this.audience_input['state'] in this.states_list)) {
          errors['state'] = false
        }
      }

      for (let field of required_fields) {
        if (!this.audience_input[field]) {
          errors[field] = false
        }
      }

      let check_bad_character = true
      let bad_chars = []
      let character_error = []
      for (let field of bad_fields) {
        let out = text_utils.check_bad_text(this.audience_input[field])
        let bad_char = out[2]
        bad_chars.push(...bad_char)
        if (!out[0]) {
          character_error.push(field)
        }
      }

      if (character_error.length) {
        this.$bvToast.toast(`Character currently not supported. Please remove characters: ${uniq(bad_chars).join('')}`, { title: `Unsupported character`,
          autoHideDelay: 5000,
          variant: 'danger',
          appendToast: true
          // static: true
        })
        return false
      }

      if (Object.keys(errors).length) {
        this.validation = errors
        return false
      }

      return true
    }
  }
}
</script>

<style scoped>
    .required,
    .scrb-validation-error {
      color: #f1556c
    }
</style>
