<template>
  <div v-if="user_profile.admin">
    <b-button v-b-toggle.audit-table variant="outline-primary" block @click="load_audit">Show Audit</b-button>
    <b-collapse id="audit-table" class="mt-2">
      <b-card>
        <b-table-simple bordered small class="text-left">
          <b-thead>
            <b-tr>
              <b-th>Timestamp</b-th>
              <b-th>User</b-th>
              <b-th>Change Type</b-th>
              <b-th>Property</b-th>
              <b-th>From</b-th>
              <b-th>To</b-th>
            </b-tr>
          </b-thead>
          <b-tbody>
            <b-tr v-for="record in records" v-bind:key="record.id">
              <b-td>{{display_timestamp(record.timestamp, undefined, true)}}</b-td>
              <b-td><a v-if="record.uid" :href="`/user/${record.uid}`">{{record.email ? record.email : record.uid}}</a></b-td>
              <b-td>{{record.kind}}</b-td>
              <b-td>{{record.path}}</b-td>
              <b-td>{{record.lhs}}</b-td>
              <b-td>{{record.rhs}}</b-td>
            </b-tr>
          </b-tbody>
        </b-table-simple>
      </b-card>
    </b-collapse>
  </div>
</template>

<script>

export default {
  name: 'AuditTable',
  props: {
    audit_ref: {
      required: true
    },
    user_profile: {
      required: true
    }
  },
  data: function () {
    return {
      audit: []
    }
  },
  methods: {
    load_audit: function () {
      if (!this.audit.length) {
        this.$bind('audit', this.audit_ref.orderBy('timestamp', 'desc'))
      }
    }
  },
  computed: {
    records: function () {
      let r = []
      let kinds = {
        'E': 'Edit',
        'A': 'Array',
        'N': 'New',
        'D': 'Delete'
      }
      for (let record of this.audit) {
        for (let diff of record.diff) {
          let _record = {
            id: record.id + diff + Math.random(),
            timestamp: record.timestamp,
            uid: record.uid,
            email: record.email,
            kind: kinds[diff.kind],
            path: diff.path[0],
            lhs: diff.lhs,
            rhs: diff.rhs
          }

          if (diff.kind === 'A') {
            _record['kind'] = `${kinds[diff.kind]}: ${kinds[diff.item.kind]}`
            _record['path'] = `${diff.path[0]}[${diff.index}]`
            _record['lhs'] = diff.item.lhs || ''
            _record['rhs'] = diff.item.rhs || ''
          }

          r.push(_record)
        }
      }

      return r
    }
  }
}
</script>

<style scoped>

</style>
