<template>
  <div>
      <div class="scrb-st-avatar">
          <img v-if="avatar_image" :src="avatar_image" width="120" height="120" />
          <avatar v-else :username="`${first_name} ${last_name}`" :rounded="false" :size="120" backgroundColor="rgb(68,80,165)" color="white"></avatar>
          <i class="fas fa-edit" @click="trigger_avatar_file_click"></i>
      </div>

      <b-form-file
        @change="set_image"
        placeholder=""
        class="scrb-avatar-file"
        accept="image/*"
        ref="avatar_file"
        id="avatar-file"
      />

    <div class="content pt-4" v-if="is_cropping">
      <section class="cropper-area">
        <div class="img-cropper">
          <vue-cropper
            ref="cropper"
            :aspect-ratio="16 / 16"
            :src="avatar"
            preview=".preview"
            :zoomable="false"
          />
        </div>
        <div class="avatar-actions">
          <button @click.prevent="cropImage" class="btn btn-primary">
            Change Avatar
            <b-spinner v-if="is_uploading" small label="Small Spinner"></b-spinner>
          </button>

          <button @click.prevent="reset" class="btn btn-primary">
            Reset
          </button>

          <button @click.prevent="cancel" class="btn btn-primary">
            Cancel
          </button>
        </div>
      </section>
    </div>
  </div>
</template>

<script>
import VueCropper from 'vue-cropperjs'
import 'cropperjs/dist/cropper.css'
import Avatar from 'vue-avatar'
import { db, storage } from '@/lib/firebase.js'

export default {
  components: {
    VueCropper,
    Avatar
  },

  props: ['avatar', 'first_name', 'profile_id', 'last_name'],
  data () {
    return {
      value: null,
      filename: '',
      is_cropping: false,
      is_uploading: false,
      crop_img: '',
      avatar_image: this.avatar
    }
  },
  methods: {
    cropImage () {
      this.is_uploading = true
      this.crop_img = this.$refs.cropper.getCroppedCanvas().toDataURL()
      let arr = this.crop_img.split(','),
        mime = arr[0].match(/:(.*?);/)[1],
        bstr = atob(arr[1]),
        n = bstr.length,
        u8arr = new Uint8Array(n)

      while (n--) {
        u8arr[n] = bstr.charCodeAt(n)
      }

      let file = new File([u8arr], this.filename, {type: mime})
      this.change_avatar(file)
    },
    reset () {
      this.$refs.cropper.reset()
    },
    cancel () {
      this.is_cropping = false
      document.getElementById('avatar-file').value = ''
    },
    set_image (e) {
      this.is_cropping = true
      const file = e.target.files[0]

      if (file.type.indexOf('image/') === -1) {
        this.$swal('Error', 'Please select an image file', 'error')
        return
      }

      this.filename = file.name

      if (typeof FileReader === 'function') {
        const reader = new FileReader()

        reader.onload = (event) => {
          this.$refs.cropper.replace(event.target.result)
        }

        reader.readAsDataURL(file)
      }
    },
    trigger_avatar_file_click () {
      this.$refs.avatar_file.$el.childNodes[0].click()
    },

    async change_avatar (file) {
      try {
        let snapshot = await storage.ref().child(`users/${this.profile_id}/avatar.jpg`).put(file)
        let avatar = await snapshot.ref.getDownloadURL()
        await db.collection('users').doc(this.profile_id).update({ avatar })
        // this.avatar = avatar;
        this.avatar_image = avatar
        this.is_cropping = false
        this.$swal('Success', 'Avatar successfully updated', 'success')
      } catch (e) {

      } finally {
        this.is_uploading = false
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>

input[type="file"] {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 5px 0;
}

.header h2 {
  margin: 0;
}

.header a {
  text-decoration: none;
  color: black;
}

.content {
  display: flex;
  justify-content: space-between;
}

.cropper-area {
  width: 614px;
}

.avatar-actions {
  margin-top: 1rem;
}

.avatar-actions a {
  display: inline-block;
  padding: 5px 15px;
  background: rgb(68,80,165);
  color: white;
  text-decoration: none;
  border-radius: 3px;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

textarea {
  width: 100%;
  height: 100px;
}

.preview-area {
  width: 307px;
}

.preview-area p {
  font-size: 1.25rem;
  margin: 0;
  margin-bottom: 1rem;
}

.preview-area p:last-of-type {
  margin-top: 1rem;
}

.preview {
  width: 100%;
  height: calc(372px * (9 / 16));
  overflow: hidden;
}

.crop-placeholder {
  width: 100%;
  height: 200px;
  background: #ccc;
}

.cropped-image img {
  max-width: 100%;
}

.scrb-st-avatar {
  position: relative;
  display: inline-block;
}

.scrb-st-avatar i {
  position: absolute;
  right: -10px;
  top: -10px;
  padding: 10px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 13px 0 rgba(0,0,0,.2);
  cursor: pointer;
  color: rgb(68,80,165);
}

.scrb-st-avatar i:hover {
  background-color: rgb(68,80,165);
  color: #fff;
}

.scrb-avatar-file {
  display: none;
}
</style>
