<template>
<b-form>
    <div v-if="campaign.product === PRODUCT.full_service || campaign.product === PRODUCT.full_service_note_only || campaign.product === PRODUCT.full_service_envelope_only">
        <h3>Schedule</h3>
        <p> When do you want us to ship? </p>
        <b-form-group>
            <b-button style="ml-3" v-b-toggle.collapse-2 variant="outline-success" @click="handleTodayClick">SEND IMMEDIATELY</b-button>

            <b-button v-if="campaign.data_source === DATA_SOURCE.upload || campaign.data_source === DATA_SOURCE.audience" v-b-toggle.collapse-1 variant="outline-success">SCHEDULE CAMPAIGN</b-button>
            <b-collapse visible v-if="campaign.data_source === DATA_SOURCE.upload || campaign.data_source === DATA_SOURCE.audience" id="collapse-1" class="mt-2">
                <b-card class="b-card mt-4">
                    <b-form-group>
                        <div>
                            <b-form-group v-if="!campaign.is_sample">
                                <span>We aim for your letters to arrive on : <strong>{{campaign.delivery.due_date}}</strong></span>
                            </b-form-group>
                            <b-card class="mb-4" v-model="show_select_due_date">
                                <FullCalendar @dateClick="handleDateClick" :plugins="calendarPlugins" :height="height" :selectable="true" :unselectAuto="true" :header="{ right: 'prev,next'}" :validRange="validRange" />
                            </b-card>
                        </div>
                    </b-form-group>
                </b-card>
            </b-collapse>
        </b-form-group>
    </div>
</b-form>
</template>

<script>
import moment from 'moment'
import text_utils from '../lib/text_utils'
import FullCalendar from '@fullcalendar/vue'
import interactionPlugin from '@fullcalendar/interaction' // for selectable
import dayGridPlugin from '@fullcalendar/daygrid'

import {
  SENDER,
  DATA_SOURCE,
  STAMP_TYPES,
  MIN_DELIVERY_DATE,
  ENVELOPE_SIZES,
  PRODUCT
} from '@/../functions/shared/constants.js'

export default {
  name: 'CalenderEdit',
  props: {
    campaign: {
      type: Object,
      required: true
    },
    user_profile: {
      type: Object,
      required: true
    }
  },
  components: {
    FullCalendar
  },
  methods: {
    handleTodayClick (arg) {
      var someDate = new Date()

      someDate.setDate(someDate.getDate() + this.MIN_DELIVERY_DATE)
      var dateFormated = someDate.toISOString().substr(0, 10)

      this.campaign.delivery.due_date = moment(String(dateFormated)).format('DD/MM/YYYY')
      this.$swal('Success', 'We aim for your letters to arrive on : ' + this.campaign.delivery.due_date, 'success')

      return (this.campaign.delivery.due_date)
    },

    handleDateClick (arg) {
      var someDate = new Date()
      var dateFormated = someDate.setDate(someDate.getDate() + this.MIN_DELIVERY_DATE)
      if ((arg.date) > new Date(dateFormated)) {
        // this.campaign.delivery.due_date = arg.date
        this.campaign.delivery.due_date = moment(String(arg.date)).format('DD/MM/YYYY')
        return (this.campaign.delivery.due_date)
      }
    },

    validate: async function () {
      if (this.campaign.delivery.sender === SENDER.ship_for_me) {
        if (this.campaign.data_source === DATA_SOURCE.api_crm) {
          return true
        }
      }

      if (this.campaign.product === PRODUCT.full_service) {
        var valid_address = this.$refs.address.validate()
        if (!valid_address) {
          return false
        }
      }

      // Check for bad characters
      for (let key in this.campaign.delivery.user_address) {
        let value = this.campaign.delivery.user_address[key]
        let out = text_utils.check_bad_text(value)
        if (!out[0]) {
          this.$bvToast.toast(`Please remove the following characters from the address: ${out[2]}`, {
            title: `${key.replace(/_/g, ' ')} contains unsupported characters`,
            autoHideDelay: 5000,
            variant: 'danger',
            appendToast: true
          })
          return false
        }
      }
      return true
    }
  },
  computed: {
    stamp_options: function () {
      if (this.campaign.delivery.sender === SENDER.ship_for_me) {
        if (this.campaign.envelope.stamp === STAMP_TYPES.no_stamp) { // Add stamp if they removed one
          // eslint-disable-next-line
                    this.campaign.envelope.stamp = STAMP_TYPES.first_class // can cause side effect
        }
        return [STAMP_TYPES.first_class, STAMP_TYPES.second_class]
      }
      return Object.values(STAMP_TYPES)
    }
  },
  data () {
    let envelope_paper_types = [{
      value: ENVELOPE_SIZES.C5,
      text: 'C5'
    },
    {
      value: ENVELOPE_SIZES.DL,
      text: 'DL'
    }
    ]

    if (this.campaign.product === PRODUCT.self_service) {
      envelope_paper_types.push({
        value: ENVELOPE_SIZES.Sticker,
        text: 'Sticker'
      })
    }

    return {
      show_select_due_date: false,
      show_options: false,
      show_edit_return_address: !this.campaign.delivery.user_address.address_line_1,
      date_is_valid: true,
      envelope_paper_types: envelope_paper_types,
      date_config: {
        inline: true,
        viewMode: 'days',
        format: 'DD/MM/YYYY',
        minDate: moment().add(MIN_DELIVERY_DATE, 'days')
      },
      calendarPlugins: [dayGridPlugin, interactionPlugin],
      height: 450,
      selectable: 'true',
      unselectAuto: 'true',
      skip_validation: false,
      date: '',
      validRange: {
        start: moment().add(MIN_DELIVERY_DATE + 1, 'd').format('YYYY-MM-DD')
      }

    }
  }
}
</script>

<style>
.fc-today {
    background-color: inherit !important;
}
.fc-button{
  background-color: rgb(68,80,165);
  border: none;
  text-transform: capitalize; */
  box-shadow: none;
  border-radius: 3px;
  margin: 0 3px;
  padding: 6px 12px;
  height: auto
}
.fc-button:hover{
  background-color: rgb(68,80,165);
}
.fc-button:active{
  background-color: rgb(68,80,165);
}

.fc-button:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgb(68,80,165);
  box-shadow: 0 0 0 0.2rem rgb(68,80,165);
}
.fc-state-disabled {
  background-color:rgb(68,80,165) ;
  color: white;
  text-shadow: none;
}
.fc-highlight{
    background-color: rgb(68,80,165);
}
</style>
