<script>
import { Pie } from 'vue-chartjs'
import constants from '@/../functions/shared/constants.js'

export default {
  extends: Pie,
  props: ['campaign'],
  watch: {
    campaign: {
      deep: true,
      handler: function () {
        this.build_chart()
      }
    }
  },
  methods: {
    build_chart: function () {
      let colours = ['#6658dd', '#fa5c7c', '#4fc6e1', '#ebeff2', '#98FB98', 'peachpuff']
      let labels = []
      let dataset = {data: [], backgroundColor: []
      }

      let i = 0
      for (let s in constants.RECIPIENT_STATUS) {
        let status = constants.RECIPIENT_STATUS[s]
        labels.push(status)
        dataset.data.push(this.campaign[`recipients_count_${status}`])
        dataset.backgroundColor.push(colours[i % colours.length])
        i++
      }

      this.renderChart({
        labels: labels,
        datasets: [dataset]
      }
        ,
      {animation: {duration: 0},
        maintainAspectRatio: true,
        responsive: true,
        legend: {
          display: true
        }})
    }
  },
  mounted () {
    this.build_chart()
  }
}
</script>

<style>

</style>
