<template>
  <div>
    <b-row class="mt-4">
      <b-col md="9">

          <div ref="flip_button" class="paper-button-container">
            <div class="message-flip-position">
              <!-- <b-button @click="stationary.flipped = !stationary.flipped" variant="link" size="lg" class="paper-button">iii</b-button> -->
              <div class="moods side-controls__button-wrapper">
                <button  @click="stationary.flipped = !stationary.flipped" data-at-selector="flip-button" class="btn btn--react -disc -large -standalone-white" data-spec="button" data-isdisabled="false">
                  <svg class="svg-icon" viewBox="0 0 48 48" data-di-res-id="892fcc62-6c6f9def" data-di-rand="1588271515711"><path d="M39.141 15.418A38.888 38.888 0 0 0 24 12.758a38.671 38.671 0 0 0-15.067 2.656c-4.491 1.84-6.767 4.2-6.767 7.009 0 2.892 2.276 5.292 6.755 7.128A38.7 38.7 0 0 0 24 32.212h.711l-4.259 4.235 1.41 1.418 6.682-6.644-6.663-6.8-1.429 1.4 4.3 4.4H24a36.739 36.739 0 0 1-14.31-2.516c-3.666-1.5-5.524-3.28-5.524-5.282 0-1.92 1.858-3.656 5.536-5.164a36.749 36.749 0 0 1 14.3-2.5 36.927 36.927 0 0 1 14.367 2.505c3.628 1.5 5.467 3.238 5.467 5.16s-1.8 3.663-5.351 5.164l-.921.389.78 1.842.921-.389c4.36-1.844 6.571-4.2 6.571-7.006s-2.257-5.168-6.695-7.006z"></path></svg>
                </button><div class="side-controls__button-label">Flip over</div>
              </div>
            </div>
          </div>

        <div class="paper-container" ref="paper-container">

          <div v-html="font_style"></div>

          <vue-flip ref="flipper" :bindWithMe="stationary.flipped" :height="flipper_height" :width="flipper_width" class="paper-flipper">
            <div slot="front" class="paper-flipper" ref="flipper-front">
              <div>
                  <div class='paper-preview' style="position: absolute; box-sizing: border-box">
                    <link id='font-loader' rel="stylesheet" />

                    <div id='vertical-line'></div>
                    <div id='horizontal-line'></div>

                    <div id="paper-header" class='paper-header draggable hover-highlight' :class="HEADER_TYPE.text === stationary.header_type" style="margin: auto; width: 50mm; height: 25mm; color: #333; font-family: 'Poiret One', cursive; top: 6mm !important; position: relative; overflow: hidden;">
                      <p id="header-text" style="display: none; margin-top: 0; width: 100%;" :style="{ 'font-family': stationary.header_font, 'text-align': stationary.header_image_align, 'font-size': `${stationary.header_text_size}mm` }">{{stationary.header_text}}</p>
                      <img id="header-image" class='paper-logo' style="display: none; margin: 0 auto; width: 100%;" />

                      <div class="header-outline">
                        <p
                          contenteditable
                          ref="header_text"
                          @blur="stationary.header_text = $refs.header_text.innerText"
                          id="header-contenteditable"
                          :style="{ 'white-space': 'pre-wrap', 'margin': '0px', 'width': '100%', 'font-family': stationary.header_font, 'text-align': stationary.header_image_align, 'font-size': `${stationary.header_text_size}mm`, }"
                        ></p>

                        <div class="header-logo" @click="open_popup">
                          <img v-if="header_image" style="display: block; margin: 0 auto; width: 100%;" :src="header_image" />
                          <p class="add-text" v-else>Click to add an image or logo</p>
                        </div>
                      </div>

                    </div>

                    <div id="background-image-container" class='paper-element' style='position: absolute'>
                      <img id="background-image" width="100%" />
                    </div>

                    <div id="handwriting-loading-container" class='paper-text text-center' style="box-sizing: border-box; display: none; padding-left: 6mm; padding-right: 6mm; width: 100%; height: 20mm; z-index: 1; position: absolute; background-size: 56.57px 56.57px;">
                      <span class='fas fa-spinner fa-pulse mr-2 text_loading_spinner'></span>
                    </div>

                    <!-- v-if="handwriting_style && handwriting_colour" -->

                    <!-- TODO {{campaign.is_sample ? campaign.text : ''}} -->

                    <!-- v-html="wrap_characters()"  -->

                    <div id="handwriting-image-container" class='paper-text' style="box-sizing: border-box; padding-left: 6mm; padding-right: 6mm; width: 100%; height: 20mm; overflow: hidden; z-index: 0; position: absolute; background-size: 56.57px 56.57px; top: 0px;">
                      <p :contenteditable="!is_edit_page && !campaign.is_sample" id="message-text" @keydown="get_selection" @mousedown="get_selection" ref="text" @blur="text_change" class="text" :style="{'display': 'inline-block', 'font-family': `HandwritingFontFamily${handwriting_obj.handwriting_style ? handwriting_obj.handwriting_style.label : ''}`, 'font-size': (this.font_size_mm * ((handwriting_obj.handwriting_style ? handwriting_obj.handwriting_style.size_multiplier : 1) || 1)) + 'mm', 'line-height': (handwriting_obj.handwriting_style ? (handwriting_obj.handwriting_style.line_height || 1.2) : 1.2) + 'em', color: handwriting_obj.handwriting_colour ? handwriting_obj.handwriting_colour.label_colour : 'black', 'filter': fancy_colours ? `url('#text-colour')` : '', 'margin': '0'}"></p>
                    </div>

                    <div class='paper-footer' style="width: 100%; color: #333; font-family: 'Carlson'; position: absolute !important; bottom: 4mm;">
                      <p id="footer-text" :style="{ 'display': 'none', 'white-space': 'pre-line', 'margin': '0px', 'padding-right': '6mm', 'padding-left': '6mm', 'font-family': stationary.footer_font, 'text-align': stationary.footer_text_align, 'font-size': `${stationary.footer_text_size}mm`, }">{{stationary.footer_text}}</p>
                      <p
                        contenteditable
                        ref="footer_text"
                        @blur="footer_text_change"
                        id="footer-contenteditable"
                        :style="{ 'white-space': 'pre-wrap', 'margin': '0 6mm', 'font-family': stationary.footer_font, 'text-align': stationary.footer_text_align, 'font-size': `${stationary.footer_text_size}mm`, }"
                      ></p>
                    </div>
                  </div>

              </div>
            </div>

            <div slot="back" class="paper-flipper" ref="flipper-back">
              <div>
                <MessageBack :stationary="stationary" :open_popup="open_popup" :campaign="campaign" />
              </div>
            </div>
          </vue-flip>
        </div>
      </b-col>

      <b-col md="3">
        <h3>Customise Stationery</h3>

        <div v-if="stationary.flipped == false">

          <b-row v-if="campaign && !campaign.is_sample && !is_edit_page">

            <b-col>
              <b-button-group size="sm" variant="outline-primary" class="mb-2">
                <b-button @click="insert_template_var('title')" variant="outline-primary">Title</b-button>
                <b-button @click="insert_template_var('first name')" variant="outline-primary">First Name</b-button>
                <b-button @click="insert_template_var('last name')" variant="outline-primary">Last Name</b-button>
                <b-button @click="insert_template_var('company')" variant="outline-primary">Company</b-button>
              </b-button-group>

              <b-button-group size="sm" variant="outline-primary" class="mb-2">
                <b-button @click="insert_template_var('city')" variant="outline-primary">City</b-button>
                <b-button @click="insert_template_var('custom 1')" variant="outline-primary">Custom 1</b-button>
                <b-button @click="insert_template_var('custom 2')" variant="outline-primary">Custom 2</b-button>
                <b-button @click="insert_template_var('custom 3')" variant="outline-primary">Custom 3</b-button>
                <b-button @click="insert_template_var('custom 4')" variant="outline-primary">Custom 4</b-button>
              </b-button-group>

                <!-- <b-form-group id="insert_template_variable" v-b-tooltip.hover title="Insert mail merge variables into your text message to add a personal touch. These mail merge variables will be dynamically substituted with your actual value of information in your outgoing message.">
                    <b-dropdown text="Insert Variables" variant="outline-primary" size="sm" :disabled="campaign.is_sample">
                        <b-dropdown-item-button @click="insert_template_var('title')">Title</b-dropdown-item-button>
                        <b-dropdown-item-button @click="insert_template_var('first name')">First Name</b-dropdown-item-button>
                        <b-dropdown-item-button @click="insert_template_var('last name')">Last Name</b-dropdown-item-button>
                        <b-dropdown-item-button @click="insert_template_var('department')">Department</b-dropdown-item-button>
                        <b-dropdown-item-button @click="insert_template_var('company')">Company</b-dropdown-item-button>
                        <b-dropdown-item-button @click="insert_template_var('city')">City</b-dropdown-item-button>
                        <b-dropdown-item-button @click="insert_template_var('custom 1')">Custom 1</b-dropdown-item-button>
                        <b-dropdown-item-button @click="insert_template_var('custom 2')">Custom 2</b-dropdown-item-button>
                    </b-dropdown>
                </b-form-group> -->
            </b-col>
          </b-row>

          <div v-if="user_profile.stationery_enabled && paper_types.length > 1">
              <b-form-group label="Paper & Material" label-for="paper" description="Select one of our luxury, high-quality white textured stationery types.">
                  <b-form-select id="paper" v-model="stationary.paper" :options="paper_types" />
              </b-form-group>
          </div>

          <b-form-group label="Choose header type" label-for="header-type" description="You can choose either text or upload your own logo">
            <b-form-select v-model="stationary.header_type" id="header-type" :options="Object.values(HEADER_TYPE)" ></b-form-select>
          </b-form-group>

          <b-form-group label="Choose stationary type" label-for="stationary-type">
            <b-form-select v-model="stationary.front_type" id="stationary-type" :options="[{ value: 'editor', text: 'Editor' }, { value: 'custom', text: 'Custom Image' }]" ></b-form-select>
          </b-form-group>

          <b-form-group v-if="stationary.front_type === 'custom'">
              <p><small>Need a little more flexibility? Upload a custom image and use it as the background image for your card. </small></p>
              <p><small> Either browse the background image that matches the paper size from your local device or download the template below. You may also drag and drop to reposition the textbox inside the template.</small></p>
              <b-form-file @change="on_front_image_change" v-model="front_image" placeholder="Upload Card front image..." accept="image/*" />
              <small class="text-muted">Download a note front <a :href="`/static/images/note_image_template${stationary.paper.orientation === 'portrait' ? '_portrait' : '_landscape'}.png`" download="note_image_template.png">image template</a></small>
              <b-button v-if="stationary.front_image" variant="warning" @click="clear_front_image" class='mb-1 mt-2'>Clear image</b-button>
          </b-form-group>

          <b-form-group label="Handwriting Size" label-for="handwriting-size" v-if="!is_edit_page">
            <b-form-radio-group id="btnradios1" buttons size="sm" variant="secondary" v-model="stationary.handwriting_size" :options="Object.values(HANDWRITING_SIZE)" button-variant="outline-primary" class="mb-2" />
          </b-form-group>

          <div class="text-center mb-1" id="handwriting_style" v-if="handwriting_obj.handwriting_style">
            <div v-for="_handwriting_style in handwriting_obj.handwriting_styles" v-bind:key="_handwriting_style.label" :class="handwriting_obj.handwriting_style == _handwriting_style ? 'handwriting_style selected_handwriting_style' : 'handwriting_style'">
              <span @click="handwriting_obj.handwriting_style = _handwriting_style; stationary.handwriting_style = _handwriting_style.label" :style="{'font-family': `HandwritingFontFamily${_handwriting_style.label}`, 'font-size': (8 * (_handwriting_style.size_multiplier || 1)) + 'mm'}">{{_handwriting_style.label}}</span>
            </div>
          </div>

          <div id="handwriting_colour" v-if="handwriting_obj.handwriting_colour && !is_edit_page">
            <div v-for="_handwriting_colour in handwriting_obj.handwriting_colours" v-bind:key="_handwriting_colour.label" @click="handwriting_obj.handwriting_colour = _handwriting_colour; stationary.handwriting_colour = _handwriting_colour.label" :style="{'background-color': _handwriting_colour.label_colour}" :class="handwriting_obj.handwriting_colour == _handwriting_colour ? 'handwriting_colour selected_handwriting_colour' : 'handwriting_colour'">
            </div>
          </div>

        </div>

        <div v-else>
          <div v-if="(campaign && !campaign.is_sample) || (!campaign)">
            <small class="text-muted">Download a note front <a :href="`/static/images/note_image_template${stationary.paper.orientation === 'portrait' ? '_portrait' : '_landscape'}.png`" download="note_image_template.png">image template</a></small>
            <b-button v-if="stationary.back_image" variant="warning" @click="clear_back_image" class='my-3'>Clear image</b-button>

            <h4>Edge to Edge</h4>
            <p>For edge to edge printing we require designs to include bleed. Anything outside of the 4mm / 0.16" bleed lines may be excluded.</p>
            <b-form-checkbox v-model="stationary.show_bleed" class="mb-3">Show bleed crop markers</b-form-checkbox>
          </div>
          <div v-else>
            <b-alert show variant="info">
              Card back image cannot be added on a sample campaign
            </b-alert>
          </div>
        </div>
      </b-col>

      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" v-if="handwriting_obj.handwriting_colour">
        <defs>
          <filter id="text-colour" color-interpolation-filters="sRGB">
              <feTurbulence type="fractalNoise" :baseFrequency="handwriting_obj.handwriting_colour.colour_freq" numOctaves="1" seed="1" result="turbulence1" stitchTiles="stitch"/>
              <feColorMatrix type="matrix" :values="`${handwriting_obj.handwriting_colour.colour_r} 0 0 0 0
            0 ${handwriting_obj.handwriting_colour.colour_g} 0 0 0
            0 0 ${handwriting_obj.handwriting_colour.colour_b} 0 0
            0 0 0 1 1`" in="turbulence1" result="colormatrix"/>
              <feComposite in="SourceGraphic" in2="composite" operator="in" result="composite1"/>
              <feComposite in="colormatrix" in2="composite1" operator="in" result="composite"/>
            </filter>
        </defs>
      </svg>
    </b-row>

    <b-popover target="header-contenteditable" placement="right" triggers="focus" id="popover-pop" style="max-width: 600px; ">
      <div style="font-family: Arial,sans-serif !important;">
        <font-picker style="width: 90px;" class="font-picker" :api-key="apiKey" :active-font="stationary.header_font" :options="{ name: '6' }" @change="nextFont => this.stationary.header_font = nextFont.family"></font-picker>
        <b-input v-model="stationary.header_text_size" type="number" min="1" max="24" style="width: 53px; display: inline; padding: 6px;"></b-input>
        <span class="alignment" @click="stationary.header_image_align= 'left'"><i class="fas fa-align-left"></i></span>
        <span class="alignment" @click="stationary.header_image_align = 'center'"><i class="fas fa-align-center"></i></span>
        <span class="alignment" @click="stationary.header_image_align = 'right'"><i class="fas fa-align-right"></i></span>
      </div>

    </b-popover>

    <!-- Footer popover -->
    <b-popover target="footer-contenteditable" placement="top" triggers="focus" :popover-style="{background: 'yellow', 'max-width': '500px' }">
      <div>
        <font-picker style="width: 90px" class="font-picker" :api-key="apiKey" :active-font="stationary.footer_font" :options="{ name: '6' }" @change="nextFont => this.stationary.footer_font = nextFont.family"></font-picker>
        <b-input v-model="stationary.footer_text_size" @change="change_footer_size" type="number" min="1" max="24" style="width: 53px; display: inline; padding: 6px"></b-input>
        <span class="alignment" @click="stationary.footer_text_align = 'left'"><i class="fas fa-align-left"></i></span>
        <span class="alignment" @click="stationary.footer_text_align = 'center'"><i class="fas fa-align-center"></i></span>
        <span class="alignment" @click="stationary.footer_text_align = 'right'"><i class="fas fa-align-right"></i></span>
      </div>
    </b-popover>

    <b-modal v-model="upload_modal" id="modal-center" hide-footer size="xl" :title="stationary.flipped ? 'Add Image' : 'Add logo'" title-class="font-18" body-class="p-4" style="min-height: 600px">
      <div style="min-height: 500px">
      <div>
        <div class="image-library-section">
          <h4>Add a new file</h4>
          <b-button variant="primary" @click="trigger_upload_logo">{{ stationary.flipped ? 'Upload Back Image': 'Upload logo'}}</b-button>
        </div>
      </div>
      <div v-if="added_images.length" style="background: #f3f4f6; min-height: 374px;">
        <div class="image-recently-added">
          <b-row>
            <b-col cols="9">
              <h4>Recently added</h4>
            </b-col>
            <b-col cols="3">
              <b-button variant="primary" class="float-right" @click="added_images = []">
                <i class="fas fa-trash"></i>
                Remove all
              </b-button>
            </b-col>
          </b-row>
        <b-row>
          <div class="col-3" v-for="img in added_images">
            <div class="selectable-image">
              <img :src="img.image" @click="on_image_select(img.image, img.file)"/>
              <div class="py-3 px-2">
                <b-button class="float-right" variant="outline-primary" @click="remove_image(img.uid)"><i class="fas fa-trash"></i></b-button>
                {{img.name}}
              </div>
            </div>
          </div>
          </b-row>
        </div>
      </div>
      </div>
    </b-modal>

    <b-form-file v-if="stationary.flipped" @change="on_back_image_change" v-model="stationary_image.back_image" ref="back_image_input" placeholder="Upload Card back image..." accept="image/*" style="display: none" />
    <b-form-file v-else style="display: none;" ref="header_input" @change="on_header_logo_change" v-model="stationary_image.header_logo" placeholder="Upload Logo..." accept="image/*" />

  </div>
</template>

<script>
import uid from 'uid'
import Vue from 'vue'
import find from 'lodash/find'
import api from '../services/api'
import axios from 'axios'
import MessageBack from './MessageBack'
import LoadingButton from '../components/LoadingButton'
import CampaignTitle from '../components/stationery/CampaignTitle'
import VueFlip from 'vue-flip'
import * as interact from 'interactjs'
import {HEADER_TYPE, HANDWRITING_SIZE, HANDWRITING_STYLE, FONTS, PAPER_SIZES} from '../../functions/shared/constants'
import { storage, serverTimestamp } from '@/lib/firebase.js'
import text_utils from '../lib/text_utils'

import utils from '@/lib/text_utils.js'

import Bowser from 'bowser'

import FontPicker from 'font-picker-vue'

const API_URL = 'https://us-central1-hc-handwriting-engine-dev.cloudfunctions.net/' // TODO

export default {
  name: 'MessageMoo',
  props: [
    'campaign',
    'stationary',
    'user_profile',
    'stationary_image',
    'is_edit_page',
    'font_style',
    'font_size_mm',
    'handwriting_obj'
  ],
  components: {
    MessageBack,
    'vue-flip': VueFlip,
    'tags-input': () => import('@voerro/vue-tagsinput'),
    'font-picker': FontPicker,
    LoadingButton,
    CampaignTitle
  },
  data () {
    let header_image = null
    if (this.$route.params.id && this.$route.params.id !== 'new') {
      header_image = this.stationary.header_image
    }

    return {
      param_id: this.$route.params.id,
      apiKey: 'AIzaSyBxeCFkAl2YthLseSGhqCro7rJZUMfQDkk',
      is_dragging: false,
      flipper_height: '148mm',
      flipper_width: '210mm',
      selected_font: {},
      header_image,
      added_images: [],
      upload_modal: false,
      front_image: null,
      header_text_overflow: false,
      fancy_colours: false,
      seed: this.getRandomInt(10000),
      last_selection: null
    }
  },
  mounted () {
    const browser = Bowser.getParser(window.navigator.userAgent)

    if (['Chrome', 'Firefox'].indexOf(browser.getBrowserName()) > -1 && ['desktop'].indexOf(browser.getPlatformType()) > -1) {
      this.fancy_colours = true
    }

    this.$refs['flipper-front'].classList.add(`flipper-${this._uid}`)
    this.$refs['flipper-back'].classList.add(`flipper-${this._uid}`)
    this.init_draggable()

    // this.set_paper(this.stationary.paper);
    this.load_stationary(this.stationary)
    this.text_change(true)
    let _that = this
    document.getElementById('header-contenteditable').addEventListener('keydown', function (e) {
      if (e.keyCode === 13) {
        e.preventDefault()
      }
    })

    document.getElementById('footer-contenteditable').addEventListener('keydown', function (e) {
      if (_that.campaign.is_sample || e.keyCode === 13) {
        e.preventDefault()
      }
    })
  },
  methods: {
    getRandomInt (max) {
      return Math.floor(Math.random() * Math.floor(max))
    },
    change_footer_size () {
      this.update_handwriting_container()
    },
    footer_click () {
      document.getElementById('footer-text').focus()
      setTimeout(() => { document.getElementById('footer-text').focus() }, 500)
    },
    footer_text_change (e) {
      if (this.campaign.is_sample) {
        e.preventDefault()
        return
      }
      this.stationary.footer_text = this.$refs.footer_text.innerText
    },
    async text_change (keep_text) {
      if (keep_text !== true) {
        this.campaign.text = this.$refs.text.innerText

        let keys = [{tag: 'title', handlebars: 'title'}, {tag: 'first_name', handlebars: 'first name'}, {tag: 'last_name', handlebars: 'last name'}, {tag: 'department', handlebars: 'department'}, {tag: 'company', handlebars: 'company'}, {tag: 'city', handlebars: 'city'}, {tag: 'custom_1', handlebars: 'custom 1'}, {tag: 'custom_2', handlebars: 'custom 2'}, {tag: 'custom_3', handlebars: 'custom 3'}, {tag: 'custom_4', handlebars: 'custom 4'}, {tag: 'custom_5', handlebars: 'custom 5'}, {tag: 'custom_6', handlebars: 'custom 6'}, {tag: 'custom_7', handlebars: 'custom 7'}, {tag: 'custom_8', handlebars: 'custom 8'}, {tag: 'custom_9', handlebars: 'custom 9'}, {tag: 'custom_10', handlebars: 'custom 10'}]
        for (let item of keys) {
          this.campaign.text = this.$refs.text.innerText.replace(new RegExp(item.handlebars.toUpperCase(), 'g'), `{{{${item.handlebars}}}}`)
        }
      }

      let that = this
      await setTimeout(() => {
        that.$refs.text.innerHTML = that.wrap_characters()
      }, 50)
    },
    wrap_characters () {
      this.last_selection = null

      if (!this.$refs.text) {
        return ''
      }

      var text = this.campaign.text || ''

      let config
      let variants = 1
      let handwriting_style = this.handwriting_obj.handwriting_style
      if (handwriting_style) {
        variants = handwriting_style.variants
        config = {
          top_max: this.font_size_mm * handwriting_style.amplitude * (handwriting_style.size_multiplier || 1),
          sleep_max: handwriting_style.cap_length,
          direction: handwriting_style.speed,
          do_sleep: handwriting_style.cap_prob
        }
      }

      let out = utils.wrap_characters(this.seed, text, variants, undefined, config)[0]

      return out// .replace(/\n/g, '<br>')
    },

    init_draggable () {
      interact(`.flipper-${this._uid} .draggable-handwriting`)
        .resizable({
          edges: { left: false, right: false, bottom: true, top: true },
          restrict: {
            restriction: 'parent',
            endOnly: true,
            elementRect: { top: 0, left: 0, bottom: 1, right: 1 }
          },
          modifiers: [
            interact.modifiers.restrictEdges({outer: 'parent'}),
            interact.modifiers.restrictSize({min: { width: 100, height: 50 }})
          ],
          inertia: false
        })
        .draggable({
          inertia: true,
          onmove: this.drag_move_listener,
          startAxis: 'y',
          lockAxis: 'y',
          modifiers: [
            interact.modifiers.restrictRect({
              restriction: 'parent',
              endOnly: true
            })
          ]
        })
        .on('resizemove', this.resize_move_listener)
        .on('dragend', this.drag_drop_listner)
        .on('resizeend', this.drag_drop_listner)

      interact(`.flipper-${this._uid} .draggable`)
        .resizable({
          edges: { left: true, right: true, bottom: true, top: true },
          restrict: {
            restriction: 'parent',
            endOnly: true,
            elementRect: { top: 0, left: 0, bottom: 1, right: 1 }
          },
          modifiers: [
            interact.modifiers.restrictEdges({outer: 'parent'}),
            interact.modifiers.restrictSize({min: { width: 100, height: 50 }})
          ],
          inertia: false
        })
        .draggable({
          inertia: true,
          onmove: this.drag_move_listener,
          modifiers: [
            interact.modifiers.restrictRect({
              restriction: 'parent',
              endOnly: true
            })
          ]
        })
        .on('dragend', this.drag_drop_listner)
        .on('resizemove', this.resize_move_listener)
        .on('resizeend', this.drag_drop_listner)
    },

    drag_drop_listner () {
      for (let ele of document.querySelectorAll(`.flipper-${this._uid} #vertical-line`)) {
        ele.style.visibility = 'hidden'
      }
      for (let ele of document.querySelectorAll(`.flipper-${this._uid} #horizontal-line`)) {
        ele.style.visibility = 'hidden'
      }
      setTimeout(() => {
        this.is_dragging = false
      }, 500)
    },

    drag_move_listener (event) {
      this.is_dragging = true
      let target = event.target
      let x = (parseFloat(target.getAttribute('data-x')) || 0) + event.dx
      let y = (parseFloat(target.getAttribute('data-y')) || 0) + event.dy

      let transform = 'translate(' + x + 'px, ' + y + 'px)'
      // this.stationary.header_text_transformation = { x, y };
      target.style.webkitTransform = target.style.transform = transform

      target.setAttribute('data-x', x)
      target.setAttribute('data-y', y)
      this.check_centre_guides(target)
      this.update_handwriting_container()
    },

    resize_move_listener (event) {
      this.is_dragging = true
      let target = event.target

      let x = (parseFloat(target.getAttribute('data-x')) || 0)
      let y = (parseFloat(target.getAttribute('data-y')) || 0)

      // update the element's style
      const width = event.rect.width + 'px'
      const height = event.rect.height + 'px'
      target.style.width = width
      target.style.height = height

      // translate when resizing from top or left edges
      x += event.deltaRect.left
      y += event.deltaRect.top

      target.style.webkitTransform = target.style.transform = 'translate(' + x + 'px,' + y + 'px)'

      target.setAttribute('data-x', x)
      target.setAttribute('data-y', y)

      this.check_centre_guides(target)
      this.update_handwriting_container()
    },

    update_handwriting_container: function () {
      setTimeout(function () {
        if (this.stationary.front_type === 'editor') {
          let paper_header_ele = document.querySelector(`.flipper-${this._uid} .paper-header`)
          let paper_footer_ele = document.querySelector(`.flipper-${this._uid} .paper-footer`)

          if (paper_header_ele && paper_footer_ele) {
            let margin = 0
            let bottom_of_logo = paper_header_ele.offsetTop + (paper_header_ele.getBoundingClientRect().height || 0) + margin
            let new_height = (paper_footer_ele.offsetTop || 0) - bottom_of_logo
            document.querySelector(`.flipper-${this._uid} #handwriting-image-container`).style.height = `${new_height}px`
            document.querySelector(`.flipper-${this._uid} #handwriting-image-container`).style.top = `${bottom_of_logo}px`
          }
        }
      }.bind(this), 400)
    },

    set_paper: function (paper) {
      let flipper_ele = this.$refs['flipper']
      let paper_container_ele = this.$refs['paper-container']

      let paper_inner_container_ele = document.querySelectorAll(`.flipper-${this._uid} .paper-preview`)

      paper_container_ele.style.height = (parseInt(paper.height) + 10) + 'mm'

      this.flipper_height = paper.height + 'mm'
      this.flipper_width = paper.width + 'mm'

      for (let element of paper_inner_container_ele) {
        element.style.width = paper.width + 'mm'
        element.style.height = (parseInt(paper.height)) + 'mm'
      }

      let flip_button = this.$refs['flip_button']
      flip_button.style.width = paper.width + 'mm'

      let background_image_container_ele = document.querySelector(`.flipper-${this._uid} #background-image-container`)
      background_image_container_ele.style.width = paper.width + 'mm'
      background_image_container_ele.style.height = paper.height + 'mm'

      this.update_handwriting_container()
    },

    on_header_logo_change (e) {
      let name = ''
      let file = null
      if (e.target && e.target.files && e.target.files.length) {
        name = e.target.files[0].name
        file = e.target.files[0]
        this.stationary.header_image = URL.createObjectURL(e.target.files[0])
      }

      if (e.dataTransfer && e.dataTransfer.files && e.dataTransfer.files.length) {
        name = e.dataTransfer.files[0].name
        file = e.dataTransfer.files[0]
        this.stationary.header_image = URL.createObjectURL(e.dataTransfer.files[0])
      }

      this.header_image = this.stationary.header_image
      this.added_images.push({ uid: uid(), name, image: this.stationary.header_image, file })
      this.upload_modal = false
    },

    on_image_select (image, file) {
      if (this.stationary.flipped) {
        var imageObj = new Image()
        imageObj.src = image
        let that = this
        imageObj.onload = function () {
          if (this.height < 1000 || this.width < 1000) {
            that.$swal('Low quality image', 'Please upload an image that is at least 1000 x 1000 pixels', 'info')
            return false
          }
          // alert('Uploaded image has valid Height and Width.')
          return true
        }
        this.stationary.back_image = image
        this.stationary_image.back_image = file
      } else {
        this.stationary.header_image = image
        this.stationary_image.header_logo = file
        this.header_image = image
      }
      this.upload_modal = false
    },

    open_popup (e) {
      e.preventDefault()
      if (!this.is_dragging) {
        this.upload_modal = true
      }
    },

    trigger_upload_logo () {
      if (this.stationary.flipped) {
        this.$refs.back_image_input.$el.childNodes[0].click()
      } else {
        this.$refs.header_input.$el.childNodes[0].click()
      }
    },

    remove_image (uid) {
      let index = this.added_images.findIndex(img => uid === img.uid)
      if (index > -1) {
        this.added_images.splice(index, 1)
      }
    },

    on_back_image_change (e) {
      let name = ''
      let file = null
      if (e.target && e.target.files && e.target.files.length) {
        // Check if the image is 1000 x 1000 and display warning
        name = e.target.files[0].name
        file = e.target.files[0]
        this.stationary.back_image = URL.createObjectURL(e.target.files[0])
        var image = new Image()
        image.src = this.stationary.back_image
        let that = this
        image.onload = function () {
          if (this.height < 1000 || this.width < 1000) {
            that.$swal('Low quality image', 'Please upload an image that is at least 1000 x 1000 pixels', 'info')
            return false
          }
          // alert('Uploaded image has valid Height and Width.')
          return true
        }
      }
      if (e.dataTransfer && e.dataTransfer.files && e.dataTransfer.files.length) {
        name = e.dataTransfer.files[0].name
        file = e.dataTransfer.files[0]
        this.stationary.back_image = URL.createObjectURL(e.dataTransfer.files[0])
      }

      this.added_images.push({ uid: uid(), name, image: this.stationary.back_image, file })
      this.upload_modal = false
    },

    clear_back_image () {
      this.stationary.back_image = null
      this.stationary_image.back_image = null
    },

    on_front_image_change (e) {
      if (e.target && e.target.files && e.target.files.length) {
        // Check if the image is 1000 x 1000 and display warning
        this.stationary.front_image = URL.createObjectURL(e.target.files[0])
        var image = new Image()
        image.src = this.stationary.front_image
        let that = this
        image.onload = function () {
          if (!((this.width / this.height > 1.41 && this.width / this.height < 1.42) || (this.height / this.width > 1.41 && this.height / this.width < 1.42))) {
            // 148 x 210 mm
            that.$swal('Wrong aspect ratio', 'Please upload an image that matches the size of the paper. Download the image template (below the input).', 'warning')
            that.stationary.front_image = null
            that.front_image = null
            return false
          }

          if (this.height < 1000 || this.width < 1000) {
            that.$swal('Low quality image', 'Please upload an image that is at least 1000 x 1000 pixels', 'info')
            return false
          }
          // alert('Uploaded image has valid Height and Width.')
          return true
        }
      }

      if (e.dataTransfer && e.dataTransfer.files && e.dataTransfer.files.length) {
        this.stationary.front_image = URL.createObjectURL(e.dataTransfer.files[0])
      }
    },

    clear_front_image () {
      this.stationary.front_image = null
      this.front_image = null
    },

    save: async function (stationary_doc, header_logo, back_image) {
      if (!this.is_edit_page && !this.check_bad_text()) {
        return false
      }
      this.stationary.created = serverTimestamp()
      this.stationary.last_updated = serverTimestamp()
      this.stationary.background = null // Setting to null ensures function reruns and thumbnail is regenerated
      // this.stationary.thumbnail = null  //TODO? was always generating null when editing stationery
      this.stationary.show_bleed = false
      this.stationary.flipped = false

      let front_ele = this.$refs['flipper-front'].cloneNode(true)
      let back_ele = this.$refs['flipper-back'].cloneNode(true)

      let font_loader_ele = front_ele.querySelector(`#font-loader`)
      let font_url = `https://fonts.googleapis.com/css?family=${this.stationary.footer_font.replace(' ', '+')}|${this.stationary.header_font.replace(' ', '+')}&display=swap`
      if (font_loader_ele.href !== font_url) {
        font_loader_ele.href = font_url
      }

      let header_outline_ele = front_ele.querySelector('.header-outline')
      let footer_text_section = front_ele.querySelector('#footer-contenteditable')
      let message_text_ele = front_ele.querySelector('#message-text')
      let back_label_container_ele = back_ele.querySelector('.label-container')

      let footer_text_ele = front_ele.querySelector(`#footer-text`)
      let header_text_ele = front_ele.querySelector(`#header-text`)
      let header_image_ele = front_ele.querySelector(`#header-image`)
      let handwriting_loading_container_ele = front_ele.querySelector(`#handwriting-loading-container`)
      let handwriting_image_container_ele = front_ele.querySelector(`#handwriting-image-container`)
      let background_image_container_ele = front_ele.querySelector(`#background-image-container`)
      let background_image_ele = front_ele.querySelector(`#background-image`)
      let back_image_container_ele = front_ele.querySelector(`#back-image-container`)
      let back_image_ele = front_ele.querySelector(`#back-image`)
      let bleed_marks_ele = front_ele.querySelector(`#bleed-marks`)
      let paper_header_ele = front_ele.querySelector(`.paper-header`)
      let paper_footer_ele = front_ele.querySelector(`.paper-footer`)

      header_outline_ele && header_outline_ele.remove()
      footer_text_section && footer_text_section.remove()
      back_label_container_ele && back_label_container_ele.remove()

      if (message_text_ele) {
        message_text_ele.remove()
      }

      front_ele.querySelector('#footer-text').style.display = 'block'

      paper_header_ele.classList.remove(`draggable-handwriting`)
      paper_header_ele.classList.remove(`hover-highlight`)

      if (this.stationary.header_type === HEADER_TYPE.text) {
        let header_text_ele = front_ele.querySelector(`#header-text`)
        header_text_ele.style.display = 'block'
      }

      if (this.stationary.header_type === HEADER_TYPE.logo) {
        header_image_ele.style.display = 'block'
        if (header_logo) {
          let snapshot = await storage.ref().child(`stationary/${stationary_doc.id}/logo.jpg`).put(header_logo)
          this.stationary.header_image = await snapshot.ref.getDownloadURL()
          header_image_ele.src = this.stationary.header_image
        } else {
          header_image_ele.src = this.stationary.header_image
        }
      }

      if (back_image) {
        let snapshot = await storage.ref().child(`stationary/${stationary_doc.id}/back_image.png`).put(back_image)
        this.stationary.back_image = await snapshot.ref.getDownloadURL()
        let back_image_ele = back_ele.querySelector('#back-image')
        back_image_ele.src = this.stationary.back_image

        let bleed_marks_ele = back_ele.querySelector('#bleed-marks')
        if (bleed_marks_ele) {
          bleed_marks_ele.style.display = 'none'
        }
      }

      if (this.stationary.front_type === 'editor' || this.stationary.front_type === 'html') {
        paper_header_ele.style.display = 'block'
        header_text_ele.style.display = 'block'
        header_image_ele.style.display = 'block'
        paper_footer_ele.style.display = 'block'
        background_image_container_ele.style.display = 'none'

        handwriting_image_container_ele.classList.remove(`draggable-handwriting`)
        handwriting_image_container_ele.classList.remove(`hover-highlight`)

        if (this.stationary.header_type === 'Text') {
          header_image_ele.style.display = 'none'
          header_text_ele.style.display = 'block'
        } else {
          header_image_ele.style.display = 'block'
          header_text_ele.style.display = 'none'
        }
      } else if (this.stationary.front_type === 'custom') {
        paper_header_ele.style.display = 'none'
        paper_footer_ele.style.display = 'none'
        footer_text_ele.style.display = 'none'
        header_text_ele.style.display = 'none'
        header_image_ele.style.display = 'none'
        background_image_container_ele.style.display = 'block'

        handwriting_image_container_ele.classList.add(`draggable-handwriting`)
        handwriting_image_container_ele.classList.add(`hover-highlight`)
      }

      this.stationary.html = front_ele.innerHTML
      this.stationary.back_html = back_ele.innerHTML

      await stationary_doc.set(this.stationary, {merge: true})

      return true
    },
    check_centre_guides (target) {
      let vertical_line_ele = document.querySelectorAll(`.flipper-${this._uid} #vertical-line`)
      let horizontal_line_ele = document.querySelectorAll(`.flipper-${this._uid} #horizontal-line`)

      let centre_x = vertical_line_ele[0].getBoundingClientRect().x + vertical_line_ele[0].getBoundingClientRect().width
      let centre_y = horizontal_line_ele[0].getBoundingClientRect().y
      let centre_margin = 3

      let cx = target.getBoundingClientRect().x + target.getBoundingClientRect().width / 2
      let cy = target.getBoundingClientRect().y + target.getBoundingClientRect().height / 2

      if (parseInt(cx) >= centre_x - centre_margin && parseInt(cx) <= centre_x + centre_margin) {
        for (let ele of vertical_line_ele) { ele.style.visibility = 'visible' }
      } else {
        for (let ele of vertical_line_ele) { ele.style.visibility = 'hidden' }
      }

      if (parseInt(cy) >= centre_y - centre_margin && parseInt(cy) <= centre_y + centre_margin) {
        for (let ele of horizontal_line_ele) { ele.style.visibility = 'visible' }
      } else {
        for (let ele of horizontal_line_ele) { ele.style.visibility = 'hidden' }
      }
    },

    load_stationary (stationary) {
      this.set_paper(stationary.paper)
      this.$refs.header_text.innerText = this.stationary.header_text
      this.$refs.footer_text.innerText = this.stationary.footer_text

      let header_outline_text = document.querySelector(`.flipper-${this._uid} .header-outline #header-contenteditable`)
      let header_outline_image = document.querySelector(`.flipper-${this._uid} .paper-preview .header-logo`)
      let background_image_container_ele = document.querySelector(`.flipper-${this._uid} #background-image-container`)

      if (this.stationary.header_type === HEADER_TYPE.logo) {
        header_outline_image.style.display = 'block'
        header_outline_text.style.display = 'none'
      } else {
        header_outline_image.style.display = 'none'
        header_outline_text.style.display = 'block'
      }

      let paper_header_ele = document.querySelector(`.flipper-${this._uid} .paper-header`)
      let paper_footer_ele = document.querySelector(`.flipper-${this._uid} .paper-footer`)
      let handwriting_image_container_ele = document.querySelector(`.flipper-${this._uid} #handwriting-image-container`)
      let message_text_ele = document.querySelector(`.flipper-${this._uid} #message-text`)

      // Calculating the transformation and height of the existing stationary
      const temp_ele = document.createElement('div')
      temp_ele.innerHTML = stationary.html
      let temp_text_ele = temp_ele.querySelector('.text')
      if (this.is_edit_page && temp_text_ele) {
        message_text_ele.innerHTML = temp_ele.querySelector('.text').innerHTML
      }
      const temp_paper_header_ele = temp_ele.querySelector('#paper-header')
      const doc_paper_header_ele = document.querySelector('#paper-header')
      if (temp_paper_header_ele && doc_paper_header_ele) {
        doc_paper_header_ele.style.transform = temp_paper_header_ele.style.transform
        doc_paper_header_ele.style.height = temp_paper_header_ele.style.height
      }

      if (this.stationary.front_type === 'editor' || this.stationary.front_type === 'html') {
        paper_header_ele.style.display = 'block'
        paper_footer_ele.style.display = 'block'
        background_image_container_ele.style.display = 'none'
        handwriting_image_container_ele.classList.remove(`draggable-handwriting`)
        handwriting_image_container_ele.classList.remove(`hover-highlight`)
      } else if (this.stationary.front_type === 'custom') {
        paper_header_ele.style.display = 'none'
        paper_footer_ele.style.display = 'none'
        background_image_container_ele.style.display = 'block'
        handwriting_image_container_ele.classList.add(`draggable-handwriting`)
        handwriting_image_container_ele.classList.add(`hover-highlight`)
      }

      this.update_handwriting_container()
    },

    get_selection () {
      if (document.getSelection && document.getSelection().getRangeAt) {
        var range = document.getSelection().getRangeAt(0)
        var selectedObj = document.getSelection()

        // TODO sometimes grabs the Click to add an image or logo element
        // if (selectedObj.anchorNode.parentNode === this.$refs.text.ele || selectedObj.anchorNode.parentNode.parentNode === this.$refs.text.ele) {
        //   console.log('PER')
        // }
        if (selectedObj.anchorNode.nodeValue === 'Click to add an image or logo') {
          this.last_selection = null
        } else {
          this.last_selection = selectedObj.anchorNode
        }
      } else {
        this.last_selection = null
      }
    },
    insert_template_var (variable) {
      if (!this.campaign.text) {
        this.campaign.text = ''
      }

      const target = this.$refs.text
      target.focus()

      if (this.last_selection) {
        this.last_selection.nodeValue = this.last_selection.nodeValue + `{{{${variable}}}}`
      } else {
        let selection = document.getSelection()
        let cursor_pos = selection.anchorOffset
        let old_content = selection.anchorNode.nodeValue || ''

        let new_content = old_content.substring(0, cursor_pos) + `{{{${variable}}}}` + old_content.substring(cursor_pos)
        selection.anchorNode.nodeValue = new_content
      }

      // setTimeout(() => target.focus(), 0)

      this.text_change()
    },
    check_bad_text: function () {
      if (this.campaign.text) {
        var out = text_utils.check_bad_text(this.campaign.text, this, undefined, true)
        this.campaign.text = out[1]
        return out[0]
      }
    }

  },
  watch: {
    stationary: {
      deep: true,
      handler (val) {
        if (val) {
          if (this.$route.params.id && this.$route.params.id !== 'new') {
            this.header_image = val.header_image
          }
          this.load_stationary(val)
        }
      }
    }
  },
  computed: {
    paper_types: function () {
      if (!this.user_profile || !this.user_profile.stationery_enabled) {
        return []
      } else {
        let user_stationery_enabled = this.user_profile.stationery_enabled
        if (this.user_profile.country === 'GB') {
          user_stationery_enabled.unshift('A5_landscape')
          user_stationery_enabled.unshift('A5')
          user_stationery_enabled.unshift('A4')
          user_stationery_enabled.unshift('A6_landscape')
          user_stationery_enabled.unshift('A6')
        } else {
          user_stationery_enabled.unshift('half_letter_landscape')
          user_stationery_enabled.unshift('half_letter')
          user_stationery_enabled.unshift('letter')
          user_stationery_enabled.unshift('postcard_landscape')
          user_stationery_enabled.unshift('postcard')
        }

        user_stationery_enabled = [...new Set(user_stationery_enabled)]
        let paper_types = []
        for (let stationery_type of user_stationery_enabled) {
          let size = PAPER_SIZES[stationery_type]
          let text = stationery_type.replace(/_/g, ' ')
          text = text.charAt(0).toUpperCase() + text.slice(1)
          paper_types.push({
            value: size,
            text: text
          })
        }

        return paper_types
      }
    }
  }
}
</script>

<style scoped>

.text {
  width: 100%;
  height: 100%;
  opacity: 0.8;
  perspective: 100px;
  font-feature-settings: "rand";
  white-space: pre-wrap;
  font-variant-ligatures: none;
  font-size: 7mm;
  text-align: left;
  padding: 6mm;
}

.inputs {
  border-bottom: 1px solid #d6d6d6;
  width: 100%;
  height: 30px;
}

.paper-container {
  overflow-x: auto;
  padding-bottom: 12px;
  padding-top: 12px;
  margin: auto;
  height: 100%;
  width: 100%;
}
.paper-preview {
  position: relative;
  box-sizing: border-box;
  width: 210mm;
  height: 148mm;
  margin: auto;
  background: #FFF;
  border: 1px solid #DDD;
  box-shadow: 0px 0px 16px #BBB;
}

.inputs:hover {
  border-bottom-color: #bbb;
  cursor: pointer;
}

/* back html */

>>> .paper-preview.back-preview{
  position: absolute;
    width: 210mm;
    height: 148mm;
}

.paper-preview {
  background: #FFF;
  border: 1px solid #DDD;
  box-shadow: 0px 0px 16px #BBB;
}

.paper-button-container {
  position: relative;
  justify-content: center;
  top: 2mm;
  z-index: 1;
  margin: auto;
}

.paper-button {
  position: absolute;
  right: 13.5mm;
  top: 4mm;
}
.paper-button1 {
  right: 14mm;
  top: 3mm;
  position: absolute;
}

.paper-container {
  overflow-x: auto;
  padding-bottom: 12px;
  padding-top: 12px;
  margin: auto;
  height: 100%;
  width: 100%;
}
.message-flip-position{
  float: right;
}
.paper-flipper {
  margin: auto;
}

.back_image {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.back-preview {
  overflow: hidden;
}

.hover-highlight {
  overflow: hidden;
}

/**
.hover-highlight:hover {
  border: 1px solid red;
}
**/

.draggable {
  position: relative;
}

#vertical-line {
  width: 50%;
  height: 100%;
  border-right: 1px solid green;
  position: absolute;
  z-index: 2;
  pointer-events : none;
  visibility: hidden;
}

#horizontal-line {
  width: 100%;
  height: 50%;
  border-top: 1px solid green;
  position: absolute;
  bottom: 0px;
  z-index: 2;
  pointer-events: none;
  visibility: hidden;
}

.paper-flipper {
  width: 100%;
  height: 100%;
}

.side-controls .side-controls__button-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 60px;
  text-align: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.side-controls, .side-controls .side-controls__button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.moods {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
.moods .btn.-large.-disc {
  width: 48px;
  height: 48px;
  padding: 0;
}
.moods .btn.-large {
  height: 48px;
  padding: 0 30px;
  font-size: 18px;
  line-height: 46px;
}
.moods .btn.-disc {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 0;
  border-radius: 100px;

}
.moods .btn.-large {
  height: 48px;
  padding: 0 30px;
  font-size: 18px;
  line-height: 46px;
  right:40px;
}
.moods .btn.-large .svg-icon {
  width: 24px;
  height: 24px;
}
.moods .btn {
  background-color: rgb(207, 212, 245);
  color: #fff;
}

.header-container {
  border: 1px dotted #bbb;
  height: 25mm;
  width: 100%;
  cursor: pointer;
  position: relative;
}

.added-image {
  width: 100%;
  height: auto;
}

.image-recently-added  {
  padding: 8px 40px;
}

.image-library-section {
  padding: 8px 40px 40px;
}

.selectable-image {
  background: #fff;
}

.selectable-image img {
  width: 100%;
  cursor: pointer;
}

.header-container div{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.paper-header.paper-dotted {
  border: 2px dotted #bbb;
  cursor: pointer;
}

.alignment {
  border: 1px solid #bbb;
  border-radius: 3px;
  cursor: pointer;
  padding: 0.5rem;
}

div.popover-pop {
  background: red;
}

.footer-add-text {
  text-align: center;
  color: #aaa;
  margin: 0;
}

#message-text {
  overflow: hidden;
}

#message-text, #footer-contenteditable {
  border: 1px dotted #cacfd4;
  cursor: pointer;
  border-radius: 3px;
}

#message-text:hover, #footer-contenteditable:hover {
  border: 1px solid #bfc5cd;
}

#message-text:focus, #footer-contenteditable:focus {
  outline: 0px solid transparent;
  cursor: text;
  border: 1px solid #ed9d85;
}

.draggable-handwriting #message-text {
  cursor: move;
}

.added-image {
  width: 100%;
  height: auto;
}

.image-recently-added  {
  padding: 8px 40px;
}

.image-library-section {
  padding: 8px 40px 40px;
}

.selectable-image {
  background: #fff;
}

.selectable-image img {
  width: 100%;
  cursor: pointer;
}

.header-outline:hover {
  border-color: #bfc5cd;
}

.header-outline {
  border: 1px dashed #dfe3e7;
  height: 100%;
  overflow: hidden;
}

.header-outline .add-text {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 85%;
  color: #aaa;
  text-align: center;
  font-family: sans-serif;
}

#header-contenteditable {
  overflow: hidden
}

.header-input {
  height: 100%;
}

.alignment {
  border: 1px solid #bbb;
  border-radius: 3px;
  cursor: pointer;
  padding: 0.5rem;
}

#handwriting_colour {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1em;
}

.handwriting_colour {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  margin-right: 1em;
}

.selected_handwriting_colour {
  border: 3px solid #1D2731;
}

#handwriting_style {
  display: flex;
  flex-wrap: wrap;
}

.handwriting_style {
  border: 3px solid white;
  margin: auto;
  padding: 12px;
  transition: all .2s ease-in-out;
  user-select: none;
}

.handwriting_style:hover {
  transform: scale(1.1)
}

.selected_handwriting_style {
  border: 3px solid #1D2731;
}

[contenteditable]:focus {
  outline: 0px solid transparent;
}

</style>
