<template>
  <div>
    <b-card-body>
      <LineChart :chart_data="product_unit_analysis" />
    </b-card-body>
    <b-card-body>
      <LineChart :chart_data="recipient_analysis" />
    </b-card-body>
  </div>
</template>

<script>
import LineChart from '@/components/common/charts/LineChart'
import moment from 'moment'
import constants from '@/../functions/shared/constants.js'
import generateCategories from '@/lib/generateCategories'

export default {
  name: 'DailyUsageChart',
  props: ['usages', 'dates', 'from_date', 'total_days'],
  data () {
    return {
      product_unit_analysis: {
        series: [],
        categories: generateCategories(
          new Date(moment(this.from_date).format()).getTime(),
          this.total_days
        ),
        height: 350,
        x_axis: {
          title: 'Date (dd-mm-yy)'
        },
        y_axis: {
          title: `Number of Units`,
          minValue: 1,
          maxValue: 300
        }
      },
      recipient_analysis: {
        series: [],
        categories: generateCategories(
          new Date(moment(this.from_date).format()).getTime(),
          this.total_days
        ),
        height: 350,
        x_axis: {
          title: 'Date (dd-mm-yy)'
        },
        y_axis: {
          title: `Number of Recipients`,
          minValue: 1,
          maxValue: 300
        }
      }
    }
  },
  components: {
    LineChart
  },
  watch: {
    usages: {
      deep: true,
      handler: function () {
        this.update_chart()
      }
    }
  },
  mounted () {
    this.update_chart()
  },
  methods: {
    build_recipient_product_dataset: function () {
      // TODO aggregate over days, weeks, months, and billing periods
      // TODO show billing periods / uncaptured payments
      // TODO set dataset to campaigns
      // TODO set dataset to batches?
      // TODO set dataset to recipient countries? + tax?
      // TODO show how far in advance campaigns are planned?
      // TODO show how much is coming from integrations?

      let labels = []
      let all_goods = {}
      let daily_aggregated_usage = []
      let dataset_recipients = {
        data: [],
        name: 'Number of Recipients'
      }
      let dataset_products = {}

      let dates = this.dates
      let usages = this.usages

      if (usages.length) {
        for (let usage of usages) {
          let added = false
          for (let daily_usage of daily_aggregated_usage) {
            if (
              daily_usage.created ===
              moment(usage.created.toDate()).format('DD-MM-YY')
            ) {
              daily_usage.recipients_count += parseInt(usage.recipients_count)

              for (let good in usage.goods) {
                if (!daily_usage.goods[good]) {
                  daily_usage.goods[good] = 0
                }
                daily_usage.goods[good] += parseInt(usage.goods[good])
              }
              added = true
              break
            }
          }

          if (!added) {
            daily_aggregated_usage.push({
              created: moment(usage.created.toDate()).format('DD-MM-YY'),
              goods: {
                ...usage.goods
              },
              recipients_count: usage.recipients_count || 0
            })
          }

          for (let good in usage.goods) {
            all_goods[good] = good
          }
        }
      }

      // TODO what price to use for uncaptured revenue?

      let _daily_aggregated_usage = []
      for (let date of dates) {
        let added = false
        for (let usage of daily_aggregated_usage) {
          if (usage.created === date) {
            _daily_aggregated_usage.push(usage)
            added = true
          }
        }

        if (!added) {
          _daily_aggregated_usage.push({
            created: date,
            goods: {},
            recipients_count: 0
          })
        }
      }

      all_goods = Object.values(all_goods) // De duplicate using map
      for (let usage of _daily_aggregated_usage) {
        labels.push(usage.created)

        for (let i in all_goods) {
          let good = all_goods[i]
          let quantity = usage.goods[good] || 0
          if (!dataset_products[good]) {
            dataset_products[good] = {
              data: [],
              name: good
            }
            if (good === constants.GOOD.membership) {
              dataset_products[good].hidden = true
            }
          }
          dataset_products[good].data.push(quantity)
        }

        dataset_recipients.data.push(usage.recipients_count)
      }

      return {
        labels,
        dataset_recipients,
        dataset_products
      }
    },
    update_chart: function () {
      let productUnitAnalysisSeries = []
      let recipientAanalysisSeries = []
      let generatedCategories = []

      let dataset = this.build_recipient_product_dataset()

      productUnitAnalysisSeries = Object.values(dataset.dataset_products)
      recipientAanalysisSeries = [dataset.dataset_recipients]
      generatedCategories = generateCategories(
        new Date(moment(this.from_date).format()).getTime(),
        this.total_days
      )

      let product_unit_analysis = {
        ...this.product_unit_analysis,
        series: productUnitAnalysisSeries.length
          ? productUnitAnalysisSeries
          : [{ data: [] }],
        categories: generatedCategories
      }

      let recipient_analysis = {
        ...this.recipient_analysis,
        series: recipientAanalysisSeries,
        categories: generatedCategories
      }

      this.product_unit_analysis = product_unit_analysis
      this.recipient_analysis = recipient_analysis
    }
  }
}
</script>

<style></style>
