<template>
  <b-card-body>
    <LineChart :chart_data="revenue_analysis" />
  </b-card-body>
</template>

<script>
import LineChart from '@/components/common/charts/LineChart'
import moment from 'moment'
import generateCategories from '@/lib/generateCategories'

export default {
  name: 'DailyInvoiceUsageChart',
  props: ['invoices', 'dates', 'from_date', 'total_days'],
  data () {
    return {
      revenue_analysis: {
        series: [
          {
            name: 'Revenue (£)',
            data: []
          }
        ],
        categories: generateCategories(
          new Date(moment(this.from_date).format()).getTime(),
          this.total_days
        ),
        height: 300,
        x_axis: {
          title: 'Date (dd-mm-yy)'
        },
        y_axis: {
          title: `Revenue (£, excluding tax)`
        }
      }
    }
  },
  components: {
    LineChart
  },
  watch: {
    invoices: {
      deep: true,
      handler: function () {
        this.update_chart()
      }
    }
  },
  mounted () {
    this.update_chart()
  },
  methods: {
    build_revenue_analysis_data: function () {
      // TODO aggregate over days, weeks, months, and billing periods
      // TODO Better colours
      // TODO show billing periods / uncaptured payments
      // TODO set dataset to campaigns
      // TODO set dataset to batches?
      // TODO set dataset to recipient countries? + tax?
      // TODO show how far in advance campaigns are planned?
      // TODO show how much is coming from integrations?

      let dates = this.dates
      let labels = []
      let datasets = {}

      let daily_aggregated_invoices = {}
      for (let invoice of this.invoices) {
        let added = false

        for (let daily_invoice of daily_aggregated_invoices[invoice.status] ||
          []) {
          if (
            daily_invoice.billing_from ===
            moment(invoice.billing_from.toDate()).format('DD-MM-YY')
          ) {
            daily_invoice.recipients_count += parseInt(invoice.recipients_count)
            daily_invoice.total_gbp += invoice.total_gbp / 100

            added = true
            break
          }
        }

        if (!added) {
          if (!daily_aggregated_invoices[invoice.status]) {
            daily_aggregated_invoices[invoice.status] = []
          }

          daily_aggregated_invoices[invoice.status].push({
            billing_from: moment(invoice.billing_from.toDate()).format(
              'DD-MM-YY'
            ),
            recipients_count: invoice.recipients_count || 0,
            total_gbp: (invoice.total_gbp || 0) / 100
          })
        }
      }

      let _daily_aggregated_invoices = {}
      for (let date of dates) {
        let added = false
        for (let invoice_status in daily_aggregated_invoices) {
          if (!_daily_aggregated_invoices[invoice_status]) {
            _daily_aggregated_invoices[invoice_status] = []
          }

          for (let daily_invoice of daily_aggregated_invoices[invoice_status]) {
            if (daily_invoice.billing_from === date) {
              _daily_aggregated_invoices[invoice_status].push(daily_invoice)
              added = true
            }
          }

          if (!added) {
            _daily_aggregated_invoices[invoice_status].push({
              billing_from: date,
              recipients_count: 0,
              total_gbp: 0
            })
          }
        }
      }

      let first = true
      let i = 0
      for (let status in _daily_aggregated_invoices) {
        if (!datasets[status]) {
          datasets[status] = {
            data: [],
            name: `${status} revenue (GBP)`
          }
        }
        i++

        for (let daily_invoice of _daily_aggregated_invoices[status]) {
          if (first) {
            labels.push(daily_invoice.billing_from)
          }
          datasets[status].data.push(daily_invoice.total_gbp || 0)
        }

        first = false
      }

      return {
        labels,
        datasets
      }
    },
    update_chart: function () {
      let revenueAnalysisSeries = []
      let generatedCategories = []

      let get_datasets = this.build_revenue_analysis_data()

      revenueAnalysisSeries = Object.values(get_datasets.datasets)

      generatedCategories = generateCategories(
        new Date(moment(this.from_date).format()).getTime(),
        this.total_days
      )

      let revenue_analysis = {
        ...this.revenue_analysis,
        series: revenueAnalysisSeries,
        categories: generatedCategories
      }
      this.revenue_analysis = revenue_analysis
    }
  }
}
</script>

<style></style>
