<template>
  <div style="overflow-x: auto; padding-bottom: 12px; padding-top: 12px">
    <div ref="envelope" class='envelope-preview'>
      <div class='envelope-text text-center' ref="address_image">
        <span :hidden="!render_text_loading" class='fas fa-spinner fa-pulse mr-2 text_loading_spinner'></span>
        <img :hidden="render_text_loading" class="address" :src="rendered_text" @load="check_image_size"/>
      </div>
      <div class='return-address-text' v-if="this.campaign.delivery.include_return_address">
        <p v-html="return_address"></p>
      </div>
      <div class='envelope-stamp'>
        <img v-if="campaign.envelope.stamp == 'First Class' && stamp_country == 'US'" width="140mm" src="/static/images/first_class_us_stamp.jpg" />
        <img v-else-if="campaign.envelope.stamp == 'First Class'" width="140mm" src="/static/images/first_class_stamp.jpg" />
        <img v-else-if="campaign.envelope.stamp == 'Second Class'" width="140mm" src="/static/images/second_class_stamp.jpg" />
      </div>
    </div>
  </div>
</template>

<script>

import api from '../services/api'
import text_utils from '../lib/text_utils'

export default {
  name: 'EnvelopePreview',
  props: {
    campaign: {
      type: Object,
      required: true
    },
    stationary: {
      type: Object
    },
    user_profile: {
      type: Object
    }
  },
  data: function () {
    return {
      render_text_loading: false,
      rendered_text: '/static/images/address.png',
      render_timeout: undefined,
      return_address: ''
    }
  },
  mounted: function () {
    this.set_envelope(this.campaign.envelope.paper)
  },
  watch: {
    campaign: {
      deep: true,
      handler: function (after, before) {
        this.set_envelope(after.envelope.paper)

        let user_address = this.campaign.delivery.user_address
        if (user_address.first_name || user_address.last_name || user_address.organisation || user_address.address_line_1 || user_address.address_line_2 || user_address.city || user_address.region || user_address.postcode) {
          this.render_text_debounce()
        }
      }
    }
  },
  computed: {
    stamp_country: function () {
      if (this.campaign.delivery.user_address.country) {
        return this.campaign.delivery.user_address.country
      } else if (this.user_profile.country) {
        return this.user_profile.country
      } else {
        return 'GB'
      }
    }
  },
  methods: {
    check_image_size: function (ele) {
      if (this.$refs['address_image']) {
        this.$refs['address_image'].style.width = '100%' // Force CSS refresh
      }
    },
    render_text_debounce: function () {
      if (this.render_timeout) clearTimeout(this.render_timeout)
      var that = this
      this.render_timeout = setTimeout(function () {
        that.render_text()
      }, 500)
    },
    render_text: function () {
      this.render_text_loading = true

      let text = '{{{address}}}'
      let text_size_mm = 5 // TODO NOTE fixed for envelope sizes
      let handwriting_colour = this.stationary && this.stationary.handwriting_colour ? this.stationary.handwriting_colour : 'blue'
      let handwriting_style = this.stationary && this.stationary.handwriting_style ? this.stationary.handwriting_style : 'blue'

      let variables = {
        'first name': this.campaign.delivery.user_address.first_name,
        'last name': this.campaign.delivery.user_address.last_name,
        'company': this.campaign.delivery.user_address.organisation,
        'address line 1': this.campaign.delivery.user_address.address_line_1,
        'address line 2': this.campaign.delivery.user_address.address_line_2,
        'city': this.campaign.delivery.user_address.city,
        'region': this.campaign.delivery.user_address.region,
        'postal_code': this.campaign.delivery.user_address.postcode,
        'country': this.campaign.delivery.user_address.country
      }

      for (let key in variables) {
        let value = variables[key]
        let out = text_utils.check_bad_text(value)
        if (!out[0]) {
          this.$bvToast.toast(`Please remove the following characters from the address: ${out[2]}`, {
            title: `${key.replace(/_/g, ' ')} contains unsupported characters`,
            autoHideDelay: 5000,
            variant: 'danger',
            appendToast: true
          })

          return false
        }
      }

      api.interface_render_text(text, {width: 120}, text_size_mm, handwriting_style, handwriting_colour, variables, this.campaign.delivery.include_country_name).then(function (out) {
        if (!out.data.success) {
          console.warn(out.data)
          this.$swal('Error', out.data.error_message, 'error')
        } else {
          this.rendered_text = out.data.text_url
        }

        this.render_text_loading = false
      }.bind(this)).catch(function (err) {
        this.$swal('Error', 'An error occurred while writing, please try again', 'error')
        this.render_text_loading = false
        console.warn(err)
      }.bind(this))

      this.return_address = text_utils.template_text(text, variables, this.campaign.delivery.include_country_name).replace(/\n/g, '<br>')
    },
    set_envelope: function (envelope) {
      var envelope_ele = this.$refs['envelope']
      if (envelope_ele) {
        envelope_ele.style.width = envelope.width + 'mm'
        envelope_ele.style.height = envelope.height + 'mm'
      }
    }
  }
}
</script>

<style scoped>
.envelope-preview {
  background: #FFF;
  border: 1px solid #DDD;
  box-shadow: 0px 0px 16px #BBB;
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.address {
  width: 100%;
  height: 100%;
  object-fit: contain;
  /* max-height: 60mm */
}

.envelope-text {
  /* padding-top: 20mm;
  padding-left: 60mm;
  padding-right: 60mm;
  padding-bottom: 20mm; */

  position: absolute;
  top: 40mm;
  bottom: 35mm;
  /* padding-top: 25mm; */
  padding-left: 35mm;
  padding-right: 50mm;
  /* padding-bottom: 25mm; */
  display: flex;
  flex-direction: column;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.envelope-stamp {
  position: absolute;
  top: 0mm;
  right: 0mm;
}

.text_loading_spinner {
  font-size: 3em !important;
  color: #BBB;
}

.return-address-text {
  position: absolute;
  top: 10mm;
  padding-left: 15mm;
  text-align: left;
  width: 100%;
}

</style>
