<template>
  <div style="overflow-x: auto; padding-bottom: 12px; padding-top: 12px">
    <div v-html="font_style"></div>
    <div ref="envelope" class='envelope-preview'>
      <div class='envelope-text text-center' ref="eddress_image">
        <span :hidden="!render_text_loading" class='fas fa-spinner fa-pulse mr-2 text_loading_spinner'></span>
        <p v-html="wrap_characters()" :style="{'display': 'inline-block', 'font-family': `HandwritingFontFamily${handwriting_obj.handwriting_style ? handwriting_obj.handwriting_style.label : ''}`, 'font-size': (this.font_size_mm * ((handwriting_obj.handwriting_style ? handwriting_obj.handwriting_style.size_multiplier : 1) || 1)) + 'mm', 'line-height': (handwriting_obj.handwriting_style ? (handwriting_obj.handwriting_style.line_height || 1.2) : 1.2) + 'em', color: handwriting_obj.handwriting_colour ? handwriting_obj.handwriting_colour.label_colour : 'black', 'filter': `url('#text-colour')`, 'margin': '0', 'width': '100%', 'text-align': 'left' }"></p>
      </div>
      <div class='envelope-stamp'>
        <img v-if="campaign.envelope.stamp == 'First Class' && stamp_country == 'US'" width="140mm" src="/static/images/first_class_us_stamp.jpg" />
        <img v-else-if="campaign.envelope.stamp == 'First Class'" width="140mm" src="/static/images/first_class_stamp.jpg" />
        <img v-else-if="campaign.envelope.stamp == 'Second Class'" width="140mm" src="/static/images/second_class_stamp.jpg" />
      </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" v-if="handwriting_obj.handwriting_colour" hidden>
      <defs>
        <filter id="env-text-colour" color-interpolation-filters="sRGB">
            <feTurbulence type="fractalNoise" :baseFrequency="handwriting_obj.handwriting_colour.colour_freq" numOctaves="1" seed="1" result="turbulence1" stitchTiles="stitch"/>
            <feColorMatrix type="matrix" :values="`${handwriting_obj.handwriting_colour.colour_r} 0 0 0 0
          0 ${handwriting_obj.handwriting_colour.colour_g} 0 0 0
          0 0 ${handwriting_obj.handwriting_colour.colour_b} 0 0
          0 0 0 1 1`" in="turbulence1" result="colormatrix"/>
            <feComposite in="SourceGraphic" in2="composite" operator="in" result="composite1"/>
            <feComposite in="colormatrix" in2="composite1" operator="in" result="composite"/>
          </filter>
      </defs>
    </svg>
  </div>
</template>

<script>

import api from '../services/api'
import text_utils from '../lib/text_utils'
import utils from '@/lib/text_utils.js'

export default {
  name: 'EnvelopePreview',
  props: {
    campaign: {
      type: Object,
      required: true
    },
    stationary: {
      type: Object
    },
    user_profile: {
      type: Object
    },
    handwriting_obj: {
      type: Object,
      required: true,
    },
    font_size_mm: {
      type: Number 
    },
    font_style: {
      type: String
    }
  },
  data: function () {
    return {
      render_text_loading: false,
      rendered_text: '/static/images/address.png',
      render_timeout: undefined,
      return_address: ''
    }
  },
  mounted: function () {
    this.set_envelope(this.campaign.envelope.paper)
  },
  watch: {
    campaign: {
      deep: true,
      handler: function (after, before) {
        this.set_envelope(after.envelope.paper)

        let user_address = this.campaign.delivery.user_address
        if (user_address.first_name || user_address.last_name || user_address.organisation || user_address.address_line_1 || user_address.address_line_2 || user_address.city || user_address.region || user_address.postcode) {
          // this.render_text_debounce()
        }
      }
    }
  },
  computed: {
    stamp_country: function () {
      if (this.campaign.delivery.user_address.country) {
        return this.campaign.delivery.user_address.country
      } else if (this.user_profile.country) {
        return this.user_profile.country
      } else {
        return 'GB'
      }
    }
  },
  methods: {
    wrap_characters() {
      // this.render_text_loading = true

      let variables = {
        'first name': this.campaign.delivery.user_address.first_name,
        'last name': this.campaign.delivery.user_address.last_name,
        'company': this.campaign.delivery.user_address.organisation,
        'address line 1': this.campaign.delivery.user_address.address_line_1,
        'address line 2': this.campaign.delivery.user_address.address_line_2,
        'city': this.campaign.delivery.user_address.city,
        'region': this.campaign.delivery.user_address.region,
        'postal_code': this.campaign.delivery.user_address.postcode,
        'country': this.campaign.delivery.user_address.country
      }

      let text = '{{{address}}}'
      text = text_utils.template_text(text, variables, this.campaign.delivery.include_country_name).replace(/\n/g, '<br>')
      text = text.replace(/&nbsp;/g, ' ')
      text = text.replace(/&amp;/g, '&')
      text = text.replace(/<br>/g, "\n")

      let config;
      let handwriting_style = this.handwriting_obj.handwriting_style
      let variants = 1
      if (handwriting_style) {
        variants = (handwriting_style || {}).variants || variants
        config = {
          top_max: this.font_size_mm * handwriting_style.amplitude * (handwriting_style.size_multiplier || 1),
          sleep_max: handwriting_style.cap_length,
          direction: handwriting_style.speed,
          do_sleep: handwriting_style.cap_prob
        }
      }

      let out = utils.wrap_characters(this.seed, text, variants, undefined, config)[0]
      // this.render_text_loading = false
      return out.replace(/\n/g, '<br>')
    },
    check_image_size: function (ele) {
      if (this.$refs['address_image']) {
        this.$refs['address_image'].style.width = '100%' // Force CSS refresh
      }
    },
    render_text_debounce: function () {
      if (this.render_timeout) clearTimeout(this.render_timeout)
      var that = this
      this.render_timeout = setTimeout(function () {
        that.render_text()
      }, 500)
    },
    render_text: function () {
      this.render_text_loading = true

      let text = '{{{address}}}'

      let variables = {
        'first name': this.campaign.delivery.user_address.first_name,
        'last name': this.campaign.delivery.user_address.last_name,
        'company': this.campaign.delivery.user_address.organisation,
        'address line 1': this.campaign.delivery.user_address.address_line_1,
        'address line 2': this.campaign.delivery.user_address.address_line_2,
        'city': this.campaign.delivery.user_address.city,
        'region': this.campaign.delivery.user_address.region,
        'postal_code': this.campaign.delivery.user_address.postcode,
        'country': this.campaign.delivery.user_address.country
      }

      for (let key in variables) {
        let value = variables[key]
        let out = text_utils.check_bad_text(value)
        if (!out[0]) {
          this.$bvToast.toast(`Please remove the following characters from the address: ${out[2]}`, {
            title: `${key.replace(/_/g, ' ')} contains unsupported characters`,
            autoHideDelay: 5000,
            variant: 'danger',
            appendToast: true
          })

          return false
        }
      }

      api.interface_render_text(text, {width: 120}, text_size_mm, handwriting_style, handwriting_colour, variables, this.campaign.delivery.include_country_name).then(function (out) {
        if (!out.data.success) {
          console.warn(out.data)
          this.$swal('Error', out.data.error_message, 'error')
        } else {
          this.rendered_text = out.data.text_url
        }

        this.render_text_loading = false
      }.bind(this)).catch(function (err) {
        this.$swal('Error', 'An error occurred while writing, please try again', 'error')
        this.render_text_loading = false
        console.warn(err)
      }.bind(this))

      this.return_address = text_utils.template_text(text, variables, this.campaign.delivery.include_country_name).replace(/\n/g, '<br>')
    },
    set_envelope: function (envelope) {
      var envelope_ele = this.$refs['envelope']
      if (envelope_ele) {
        envelope_ele.style.width = envelope.width + 'mm'
        envelope_ele.style.height = envelope.height + 'mm'
      }
    }
  }
}
</script>

<style scoped>
.envelope-preview {
  background: #FFF;
  border: 1px solid #DDD;
  box-shadow: 0px 0px 16px #BBB;
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.address {
  width: 100%;
  height: 100%;
  object-fit: contain;
  /* max-height: 60mm */
}

.envelope-text {
  /* padding-top: 20mm;
  padding-left: 60mm;
  padding-right: 60mm;
  padding-bottom: 20mm; */

  position: absolute;
  top: 40mm;
  bottom: 35mm;
  /* padding-top: 25mm; */
  padding-left: 35mm;
  padding-right: 50mm;
  /* padding-bottom: 25mm; */
  display: flex;
  flex-direction: column;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  width: 100%;
}

.envelope-stamp {
  position: absolute;
  top: 0mm;
  right: 0mm;
}

.text_loading_spinner {
  font-size: 3em !important;
  color: #BBB;
}

.return-address-text {
  position: absolute;
  top: 10mm;
  padding-left: 15mm;
  text-align: left;
  width: 100%;
}

</style>
