<template>
<div>
    <div class="row" v-if="loading">
        <div class="col-12">
            <b-card class="text-center">
                <b-spinner variant="primary" label="Spinning"></b-spinner>
            </b-card>
        </div>
    </div>
    <div v-else-if="invoices && invoices.length">
        <div class="row">

            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-actions float-right">
                            <div class="dropdown show">
                                <a href="#" data-toggle="dropdown" data-display="static">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal align-middle">
                                        <circle cx="12" cy="12" r="1"></circle>
                                        <circle cx="19" cy="12" r="1"></circle>
                                        <circle cx="5" cy="12" r="1"></circle>
                                    </svg>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                        </div>
                        <h5 class="card-title mb-0">Invoices</h5>
                    </div>

                    <div class="card-body">
                        <div id="datatables-clients_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="dataTables_length" id="datatables-clients_length">
                                        <label class="d-inline-flex align-items-center">Show&nbsp;
                                            <select name="datatables-clients_length" aria-controls="datatables-clients" class="custom-select custom-select-sm form-control form-control-sm">
                                                <option value="10">10</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select>&nbsp;entries</label></div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div id="datatables-clients_filter" class="dataTables_filter"><label class="d-inline-flex align-items-center">Search:&nbsp;<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="datatables-clients"></label></div>
                                </div>
                            </div>
                            <b-table-simple class="table table-striped dataTable no-footer dtr-inline">
                                <b-thead>
                                    <b-tr>
                                        <b-th>From</b-th>
                                        <b-th>To</b-th>
                                        <b-th>Status</b-th>
                                        <b-th>Amount (excluding tax)</b-th>
                                        <b-th>Invoice</b-th>
                                    </b-tr>
                                </b-thead>
                                <b-tbody>
                                    <b-tr v-for="invoice in invoices" v-bind:key="invoice.id">
                                        <td>{{display_timestamp(invoice.billing_from, true)}}</td>
                                        <td>{{display_timestamp(invoice.billing_to, true)}}</td>
                                        <td>
                                            <span :class="invoice.status.toLowerCase().replace(/ /g, '_')"><strong>{{invoice.status | to_title_case}}</strong></span>
                                        </td>
                                        <td>
                                            <PriceTable :cost="invoice" :hide_total="true" />
                                        </td>
                                        <td><a v-if="invoice.invoice" :href="invoice.invoice" target="_blank"><i class="fas fa-link"></i></a></td>
                                    </b-tr>
                                </b-tbody>
                            </b-table-simple>

                            <!--
                            <div class="row">
                                <div class="col-sm-12 col-md-5">
                                </div>
                                <div class="col-sm-12 col-md-7">
                                    <div class="dataTables_paginate paging_simple_numbers" id="datatables-clients_paginate">
                                        <ul class="pagination">
                                            <li class="paginate_button page-item previous disabled" id="datatables-clients_previous"><a href="#" aria-controls="datatables-clients" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li>
                                            <li class="paginate_button page-item active"><a href="#" aria-controls="datatables-clients" data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                                            <li class="paginate_button page-item "><a href="#" aria-controls="datatables-clients" data-dt-idx="2" tabindex="0" class="page-link">2</a></li>
                                            <li class="paginate_button page-item next" id="datatables-clients_next"><a href="#" aria-controls="datatables-clients" data-dt-idx="3" tabindex="0" class="page-link">Next</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div v-else>
        <!-- <p>Select from the list of stationery below to start a new campaign.</p> -->
        <div class="row">
            <div class="col-xl-12">

                <div class="row">
                    <div class="col-xl-12">

                        <!-- Card -->
                        <div class="card card-inactive">
                            <div class="card-body text-center">

                                <!-- Image -->
                                <img src="/static/images/invoices1.svg" alt="..." class="img-fluid" style="max-width: 382px;">

                                <!-- Title -->
                                <h1>
                                    No invoices yet.
                                </h1>

                                <!-- Subtitle -->
                                <p class="text-muted">
                                    Any new invoices when generated will be listed here.
                                </p>

                                <!-- Button -->
                                <router-link to="/create">
                                    <a href="javascript: void(0);" class="btn btn-primary">
                                        <i class="mdi mdi-plus-circle mr-1"></i> Create New Stationery
                                    </a>
                                </router-link>

                            </div>
                        </div>
                    </div>
                </div>

                <b-row>
                    <StationaryItem :user_profile="user_profile" v-for="stationary_item in filtered" v-bind:key="stationary_item.id" :stationary="stationary_item" :show_deleted="true" />
                </b-row>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import {
  db
} from '@/lib/firebase.js'
import PriceTable from '@/components/PriceTable'

export default {
  name: 'InvoiceTable',
  props: {
    user_profile: {
      required: true
    }
  },
  components: {
    PriceTable
  },
  firestore () {
    return {
      invoices: db.collection('invoices').orderBy('created', 'desc').where('uid', '==', this.user_profile.id)
    }
  },
  data: function () {
    return {
      invoices: [],
      filtered: [],
      loading: true

    }
  },
  mounted () {
    db.collection('invoices').orderBy('created', 'desc').where('uid', '==', this.user_profile.id)
      .limit(1).get()
      .then(_ => {})
      .catch(_ => {})
      .finally(() => {
        this.loading = false
      })
  }
}
</script>

<style scoped>

</style>
