<template>
  <b-form-group>
    <b-button  v-bind="$attrs" v-on="$listeners" :disabled="loading"><i v-if="loading" class='fas fa-spinner fa-pulse mr-2' /><slot /></b-button>
  </b-form-group>
</template>

<script>

export default {
  name: 'LoadingButton',
  props: {
    loading: {
      type: Boolean,
      required: false
    }
  }
}
</script>

<style scoped>

</style>
