<script>
import { Line } from 'vue-chartjs'
import moment from 'moment'
// import the component - chart you need

export default {
  extends: Line,
  props: ['previous_billing_period_usage'],
  mounted () {
    // Overwriting base render method with actual data.

    let colours = ['red', 'blue', 'green', 'yellow', 'purple', 'orange', 'pink']

    let labels = []
    let datasets = {}
    let all_goods = {}
    for (let billing_period_usage of this.previous_billing_period_usage) {
      for (let good in billing_period_usage.billing_period_usage) {
        all_goods[good] = good
      }
    }

    all_goods = Object.values(all_goods) // De duplicate using map

    for (let i in this.previous_billing_period_usage) {
      let billing_period_usage = this.previous_billing_period_usage[i]

      let borderDash = [0, 0]
      if (parseInt(i) === this.previous_billing_period_usage.length - 2) { // Second last
        borderDash = [5, 5]
      }

      labels.push(moment(billing_period_usage.billing_period_end_date.toDate()).format('DD-MM-YY'))
      for (let i in all_goods) {
        let good = all_goods[i]
        let quantity = billing_period_usage.billing_period_usage[good] || 0
        if (!datasets[good]) {
          datasets[good] = {data: [], label: good, borderDash: borderDash, borderColor: colours[i % colours.length]}
        }
        datasets[good].data.push(quantity)
      }
    }

    for (let good of all_goods) { // Reverse
      let _data = datasets[good].data
      datasets[good].data = _data.reverse()
    }

    let options = {
      scales: {
        yAxes: [{
          scaleLabel: {
            display: true,
            labelString: 'Number of Units'
          },
          ticks: {
            beginAtZero: true,
            stepSize: 1,
            precision: 0
          }
        }],
        xAxes: [{
          scaleLabel: {
            display: true,
            labelString: 'End of billing period (dd-mm-yy)'
          }
        }]
      }
    }

    this.renderChart({
      labels: labels.reverse(),
      datasets: Object.values(datasets)
    }, options)
  }
}
</script>

<style>

</style>
