<template>
  <div>
    <div v-if="notifications && notifications.length">
      <b-table-simple bordered class="text-center">
        <b-thead head-variant="dark">
          <b-tr>
            <b-th>Created</b-th>
            <b-th>Level</b-th>
            <b-th>Status</b-th>
            <b-th>Title</b-th>
            <b-th>Message</b-th>
          </b-tr>
        </b-thead>
        <b-tbody>
          <b-tr v-for="notification in notifications" v-bind:key="notification.id">
            <td>{{display_timestamp(notification.created, true)}}</td>
            <td>
              <span :class="notification.level.toLowerCase().replace(/ /g, '_')"><strong>{{notification.level | to_title_case}}</strong></span>
            </td>
            <td>{{notification.status}}</td>
            <td>{{notification.title}}</td>
            <td>{{notification.message}}</td>
          </b-tr>
        </b-tbody>
      </b-table-simple>
    </div>
    <div v-else>
      <p class="text-muted">No notifications</p>
    </div>
  </div>
</template>

<script>
import { db } from '@/lib/firebase.js'

export default {
  name: 'NotificationsTable',
  props: {
    user_profile: {
      required: true
    }
  },
  firestore () {
    return {
      notifications: db.collection('notifications').orderBy('created', 'desc').where('uid', '==', this.user_profile.id)
    }
  },
  data: function () {
    return {
      notifications: []
    }
  }
}
</script>

<style scoped>

</style>
