<template>
  <b-modal centered no-fade :visible="logged_in" hide-header hide-header-close hide-footer no-close-on-backdrop no-close-on-esc>
    <b-row>
      <!-- <b-col>
        <img class="onboarding-img" src="/static/images/login_side_thanks.jpg" width="100%" height="100%"/>
      </b-col> -->
      <b-col>
        <div class="form">
          <h5 class='text-left'>(2/3) Your Details</h5>

          <b-form>
            <b-form-group label="Organisation Name">
              <b-input data-hj-whitelist v-model="organisation" autocomplete='organization'/>
            </b-form-group>

            <b-form-group label="Organisation Website/Domain">
              <b-input data-hj-whitelist v-model="organisation_domain" autocomplete='url'/>
            </b-form-group>

            <b-form-group label="Job Title">
              <b-input data-hj-whitelist v-model="job_title" autocomplete='organization-title'/>
            </b-form-group>
          </b-form>

          <b-form-group>
            <b-button variant="secondary" block @click='next'>Continue</b-button>
          </b-form-group>
        </div>
      </b-col>
    </b-row>
  </b-modal>
</template>

<script>
/* eslint no-unused-vars: "off" */
import { db, auth } from '@/lib/firebase.js'
import validator from 'validator'

export default {
  name: 'OnboardingOrganisation',
  props: {
    logged_in: {
      type: Boolean,
      required: true
    },
    user_profile: {
      type: Object,
      required: false
    }
  },
  data () {
    return {
      organisation: '',
      organisation_domain: '',
      job_title: ''
    }
  },
  methods: {
    async next () {
      // if (!this.organisation || this.organisation.length < 2) {
      //   this.$swal('Error', 'Please enter an organisation', 'error')
      //   return
      // }
      //
      // if (!this.organisation_domain || this.organisation_domain.split('.').length <= 1) {
      //   this.$swal('Error', 'Please enter an organisation domain', 'error')
      //   return
      // }
      //
      // if (!this.job_title || this.job_title.length < 1) {
      //   this.$swal('Error', 'Please enter an job title', 'error')
      //   return
      // }

      this.user_profile.organisation = this.organisation
      this.user_profile.organisation_domain = this.organisation_domain
      this.user_profile.job_title = this.job_title
      this.user_profile.address.company = this.user_profile.organisation
      this.user_profile.address.job_title = this.user_profile.job_title

      await db.collection('users').doc(this.user_profile.id).update(this.user_profile)

      // Update on hubspot
      var _hsq = window._hsq = window._hsq || []
      _hsq.push(['identify', {
        email: this.user_profile.email,
        company: this.user_profile.organisation,
        website: this.user_profile.organisation_domain,
        jobtitle: this.user_profile.job_title
      }])
      _hsq.push(['trackPageView'])

      this.$router.push({ name: 'OnboardingQuestions' })
    }
  }
}
</script>

<style>

</style>
