<template>
  <b-modal  centered no-fade :visible="logged_in" hide-header hide-header-close hide-footer no-close-on-backdrop no-close-on-esc>
    <b-row>
      <b-col>
        <div class="form">
          <p class="text-muted text-center mb-0"><small>Step 2 of 2</small></p>
          <h5 class="text-left">We would love to learn a little more about you!</h5>
          <b-form>
          <b-form-group label="How do you plan to use Scribeless?" label-for="paper">
            <b-form-radio-group buttons button-variant="outline-secondary" v-model="use_type" :options="['Personal', 'Customer retention', 'Customer acquisition', 'Other']" />
          </b-form-group>

            <!-- <b-form-group label="Type">
               <div>
                <b-button-group>
                  <b-button @click='next'>Personal</b-button>
                  <b-button>Business</b-button>
                  <b-button>Reseller</b-button>
                </b-button-group>
              </div>
            </b-form-group> -->

            <!-- <b-form-group label="What type of campaigns do you want to send?">
              <b-form-select data-hj-whitelist v-model="campaign_type" class="mb-3">
                <option :value="null">Please select</option>
                <option value="List based campaigns">List based campaigns</option>
                <option value="Triggered (workflow based campaigns)">Triggered (workflow based campaigns)</option>
                <option value="Both types">Both types</option>
              </b-form-select>
            </b-form-group> -->

            <div v-if="use_type === 'Customer retention' || use_type === 'Customer acquisition' || use_type === 'Other'">
              <b-form-group label="Organisation Website/Domain (Required)">
                <b-input data-hj-whitelist v-model="organisation_domain" autocomplete='url' placeholder="example.com"/>
              </b-form-group>

              <b-form-group label="Estimated monthly volume of letters?">
                <b-form-select v-model="projected_usage">
                  <option :value="null">Please select</option>
                  <option value="<100">&lt;100</option>
                  <option value="100-999">100-999</option>
                  <option value="1000-4999">1000-4999</option>
                  <option value="5000+">5000+</option>
                </b-form-select>
              </b-form-group>

              <b-form-group label="Industry (Required)">
                <b-form-select data-hj-whitelist v-model="industry">
                  <option :value="null">Please select</option>
                  <option value="Ecommerce & Retail">Ecommerce & Retail</option>
                  <option value="Technology & Manufacturing">Technology & Manufacturing</option>
                  <option value="Events & Weddings">Events & Weddings</option>
                  <option value="Sales & Marketing Agencies">Sales & Marketing Agencies</option>
                  <option value="Professional & Financial Services">Professional & Financial Services</option>
                  <option value="Tourism & Hospitality">Tourism & Hospitality</option>
                  <option value="Education">Education</option>
                  <option value="Gifting & Greetings">Gifting & Greetings</option>
                  <option value="Real estate">Real estate</option>
                  <option value="Charities">Charities</option>
                  <option value="Other">Other</option>
                </b-form-select>
              </b-form-group>
            </div>

            <div v-if="industry === 'Other'">
              <b-form-group label="Industry Other (Required)">
                <b-input data-hj-whitelist v-model="other" autocomplete='url'/>
              </b-form-group>
            </div>
          </b-form>

          <b-form-group>
            <b-button variant="secondary" block @click='next'>Done</b-button>
          </b-form-group>
        </div>
      </b-col>
    </b-row>
  </b-modal>
</template>

<script>
/* eslint no-unused-vars: "off" */
import { db, auth } from '@/lib/firebase.js'
import validator from 'validator'
import countriesTimezone from '../lib/countriesTimezone'
import countriesList from '../lib/countries'

export default {
  name: 'OnboardingQuestion',
  props: {
    logged_in: {
      type: Boolean,
      required: true
    },
    user_profile: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      projected_usage: null,
      industry: null,
      use_type: null,
      other: null,
      organisation_domain: null
    }
  },
  methods: {
    async next () {
      // Validate form
      if (this.use_type === null) {
        this.$swal('Error', 'Please answer all questions', 'error')
        return
      }
      // if (this.use_type === 'Reseller' || this.user_profile === 'Business') { //Old: use_type has been changed?
      if (this.use_type === 'Customer retention' || this.use_type === 'Customer acquisition' || this.use_type === 'Other') {
        if (!this.industry || !this.organisation_domain || !this.projected_usage) {
          this.$swal('Error', 'Please answer all questions', 'error')
          return
        }
        if (this.industry === 'Other') {
          if (this.other === null || !(this.other || '').trim()) {
            this.$swal('Error', 'Please answer all questions', 'error')
            return
          }
        }
      }

      this.user_profile.projected_usage = this.projected_usage
      this.user_profile.use_type = this.use_type
      this.user_profile.industry = this.industry
      this.user_profile.other = this.other
      this.user_profile.organisation_domain = this.organisation_domain
      this.user_profile.timezone_gmt_difference = countriesTimezone[this.user_profile.country]

      // Update on hubspot
      var _hsq = window._hsq = window._hsq || []
      _hsq.push(['identify', {
        name: this.user_profile.name,
        email: this.user_profile.email,
        phone: this.user_profile.phone,
        country_dropdown: countriesList[this.user_profile.country],
        use_type: this.user_profile.use_type,
        industry: this.user_profile.industry,
        industry_other: this.user_profile.other,
        website: this.user_profile.organisation_domain,
        projected_usage: this.user_profile.projected_usage,
        timezone_gmt_difference: this.user_profile.timezone_gmt_difference,
        account_onboarding_complete: true
      }])
      _hsq.push(['trackPageView'])

      this.user_profile.onboarding_complete = true
      await db.collection('users').doc(this.user_profile.id).update(this.user_profile)

      this.$router.push({ name: 'CreateNewCampaign', params: {id: 'new', is_sample: true} })
    }
  }
}
</script>

<style>

</style>
