<template>
<div class="content-container">
    <h3>Cost</h3>
    <b-table-simple bordered v-if="cost && cost.goods_with_price && Object.keys(cost.goods_with_price).length > 0" class="text-center">
        <b-thead class="price-head">
            <b-tr>
                <b-th>Good</b-th>
                <b-th>Units</b-th>
                <b-th>Total (Includes Tax)</b-th>
            </b-tr>
        </b-thead>
        <b-tbody>
            <b-tr v-for="(good, key) in cost.goods_with_price" v-bind:key="key">
                <td>{{key}}</td>
                <td>{{good.quantity}}</td>
                <!--<td>{{(good.price / 100) * tax | currency(cost.currency_symbol)}}</td> -->
                <td>{{calculate_tax(key, good.price)}}</td>
            </b-tr>
        </b-tbody>
    </b-table-simple>
    <PriceTable :campaign="campaign" :cost="cost" :price_table="price_table"/>
    <!-- Total: <span class='font-weight-bold'>{{cost && cost.total / 100 | currency(cost && cost.currency_symbol)}}</span> for {{(cost || {}).recipients_count}} recipient{{(cost || {}).recipients_count == 1 ? '' : 's'}} -->

    <div v-if="campaign.product == PRODUCT.self_service">
        <h3>Printing your notes</h3>
        <p>Once your payment has been processed we will email {{user_profile.email}} a ZIP file with ready to print PDFs of your handwritten notes. Note that this process can take up to an hour.</p>
    </div>

    <h3 v-if="user_profile.billing_enabled">Payment</h3>
    <SelectCard :user_profile="user_profile" ref="select_card" :next_tab="next_tab" :show_add_card="true" />

</div>
</template>

<script>
/* eslint no-unused-vars: "off" */
import {
  parse
} from '@fortawesome/fontawesome-svg-core'
import {
  auth
} from '@/lib/firebase.js'
import SelectCard from '@/components/SelectCard'

import PriceTable from '@/components/PriceTable'
import { caluclate_customer_tax_rate, calculate_good_tax } from '@/lib/pricing'
import { TAX_RATE } from '@/../functions/shared/constants.js'

export default {
  name: 'PaymentSummaryEdit',
  components: {
    SelectCard,
    PriceTable
  },
  props: {
    campaign: {
      type: Object,
      required: true
    },
    stationary: {
      type: Object,
      required: true
    },
    user_profile: {
      type: Object,
      required: true
    },
    cost: {
      type: Object,
      required: false
    },
    price_table: {
      type: Object,
      required: false
    },
    next_tab: {
      type: Function,
      required: false
    }
  },
  computed: {
    tax () {
      let tax_rate = caluclate_customer_tax_rate(this.user_profile)
      if (tax_rate === TAX_RATE.outside_eu_0_vat || tax_rate === TAX_RATE.gb_0_vat) {
        return 0
      } else if (tax_rate === TAX_RATE.gb_20_vat) {
        return 1.2
      } else {
        return 1
      }
    }
  },
  methods: {
    calculate_tax (good_name, price) {
      let d = calculate_good_tax(this.user_profile, good_name, price)
      return ((d.price + d.total) / 100).toFixed(2)
    },
    validate: async function () {
      if (!this.user_profile.billing_enabled) {
        // this.$swal('Error', 'Please add a payment method', 'error')
        // this.$refs.select_card.setup_billing()
        this.$bvToast.toast('Please add a card', {
          title: `Error`,
          autoHideDelay: 3000,
          variant: 'danger',
          appendToast: true
        })
        return false
      }

      return true
    }
  },
  created () {
    var new_recipients = this.campaign && this.campaign.data.length
  },
  data () {
    return {
      shown_upgrade_warning: false
    }
  }
}
</script>

<style scoped>
</style>
