<template>
  <p v-if="cost">
    <span v-if="!hide_total">Total: </span>
    <span :class="campaign && campaign.is_sample ? 'strikethrough font-weight-bold' : 'font-weight-bold'">{{(cost.total || 0) / 100 | currency(cost.currency_symbol)}}</span>
    <span v-if="campaign && campaign.is_sample" class="font-weight-bold"> Free Sample</span>
    <span v-if="campaign && campaign.data_source === DATA_SOURCE.api_crm" class="font-weight-bold"> per recipient</span>

    <b-button :id="popover_id" variant="link" v-if="cost.total" class="py-0"><i class="fas fa-question-circle"></i></b-button>

    <b-popover :target="popover_id" triggers="focus" title="Pricing">
      Total: <span class='font-weight-bold'>{{cost.total / 100 | currency(cost.currency_symbol)}}</span> for {{cost.recipients_count}} recipient{{cost.recipients_count == 1 ? '' : 's'}}

      <p class="muted"><small>Total with local tax<span v-if="cost.total !== cost.total_with_tax" class='font-weight-bold'>: {{cost.total_with_tax / 100 | currency(cost.currency_symbol)}}</span></small></p>

      <b-table-simple bordered v-if="cost.goods_with_price && Object.keys(cost.goods_with_price).length > 0" class="text-center">
        <b-thead class="price-head">
          <b-tr>
            <b-th>Good</b-th>
            <b-th>Units</b-th>
            <b-th>Total</b-th>
          </b-tr>
        </b-thead>
        <b-tbody>
          <b-tr v-for="(good, key) in cost.goods_with_price" v-bind:key="key">
            <td>{{key}}</td>
            <td>{{good.quantity}}</td>
            <td>{{good.price / 100 | currency(cost.currency_symbol)}}</td>
          </b-tr>
        </b-tbody>
      </b-table-simple>
    </b-popover>

  </p>
</template>

<script>

export default {
  name: 'PriceTable',
  props: {
    cost: {
      type: Object,
      required: false
    },
    hide_total: {
      type: Boolean,
      required: false
    },
    campaign: {
      type: Object,
      required: false
    }
  },
  data: function () {
    return {
      show_popover: true,
      popover_id: '' + Math.floor(Math.random() * 1000001)
    }
  }
}
</script>

<style scoped>

.strikethrough {
  text-decoration: line-through;
}
.price-head{
  background-color: #4450a5;
  color:white;
}
</style>
