<template>
<div>
    <b-form-group label="How will you add recipients?">
        <b-form-radio-group buttons button-variant="outline-primary" v-model="campaign.data_source" :options="[{text: 'Audience', value: DATA_SOURCE.audience },{text: 'Upload Spreadsheet', value: DATA_SOURCE.upload}, {text: 'Integration or API', value: DATA_SOURCE.api_crm}]" />
    </b-form-group>
    <hr>

    <b-form>
        <div v-if="campaign.data_source === DATA_SOURCE.audience">
            <b-card v-if="users.length">
                <b-form-group v-b-tooltip.hover title="Audience" description="">
                    <b-form class="mb-3">
                        Choose recipients directly from our existing audience.
                    </b-form>
                    <b-form-select v-model="selected" class="mb-3" @change="audienceChange">
                        <option :value="null" disabled>
                            Please Create An Audience
                        </option>
                        <option v-for="(user,index) in users" :key="index" :value="user.id">
                            {{ user.title }}
                        </option>
                    </b-form-select>
                </b-form-group>
            </b-card>
            <div class="card card-inactive" v-else>
                <div class="card-body">
                    <p class="text-muted">
                      You haven't created any audience yet. Please choose another option.
                    </p>
                </div>
            </div>

            <b-card class="text-center" v-if="is_fetching_recipient">
              <b-spinner variant="primary" label="Spinning"></b-spinner>
            </b-card>

            <div class="table-responsive mb-0" v-else-if="selected && userDetail.length">
                <b-table show-empty empty-filtered-text="No users" empty-text="No audience" :items="userDetail" :fields="fields" bordered>
                    <template v-slot:cell(state)="row">
                        {{states_list[row.value] || row.value}}
                    </template>
                </b-table>
            </div>

          <p class="text-muted" v-else-if="selected && !userDetail.length">
            You don't have any recipient for the selected audience. Please select another one.
          </p>

        </div>
        <div v-else-if="campaign.data_source === DATA_SOURCE.upload">
            <p>Copy your data directly into the editor below. You can leave fields blank but if you require addressed envelopes please include Address line 1, Postcode, and Country. Note that letters to countries other then the United Kingdom and United States of America are charged at international rates.</p>
            <b-button-group class="mb-3">
                <b-button variant="outline-primary" size="sm" @click="add_sender_as_recipient" v-b-tooltip.hover title="Adds your address as a record. Note you will be charged for this."><i class="fas fa-user mr-1"></i>Add yourself as a recipient</b-button>
                <b-button variant="outline-primary" size="sm" @click="clean_data" v-b-tooltip.hover title="Correctly capitalises data e.g. 'FIRST NAME' to 'First Name'"><i class="fas fa-paint-brush mr-1"></i>Clean data</b-button>
                <b-button variant="outline-primary" size="sm" @click="check_for_duplicates" v-b-tooltip.hover title="Highlights duplicate records"><i class="fas fa-clone mr-1"></i>Check for duplicates</b-button>
            </b-button-group>
            <hot-table class="input-table" :settings="table_settings" ref="data_table"></hot-table>
            <p class='text-muted text-center'><small>More rows automatically added when you paste data</small></p>
        </div>
        <div v-else-if="campaign.data_source === DATA_SOURCE.api_crm">
            <p>Automate handwritten outreach using our E-commerce and CRM Integrations once the campaign is complete.<a href="https://support.scribeless.co/integrations-api" target="_blank" class="scrb-color scrb-link ml-1">Learn more about integrations & API <i class="fas fa-external-link-alt"></i></a></p>
            <div show class="integration-box text-left mb-4">
                <b-form-group label="Do you want to delay and add recipients later through our integration?">
                    <b-button v-b-toggle.collapse-1 variant="outline-success">Yes, I want to delay</b-button>
                    <b-collapse id="collapse-1" class="mt-2">
                        <b-card class="b-card mt-4">
                            <b-form-group v-b-tooltip.hover title="Add number of days to delay the order" description="You may want to delay sending by a number of days after your integration has triggered a new recipient e.g. sending a follow two weeks after an order">
                                <b-form class="mb-3">
                                    Number of days to delay recipient after it is received
                                </b-form>
                                <b-form-select v-model="campaign.delay_delivery_days" class="mb-3" :options="DELAY_DELIVERY_DAYS" />
                            </b-form-group>
                        </b-card>
                    </b-collapse>
                </b-form-group>
            </div>
        </div>

    </b-form>
</div>
</template>

<script>
import text_utils from '../lib/text_utils'
import {
  HotTable
} from '@handsontable/vue'
import Handsontable from 'handsontable'
import _ from 'underscore'
import {
  DATA_SOURCE,
  MIN_UNITS,
  MAX_UNITS,
  RECIPIENTS_ERROR
} from '../../functions/shared/constants'
import countriesList from '../lib/countries'
import states_list from '../lib/states'
// import validator from 'validator'
import {
  db
} from '@/lib/firebase.js'

const fields = [{
  key: 'title',
  label: 'Title'
},
{
  key: 'first_name',
  label: 'First Name'
},
{
  key: 'last_name',
  label: 'Last Name'
},
{
  key: 'last_name',
  label: 'Last name'
},
{
  key: 'last_name',
  label: 'Last name'
},
{
  key: 'department',
  label: 'Department'
},
{
  key: 'company',
  label: 'Company'
},
{
  key: 'address_line_1',
  label: 'Address line 1'
},
{
  key: 'address_line_2',
  label: 'Address Line 2'
},
{
  key: 'address_line_3',
  label: 'Address Line 3'
},
{
  key: 'city',
  label: 'City'
},
{
  key: 'postal_code',
  label: 'Postal Code'
},
{
  key: 'state',
  label: 'State/Region'
},
{
  key: 'country',
  label: 'Country'
}
]

const errorColor = '#F8D7DA'
let countriesArray = []

for (let code in countriesList) {
  countriesArray.push(`${countriesList[code]}`)
}

let countries_lookup = {}
Object.keys(countriesList).reduce((obj, key) => (countries_lookup[countriesList[key]] = key), {})

export default {
  name: 'RecipientsEdit',
  firestore () {
    return {
      users: db.collection('audiences').where('uid', '==', this.user_profile.uid).limit(this.limit)
    }
  },
  components: {
    HotTable
  },
  props: {
    campaign: {
      type: Object,
      required: true
    },
    user_profile: {
      type: Object,
      required: true
    },
    from_recipients: {
      type: Array
    }
  },
  watch: {
    userDetail: {
      handler (audiences) {
        if (audiences.length) {
          let data = []
          for (let audience of audiences) {
            const recipient = {
              'title': audience['title'],
              'first name': audience['first_name'],
              'last name': audience['last_name'],
              'department': audience['department'],
              'company': audience['company'],
              'city': audience['city'],
              'address line 1': audience['address_line_1'],
              'address line 2': audience['address_line_2'],
              'address line 3': audience['address_line_3'],
              'postal_code': audience['postal_code'],
              'region': audience['state'],
              // 'country': countries_lookup[audience.country] || ''
              'country': audience['country']
            }

            data.push(recipient)
          }

          this.campaign.data = data
        }
      }
    },
    campaign: {
      deep: true,
      handler: function (val, old_value) {
        let headers = ['Title', 'First Name', 'Last Name', 'Department', 'Company', 'Address line 1', 'Address line 2', 'Address line 3', 'City', 'Postal code', 'State/Region', 'Country']
        let columns = [{}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {
          type: 'dropdown',
          source: countriesArray
        }]
        let variables = text_utils.get_variables(this.campaign.text)

        if (variables.indexOf('custom 1') > -1) {
          headers.push('Custom 1')
          columns.push({})
        }
        if (variables.indexOf('custom 2') > -1) {
          headers.push('Custom 2')
          columns.push({})
        }
        if (variables.indexOf('custom 3') > -1) {
          headers.push('Custom 3')
          columns.push({})
        }
        if (variables.indexOf('custom 4') > -1) {
          headers.push('Custom 4')
          columns.push({})
        }
        if (variables.indexOf('custom 5') > -1) {
          headers.push('Custom 5')
          columns.push({})
        }
        if (variables.indexOf('custom 6') > -1) {
          headers.push('Custom 6')
          columns.push({})
        }

        if (this.table_settings.colHeaders === headers) {
          return
        }

        this.table_settings.columns = columns
        this.table_settings.colHeaders = headers

        if (this.$refs.data_table && this.$refs.data_table.hotInstance) {
          this.$refs.data_table.hotInstance.render()
        }
      }
    }
  },
  methods: {
    audienceChange () {
      // let query = db.collection('audience').doc(this.selected).collection('recipients').limit(this.limit)
      // this.$bind('userDetail', query)
      this.is_fetching_recipient = true
      db.collection('audiences')
        .doc(this.selected)
        .collection('recipients')
        .get()
        .then(result => {
          if (!result.empty) {
            this.userDetail = result.docs.map(doc => doc.data())
          }
        })
        .catch(err => {})
        .finally(() => {
          this.is_fetching_recipient = false
        })
    },
    async check_for_duplicates () {
      if (!this.$refs.data_table.hotInstance) {
        return
      }
      let rows = this.$refs.data_table.hotInstance.getData()

      let rows_with_data = []
      let duplicates = {}

      for (let row_i in rows) {
        let row = rows[row_i]

        let empty_row = true
        let recipient = {}
        for (let col_i in row) {
          let col = row[col_i]
          let key = this.table_settings.colHeaders[col_i]

          if (col === null || col === undefined) {
            continue
          }

          if (col !== '') {
            empty_row = false
          }

          if (key !== 'Index') {
            recipient[key] = col
          }
        }

        if (!empty_row) {
          let json = JSON.stringify(recipient)
          if (rows_with_data.indexOf(json) > -1) {
            if (!duplicates[json]) {
              duplicates[json] = []
            }

            duplicates[json].push({
              row: row_i,
              recipient: recipient
            })
          } else {
            rows_with_data.push(json)
          }
        }
      }

      let colours = ['RED', 'YELLOW', 'LIME', 'AQUA', 'BLUE', 'PURPLE', 'MAROON']
      for (let i in Object.values(duplicates)) {
        let duplicate = Object.values(duplicates)[i]
        let row_colour = colours[i % colours.length]
        for (let duplicate_row of duplicate) {
          this.highlightRow(duplicate_row.row, row_colour)
        }
      }

      if (Object.values(duplicates).length) {
        // this.$swal.fire('Duplicates highlighted', `Each duplicated record has been highlighted, if these are mistakes please delete them.`, 'info')

        let result = await this.$swal.fire({
          title: 'Duplicates detected',
          text: `Each duplicated record has been highlighted. ${Object.values(duplicates).length} duplicated records have been found`,
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#388A6D',
          confirmButtonText: 'Automatically remove',
          cancelButtonText: 'Replace manually'
        })

        if (result.value) {
          let empty_row = []
          /* eslint-disable no-unused-vars */
          for (var _ in this.table_settings.colHeaders) {
            empty_row.push(null)
          }
          /* eslint-enable no-unused-vars */

          // TODO remove duplicates
          for (let dup_row of Object.values(duplicates)) {
            for (let row of dup_row) {
              this.$refs.data_table.hotInstance.populateFromArray(parseInt(row.row), 0, [empty_row])
            }
          }
        }
      } else {
        this.$swal.fire('No Duplicates detected', `No duplicates have been detected!`, 'success')
      }
    },
    add_sender_as_recipient () {
      if (!this.$refs.data_table.hotInstance) {
        return
      }
      let rows = this.$refs.data_table.hotInstance.getData()

      for (let row_i in rows) {
        let row = rows[row_i]

        let empty_row = true
        for (let col_i in row) {
          let col = row[col_i]

          if (col === null || col === undefined) {
            continue
          }

          if (col !== '') {
            empty_row = false
          }
        }

        if (empty_row) {
          for (let col_i in row) {
            let key = this.table_settings.colHeaders[col_i]

            if (key === 'First Name' && this.user_profile.address.first_name) {
              this.$refs.data_table.hotInstance.setDataAtCell(parseInt(row_i), parseInt(col_i), this.user_profile.address.first_name, 'add_sender')
            }

            if (key === 'Last Name' && this.user_profile.address.last_name) {
              this.$refs.data_table.hotInstance.setDataAtCell(parseInt(row_i), parseInt(col_i), this.user_profile.address.last_name, 'add_sender')
            }

            if (key === 'Company' && this.user_profile.address.company) {
              this.$refs.data_table.hotInstance.setDataAtCell(parseInt(row_i), parseInt(col_i), this.user_profile.address.company, 'add_sender')
            }

            if (key === 'Address line 1' && this.user_profile.address.address_line_1) {
              this.$refs.data_table.hotInstance.setDataAtCell(parseInt(row_i), parseInt(col_i), this.user_profile.address.address_line_1, 'add_sender')
            }

            if (key === 'Address line 2' && this.user_profile.address.address_line_2) {
              this.$refs.data_table.hotInstance.setDataAtCell(parseInt(row_i), parseInt(col_i), this.user_profile.address.address_line_2, 'add_sender')
            }

            if (key === 'City' && this.user_profile.address.city) {
              this.$refs.data_table.hotInstance.setDataAtCell(parseInt(row_i), parseInt(col_i), this.user_profile.address.city, 'add_sender')
            }

            if (key === 'State/Region' && this.user_profile.address.region) {
              this.$refs.data_table.hotInstance.setDataAtCell(parseInt(row_i), parseInt(col_i), this.user_profile.address.region, 'add_sender')
            }

            if (key === 'Postal code' && this.user_profile.address.postcode) {
              this.$refs.data_table.hotInstance.setDataAtCell(parseInt(row_i), parseInt(col_i), this.user_profile.address.postcode, 'add_sender')
            }

            if (key === 'Country' && this.user_profile.address.country) {
              let country = countriesList[this.user_profile.address.country]
              this.$refs.data_table.hotInstance.setDataAtCell(parseInt(row_i), parseInt(col_i), country, 'add_sender')
            }
          }

          return
        }
      }
    },
    getValidationErrorByCode (code) {
      switch (parseInt(code)) {
        case RECIPIENTS_ERROR.quantity:
          return `Please enter at least ${MIN_UNITS} units and no more then ${MAX_UNITS}.`
        case RECIPIENTS_ERROR.last_name:
          return `Last Name field should contain at least 2 letters.`
        case RECIPIENTS_ERROR.address:
          return `Address line 1 should contain at least 2 letters.`
        case RECIPIENTS_ERROR.city:
          return `City field should contain at least 2 letters.`
        case RECIPIENTS_ERROR.country:
          return `Country field cannot be empty.`
        case RECIPIENTS_ERROR.postcode:
          return `Postcode is invalid or missing. Please enter a postcode.`
        case RECIPIENTS_ERROR.unsupported_chars:
          return `Table contains unsupported characters. Please, remove them.`
        case RECIPIENTS_ERROR.us_state:
          return `A two letter state is required when sending in the US.`
        default:
          return `Unknown error type`
      }
    },
    highlightRow (row, color) {
      if (!this.$refs.data_table.hotInstance) {
        return
      }
      try {
        const hotTable = this.$refs.data_table.hotInstance
        const numOfCols = hotTable.countCols()
        for (let i = 0; i < numOfCols; i++) {
          const cell = this.$refs.data_table.hotInstance.getCell(row, i)
          cell.style.background = color
        }
      } catch (error) {}
    },
    clean_data: function () {
      if (!this.$refs.data_table.hotInstance) {
        return
      }

      let rows = this.$refs.data_table.hotInstance.getData()

      let new_rows = []

      for (let row_i in rows) {
        let row = rows[row_i]

        let new_row = {}

        let empty_row = true
        for (let col_i in row) {
          let col = row[col_i]
          let key = this.table_settings.colHeaders[col_i]

          if (col === null || col === undefined) {
            new_row[key] = col
            continue
          }

          if (col !== '') {
            empty_row = false
          }

          let new_data = col === null || col === undefined ? '' : col.trim().replace(/[\n\r]+/g, ' ').replace(/ +/g, ' ').replace(/\s/g, ' ')

          let out = text_utils.check_bad_text(new_data)
          new_data = out[1]

          if (this.do_replace_characters) {
            new_data = text_utils.replace_unsupported_chars(new_data)
          }

          if (key === 'Postal code') {
            new_data = new_data.toUpperCase().trim()
          } else if (key === 'City') {
            new_data = text_utils.to_title_case(new_data).trim()
          } else if (key === 'First Name') {
            new_data = text_utils.to_title_case(new_data).trim()
          } else if (key === 'Last Name') {
            new_data = text_utils.to_title_case(new_data).trim()
          } else if (key === 'Title') {
            new_data = text_utils.to_title_case(new_data).trim()
          }

          new_row[key] = new_data
        }

        if (!empty_row) {
          if (this.default_country && !new_row['Country']) {
            new_row['Country'] = this.default_country
          }

          let new_row_array = []
          for (let key of this.table_settings.colHeaders) {
            new_row_array.push(new_row[key])
          }

          new_rows.push(new_row_array)
        }
      }

      this.$refs.data_table.hotInstance.loadData(new_rows)
      this.$refs.data_table.hotInstance.render()

      if (this.default_country) {
        this.default_country = undefined
      }
    },
    get_data: function () {
      if (!this.$refs.data_table.hotInstance) {
        return
      }
      try {
        let rows = this.$refs.data_table.hotInstance.getData()
        // Remove blank rows
        let data = []
        for (let row_i in rows) {
          let row = rows[row_i]

          let all_null = true
          for (let col of row) {
            if (!col) {
              continue
            }
            if (col && col.trim().length > 0) {
              all_null = false
              break
            }
          }

          if (all_null) {
            continue
          }

          let row_obj = {}
          for (let i in this.table_settings.colHeaders) {
            var header = this.table_settings.colHeaders[i]
            if (header === 'State/Region') {
              row_obj['region'] = row[i]
            } else if (header === 'Postal code') {
              row_obj['postal_code'] = row[i]
            } else {
              row_obj[header.toLowerCase().trim()] = row[i]
            }
          }
          row_obj['index'] = parseInt(row_i, 10)
          // Clear country name and leave only code
          const country = row_obj['country']
          if (country) {
            row_obj['country'] = countries_lookup[row_obj['country']]
          }
          data.push(row_obj)
        }
        this.campaign.data = data
      } catch (err) {
        console.log(' ', err)
      }
    },
    validate: async function () {
      if (this.campaign.data_source === DATA_SOURCE.audience) {
        if (!this.selected) {
          this.$bvToast.toast('Please select the audience from the dropdown', {
            title: `Validation Error`,
            autoHideDelay: 10000,
            variant: 'danger',
            appendToast: true
          })
          return false
        }

        if (!(this.userDetail || []).length) {
          this.$bvToast.toast('The recipient is empty.', {
            title: `Validation Error`,
            autoHideDelay: 10000,
            variant: 'danger',
            appendToast: true
          })
          return false
        }
      }
      if (this.campaign.data_source !== DATA_SOURCE.upload) {
        return true
      }

      this.clean_data()
      this.get_data()
      // TODO check for global errors
      // Add country?
      // Update foreign characters
      // Only show max 10 errors at a time
      // Remove empty rows?
      // Duplicates?

      let bad_chars = []
      let missing_countries = []

      // Validate cells for bad (unsupported chars)
      this.rowsToHighlight = []
      for (let row of this.campaign.data) {
        let index = parseInt(row['index'], 10)

        for (let key in row) {
          if (key === 'index') {
            continue
          }

          let out = text_utils.check_bad_text(row[key])
          row[key] = out[1]

          // TODO highlight country and replace
          if (!out[0]) {
            bad_chars = bad_chars.concat(out[2])
            this.rowsToHighlight.push(index) // TODO
          }
        }
      }

      bad_chars = _.uniq(bad_chars)

      if (bad_chars.length) {
        if (this.do_replace_characters) {
          this.$swal.fire({
            title: 'Failed to replace all unsupported characters',
            text: `The following characters are not currently supported: "${bad_chars.join('", "')}". Please replace these manually.`,
            type: 'warning'
          })
          this.do_replace_characters = false
        } else {
          this.$swal.fire({
            title: 'Unsupported characters',
            text: `The following characters are not currently supported: "${bad_chars.join('", "')}". Please replace these. Automatic replacement attempts replaces with the closest similar character e.g. "à" goes to "a"`,
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#388A6D',
            confirmButtonText: 'Automatically replace',
            cancelButtonText: 'Replace manually'
          }).then(this.replace_characters)
        }

        this.highlight_rows()

        return false
      }

      // Validate row according to post or not post
      let errors = {}
      errors[RECIPIENTS_ERROR.last_name] = []
      errors[RECIPIENTS_ERROR.address] = []
      errors[RECIPIENTS_ERROR.postcode] = []
      errors[RECIPIENTS_ERROR.us_state] = []
      errors[RECIPIENTS_ERROR.quantity] = []

      for (let row of this.campaign.data) {
        let index = row['index']
        // skip header row
        if (index === -1) {
          continue
        }

        if (row['last name'].length < 1) {
          errors[RECIPIENTS_ERROR.last_name].push(index)
        }

        if (row['address line 1'].length < 1) {
          errors[RECIPIENTS_ERROR.address].push(index)
        }

        if (row['postal_code'].length < 1) {
          errors[RECIPIENTS_ERROR.postcode].push(index)
        }

        if (row['country'].length !== 2) {
          missing_countries.push(index)
        }

        if (row['country'] === 'US' && row['region'].length !== 2) {
          errors[RECIPIENTS_ERROR.us_state].push(index)
        }
      }
      // campaign data contains header row, so length is always >= 1
      if (this.campaign.data.length < MIN_UNITS || this.campaign.data.length > MAX_UNITS) {
        errors[RECIPIENTS_ERROR.quantity].push(-1)
      }

      let a = {}
      for (let key in countriesList) {
        let value = countriesList[key]
        a[value] = `${key} - ${value}`
      }

      if (missing_countries.length) {
        this.$swal.fire({
          title: 'Countries missing',
          text: `Please enter a country for every recipient`,
          type: 'warning',
          input: 'select',
          inputOptions: a,
          inputPlaceholder: 'Select a country',
          showCancelButton: true,
          confirmButtonColor: '#388A6D',
          confirmButtonText: 'Replace all empty with selected',
          cancelButtonText: 'Add manually'
        }).then(this.replace_countries)

        return false
      }

      let has_shown_errors = false
      for (let error_code in errors) {
        for (let row_index of errors[error_code]) {
          this.rowsToHighlight.push(row_index)
          has_shown_errors = true
        }

        if (has_shown_errors) {
          this.$bvToast.toast(this.getValidationErrorByCode(error_code), {
            title: `Validation Error`,
            autoHideDelay: 10000,
            variant: 'danger',
            appendToast: true
          })
          break
        }
      }

      if (has_shown_errors) {
        return false
      }

      // Highlight all error rows
      this.highlight_rows()

      return true
    },
    highlight_rows () {
      if (!this.$refs.data_table.hotInstance) {
        return
      }

      const hotTable = this.$refs.data_table.hotInstance
      const numOfRows = hotTable.countRows()
      for (let i = 0; i < numOfRows; i++) {
        if (this.rowsToHighlight.includes(i)) {
          this.highlightRow(i, errorColor)
        } else {
          this.highlightRow(i, '')
        }
      }
    },
    replace_countries (value) {
      if (value && value.value) {
        this.default_country = value.value
        this.clean_data()
        this.get_data()
        this.$swal.fire('Default country added', `All empty countries replaced with "${value.value}". Press next again to continue.`, 'success')
      } else {
        this.default_country = undefined
      }
    },
    replace_characters (result) {
      this.do_replace_characters = result.value
      this.get_data()
      if (this.do_replace_characters) {
        this.$swal.fire('Characters updated', 'Unsupported characters have been replaced. Please press next again continue. Note some characters may not have been replaced automatically and will required manually.', 'success')
        this.validate()
      }
    },
    customCellRenderer (instance, td, row, col, prop, value, cellProperties, color) {
      if (col === 11) {
        Handsontable.renderers.DropdownRenderer.apply(this, arguments)
      } else {
        Handsontable.renderers.TextRenderer.apply(this, arguments)
      }
      // td.style.fontWeight = 'bold'
      // td.style.color = 'green'
      td.style.background = color
    },
    cellRenderer (row, col) {
      let cellProperties = {}
      // Make headers readonly
      // if (row === 0) {
      //   cellProperties.readOnly = true
      // }
      if (this.rowsToHighlight.includes(row)) {
        cellProperties.renderer = (instance, td, row, col, prop, value, cellProperties) => {
          this.customCellRenderer(instance, td, row, col, prop, value, cellProperties, errorColor)
        }
      } else {
        cellProperties.renderer = (instance, td, row, col, prop, value, cellProperties) => {
          this.customCellRenderer(instance, td, row, col, prop, value, cellProperties, '')
        }
      }
      return cellProperties
    }
  },
  created () {
    this.table_settings.data = []

    if (this.from_recipients) {
      for (let recipient of this.from_recipients) {
        let country = recipient['country']
        if (country && countriesList[country]) {
          country = `${countriesList[country]}`
        }

        let recipient_data = [recipient.title, recipient['first name'], recipient['last name'], recipient.department, recipient.company, recipient['address line 1'], recipient['address line 2'], recipient['address line 3'], recipient['city'], recipient['postal_code'], recipient['region'], country]
        let variables = text_utils.get_variables(this.campaign.text)
        if (variables.indexOf('custom 1') > -1) {
          recipient_data.push(recipient['custom 1'])
        }
        if (variables.indexOf('custom 2') > -1) {
          recipient_data.push(recipient['custom 2'])
        }
        if (variables.indexOf('custom 3') > -1) {
          recipient_data.push(recipient['custom 3'])
        }
        if (variables.indexOf('custom 4') > -1) {
          recipient_data.push(recipient['custom 4'])
        }
        if (variables.indexOf('custom 5') > -1) {
          recipient_data.push(recipient['custom 5'])
        }
        if (variables.indexOf('custom 6') > -1) {
          recipient_data.push(recipient['custom 6'])
        }

        this.table_settings.data.push(recipient_data)
      }
    }
  },
  data: function () {
    let headers = ['Title', 'First Name', 'Last Name', 'Department', 'Company', 'Address line 1', 'Address line 2', 'Address line 3', 'City', 'Postal code', 'State/Region', 'Country']
    let columns = [{}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {
      type: 'dropdown',
      source: countriesArray
    }]
    let variables = text_utils.get_variables(this.campaign.text)

    if (variables.indexOf('custom 1') > -1) {
      headers.push('Custom 1')
      columns.push({})
    }
    if (variables.indexOf('custom 2') > -1) {
      headers.push('Custom 2')
      columns.push({})
    }
    if (variables.indexOf('custom 3') > -1) {
      headers.push('Custom 3')
      columns.push({})
    }
    if (variables.indexOf('custom 4') > -1) {
      headers.push('Custom 4')
      columns.push({})
    }
    if (variables.indexOf('custom 5') > -1) {
      headers.push('Custom 5')
      columns.push({})
    }
    if (variables.indexOf('custom 6') > -1) {
      headers.push('Custom 6')
      columns.push({})
    }

    return {
      is_fetching_recipient: false,
      do_replace_characters: false,
      valid_data: true,
      default_country: undefined,
      validationErrors: [],
      rowsToHighlight: [],
      table_settings: {
        data: [],
        columns: columns,
        colHeaders: headers,
        // colHeaders: true,
        rowHeaders: true,
        minSpareRows: 10,
        width: '100%',
        stretchH: 'all',
        height: '100%',
        cells: this.cellRenderer,
        afterChange: function (changes, source) { // TODO
          if (source !== 'clean') {
            this.get_data()
          }
        }.bind(this)
      },
      limit: 25,
      users: [],
      userDetail: [],
      selected: null,
      fields: fields,
      states_list
    }
  }
}
</script>

<style src="../../node_modules/handsontable/dist/handsontable.full.css"></style><style>
.ht_master .wtHolder {
    height: auto !important;

}

.b-card {
    /* background-color: rgb(215, 243, 245); */
    border: 1px solid rgb(233, 236, 233);

}
.integration-box{
  width:55%;
  padding-top:20px;
  padding-left:20px;
  padding-right:20px;
  padding-bottom: 10px;
  box-shadow: 0px 0px 6px #BBB;
}

.scrb-color.scrb-link:hover {
    text-decoration: underline;
}
</style>
