<template>
  <div>
    <!-- If there is already a card say contact us to edit otherwise add a card? -->
    <div v-if="user_profile.billing_enabled">
      <p>Using default payment details. Contact us to change payment method.</p>
    </div>
    <div v-else>
      <b-button v-if="show_add_card" variant="outline-primary" @click="setup_billing">Add Card</b-button>
      <b-modal size="lg" id="billing_modal" title="Setup billing" centered hide-footer>
        <div class="mx-3 my-3">
          <b-form-group label="Enter your card" description="For other payment methods contact us">
            <card ref="stripe_card_ele" class='form-control mb-3' :options='stripe_options' :stripe='CONFIG.stripe.public_key' @change='complete = $event.complete' />
          </b-form-group>
          <!-- <b-form-group label="Enter your billing address:">
              <AddressInput v-model="billing_address" ref="address" class="mb-3"/>
            </b-form-group> -->
          <!-- <b-form inline>
            <b-form-group label="Enter your tax ID (Optional):" inline>
              <b-input data-hj-whitelist placeholder="Tax ID Number (e.g. VAT Number)" v-model="tax_id" class="col-md-12" />
              <b-form-select data-hj-whitelist v-model="tax_type">
                <option value="eu_vat">European VAT number</option>
                <option value="au_abn">Australian Business Number (AU ABN)</option>
                <option value="in_gst">Indian GST number</option>
                <option value="no_vat">Norwegian VAT number</option>
                <option value="nz_gst">New Zealand GST number</option>
              </b-form-select>
            </b-form-group>
          </b-form> -->
          <b-form-group class="mt-3">
            <LoadingButton variant="secondary" id="add_card" class='pay-with-stripe' @click='add_card' :loading='adding_card'>Add card</LoadingButton>
          </b-form-group>
        </div>
      </b-modal>
    </div>
  </div>
</template>

<script>

import {
  Card,
  instance
} from 'vue-stripe-elements-plus'
import api from '../services/api'
import AddressInput from '@/components/AddressInput'
import LoadingButton from '@/components/LoadingButton'

export default {
  name: 'SelectCard',
  props: {
    user_profile: {
      type: Object,
      required: true
    },
    show_add_card: {
      type: Boolean
    },
    next_tab: {
      type: Function,
      required: false
    }
  },
  components: {
    Card,
    AddressInput,
    LoadingButton
  },
  data () {
    return {
      adding_card: false,
      complete: false,
      stripe_options: {
        hidePostalCode: false
      },
      billing_address: {
        first_name: this.user_profile.first_name,
        last_name: this.user_profile.last_name,
        job_title: this.user_profile.job_title,
        organisation: this.user_profile.organisation,
        address_line_1: this.user_profile.address_line_1,
        address_line_2: this.user_profile.address_line_2,
        city: this.user_profile.city,
        postcode: this.user_profile.postcode,
        country: this.user_profile.country
      },
      tax_id: '',
      tax_type: 'eu_vat',
      coupon: '',
      adding_coupon: false,
      setupintent: undefined
    }
  },
  methods: {
    setup_billing () {
      this.$bvModal.show('billing_modal')
      this.adding_card = false
      this.setupintent = api.stripe_request_setupintent()
    },
    async add_coupon () {
      this.adding_coupon = true
      if (!this.coupon) {
        this.$swal('Error', 'Please enter a coupon', 'error')
        this.adding_coupon = false
        return
      }
      let response = await api.stripe_add_coupon(this.coupon)
      if (response.error) {
        console.warn(response.error)
        this.$swal('Error', response.error.message, 'error')
      } else if (response.data.raw) {
        console.warn(response.data.raw)
        this.$swal('Error', response.data.raw.message, 'error')
      } else {
        console.log(response)
        this.$swal('Success', 'Applied coupon!', 'success')
      }
      this.adding_coupon = false
    },
    async add_card () {
      this.adding_card = true
      // this.$swal('Please wait', 'This can take up to 30 seconds to complete', 'info')

      var response = await this.setupintent

      var options = {
        'payment_method_data': {
          'billing_details': {
            'phone': this.user_profile.phone,
            'name': this.user_profile.full_name,
            'email': this.user_profile.email
          }
        }
      }

      response = await instance.handleCardSetup(response.data.client_secret, this.$refs.stripe_card_ele.$refs.element._element, options)
      if (response.error) {
        console.warn(response.error)
        this.$swal('Error', response.error.message, 'error')
        this.adding_card = false
        return
      } else if (response.data && response.data.raw) {
        console.warn(response.data.raw)
        this.$swal('Error', response.data.raw.message, 'error')
        this.adding_card = false
        return
      }
      response = await api.stripe_add_card(response.setupIntent.payment_method, this.tax_id, this.tax_type)
      if (response.error) {
        console.warn(response.error)
        this.$swal('Error', response.error.message, 'error')
        this.adding_card = false
        return
      } else if (response.data && response.data.raw) {
        console.warn(response.data.raw)
        this.$swal('Error', response.data.raw.message, 'error')
        this.adding_card = false
        return
      } else if (response.data && response.data.error) {
        console.warn(response.data.error)
        this.$swal('Error', response.data.error.message, 'error')
        this.adding_card = false
        return
      }
      this.$bvModal.hide('billing_modal')
      this.adding_card = false

      this.$swal.close()
      if (this.next_tab) {
        this.next_tab(undefined, true)
      }
    }
  }
}
</script>

<style scoped>

</style>
