<template>
  <b-form>
    <b-form-group description="If you are planning to integrate the campaign into your CRM to send letters based on customer actions.">
      <b-form-checkbox  v-model="campaign.data_source" :value="DATA_SOURCE.api_crm" :unchecked-value="DATA_SOURCE.upload">
        Using API/CRM Integration
      </b-form-checkbox>
    </b-form-group>

    <b-form-group description="Print an envelope for each note">
      <b-form-radio-group button-variant="outline-primary" buttons v-model="campaign.envelope.required" :options="Object.values(ENVELOPE_REQUIRED)" />
    </b-form-group>

    <div v-if="campaign.envelope.required == ENVELOPE_REQUIRED.yes">
      <hr>
      <h3>Envelope</h3>
      <b-alert variant="info" show>Want to print your postage directly onto each envelope? Feature coming soon.</b-alert>
    </div>

  </b-form>
</template>

<script>

export default {
  name: 'SenderOnDemandEdit',
  props: {
    campaign: {
      type: Object,
      required: true
    }
  },
  methods: {
    validate: async function () {
      return true
    }
  }
}

</script>

<style scoped>
</style>
