<template>
  <div>
    <b-form-select placeholder='State' v-model="state" :options="states" @input="update()"></b-form-select>
  </div>
</template>

<script>
import statesList from '../lib/states'

let states = []
states.push({
  value: null,
  text: 'Select a State',
  disabled: true
})

for (let state in statesList) {
  states.push({
    value: state,
    text: `${state} - ${statesList[state]}`
  })
}

export default {
  name: 'StateSelect',
  props: ['value'],
  data () {
    return {
      states: states,
      state: this.value
    }
  },
  watch: {
    value: function (val) {
      if (!val) {
        return
      }

      this.state = val
    }
  },
  methods: {
    update () {
      this.$emit('input', this.state)
    }
  }
}
</script>

<style scoped>

</style>
