<template>
  <div>
    <b-alert :show="user_profile.currency !== 'gbp'" variant="warning">
      Users currency is {{user_profile.currency | uppercase}} not GBP
    </b-alert>

    <b-form inline class="mb-3">

      <label class="mr-3">Aggregate</label>
      <b-form-group class="mr-3">
        <b-form-select v-model="aggregate" :options="['daily']"/>
      </b-form-group>

      <label class="mr-3">Dataset</label>
      <b-form-group class="mr-3">
        <b-form-select v-model="dataset" :options="['products', 'recipients']"/>
      </b-form-group>

      <label class="mr-3" v-if="aggregate == 'daily'">From Date</label>
      <b-form-group v-if="aggregate == 'daily'">
        <b-form-input type="date" v-model="from_date" :min="min_date" :max="max_date" class="mr-3"/>
      </b-form-group>

      <label class="mr-3" v-if="aggregate == 'daily'">To Date</label>
      <b-form-group v-if="aggregate == 'daily'">
        <b-form-input type="date" v-model="to_date" :min="min_date" :max="max_date" class="mr-3"/>
      </b-form-group>

      <b-form-group class="mr-3" v-if="aggregate == 'daily'">
        <b-button variant="outline-primary" @click="change_date">Filter</b-button>
      </b-form-group>
    </b-form>

    <daily-usage-chart v-if="aggregate == 'daily' && usage && usage.length" :dataset='dataset' :user_profile="user_profile" :price_table="price_table" :usage="usage" :from_date="from_date" :to_date="to_date" :height="100"/>

    <b-table-simple bordered small v-if="aggregate == 'daily'">
      <b-tbody>
        <b-tr>
          <td>Days</td>
          <td>{{this.stats.days}}</td>
        </b-tr>
        <b-tr>
          <td>Total Recipeints</td>
          <td>{{this.stats.total_recipients}}</td>
        </b-tr>
        <b-tr>
          <td>Daily Average Recipeints</td>
          <td>{{this.stats.daily_avg_recipients.toFixed(2)}}</td>
        </b-tr>
      </b-tbody>
    </b-table-simple>

    <p class="text-muted" v-if="aggregate == 'daily'">
      <small>Units may be deleted</small>
    </p>

  </div>
</template>

<script>
import { db } from '@/lib/firebase.js'
import MonthlyUsageChart from '@/components/MonthlyUsageChart'
import DailyUsageChart from '@/components/DailyUsageChart'
import moment from 'moment'

export default {
  name: 'UsageTable',
  components: {'monthly-usage-chart': MonthlyUsageChart, 'daily-usage-chart': DailyUsageChart},
  props: {
    user_profile: {
      required: true
    },
    price_table: {
      type: Object,
      required: true
    }
  },
  watch: {
    usage: {
      deep: true,
      handler: function () {
        let recipients_count = 0
        // TODO NOTE price per recipient changes depending on the billing period, maybe tie usage records with the billing period record?
        // TODO NOTE users currency may not be GBP, shoudl we convert to GBP?
        // TODO need to aggregate all goods, otherwise +ve and -ve wont match
        for (let usage of this.usage || []) {
          recipients_count += usage.recipients_count || 0
        }

        let from_date = moment(this.from_date, 'YYYY-MM-DD')
        let to_date = moment(this.to_date, 'YYYY-MM-DD').endOf('day')

        let now = from_date.clone()
        let dates = []
        while (now.isSameOrBefore(to_date)) {
          dates.push(now.format('DD-MM-YY'))
          now.add(1, 'days')
        }

        let number_of_days = dates.length

        this.stats.days = number_of_days
        this.stats.total_recipients = recipients_count
        this.stats.daily_avg_recipients = recipients_count / number_of_days
      }
    }
  },
  methods: {
    change_date: function () {
      let from_date = moment(this.from_date, 'YYYY-MM-DD').toDate()
      let to_date = moment(this.to_date, 'YYYY-MM-DD').endOf('day').toDate()
      if (!from_date || !to_date) {
        alert('A from and to date is required')
        return
      }
      this.$bind('usage', db.collection('usage').orderBy('created', 'desc').where('uid', '==', this.user_profile.id).where('created', '>=', from_date).where('created', '<=', to_date))
    }
  },
  created: function () {
    this.change_date()
  },
  data: function () {
    return {
      usage: [],
      dataset: 'products',
      min_date: moment(this.user_profile.created.toDate()).format('YYYY-MM-DD'),
      max_date: moment().format('YYYY-MM-DD'),
      from_date: moment().subtract(30, 'days').format('YYYY-MM-DD'),
      to_date: moment().format('YYYY-MM-DD'),
      aggregate: 'billing period',
      stats: {
        total_recipients: 0,
        daily_avg_recipients: 0,
        days: 0
      }
    }
  }
}
</script>

<style scoped>

</style>
