<template>
  <b-container v-if="user_profile && user_profile.admin" fluid>
    <!-- page title -->
    <b-row>
      <b-col>
        <div class="page-title-box">
          <h4 class="page-title">Analytics</h4>
        </div>
      </b-col>
    </b-row>

    <!-- filter container -->
    <b-row class="justify-content-md-center">
      <b-col>
        <b-card>
          <b-row>
            <div class="col-lg-8">
              <form class="form-inline">
                <label class="mr-3">From Date</label>
                <b-form-group>
                  <b-form-input
                    type="date"
                    v-model="from_date"
                    :max="max_date"
                  />
                </b-form-group>
                <label class="mr-3 ml-4">To Date</label>
                <b-form-group>
                  <b-form-input type="date" v-model="to_date" :max="max_date" />
                </b-form-group>

                <b-form-group class="mr-3 ml-2">
                  <b-button
                    variant="outline-primary"
                    @click="updateAnalyticsDatas"
                    >Filter</b-button
                  >
                </b-form-group>
              </form>
            </div>

            <div class="col-lg-4">
              <div class="text-lg-right mt-3 mt-lg-0">
                <!-- <LoadingButton variant="outline-primary" @click="bill_users" :loading="bill_users_loading">Bill users</LoadingButton>
                <LoadingButton variant="outline-primary" @click="sync_hubspot_invoices" :loading="sync_hubspot_invoices_loading">Sync HubSpot Invoices</LoadingButton>-->
                <button
                  type="button"
                  class="btn btn-primary waves-effect waves-light"
                >
                  Bill Users
                </button>
                <router-link
                  :to="{ name: 'CreateNewCampaign', params: { id: 'new' } }"
                >
                  <a
                    href="javascript: void(0);"
                    class="btn btn-primary waves-effect waves-light"
                    >Sync HubSpot Invoices</a
                  >
                </router-link>
              </div>
            </div>
          </b-row>
        </b-card>
      </b-col>
    </b-row>

    <!-- summary containers -->
    <b-row class="justify-content-md-center">
      <b-col md>
        <div class="card-box bg-pattern">
          <div class="row">
            <div class="col-6">
              <div class="avatar-md rounded bg-soft-primary border border-primary border">
                <i class="fe-clock avatar-title font-22 text-primary"></i>
              </div>
            </div>
            <div class="col-6">
              <div class="text-right">
                <h3 class="text-dark my-1">
                  <span>
                    <span>{{ this.stats.total_days_for_period }}</span>
                  </span>
                </h3>
                <p class="text-muted mb-0 text-truncate">Days</p>
              </div>
            </div>
          </div>
        </div>
      </b-col>
      <b-col md>
        <div class="card-box bg-pattern">
          <div class="row">
            <div class="col-6">
              <div class="avatar-md rounded bg-soft-warning border-warning border">
                <i class="fe-user avatar-title font-22 text-warning"></i>
              </div>
            </div>
            <div class="col-6">
              <div class="text-right">
                <h3 class="text-dark my-1">
                  <span>
                    <span>{{
                      this.stats.batches.total_recipients_for_period
                    }}</span>
                  </span>
                </h3>
                <p class="text-muted mb-0 text-truncate">
                  Total Recipeintss
                </p>
              </div>
            </div>
          </div>
        </div>
      </b-col>
      <b-col md>
        <div class="card-box bg-pattern">
          <div class="row">
            <div class="col-6">
              <div class="avatar-md rounded bg-soft-primary border-primary border">
                <i class="far fa-money-bill-alt avatar-title font-22 text-primary" style="padding-left:13px;padding-top:16px"></i>
              </div>
            </div>
            <div class="col-6">
              <div class="text-right">
                <h3 class="text-dark my-1">
                  <span>
                    <span>
                      {{
                        (this.stats.batches.total_cost_for_period / 100)
                          | currency('£')
                      }}
                    </span>
                  </span>
                </h3>
                <p class="text-muted mb-0 text-truncate">Total cost</p>
              </div>
            </div>
          </div>
        </div>
      </b-col>
    </b-row>

    <!-- detail summary containers class="col-xl-4" -->
    <b-row cols="3">
      <b-col
        v-bind:md="
          Object.keys(stats.batches.per_printer).length < 2 ? true : false
        "
        v-for="(stat, name) in stats.batches.per_printer"
        v-bind:key="name"
      >
        <b-card>
          <h4 class="header-title mb-1">
            {{ name }}
          </h4>
          <div class="widget-chart text-center" dir="ltr">
            <h5 class="text-muted">
              Average recipients per batch
            </h5>
            <h2>{{ (stat.avg_cost_per_batch / 100) | currency('£') }}</h2>
            <p class="text-muted w-75 mx-auto sp-line-2">
              Traditional heading elements are designed to work best in the meat
              of your page content.
            </p>
            <div class="row mt-3">
              <div class="col-4">
                <p class="text-muted font-15 mb-1 text-truncate">
                  Total recipients
                </p>
                <h4>{{ stat.total_recipients }}</h4>
              </div>
              <div class="col-4">
                <p class="text-muted font-15 mb-1 text-truncate">Total cost</p>
                <h4>{{ (stat.total_cost / 100) | currency('£') }}</h4>
              </div>
              <div class="col-4">
                <p class="text-muted font-15 mb-1 text-truncate">
                  Total batches
                </p>
                <h4>{{ stat.total_batches }}</h4>
              </div>
            </div>
          </div>
        </b-card>
      </b-col>
    </b-row>

    <!-- Stationery Analysis -->
    <StationaryAnalysis :analysis_data="stats.stationery" />

    <!-- Batches Analytics -->
    <BatchAnalysis
      :analysis_data="stats"
      :printers="printers"
      :batches="batches"
      :dates="dates_in_range"
    />

    <!-- Campaigns & Recipients -->
    <b-row class="mb-3">
      <b-col>
        <b-card
          title="Campaigns & Recipients"
          sub-title="Campaign, recipient, goods, and revenue analytics"
        >
          <b-card-group deck>
            <b-card-body>
              <b-form-group>
                <b-form-select
                  :options="['include admins', 'exclude admins']"
                  v-model="include_admins"
                />
              </b-form-group>
              <b-form-group label="User UID">
                <b-form-input v-model="filter_uid" />
              </b-form-group>
            </b-card-body>
          </b-card-group>

          <CampaignRecipientAnalysis
            :invoices="invoices"
            :usages="usage"
            :dates="dates_in_range"
            :from_date="this.from_date"
            :total_days="this.stats.total_days_for_period"
          />
        </b-card>
      </b-col>
    </b-row>

    <!-- <div class="mb-3">
      <b-card title="Users" sub-title="User analytics">
        <b-card-text>
          TODO Number of users BY date. From HubSpot

          <LineChart
            class="apex-charts"
            type="area"
            height="300"
            dataset="recipients"
            :user_profile="user_profile"
            :usage="usage"
            :from_date="from_date"
            :to_date="to_date"
            :series="series"
            :options="chartOptions"
          ></LineChart>

          <b-table-simple
            bordered
            small
            v-if="Object.keys(this.stats.uncaptured_revenue_users).length"
          >
            <b-thead>
              <b-tr>
                <td>UID</td>
                <td>Uncaptured Revenue</td>
              </b-tr>
            </b-thead>
            <b-tbody>
              <b-tr
                v-for="(revenue, uid) in this.stats.uncaptured_revenue_users"
                v-bind:key="uid"
              >
                <td>{{ uid }}</td>
                <td>{{ revenue | currency('£') }}</td>
              </b-tr>
            </b-tbody>
          </b-table-simple>
        </b-card-text>
      </b-card>
    </div> -->

    <!-- <div class="mb-3">
        <b-card title="Integrations" sub-title="Integrations analytics">
            <b-card-text>
                TODO Integrations added
            </b-card-text>
        </b-card>
    </div>-->
  </b-container>
</template>

<script>
import { db } from '@/lib/firebase.js'
import api from '@/services/api'

import StationaryAnalysis from '@/components/analysis/StationaryAnalysis'
import BatchAnalysis from '@/components/analysis/BatchAnalysis'
import CampaignRecipientAnalysis from '@/components/analysis/CampaignRecipientAnalysis'

import LoadingButton from '@/components/LoadingButton'
import * as constants from '@/../functions/shared/constants.js'
import moment from 'moment'
import pricing from '@/lib/pricing.js'

export default {
  name: 'Analytics',
  props: ['user_profile'],
  components: {
    StationaryAnalysis,
    BatchAnalysis,
    CampaignRecipientAnalysis,
    LoadingButton
  },
  data: function () {
    return {
      bill_users_loading: false,
      sync_hubspot_invoices_loading: false, // TODO
      include_admins: 'exclude admins',

      filter_uid: '',
      printers: [],
      stationery: [],
      batches: [],
      usage: [],
      invoices: [],
      users: [],

      /* Filter date */
      from_date: moment()
        .subtract(30, 'days')
        .format('YYYY-MM-DD'),
      to_date: moment().format('YYYY-MM-DD'),
      max_date: moment().format('YYYY-MM-DD'),
      dates_in_range: [],
      /* Overall Stats */
      stats: {
        /* from-to date */
        from_date: null,
        to_date: null,
        total_days_for_period: 0,

        /* stationary analysis */
        stationery: {
          style_popularity: {},
          size_popularity: {}
        },

        /* batch analysis */
        batches: {
          per_printer: {},
          total_recipients_for_period: 0,
          total_cost_for_period: 0
        },

        invoices: {},

        users: {
          avg_new_per_day: 0,
          total_for_period: 0
        },
        uncaptured_revenue_users: {}
      }
    }
  },
  firestore: function () {
    return {
      printers: db.collection('printers')
    }
  },
  watch: {
    printers: {
      deep: true,
      handler: function () {
        for (let printer of this.printers) {
          if (!this.stats.batches.per_printer[printer.name]) {
            this.stats.batches.per_printer[printer.name] = {
              costAnalysis: [],
              recipientAnalysis: [],
              avg_cost_per_batch: 0,
              avg_recipients_per_batch: 0,
              total_recipients: 0,
              total_cost: 0,
              total_batches: 0
            }
          }
        }
      }
    },
    stationery: {
      deep: true,
      handler: function () {
        this.stats.stationery.style_popularity = {}
        this.stats.stationery.size_popularity = {}
        for (let stationery of this.stationery) {
          if (
            !this.stats.stationery.style_popularity[
              stationery.handwriting_style
            ]
          ) {
            this.stats.stationery.style_popularity[
              stationery.handwriting_style
            ] = 0
          }
          this.stats.stationery.style_popularity[
            stationery.handwriting_style
          ] += 1

          if (!this.stats.stationery.size_popularity[stationery.paper.name]) {
            this.stats.stationery.size_popularity[stationery.paper.name] = 0
          }
          this.stats.stationery.size_popularity[stationery.paper.name] += 1
        }
      }
    },
    batches: {
      deep: true,
      handler: function () {
        this.stats.batches.total_recipients_for_period = 0
        this.stats.batches.total_cost_for_period = 0
        this.stats.batches.per_printer = {}
        this.stats.from_date = this.from_date
        this.stats.to_date = this.to_date
        this.stats.total_days_for_period =
          moment(this.to_date).diff(moment(this.from_date), 'days') + 1

        for (let batch of this.batches || []) {
          let printer = batch.printer_doc

          if (!printer || !printer.name) {
            continue
          }

          if (!this.stats.batches.per_printer[printer.name]) {
            this.stats.batches.per_printer[printer.name] = {
              costAnalysis: {},
              recipientAnalysis: {},
              avg_cost_per_batch: 0,
              avg_recipients_per_batch: 0,
              total_recipients: 0,
              total_cost: 0,
              total_batches: 0
            }
          }

          this.stats.batches.per_printer[printer.name].costAnalysis[
            moment(batch.shipped_date.toDate()).format('DD-MM-YYYY')
          ] = 200 // batch.cost

          this.stats.batches.per_printer[printer.name].recipientAnalysis[
            moment(batch.shipped_date.toDate()).format('DD-MM-YYYY')
          ] = batch.count

          this.stats.batches.per_printer[printer.name].total_cost +=
            parseInt(batch.cost) || 0
          this.stats.batches.per_printer[printer.name].total_recipients +=
            parseInt(batch.count) || 0
          this.stats.batches.per_printer[printer.name].total_batches += 1
        }

        for (let printer_name in this.stats.batches.per_printer) {
          let stat = this.stats.batches.per_printer[printer_name]
          this.stats.batches.total_recipients_for_period +=
            stat.total_recipients
          this.stats.batches.total_cost_for_period += stat.total_cost
          stat.avg_cost_per_batch = stat.total_cost / stat.total_batches || 0
          stat.avg_recipients_per_batch =
            stat.total_recipients / stat.total_batches || 0
        }
      }
    },
    invoices: {
      deep: true,
      handler: function () {
        // console.log(this.invoices)
      }
    },
    usage: {
      deep: true,
      handler: function () {
        // let users = {}
        // for (let usage of this.usage || []) {
        //   if (usage.price) {
        //     continue
        //   }
        //   let price = pricing.caluclate_price(
        //     this.price_table_default,
        //     this.user_profile,
        //     usage.goods
        //   )
        //   if (!users[usage.uid]) {
        //     users[usage.uid] = 0
        //   }
        //   users[usage.uid] += price.total_gbp / 100
        // }
        // this.stats.uncaptured_revenue_users = users
      }
    }
  },
  mounted () {
    this.updateAnalyticsDatas()
  },
  methods: {
    bill_users: async function () {
      this.bill_users_loading = true
      await api.bill_users()
      this.bill_users_loading = false
    },
    sync_hubspot_invoices: async function () {
      this.sync_hubspot_invoices_loading = true
      await api.sync_hubspot_invoices()
      this.sync_hubspot_invoices_loading = false
    },
    updateAnalyticsDatas: async function () {
      let from_date = moment(this.from_date, 'YYYY-MM-DD').toDate()
      let to_date = moment(this.to_date, 'YYYY-MM-DD')
        .endOf('day')
        .toDate()

      if (!from_date || !to_date) {
        alert('A from and to date is required')
        return
      }

      let now = moment(this.from_date, 'YYYY-MM-DD').clone()
      let dates_in_range = []
      while (now.isSameOrBefore(to_date)) {
        dates_in_range.push(now.format('DD-MM-YY'))
        now.add(1, 'days')
      }
      this.dates_in_range = dates_in_range

      let usage_query = db
        .collection('usage')
        .orderBy('created', 'desc')
        .where('created', '>=', from_date)
        .where('created', '<=', to_date)
      let invoice_query = db
        .collection('invoices')
        .orderBy('billing_from', 'desc')
        .where('billing_from', '>=', from_date)
        .where('billing_from', '<=', to_date)
      let stationery_query = await db
        .collection('stationary')
        .orderBy('created', 'desc')
        .where('created', '>=', from_date)
        .where('created', '<=', to_date)

      if (this.include_admins === 'exclude admins') {
        usage_query = usage_query.where('admin', '==', false)
        invoice_query = invoice_query.where('admin', '==', false)
      }

      if (this.filter_uid) {
        usage_query = usage_query.where('uid', '==', this.filter_uid)
        invoice_query = invoice_query.where('uid', '==', this.filter_uid)
        stationery_query = stationery_query.where('uid', '==', this.filter_uid)
      }

      this.$bind('usage', usage_query)
      this.$bind('invoices', invoice_query)
      this.$bind('stationery', stationery_query)
      this.$bind(
        'batches',
        db
          .collection('batches')
          .orderBy('shipped_date', 'desc')
          .where('status', '==', constants.BATCH_STATUS.shipped)
          .where('shipped_date', '>=', from_date)
          .where('shipped_date', '<=', to_date)
      )
    }
  }
}
</script>

<style scoped></style>;
