<template>
<div class='content-container' v-if="batch">
    <div class="col-md-12" style="padding-top:20px">
        <div class="shadow p-3 mb-3 bg-white rounded">
            <div class="card-body">
                <h3>Batch Details</h3>
                <hr>
                <!-- <b-alert v-if="batch.warnings && batch.warnings.length" show variant="warning">
                Print house warnings
                <ul>
                    <li v-for="warning in batch.warnings" v-bind:key="warning">{{warning}}</li>
                </ul>
                </b-alert> -->
                <b-alert v-model="batchUpdated" class="position-fixed fixed-top m-0 rounded-0" style="z-index: 2000;" variant="danger" dismissible>
                    This batch has been updated, please rebatch to update the ZIP file
                </b-alert>
                <!-- <div class="float-right" > -->
                <p>Created {{display_timestamp(batch.created)}}</p>
                <p v-if="batch.shipped_date">Shipped {{display_timestamp(batch.shipped_date)}}</p>
                <p>Estimated cost <span v-if="batch.cost === undefined || batch.cost === null">Unknown</span><span v-else>{{batch.cost / 100 | currency('£')}}</span></p>
                <!-- </div> -->
                <!-- <div class="col-md-12" style="padding-top:7em"> -->
                <b-form-group label="Status">
                    <b-form-select v-model="batch.status" class="col-6" :options="Object.values(BATCH_STATUS)" @change='update_batch' />
                </b-form-group>

                <b-form-group label="Printer">
                    <b-form-select v-if="batch.status !== BATCH_STATUS.shipped" class="col-6" v-model="printer_id" :options="printer_ids" @change="update_batch_printer_doc" />
                    <span v-else-if="batch.printer_doc" class="col-6">{{batch.printer_doc.name}}</span>
                    <span class="col-md-1 text-center"><a :href="`/printer/${printer_id}`"><i class="fas fa-link"></i></a></span>
                </b-form-group>

                <b-form-group>
                    <LoadingButton variant="outline-primary" @click="batch_printer_check" :loading="batch_printer_check_loading">Recalculate cost and warnings</LoadingButton>
                </b-form-group>

                <b-form-group label="Notes:">
                    <b-form-textarea style="background-color:rgb(235,235,235);font-style: italic;" rows="4" v-model="batch.notes" @change="update_batch" />
                </b-form-group>

                <b-form-group v-if="recipients && recipients.length">
                    <LoadingButton variant="outline-primary" :href='batch.zip ? batch.zip : ""' :loading="!batch.zip" id="second_next_button"><span class="fa fa-file-archive" /> Download ZIP</LoadingButton>
                </b-form-group>
            </div>
        </div>

    </div>
    <div class="col-md-12">
        <div class="shadow p-3 mb-3 bg-white rounded">
            <div class="card-body">
                <h3>Campaigns</h3>
                <hr>
                <div class="row mb-md-2">
                    <div class="col-sm-12 col-md-6">
                        <div id="tickets-table_length" class="dataTables_length">
                            <label class="d-inline-flex align-items-center">
                                Show&nbsp;
                                <b-form-select v-model="per_page" size="sm" :options="pageOptions"></b-form-select>&nbsp;
                            </label>
                        </div>
                    </div>
                    <!-- Search -->
                    <div class="col-sm-12 col-md-6">
                        <div id="tickets-table_filter" class="dataTables_filter text-md-right">
                            <label class="d-inline-flex align-items-center">
                                Search:
                                <b-form-input v-model="filter" type="search" placeholder="Search..." class="form-control form-control-sm ml-2"></b-form-input>
                            </label>
                        </div>
                    </div>
                    <!-- End search -->
                </div>
                <b-table thead-class="bg-light text-black" show-empty bordered striped empty-text="No campaigns" :current-page="current_page" :per-page="per_page" :items="campaigns" :fields="campaign_fields" :filter="filter" ref="campaign_table">
                    <template v-slot:cell(status)="row">
                        <span v-if="row.item && row.item.campaign_doc && row.item.campaign_doc.status" :class="row.item.campaign_doc.status.toLowerCase().replace(/ /g, '_')">{{row.item.campaign_doc.status}}</span>
                    </template>

                    <template v-slot:cell(created)="row">
                        {{ display_timestamp(row.item.campaign_doc.created) }}
                    </template>

                    <template v-slot:cell(uid)="row">
                        <span v-html="display_user(row.item.campaign_doc.uid)"></span>
                    </template>

                    <template v-slot:cell(title)="row">
                        {{ row.item.campaign_doc.title }}
                    </template>

                    <template v-slot:cell(id)="row">
                        <b-button variant="outline-primary" :to="{name: 'Campaign', params: {id: row.item.id.trim()}}">View</b-button>
                    </template>

                </b-table>
            </div>
            <div class="row" style="padding-top:30px">
                <div class="col-sm-12 col-md-5">
                </div>
                <div class="col-sm-12 col-md-7">
                    <b-pagination class="pagination pagination-rounded justify-content-end" v-model="current_page" :total-rows="total_rows" :per-page="per_page"></b-pagination>
                </div>
            </div>
        </div>

        <div class="shadow p-3 mb-3 bg-white rounded">
            <div class="card-body">
                <h3>Recipients</h3>
                <hr>
                <b-form inline class="my-3">
                    <!-- <label class="mr-sm-2" for="inline-form-custom-select-pref">Selected: {{recipients_table_selected.length}}</label> -->
                    <!-- <b-form-group>
                <b-button @click="$refs.recipients_table.selectAllRows()" variant="outline-primary" class="mr-3">Select All</b-button>
                </b-form-group> -->
                    <div v-if="recipients_table_selected.length == 0 ">
                        <div class="checkbox form-check-inline" style="padding-left:8px;">
                            <input @click="$refs.recipients_table.selectAllRows()" type="checkbox" id="inlineCheckbox1" value="option1">
                            <label for="inlineCheckbox1"> Select All </label>
                        </div>
                    </div>
                    <div v-else>
                        <b-form-group class="ml-2">
                            <div class="checkbox form-check-inline mr-3">
                                <input @click="$refs.recipients_table.clearSelected()" type="checkbox" id="inlineCheckbox1" value="option1">
                                <label for="inlineCheckbox1"> Clear All </label>
                            </div>
                            <!-- <b-button @click="$refs.recipients_table.clearSelected()" variant="outline-primary">Clear Selection</b-button> -->
                        </b-form-group>
                    </div>
                    <b-form inline>
                        <label class=" ml-sm-4 mr-sm-2" for="inline-form-custom-select-pref">Filter by Campaign</label>
                        <b-form-group class="mr-3">
                            <b-form-select v-model="filter_by_campaign" :options="campaigns_to_filter" @change="do_filter_by_campaign"></b-form-select>
                        </b-form-group>
                    </b-form>

                    <label class="ml-4 mr-2" for="inline-form-custom-select-pref">Update status</label>
                    <b-form-group class="mr-2">
                        <b-form-select v-model="update_status">
                            <option>{{RECIPIENT_STATUS.pending}}</option>
                            <option>{{RECIPIENT_STATUS.in_progress}}</option>
                            <option>{{RECIPIENT_STATUS.ready_to_print}}</option>
                            <option>{{RECIPIENT_STATUS.shipped}}</option>
                            <option>{{RECIPIENT_STATUS.error}}</option>
                        </b-form-select>
                    </b-form-group>
                    <b-form-group class="mr-3">
                        <b-button @click="updateSelectedStatus" variant="outline-primary">Update</b-button>
                    </b-form-group>
                </b-form>

                <b-table bordered striped show-empty empty-text="No recipients" :items="recipients" :fields="recipients_fields" @row-selected="onRowSelected" selected-variant='info' selectable ref="recipients_table">
                    <template v-slot:cell(name)="row">
                        {{ `${row.item.recipient_doc['first name'] || ''} ${row.item.recipient_doc['last name']}`.trim() }}
                    </template>

                    <template v-slot:cell(address)="row">
                        {{ row.item.recipient_doc['address line 1'] }}
                    </template>

                    <template v-slot:cell(status)="row">
                        <!-- <span v-if="row.item && row.item.recipient_doc && row.item.recipient_doc.status" >{{row.item.recipient_doc.status}}</span> -->
                        <b-form-select class="w-100 mr-5" v-if="row.item && row.item.recipient_doc && row.item.recipient_doc.status" :value="row.item.recipient_doc.status" :class="row.item.recipient_doc.status.toLowerCase().replace(/ /g, '_')" :options="Object.values(RECIPIENT_STATUS)" @change='update_recipient("status", $event, row.item, row.item.recipient_doc.id)' />
                    </template>

                    <template v-slot:cell(uid)="row">
                        <span v-html="campaign_user(row.item.campaign)"></span>
                    </template>

                    <template v-slot:cell(campaign_id)="row">
                        <b-button variant="outline-primary" :href="`/campaign/${row.item.campaign}?recipient=${row.item.recipient_doc.id}#recipients_table`">{{campaign_name(row.item.campaign)}}</b-button>
                    </template>

                    <template v-slot:cell(estimated_delivery_date)="row">
                        <span v-if="row.item.recipient_doc && row.item.recipient_doc.estimated_delivery_date">{{ display_timestamp(row.item.recipient_doc.estimated_delivery_date, true) }}</span>
                    </template>

                    <template v-slot:cell(actions)="row">
                        <b-button class="mb-2" style="width:45px" v-if="row.item.recipient_doc['letter_url']" :href="row.item.recipient_doc['letter_url']" variant="outline-primary"><span class="fa fa-file" /> </b-button>
                        <b-button class="mb-2" v-if="row.item.recipient_doc['envelope_url']" :href="row.item.recipient_doc['envelope_url']" variant="outline-primary"><span class="fa fa-envelope" /> </b-button>
                    </template>
                </b-table>
                <!-- <div class="row" style="padding-top:30px">
                        <div class="col-sm-12 col-md-5">
                        </div>
                        <div class="col-sm-12 col-md-7">
                            <b-pagination class="pagination pagination-rounded justify-content-end" v-model="current_page" :total-rows="total_rows_recipients" :per-page="per_page"></b-pagination>
                  </div>
            </div> -->
                <b-alert variant="info" :show="recipients.length >= limit && show_load_all" class="text-center">
                    <p>By default we only show your first {{limit}} recipients, this stops the page from slowing down. Click the button to load all your recipients. Note your page may slow down. This may take a few seconds.</p>
                    <b-button variant="outline-primary" @click="load_recipients()">Load all</b-button>
                </b-alert>
            </div>
        </div>
        <AuditTable :audit_ref="audit_ref" :user_profile="user_profile " />

        <!-- <b-alert variant="info" :show="recipients.length >= per_page" class="text-center">
        <p>By default we only show your first {{per_page}} recipients, this stops the page from slowing down.</p>
      </b-alert> -->
    </div>
</div>
</template>

<script>
// const db = {}
// const api = {}
// const LoadingButton = {}
// const AuditTable = {}
import {
  db
} from '@/lib/firebase.js'
import api from '@/services/api.js'
import LoadingButton from '@/components/LoadingButton'
import AuditTable from '@/components/AuditTable'
import * as constants from '@/../functions/shared/constants.js'

const campaign_fields = [{
  key: 'status',
  label: 'Status',
  sortable: true
},
{
  key: 'created',
  label: 'Created',
  sortable: true

},
{
  key: 'uid',
  label: 'User',
  sortable: true

},
{
  key: 'title',
  label: 'Title',
  sortable: true

},
{
  key: 'id',
  label: 'Actions'

}
]
const recipients_fields = [{
  key: 'name',
  label: 'Name',
  sortable: true

},
{
  key: 'address',
  label: 'Address',
  sortable: true

},
{
  key: 'status',
  label: 'Status',
  sortable: true

},
{
  key: 'uid',
  label: 'User',
  sortable: true

},
{
  key: 'campaign_id',
  label: 'Campaign',
  sortable: true

},
{
  key: 'estimated_delivery_date',
  label: 'Arrives',
  sortable: true

},
{
  key: 'actions',
  label: 'Actions'

}
]
export default {
  name: 'Batch',
  firestore () {
    const batch_id = this.$route.params.id
    this.load_recipients(this.limit)
    return {
      batch: db.collection('batches').doc(batch_id),
      campaigns: db.collection('batches').doc(batch_id).collection('campaigns'),
      printers: db.collection('printers')
      // recipients: db.collection('batches').doc(batch_id).collection('recipients').limit(this.limit)
    }
  },
  components: {
    LoadingButton,
    AuditTable
  },
  props: ['user_profile'],
  data: () => ({
    batch_printer_check_loading: false,
    printers: [],
    printer_id: undefined,
    current_page: 1,
    per_page: 10,
    update_status: null,
    limit: 25,
    batchUpdated: false,
    show_load_all: true,
    recipientsFirestore: [],
    campaigns: [],
    recipients: [],
    loaded_users: {},
    recipients_fields: recipients_fields,
    campaign_fields: campaign_fields,
    batch: null,
    recipients_table_selected: [],
    filter_by_campaign: 'all',
    pageOptions: [10, 25, 50, 100],
    filter: null,
    filterOn: []
  }),
  computed: {
    audit_ref: function () {
      return db.collection('batches').doc(this.$route.params.id).collection('audit')
    },
    campaigns_to_filter: function () {
      let campaigns_to_filter = [{
        value: 'all',
        text: 'All Campaigns'
      }]
      for (let campaign of this.campaigns) {
        if (campaign.campaign_doc.title) {
          campaigns_to_filter.push({
            value: campaign.campaign_doc.id,
            text: campaign.campaign_doc.title
          })
        }
      }

      return campaigns_to_filter
    },
    printer_ids: function () {
      let printer_ids = {}
      for (let printer of this.printers) {
        printer_ids[printer.id] = printer.name
      }

      return printer_ids
    },
    total_rows () {
      if (this.campaigns) {
        return this.campaigns.length
      }
      return 0
    },
    total_rows_recipients () {
      if (this.recipients) {
        return this.recipients.length
      }
      return 0
    }
  },
  watch: {
    batch: {
      deep: true,
      handler: function (val) {
        if (this.batch.printer_doc && this.batch.printer_doc.id) {
          this.printer_id = this.batch.printer_doc.id
        } else {
          this.printer_id = undefined
        }
      }
    },
    campaigns: {
      deep: true,
      handler: function (val) {
        this.items = []
        let load_users = []
        for (let i = 0; i < this.campaigns.length; i++) {
          if (!this.campaigns[i].campaign_doc || !this.campaigns[i].campaign_doc.title) {
            return
          }

          let campaign = this.campaigns[i].campaign_doc

          if (!this.loaded_users[campaign.uid]) {
            load_users.push(campaign.uid)
          }

          this.items.push(campaign)
        }

        let proms = []
        for (let uid of load_users) {
          proms.push(db.collection('users').doc(uid).get().then(function (doc) {
            this.loaded_users[doc.id] = doc.data()
          }.bind(this)))
        }

        Promise.all(proms).then(function () {
          if (this.$refs.campaign_table) { // TODO
            // this.$refs.campaign_table.refresh()
            // this.$refs.recipients_table.refresh()
          }
        }.bind(this))
      }
    }
  },
  methods: {
    async batch_printer_check () {
      this.batch_printer_check_loading = true
      await api.batch_printer_check(this.batch.id)
      this.batch_printer_check_loading = false
    },
    async update_batch_printer_doc () {
      if (!this.printer_id) {
        return
      }
      await this.$firestoreRefs.batch.update({
        printer_doc: db.collection('printers').doc(this.printer_id)
      })
      this.$bvToast.toast(`Batch updated!`, {
        title: `Updated`,
        autoHideDelay: 1000,
        variant: 'success',
        appendToast: true
      })
    },
    do_filter_by_campaign () {
      this.load_recipients(this.limit)
    },
    onRowSelected (items) {
      this.recipients_table_selected = items
    },
    update_recipient: async function (key, value, recipient, recipient_id) {
      this.batchUpdated = true
      let data = {
        'updated': new Date(),
        'updated_by': this.user_profile.id
      }
      data[key] = value
      await db.collection('campaigns').doc(recipient.campaign).collection('recipients').doc(recipient_id).update(data)

      this.$bvToast.toast(`${key} updated!`, {
        title: `Updated`,
        autoHideDelay: 1000,
        variant: 'success',
        appendToast: true
      })
    },
    async updateSelectedStatus () {
      if (!this.update_status) {
        this.$bvToast.toast('Please select a status to update', {
          title: `Failed`,
          variant: 'danger',
          autoHideDelay: 5000
        })
        return
      }

      if (!this.recipients_table_selected.length) {
        this.$bvToast.toast('No recipients selected', {
          title: `Failed`,
          variant: 'danger',
          autoHideDelay: 5000
        })
        return
      }

      let promises = []
      for (let recipient of this.recipients_table_selected) {
        promises.push(db.collection('campaigns').doc(recipient.campaign).collection('recipients').doc(recipient.recipient_doc.id).update({
          status: this.update_status,
          updated: new Date(),
          updated_by: this.user_profile.id
        }))
      }

      this.batchUpdated = true
      await Promise.all(promises)
      this.$bvToast.toast('Updated recipients', {
        title: `Updated`,
        variant: 'success',
        autoHideDelay: 200
      })
      this.update_status = null
    },
    load_recipients: function (limit) {
      let query = db.collection('batches').doc(this.$route.params.id).collection('recipients')

      if (this.filter_by_campaign !== 'all') {
        query = query.where('campaign', '==', this.filter_by_campaign)
      }

      if (limit) {
        query = query.limit(limit)
      } else {
        this.show_load_all = false
      }

      // TODO not ordered query = query.orderBy('created')

      this.$bind('recipients', query)
    },
    async update_batch () {
      if (this.batch.status === constants.BATCH_STATUS.shipped) {
        if (this.batch.zip === false || this.batch.zip === null) {
          this.$swal('No ZIP', 'You can not ship a batch until a zip is created. If there was an error creating the zip please ask support', 'error')
          return
        }
      }

      this.batch.updated = new Date()
      this.batch.updated_by = this.user_profile.id

      let new_batch = {
        ...this.batch
      }
      delete new_batch['printer_doc']

      await this.$firestoreRefs.batch.update(new_batch)
      this.$bvToast.toast(`Batch updated!`, {
        title: `Updated`,
        autoHideDelay: 1000,
        variant: 'success',
        appendToast: true
      })
    },
    campaign_user (id) {
      if (this.campaigns) {
        for (let campaign of this.campaigns) {
          if (campaign.id === id && campaign.campaign_doc && campaign.campaign_doc.title) {
            return this.display_user(campaign.campaign_doc.uid)
          }
        }
      }

      return id
    },
    campaign_name (id) {
      if (this.campaigns) {
        for (let campaign of this.campaigns) {
          if (campaign.id === id && campaign.campaign_doc && campaign.campaign_doc.title) {
            return campaign.campaign_doc.title
          }
        }
      }

      return id
    },
    display_user: function (uid) {
      for (var _uid in this.loaded_users) {
        let user = this.loaded_users[_uid]
        if (_uid === uid) {
          return `<a href="/user/${uid}" target="_blank">${user.email}</a>`
        }
      }

      return uid
    }
  }
}
</script>

<style scoped>
</style>
