<template>
<div class="container-fluid">

    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">

                </div>
                <h4 class="page-title">Printer</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-3" v-if="user_profile.role !== 'viewer'">
                        <div class="col-md-12">
                            <label class="d-inline-flex align-items-center">
                                Show&nbsp;
                                <b-form-select v-model="per_page" size="sm" :options="pageOptions"></b-form-select>&nbsp;
                            </label>
                            <label class="d-inline-flex align-items-center">
                                Search:
                                <b-form-input v-model="filter" type="search" placeholder="Search..." class="form-control form-control-sm ml-2"></b-form-input>
                            </label>
                            <div class="float-right" v-if="user_profile.role !== 'viewer'">
                                <b-button variant="primary" :to="{ name: 'Printer', params: { id: 'new' } }"> <i class="mdi mdi-plus-circle mr-1"></i> Add New Printer
                                </b-button>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <b-form-group>
                        </b-form-group>

                        <!-- <b-table show-empty empty-filtered-text="No printers" empty-text="No printers" :items="printers" :fields="fields"> -->
                        <b-table thead-class="bg-light text-black" hover @filtered="on_filtered" show-empty empty-filtered-text="No printers" empty-text="No printers" :sort-by.sync="sortBy" :sort-desc.sync="sortDesc" :current-page="current_page" :per-page="per_page" :tbody-tr-class="row_class" :filter-included-fields="filterOn" :items="printers" :fields="fields" :filter="filter" class="table" ref="table">

                            <template v-slot:cell(created)="row">
                                {{ display_timestamp(row.value) }}
                            </template>
                            <template v-slot:cell(actions)="row">
                                <b-button variant="outline-primary" :to="{name: 'Printer', params: {id: row.item.id}}">View</b-button>
                            </template>
                        </b-table>
                    </div>
                       <div class="row" style="padding-top:30px">
                        <div class="col-sm-12 col-md-5">
                        </div>
                        <div class="col-sm-12 col-md-7">
                            <b-pagination class="pagination pagination-rounded justify-content-end" v-model="current_page" :total-rows="total_rows" :per-page="per_page"></b-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import {
  db
} from '@/lib/firebase.js'

const fields = [{
  key: 'created',
  label: 'Created',
  sortable: true
},
{
  key: 'name',
  label: 'Name',
  sortable: true

},
{
  key: 'actions',
  label: 'Actions'
}
]

export default {
  name: 'PrinterList',
  props: ['user_profile'],
  firestore () {
    return {
      printers: db.collection('printers').orderBy('created', 'desc')
    }
  },
  data: () => ({
    fields: fields,
    printers: [],
    pageOptions: [5, 10, 50, 100],
    current_page: 1,
    per_page: 10,
    filter: null,
    filterOn: []

  }),
  computed: {
    total_rows () {
      if (this.printers) {
        return this.printers.length
      }
      return 0
    }
  }
}
</script>

<style scoped>
</style>
