<template>
<div class='content-container' v-if="printer && user_profile && user_profile.admin">
<div class="col-xl-12">
  <b-card>
    <h3>Printer Details</h3>
    <b-table-simple bordered>
      <b-tr v-if="printer.created">
        <b-td>Created</b-td>
        <b-td>{{display_timestamp(printer.created)}}</b-td>
      </b-tr>

      <b-tr>
        <b-td>Name</b-td>
        <b-td>
          <b-input id="name" v-model="printer.name" :state="validation.name" />
          <b-form-invalid-feedback :state="validation.name">
              Enter a valid name
          </b-form-invalid-feedback>
        </b-td>
      </b-tr>

      <b-tr>
        <b-td>Email</b-td>
        <b-td>
          <b-input v-model="printer.email" type="email" :state="validation.email" />
          <b-form-invalid-feedback :state="validation.email">
              Enter a valid email
          </b-form-invalid-feedback>
        </b-td>
      </b-tr>

      <b-tr>
        <b-td>Location</b-td>
        <b-td>
          <CountrySelect v-model="printer.location" />
        </b-td>
      </b-tr>

      <b-tr>
        <b-td>Serviceable Countries</b-td>
        <b-td><CountrySelect v-model="printer.serviceable_countries" multiple /></b-td>
      </b-tr>

      <b-tr>
        <b-td>Serviceable Goods</b-td>
        <b-td><b-form-select v-model="printer.serviceable_goods" multiple :options="Object.values(GOOD || {})" /></b-td>
      </b-tr>

      <b-tr>
        <b-td>Notes</b-td>
        <b-td><b-form-textarea v-model="printer.notes" /></b-td>
      </b-tr>

      <b-tr>
        <b-td>Cost Code</b-td>
        <b-td>
          <prism-editor :code="printer.profit_code" @change="(code) => {printer.profit_code = code}" language="js" ></prism-editor>
          <b-form-group>
            <b-button variant="secondary" @click='test_profit_code()'>Test</b-button>
            <b-button v-if="!is_new" variant="warning" @click='update_printer()'>Save</b-button>
            <b-button v-b-toggle.goods_config>Goods Config</b-button>
          </b-form-group>

          <prism-editor :code="`// Test code\n// Return the cost in pence of the print house\nlet constants = CONSTANTS\nlet goods = ${JSON.stringify(profit_code_goods)}\nmain(goods)`" :readonly="true" language="js" ></prism-editor>

          <p v-if="code_output !== undefined">Output: <pre>{{code_output}}</pre></p>
          <p class='text-danger' v-if="code_error !== undefined">Error: <pre>{{code_error}}</pre></p>

          <b-collapse id="goods_config" class="mt-2">
            <b-card title="Good config">
              <b-table-simple>
                <b-tr v-for="good of printer.serviceable_goods" v-bind:key="good">
                  <b-td>{{good}}</b-td>
                  <b-td><b-input v-model="profit_code_goods[good]" type="number" min="0" /></b-td>
                </b-tr>
              </b-table-simple>
            </b-card>
          </b-collapse>

        </b-td>
      </b-tr>

      <b-tr>
        <b-td>Lead time code</b-td>
        <b-td>
          <prism-editor :code="printer.lead_time_code" @change="(code) => {printer.lead_time_code = code}" language="js" ></prism-editor>
          <b-button variant="secondary" @click='test_lead_time_code()'>Test</b-button>
          <b-button v-if="!is_new" variant="warning" @click='update_printer()'>Save</b-button>

          <prism-editor :code="campaign_example" @change="(code) => {campaign_example = code}" language="js" ></prism-editor>
          <prism-editor :code="recipients_example" @change="(code) => {recipients_example = code}" language="js" ></prism-editor>
          <prism-editor :code="`// Test code\n// Return estimated due date per recipient\nlet constants = CONSTANTS\nlet campaign = ${campaign_example}\nlet recipients = ${recipients_example}\nmain(campaign, recipients)`" :readonly="true" language="js" ></prism-editor>

          <p v-if="lead_time_code_output !== undefined">Output: <pre>{{lead_time_code_output}}</pre></p>
          <p class='text-danger' v-if="lead_time_code_error !== undefined">Error: <pre>{{lead_time_code_error}}</pre></p>
        </b-td>
      </b-tr>

      <b-tr>
        <b-td></b-td>
        <b-td>
          <b-form-invalid-feedback class="pb-3" :state="validation.is_form_valid">
            Validation error. Please check the required fields.
          </b-form-invalid-feedback>
          <b-button v-if="is_new" variant="primary" @click="create_printer">Add Printer</b-button>
          <b-button v-else variant="primary" @click="update_printer">Update Printer</b-button>
        </b-td>
      </b-tr>
    </b-table-simple>
    <AuditTable :audit_ref="audit_ref" :user_profile="user_profile" />
  </b-card>
</div>
</div>
</template>

<script>
import { db } from '@/lib/firebase.js'
import AuditTable from '@/components/AuditTable'
import PrismEditor from 'vue-prism-editor'
import printer_utils from '@/../functions/shared/printer.js'
import pricing from '@/../functions/shared/pricing.js'
import CountrySelect from '@/components/CountrySelect'

export default {
  name: 'Printer',
  firestore () {
    let printer_id = this.$route.params.id
    if (printer_id === 'new') {
      printer_id = db.collection('printers').doc().id
    }

    return {
      printer: db.collection('printers').doc(printer_id)
    }
  },
  props: ['user_profile'],
  components: {
    AuditTable, PrismEditor, CountrySelect
  },
  data: function () {
    return {
      is_new: this.$route.params.id === 'new',
      printer: {
        profit_code: this.get_profit_code(),
        lead_time_code: this.get_lead_time_code(),
        serviceable_goods: [],
        serviceable_countries: []
      },
      code_output: undefined,
      code_error: undefined,
      lead_time_code_output: undefined,
      lead_time_code_error: undefined,
      profit_code_goods: {},
      campaign_example: `{delivery: {sender: "Ship for me"}}`,
      recipients_example: `[{country: "US"}, {country: "GB"}, {country: "FR"}, {country: "CA"}]`,
      validation: {
        name: undefined,
        email: undefined,
        is_form_valid: undefined
      }
    }
  },
  computed: {
    audit_ref: function () {
      return db.collection('printers').doc(this.$route.params.id).collection('audit')
    }
  },
  watch: {
    profit_code_goods: function () {
      for (let key in this.profit_code_goods) {
        this.profit_code_goods[key] = parseInt(this.profit_code_goods[key]) || 0
      }
    }
  },
  methods: {
    test_profit_code () {
      let out = pricing.printer_cost(this.printer, this.profit_code_goods)
      this.code_output = out.code_output
      this.code_error = out.code_error
    },
    test_lead_time_code () {
      let out = printer_utils.calculate_lead_time(this.printer, this.campaign_example, this.recipients_example)
      this.lead_time_code_output = out.code_output
      this.lead_time_code_error = out.code_error
    },
    update_printer () {
      // this.user.products_enabled = []
      this.printer.updated = new Date()
      this.printer.updated_by = this.user_profile.id
      this.$firestoreRefs.printer.update(this.printer).then(function () {
        this.$bvToast.toast('Updated printer', {
          title: `Updated`,
          variant: 'success',
          autoHideDelay: 200
        })
      }.bind(this))
    },
    create_printer: async function () {
      this.validation = {
        name: undefined,
        email: undefined,
        is_form_valid: undefined
      }

      if (!this.validate()) {
        return
      }

      let printer_id = this.$firestoreRefs.printer.id
      let printer_doc = db.collection('printers').doc(printer_id)

      try {
        await printer_doc.set({
          ...this.printer,
          updated_by: this.user_profile.id,
          created: new Date()
        })

        this.is_new = false
        this.$router.push({
          name: 'Printer',
          params: {
            id: printer_id
          }
        })

        this.$bvToast.toast('Printer created', {
          title: `Updated`,
          variant: 'success',
          autoHideDelay: 200
        })
      } catch (err) {
        console.log('Error while creating printer', err)
      }
    },

    is_email_valid (email) {
      let re = /\S+@\S+\.\S+/
      return re.test(email)
    },

    validate () {
      const valid_email = this.is_email_valid(this.printer.email)
      const validation_error = []
      if (!this.printer.name) {
        this.validation.name = false
        validation_error.push('name')
      }

      if (!valid_email) {
        this.validation.email = false
        validation_error.push('email')
      }

      if (validation_error.length) {
        this.validation.is_form_valid = false
        return false
      }

      return true
    },

    get_profit_code () {
      let code = `// Returns the cost in pence given goods
function main(goods) {
  let total = 0
  for (let good in goods) {
    let quantity = goods[good]

    if (
      good === constants.GOOD.full_service_a4 || 
      good === constants.GOOD.full_service_a5 || 
      good === constants.GOOD.full_service_a6
    ) {
      total += 100 * quantity
    } else if (
      good === constants.GOOD.full_service_c5 || 
      good === constants.GOOD.full_service_c6 || 
      good === constants.GOOD.full_service_dl
    ) {
      total += 100 * quantity
    } else if (good === constants.GOOD.stamp_us_first_class) {
      total += 55 * quantity
    } else if (good === constants.GOOD.stamp_us_international) {
      total += 110 * quantity
    } else {
      alert(\`Unknown good: \${good}\`)
    }
  }

  let tax = 0.0625 * total
  total += tax
  total *= constants.CURRENCY.usd_to_gbp // Currency conversion

  return Math.ceil(total) // Round up
}`

      return code
    },

    get_lead_time_code () {
      let code = `/* 
Returns an array of time in days from today 
if order was shipped for it to arrive per recipient 
*/
function main(campaign, recipients) {
  let out = []

  if (
    campaign.delivery.sender === 'Ship for me' || 
    campaign.delivery.sender === 'Ship to self'
  ) {
    // No change when shipping to self
  }

  let lead_time = 0

  let day = new Date().getDay()
  if (day === 0) {
    lead_time = 1
  } else if (day === 6) {
    lead_time = 2
  }

  for (let recipient of recipients) {
    console.log(recipient)
    let days = lead_time + 1
    out.push(days)
  }

  return out
}`

      return code
    }
  }
}
</script>

<style scoped>
</style>
