<template>
<div class="container-fluid" v-if="user_profile.admin">

    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">

                </div>
                <h4 class="page-title">Users</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card-box">
                <div class="row">
                    <div class="col-lg-8">
                        <form class="form-inline">
                            <div class="form-group">
                                <b-form-group class="mr-3">
                                    <label>Filter by user</label>
                                </b-form-group>
                                <b-form-group class="mr-3">
                                    <b-input v-model="search_by_email" placeholder="email@example.com" />
                                </b-form-group>
                                <b-form-group class="mr-3">
                                    <b-button variant="outline-primary" @click="do_search_by_email">Search</b-button>
                                </b-form-group>
                                <b-button variant="outline-primary" @click="load_users(limit)">Clear filter</b-button>
                            </div>
                        </form>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end card-box -->
        </div> <!-- end col-->
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="col-sm-10 col-md-12">
                      <div class="row mb-md-2">
                        <div class="col-sm-12 col-md-6">
                          <div id="tickets-table_length" class="dataTables_length">
                            <label class="d-inline-flex align-items-center">
                              Show&nbsp;
                              <b-form-select v-model="per_page" size="sm" :options="pageOptions"></b-form-select>&nbsp;
                            </label>
                          </div>
                        </div>
                        <!-- Search -->
                        <div class="col-sm-12 col-md-6">
                          <div id="tickets-table_filter" class="dataTables_filter text-md-right">
                            <label class="d-inline-flex align-items-center">
                              Search:
                              <b-form-input
                                v-model="filter"
                                type="search"
                                placeholder="Search..."
                                class="form-control form-control-sm ml-2"
                              ></b-form-input>
                            </label>
                          </div>
                        </div>
                        <!-- End search -->
                    </div>
                  </div>
                    <b-table thead-class="bg-light text-black" show-empty empty-filtered-text="No users" :sort-by.sync="sortBy" :sort-desc.sync="sortDesc" empty-text="No users" :current-page="current_page" :per-page="per_page" :items="users" :filter="filter" :fields="fields" @filtered="on_filtered">
                        <template v-slot:cell(created)="row">
                            {{ display_timestamp(row.value) }}
                        </template>
                        <template v-slot:cell(actions)="row">
                            <b-button variant="outline-primary" :to="{name: 'User', params: {id: row.item.id}}">View</b-button>
                        </template>
                    </b-table>
              </div>
            <div class="row mt-4" >
              <div class="col-sm-12 col-md-5">
              </div>
              <div class="col-sm-12 col-md-7">
              <b-pagination class="pagination pagination-rounded justify-content-end" v-model="current_page" :total-rows="total_rows" :per-page="per_page"></b-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <b-alert variant="info" :show="users.length >= limit && show_load_all" class="text-center">
        <p>By default we only show your first {{limit}} users, this stops the page from slowing down. Click the button to load all your users. Note your page may slow down. This may take a few seconds.</p>
        <b-button variant="outline-primary" @click="load_users()">Load all</b-button>
    </b-alert> -->
  </div>
</template>

<script>
import {
  db
} from '@/lib/firebase.js'

const fields = [{
  key: 'created',
  label: 'Created',
  sortable: true

},
{
  key: 'id',
  label: 'User ID',
  sortable: true

},
{
  key: 'email',
  label: 'Email',
  sortable: true

},
{
  key: 'actions',
  label: 'Actions',
  sortable: true

}
]

export default {
  name: 'UserList',
  props: ['user_profile'],
  firestore () {
    return {
      users: db.collection('users').orderBy('created', 'desc').limit(this.limit)
    }
  },
  data: () => ({
    current_page: 1,
    per_page: 25,
    // total_rows: 1,
    limit: 100,
    show_load_all: true,
    fields: fields,
    users: [],
    search_by_email: undefined,
    filter: null,
    filterOn: [],
    pageOptions: [5, 10, 50, 100],
    sortBy: 'created',
    sortDesc: true

  }),
  computed: {
    total_rows () {
      if (this.users) {
        return this.users.length
      }
      return 0
    }
  },
  methods: {
    on_filtered (filtered_items) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.total_rows = filtered_items.length
    },
    load_users: function (limit) {
      let query = db.collection('users').orderBy('created', 'desc')

      if (limit) {
        query = query.limit(limit)
      } else {
        this.show_load_all = false
      }

      this.$bind('users', query)
    },
    do_search_by_email: function () {
      let query = db.collection('users').where('email', '==', this.search_by_email.trim())
      this.$bind('users', query)
    }
  }
}
</script>

<style scoped>
</style>
