<!doctype html>
<html>

<head>
  <title>{{appName}}</title>

  <link rel="stylesheet" href="https://unpkg.com/@shopify/polaris@4.1.0/styles.min.css" />

  <!--<script src="https://unpkg.com/@shopify/app-bridge@1"></script>-->
  <script src="https://unpkg.com/@shopify/app-bridge@1.6.7/umd/index.development.js"></script>
  <script type="text/javascript">
    var AppBridge = window['app-bridge'];
    var createApp = AppBridge.createApp;
    var actions = AppBridge.actions;
    var Redirect = actions.Redirect;
    var app;
    var accountConnected = {{accountConnected}};
    var initCustomerCreatedCampaignId = '{{customerCreatedCampaignId}}';
    var initCustomerCreatedNotifyActive = {{customerCreatedNotifyActive}};
    var initCheckoutsAbandonedCampaignId = '{{checkoutsAbandonedCampaignId}}';
    var initCheckoutsAbandonedNotifyActive = '{{checkoutsAbandonedNotifyActive}}';

    var initOrderCreatedCampaignId = '{{orderCreatedCampaignId}}';
    var initOrderCreatedMinTotalPrice = '{{orderCreatedMinTotalPrice}}';
    var initOrderCreatedNotifyActive = {{orderCreatedNotifyActive}};

    const debug = {{debug}};
    const shopOrigin = '{{shopOrigin}}';
    const apiKey = '{{apiKey}}';
    const serviceAddress = '{{serviceAddress}}';
    const state = '{{state}}';
    const scope = '{{scope}}';

    // console.log('createdSince = {{createdSince}}');

    const redirectUri = serviceAddress + '/shopify/callback';
    const permissionUrl = '/oauth/authorize?client_id='
        + apiKey + '&state=' + state + '&scope=' + scope + '&redirect_uri=' + redirectUri;

    // If the current window is the 'parent', change the URL by setting location.href
    if (window.top == window.self) {
      window.location.assign('https://' + shopOrigin + '/admin' + permissionUrl);
    } else {
      app = createApp({
        apiKey: apiKey,
        shopOrigin: AppBridge.getShopOrigin(),
        debug,
      });

      const { TitleBar, Button } = actions;
      const redirect = Redirect.create(app);

      const saveButton = Button.create(app, {label: 'Save'});
      saveButton.subscribe(Button.Action.CLICK, () => {
        //do save
        saveSettings()
            .then(() => {

              const { Toast } = actions;
              const toastOptions = {
                message: 'Saved',
                duration: 5000,
              };
              const toastError = Toast.create(app, toastOptions);
              toastError.dispatch(Toast.Action.SHOW);

              // redirect.dispatch(Redirect.Action.ADMIN_PATH, {
              //   path: '/apps',
              //   newContext: false,
              // });
            })
            .catch(error => {
              const { Toast } = actions;
              const toastOptions = {
                message: 'Error saving settings',
                duration: 5000,
                isError: true,
              };
              const toastError = Toast.create(app, toastOptions);
              toastError.dispatch(Toast.Action.SHOW);
              debug && console.error('saveSettings error', error);
            });
      });

      //titleBar
      const titleBarOptions = {
        title: 'Settings',
        buttons: {
          primary: saveButton,
        }
      };
      const myTitleBar = TitleBar.create(app, titleBarOptions);
    }
  </script>

  <style>
    body {
      font-family: Roboto;
    }

    hr {
      margin: 15px 0px 10px 0px;
      padding: 0px;
      border-top: 0px;
      border-bottom: 1px solid #f4f4f4;
      height: 0px;
    }

    h1 {
      /* font-weight: bold; */
      font-weight: 400;
      font-family: Roboto;
    }

    h3 {
      /* font-weight: bold; */
      font-weight: 400;
      font-family: Roboto;
    }

    .hidden {
      display: none!important;
    }

    .section {
      border-bottom: #dee3e8 1px solid;
      float: none;
      position: relative;
      display: -ms-flexbox;
      display: flex;
      display: -webkit-flex;
      padding: 10px 0 10px 0;
    }

    .section:last-of-type {
      border-bottom: 0px;
    }

    .section-summary {
      -webkit-flex: 0 0 25%;
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      padding: 10px;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      display: block;
      padding: 30px 30px 20px 50px;
    }

    .section-summary h1 {
      color: #31373d;
      font-size: 18px;
      margin-bottom: 10px;
      margin-bottom: 0px;
      font-weight: 500;
    }

    .section-summary p {
      color: #798c9c;
      margin-bottom: 15px;
    }

    .section-summary p:last-child {
      margin-bottom: 0;
    }

    .section-content {
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      padding: 10px 20px 15px 15px;
    }

    .section-row {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      padding-bottom: 10px;
    }

    .section-row:last-of-type {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      padding-bottom: 0px;
    }

    .section-cell, .section-listing {
      padding: 20px;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      background-color: #FFFFFF;
      border-radius: 4px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      color: #888888;
    }

    .section-cell {
      margin-right: 10px;
    }

    .section-cell:last-of-type {
      margin-right: 0px;
    }

    .section-cell.dark {
      background-color: #f5f6f7;
    }

    .cell-container {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      padding-top: 1em;
    }

    .cell-column {
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      padding: 0 20px 0 0;
    }

    .cell-container .cell-column:last-of-type {
      padding: 0;
    }

    .cell-row {
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      margin-top: 20px;
      padding-top: 20px;
      border-top: #dee3e8 1px solid;
    }

    .cell-column .section-listing {
      padding: 0px;
      margin: 0px;
    }

    .campaign-select {
      background-color: #fbfbfc;
      width: 100%;
      height: 36px;
      border-radius: 3px;
      font-size: 1.4rem;
      border: 1px solid rgb(196, 205, 213);
      max-width: 200px;
    }
    .min-total-price {
      max-width: 6em;
    }
  </style>


  {{#if accountConnected}}
  {{else}}
    <!--Connect account-->
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.blue_grey-orange.min.css">
    <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
  {{/if}}

</head>

<body>
<style>
</style>
<!--if user is authenticated we do not show this section, we can decide it on server-->

{{#if accountConnected}}
{{else}}
  <!--Connect account-->
  <div class="section {{connectAccountSectionClass}}" id="connectAccountSection" >
    <div class="section-summary">
      <h1>Connect your Scribeless account</h1>
      <p>If you don't have an account <a target="_blank" href="https://app.scribeless.co">sign up here</a></p>
    </div>
    <div class="section-content">
      <!-- <div class="mdl-card__supporting-text mdl-color-text--grey-600"> -->
        <!-- <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <label class="mdl-textfield__label" for="sign-in-email">Email </label>
          <input class="Polaris-TextField__Input" type="email" id="sign-in-email">
        </div> -->
        <!-- <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <label class="mdl-textfield__label" for="sign-in-password">Password </label>
          <input class="Polaris-TextField__Input"  id="">
        </div> -->
        <div class="section-row">
          <div class="section-cell">
            <h3 style="border-bottom:1px solid #ccc;" class="Polaris-Heading">Sign in</h3>
            <br>

            <div class="cell-container">
              <div class="Polaris-TextField">
                <input id="sign-in-email" type="email" placeholder="Email" class="Polaris-TextField__Input" aria-labelledby="TextField1Label" aria-invalid="false">
                <div class="Polaris-TextField__Backdrop"></div>
              </div>
            </div>
            <br>

            <div class="cell-container">
              <div class="Polaris-TextField">
                <input id="sign-in-password" type="password" placeholder="Password" class="Polaris-TextField__Input" aria-labelledby="TextField1Label" aria-invalid="false">
                <div class="Polaris-TextField__Backdrop"></div>
              </div>
            </div>
            <br>

            <button id="sign-in-button" class="Polaris-Button Polaris-Button--primary" onclick="connectAccount(this)">Connect</button>
          </div>
        </div>
      </div>
    </div>
  </div>
{{/if}}

<div class="section {{settingsSectionClass}}" id="createCampaignSection" >
  <div class="section-summary">
    <h1>Create a new campaign</h1>
    <p>Create a new campaign on the Scribeless interface, once created refresh this page</p>
  </div>
  <div class="section-content">
    <a
        href="{{newCampaignUrl}}"
        class="Polaris-Button Polaris-Button--primary" target="_blank"
        rel="noopener noreferrer"
    >
      Create a new campaign
    </a>
  </div>
</div>

<!--may be if user is not authenticated we do not show this section, we can decide it on server-->
<div class="section {{settingsSectionClass}} {{notificationPreferenceSectionClass}}" id="notificationPreferenceSection" >
  <div class="section-summary">
    <h1>Send Letter Triggers</h1>
    <p>Select which actions trigger sending a letter</p>
  </div>
  <div class="section-content">

    <div class="section-row">
      <div class="section-cell">
        <h3 style="border-bottom:1px solid #ccc;" class="Polaris-Heading">Customers Account</h3>
        <div class="cell-container">

          <div class="cell-column">
            <div class="cell-container">
              <div class="cell-column">
                <label class="label-normal">New customer is created:</label>
              </div>
              <div class="cell-column">
                <!--customerCreatedCampaignId-->
                <label for="customers_create_a">Send Letter from campaign: </label>
                <select
                    id="customers_create_a"
                    class="campaign-select"
                    name="settings[customers][create][campaign]"
                    {{#if accountConnected}} {{else}}disabled{{/if}}
                    onchange="onCampaignSelect(this, 'customers/create')"
                >
                  {{#each customerCreatedCampaignsOptions}}
                    {{{this}}}
                  {{/each}}
                </select>

              </div>
              <div class="cell-column">
                <!--customerCreatedNotifyActive-->

                <label class="Polaris-Choice" for="customers_create_c">
                  <div class="Polaris-Choice__Control">
                    <div class="Polaris-Checkbox">
                      <input type="checkbox" id="customers_create_c" name="settings[customers][create][notify]" {{customerCreatedNotifyActiveChecked}} {{customerCreatedNotifyActiveDisabled}} class="Polaris-Checkbox__Input" aria-invalid="false">
                      <div class="Polaris-Checkbox__Backdrop"></div>
                      <div class="Polaris-Checkbox__Icon">
                        <span class="Polaris-Icon">
                          <svg class="Polaris-Icon__Svg" viewBox="0 0 20 20">
                            <g fill-rule="evenodd">
                              <path d="M8.315 13.859l-3.182-3.417a.506.506 0 0 1 0-.684l.643-.683a.437.437 0 0 1 .642 0l2.22 2.393 4.942-5.327a.437.437 0 0 1 .643 0l.643.684a.504.504 0 0 1 0 .683l-5.91 6.35a.437.437 0 0 1-.642 0"></path>
                              <path d="M8.315 13.859l-3.182-3.417a.506.506 0 0 1 0-.684l.643-.683a.437.437 0 0 1 .642 0l2.22 2.393 4.942-5.327a.437.437 0 0 1 .643 0l.643.684a.504.504 0 0 1 0 .683l-5.91 6.35a.437.437 0 0 1-.642 0"></path>
                            </g>
                          </svg>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="Polaris-Choice__Label">Enabled</div>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section-row">
      <div class="section-cell">
        <h3 style="border-bottom:1px solid #ccc;" class="Polaris-Heading">Order</h3>
        <div class="cell-container">

          <div class="cell-column">
            <div class="cell-container">
              <div class="cell-column">
                <label class="label-normal">New order placed:</label>
              </div>
              <div class="cell-column">
                <!--orderCreatedCampaignId-->
                <div class="section-row">
                  <div class="cell-column">
                    <label for="orders_create_a">Send Letter from campaign: </label>
                    <select
                      id="orders_create_a"
                      class="campaign-select"
                      name="settings[orders][create][campaign]"
                      {{#if accountConnected}} {{else}}disabled{{/if}}
                      onchange="onCampaignSelect(this, 'orders/create')"
                    >
                      {{#each orderCreatedCampaignsOptions}}
                        {{{this}}}
                      {{/each}}
                    </select>

                  </div>

                </div>
                <div class="section-row" style="display: none">
                  <div class="cell-column">
                    <label for="orders_create_c">Send letter if total is over: </label>

                    <div class="Polaris-TextField">
                      <input id="orders_create_p" type="number" placeholder="15" name="settings[orders][create][min_total_price]" class="min-total-price Polaris-TextField__Input" aria-labelledby="TextField1Label" aria-invalid="false" value="{{orderCreatedMinTotalPrice}}" {{orderCreatedMinTotalPriceDisabled}}>
                      <div class="Polaris-TextField__Backdrop"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="cell-column">
                <!--orderCreatedNotifyActive-->

                <label class="Polaris-Choice" for="orders_create_c">
                  <div class="Polaris-Choice__Control">
                    <div class="Polaris-Checkbox">
                      <input type="checkbox" id="orders_create_c" name="settings[orders][create][notify]" {{orderCreatedNotifyActiveChecked}} {{orderCreatedNotifyActiveDisabled}} class="Polaris-Checkbox__Input" aria-invalid="false">
                      <div class="Polaris-Checkbox__Backdrop"></div>
                      <div class="Polaris-Checkbox__Icon">
                        <span class="Polaris-Icon">
                          <svg class="Polaris-Icon__Svg" viewBox="0 0 20 20">
                            <g fill-rule="evenodd">
                              <path d="M8.315 13.859l-3.182-3.417a.506.506 0 0 1 0-.684l.643-.683a.437.437 0 0 1 .642 0l2.22 2.393 4.942-5.327a.437.437 0 0 1 .643 0l.643.684a.504.504 0 0 1 0 .683l-5.91 6.35a.437.437 0 0 1-.642 0"></path>
                              <path d="M8.315 13.859l-3.182-3.417a.506.506 0 0 1 0-.684l.643-.683a.437.437 0 0 1 .642 0l2.22 2.393 4.942-5.327a.437.437 0 0 1 .643 0l.643.684a.504.504 0 0 1 0 .683l-5.91 6.35a.437.437 0 0 1-.642 0"></path>
                            </g>
                          </svg>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="Polaris-Choice__Label">Enabled</div>
                </label>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section-row">
      <div class="section-cell">
        <h3 style="border-bottom:1px solid #ccc;" class="Polaris-Heading">Checkouts</h3>
        <div class="cell-container">

          <div class="cell-column">
            <div class="cell-container">
              <div class="cell-column">
                <label class="label-normal">New cart abandoned:</label>
              </div>
              <div class="cell-column">
                <!--checkoutsAbandonedCampaignId-->
                <label for="checkouts_abandoned_a">Send Letter from campaign: </label>
                <select
                  id="checkouts_abandoned_a"
                  class="campaign-select"
                  name="settings[checkouts][abandoned][campaign]"
                  {{#if accountConnected}} {{else}}disabled{{/if}}
                  onchange="onCampaignSelect(this, 'checkouts/abandoned')"
                >
                  {{#each checkoutsAbandonedCampaignsOptions}}
                    {{{this}}}
                  {{/each}}
                </select>

              </div>
              <div class="cell-column">

                <label class="Polaris-Choice" for="checkouts_abandoned_c">
                  <div class="Polaris-Choice__Control">
                    <div class="Polaris-Checkbox">
                      <input type="checkbox" id="checkouts_abandoned_c" name="settings[checkouts][abandoned][notify]" {{checkoutsAbandonedNotifyActiveChecked}} {{checkoutsAbandonedNotifyActiveDisabled}} class="Polaris-Checkbox__Input" aria-invalid="false">
                      <div class="Polaris-Checkbox__Backdrop"></div>
                      <div class="Polaris-Checkbox__Icon">
                        <span class="Polaris-Icon">
                          <svg class="Polaris-Icon__Svg" viewBox="0 0 20 20">
                            <g fill-rule="evenodd">
                              <path d="M8.315 13.859l-3.182-3.417a.506.506 0 0 1 0-.684l.643-.683a.437.437 0 0 1 .642 0l2.22 2.393 4.942-5.327a.437.437 0 0 1 .643 0l.643.684a.504.504 0 0 1 0 .683l-5.91 6.35a.437.437 0 0 1-.642 0"></path>
                              <path d="M8.315 13.859l-3.182-3.417a.506.506 0 0 1 0-.684l.643-.683a.437.437 0 0 1 .642 0l2.22 2.393 4.942-5.327a.437.437 0 0 1 .643 0l.643.684a.504.504 0 0 1 0 .683l-5.91 6.35a.437.437 0 0 1-.642 0"></path>
                            </g>
                          </svg>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="Polaris-Choice__Label">Enabled</div>
                </label>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  let modalIsOpen = false;

  function showErrorToast(message, duration = 5000) {
    const { Toast } = actions;
    const toastOptions = {
      message,
      duration,
      isError: true,
    };
    const toastError = Toast.create(app, toastOptions);
    toastError.dispatch(Toast.Action.SHOW);
  }

  function tryEnablePreferences(enablePreferencesSection) {
    if (enablePreferencesSection) {
      const preferenceSection = document.getElementById('notificationPreferenceSection');
      preferenceSection.classList.remove('hidden');
    }

    //enable campaign selects
    const selectsElements = [
      document.getElementById('customers_create_a'),
      document.getElementById('orders_create_a'),
    ];
    selectsElements.forEach(selectElement => {
      if (selectElement.children.length > 1) {
        selectElement.disabled = false;
      }
    });
  }

  function fillCampaignsSelects() {
    return loadUserCampaigns()
        .then((campaigns) => {
          const selectElements = [
            document.getElementById('customers_create_a'),
            document.getElementById('orders_create_a'),
          ];
          selectElements.forEach(selectElement => {
            campaigns.forEach(({ id, title }) => {
              const optionElement = document.createElement('option');
              optionElement.value = id;
              optionElement.innerHTML = title;
              selectElement.append(optionElement);
            });
          });
          const enablePreferencesSection = !!campaigns.length;
          return enablePreferencesSection;
        });
  }

  function loadUserCampaigns() {
    //TODO may be we can do secure request, signed by shopify
    const options = {
      method: 'GET',
    };
    return fetch(`/shopify/userCampaigns?shop=${AppBridge.getShopOrigin()}`, options)
        .then((response) => {
          if (response.status === 403) {
            throw new Error(response.json.error_message);
          }
          return response.json();
        })
        .then((results) => results.campaigns);
  }

  function onCampaignSelect(select, area) {
    if (!select.value) {
      return;
    }
    const elementsToEnable = [];
    switch (area) {
      case 'customers/create':
        elementsToEnable.push(document.getElementById('customers_create_c'));
        break;
      case 'orders/create':
        elementsToEnable.push(document.getElementById('orders_create_c'));
        elementsToEnable.push(document.getElementById('orders_create_p'));
        break;
      case 'checkouts/abandoned':
        elementsToEnable.push(document.getElementById('checkouts_abandoned_c'));
        break;
    }

    elementsToEnable.forEach(e => {
      e.disabled = false;
    });
  }

  function connectAccount(button) {
    const email = document.getElementById('sign-in-email').value;
    const password = document.getElementById('sign-in-password').value;

    if (!email || !password) {
      return showErrorToast('email and password are required');
    }
    button.disabled = true;
    //TODO add email validation
    const options = {
      method: 'POST',
      body: JSON.stringify({email: email, password: password, shop: AppBridge.getShopOrigin()}),
      headers: {
        'Content-Type': 'application/json',
      },
    };
    fetch('/shopify/connectAccount', options)
        .then((response) => {
          if (response.status === 403) {
            throw new Error('Authentication failed');
          }
          if (response.status > 299) {
            throw new Error('Authentication error');
          }
          return response.json();
        })
        // .then((results) => {
        //   const api_key = results.user.api_key;
        //   return api_key;
        // })
        .then(() => {
          const { Toast } = actions;
          const toastOptions = {
            message: 'Account connected',
            duration: 5000,
          };
          const toastError = Toast.create(app, toastOptions);
          toastError.dispatch(Toast.Action.SHOW);
        })
        .catch(error => {
          button.disabled = false;
          showErrorToast(error.message);
          debug && console.error('Auth error', error);
          throw error;
        })
        .then(result => {
          accountConnected = true;

          const connectionSection = document.getElementById('connectAccountSection');
          connectionSection.classList.add('hidden');

          const createCampaignSection = document.getElementById('createCampaignSection');
          createCampaignSection.classList.remove('hidden');

          fillCampaignsSelects()
              .then(tryEnablePreferences)
              .catch(error => {
                showErrorToast('Loading user campaigns error. Please, reload application');
                debug && console.error('Loading user campaigns error', error);
              });
        })
        .catch(error => {});
  }

  function saveSettings() {
    const data = {};

    {
      //customerCreated
      const initCampaignId = initCustomerCreatedCampaignId;
      const initNotifyActive = initCustomerCreatedNotifyActive;

      const selectElement = document.getElementById('customers_create_a');
      const selectedIndex = selectElement.selectedIndex;
      const campaignId = selectedIndex === 0 ? '' : selectElement.options[selectedIndex].value;
      const notifyActiveElem = document.getElementById('customers_create_c');
      const notifyActive = notifyActiveElem.checked;

      if (initCampaignId !== campaignId) {
        data.customerCreatedCampaignId = campaignId;
      }
      if (initNotifyActive !== notifyActive) {
        data.customerCreatedNotifyActive = notifyActive;
      }

      data.onCustomerCreate = notifyActive;

    }

    {
      //orderCreated
      const initCampaignId = initOrderCreatedCampaignId;
      const initMinTotalPrice = initOrderCreatedMinTotalPrice;
      const initNotifyActive = initOrderCreatedNotifyActive;

      const selectElement = document.getElementById('orders_create_a');
      const selectedIndex = selectElement.selectedIndex;
      const campaignId = selectedIndex === 0 ? '' : selectElement.options[selectedIndex].value;

      // const inputElement = document.getElementById('orders_create_p');
      // const minTotalPrice = inputElement.value;

      const notifyActiveElem = document.getElementById('orders_create_c');
      const notifyActive = notifyActiveElem.checked;

      if (initCampaignId !== campaignId) {
        data.orderCreatedCampaignId = campaignId;
      }
      // if (initMinTotalPrice !== minTotalPrice) {
      //   data.orderCreatedMinTotalPrice = ''// minTotalPrice === '0' ? '': minTotalPrice;
      // }
      if (initNotifyActive !== notifyActive) {
        data.orderCreatedNotifyActive = notifyActive;
      }
            data.onOrderCreate = notifyActive;

    }

    {
      //checkoutsAbandoned
      const initCampaignId = initCheckoutsAbandonedCampaignId;
      const initNotifyActive = initCheckoutsAbandonedNotifyActive;

      const selectElement = document.getElementById('checkouts_abandoned_a');
      const selectedIndex = selectElement.selectedIndex;
      const campaignId = selectedIndex === 0 ? '' : selectElement.options[selectedIndex].value;
      const notifyActiveElem = document.getElementById('checkouts_abandoned_c');
      const notifyActive = notifyActiveElem.checked;

      if (initCampaignId !== campaignId) {
        data.checkoutsAbandonedCampaignId = campaignId;
      }
      if (initNotifyActive !== notifyActive) {
        data.checkoutsAbandonedNotifyActive = notifyActive;
      }
    }

    const changed = !!Object.keys(data).length;
    if (!changed) return Promise.resolve();

    data.shop = AppBridge.getShopOrigin()

    const options = {
      method: 'POST',
      body: JSON.stringify(data),
      headers: {
        'Content-Type': 'application/json',
      },
    };
    return fetch('/shopify/saveSettings', options).then((response) => {
      if (response.status > 299) {
        throw new Error('Saving settings error');
      }

      return response.json();
    });
  }

</script>
</body>

</html>