<template>
<div data-gr-c-s-loaded="true" v-bind:class="{ enlarged: isActive }">
    <div v-if="!loading" id="wrapper">
        <Login :logged_in='logged_in' />
        <TheNavbar :user_profile='user_profile' v-if="logged_in" />
        <TheMenu :user_profile='user_profile' v-if="logged_in"></TheMenu>
        <div class="content-page">
            <div class="content">
                <router-view v-if="logged_in && Object.keys(user_profile || {}).length" :sidebar='sidebar' :logged_in='logged_in' :user_profile='user_profile' :price_table='price_table' />
            </div>
        </div>
    </div>
</div>
</template>

<script>
import Login from './components/Login'
import TheSidebar from './container/TheSidebar'
import TheHeader from './container/TheHeader'
import TheNavbar from './container/TheNavbar'
import TheMenu from './container/TheMenu'

// eslint-disable-next-line
import {
  db,
  auth
} from '@/lib/firebase.js'
import {
  isMobile
} from 'mobile-device-detect'
// import moment from 'moment'
export default {
  name: 'App',
  components: {
    Login,
    TheSidebar,
    TheHeader,
    TheMenu,
    TheNavbar
  },
  data () {
    return {
      isActive: false,
      isMenuCondensed: false,
      logged_in: undefined,
      user_profile: {},
      sub_profile: {},
      loading: true,
      role: undefined,
      parent_id: undefined,
      products: [],
      user_products: [],
      sidebar: {
        open: true
      }
    }
  },
  watch: {
    user_profile: {
      deep: true,
      handler: function (val) {
        if (this.parent_id) {
          this.user_profile.uid = this.parent_id
        }
        if (!this.user_profile.uid) {
          this.user_profile.uid = this.user_profile.id
        }

        if (val && val.email) {
          var _hsq = window._hsq = window._hsq || []
          let tracking_data = {
            email: val.email,
            account_last_login_date: Date.now()
          }
          if (window.ga) {
            window.ga('gtm1.set', {
              'email': val.email,
              'user_id': val.id
            })
          }
          if (window.__insp) {
            window.__insp.push(['identify', val.email])
            tracking_data['latest_session_recording_url'] = `https://www.inspectlet.com/dashboard/watchsession/${window.__insp.wid}/${window.__insp.sid}?pn=1`
          }
          tracking_data['scribeless_profile'] = `https://app.scribeless.co/user/${val.id}`
          _hsq.push(['identify', tracking_data])
          _hsq.push(['trackPageView'])
          if (window.ga) {
            window.ga('gtm1.set', 'email', val.email)
            window.ga('gtm1.set', 'userId', val.id)
          }
        }
        this.loading = false
        if (val) {
          this.$bind('products', db.collection('products'))
          this.$bind('user_products', db.collection('users').doc(val.id).collection('products'))
        }
        if (val && val.onboarding_complete === false && this.$route.path.indexOf('onboarding') === -1) {
          this.$router.push({
            name: 'OnboardingQuestions'
          })
        }
      }
    }
  },
  computed: {
    price_table: function () {
      let price_table = {}
      for (let product of this.products || []) {
        let added = false
        for (let user_product of this.user_products || []) {
          if (user_product.id === product.id) {
            added = true
            price_table[product.id] = user_product
            price_table[product.id]['override'] = true
          }
        }
        if (!added) {
          price_table[product.id] = product
        }
      }
      return price_table
    }
  },
  methods: {
    toggle_menu () {
      this.isMenuCondensed = !this.isMenuCondensed
      document.body.classList.toggle('sidebar-enable')
      document.body.classList.toggle('enlarged')
    },
    collapse_menu () {
      document.body.classList.add('sidebar-enable')
      document.body.classList.add('enlarged')
    },
    show_menu () {
      document.body.classList.remove('sidebar-enable')
      document.body.classList.remove('enlarged')
    },
    toggleRightSidebar () {
      document.body.classList.toggle('right-bar-enabled')
    },
    async fetch_profile () {
      let that = this
      let loggedinUser = db.collection('users').doc(auth.currentUser.uid).get().then(async function (doc) {
        if (doc.exists) {
          that.$bind('user_profile', db.collection('users').doc(auth.currentUser.uid))

          if (doc.data().parent_id) {
            that.parent_id = doc.data().parent_id
            that.user_profile.test = doc.data().parent_id
          }
          if (that.parent_id) {
            that.user_profile.uid = that.parent_id
          }
          if (doc.data().role) {
            that.role = doc.data().role
          }
        }
      })
    }
  },
  mounted () {
    if (isMobile) {
      this.$swal('Info', 'Please use a desktop version for the best user experience.', 'info')
    }
    this.$parent.$on('toggleNavNew', () => {
      console.log('received')
      this.isActive = !this.isActive
    })
  },
  created () {
    window.pagesense = window.pagesense || []
    auth.onAuthStateChanged(async (user) => {
      if (user) {
        this.logged_in = true
        await this.fetch_profile()
      } else {
        this.logged_in = false
        this.loading = false
        var _hsq = window._hsq = window._hsq || []
        _hsq.push(['identify', {
          email: undefined
        }])
        _hsq.push(['trackPageView'])
        if (window.gtag) {
          window.gtag('gtm1.set', {
            'email': undefined,
            'user_id': undefined
          })
        }
        if (window.ga) {
          window.ga('gtm1.set', 'email', undefined)
          window.ga('gtm1.set', 'userId', undefined)
        }
      }
      if (this.$route.path.indexOf('logout') > -1) {
        auth.signOut()
      }
    })
  }
}
</script>

<style>
</style>
