<template>
  <apexchart
    class="apex-charts"
    type="bar"
    :height="height"
    :series="series"
    :options="chartOptions"
  ></apexchart>
</template>

<script>
export default {
  name: 'BarChart',
  props: ['chart_data'],
  data () {
    return {
      series: this.chart_data.series,
      chartOptions: {
        chart: {
          type: 'bar',
          animations: {
            enabled: false
          }
        },
        plotOptions: {
          bar: {
            columnWidth: '50%'
          }
        },
        dataLabels: {
          enabled: false
        },
        noData: {
          text: 'Loading...'
        },
        stroke: {
          width: 2
        },
        colors: ['#1abc9c'],
        grid: {
          row: {
            colors: ['#fff', '#f2f2f2'],
            opacity: 0.6
          },
          borderColor: '#f1f3fa'
        },
        xaxis: {
          labels: {
            rotate: -45
          },
          tickPlacement: 'on'
        },
        yaxis: {
          title: {}
        }
      }
    }
  },
  watch: {
    chart_data: {
      deep: true,
      handler: function () {
        if (this.chart_data.series) this.updateChart()
      }
    }
  },
  mounted () {
    this.series = []
    if (this.chart_data) {
      this.updateChart()
    }
  },
  computed: {
    height () {
      return this.chart_data && this.chart_data.height
        ? this.chart_data.height
        : 350
    }
  },
  methods: {
    updateChart: function () {
      this.series = this.chart_data.series

      this.chartOptions = {
        xaxis: {
          categories: this.chart_data.categories
        },
        yaxis: {
          title: {
            text: this.chart_data.y_axis_title
          }
        }
      }
    }
  }
}
</script>
