<template>
  <apexchart
    v-if="chart_data"
    class="apex-charts pb-5"
    :height="height"
    type="area"
    :series="series"
    :options="chartOptions"
  ></apexchart>
</template>

<script>
// import moment from 'moment'

export default {
  name: 'LineChart',
  props: ['chart_data'],
  data () {
    return {
      series: [], // { name:'',data: [] }
      chartOptions: {
        chart: {
          type: 'area',
          stacked: false,
          animations: {
            enabled: true
          },
          zoom: {
            enabled: true
          },
          toolbar: {
            show: true,
            offsetX: 0,
            offsetY: -25
          }
        },
        colors: [
          '#1abc9c',
          '#4fc6e1',
          '#6658dd',
          '#fa5c7c',
          '#FFA500',
          '#8b8b7a',
          '#008000',
          '#0000FF',
          '#654732'
        ],
        dataLabels: {
          enabled: false
        },
        // noData: {
        //   text: 'Loading...'
        // },
        stroke: {
          width: [2],
          curve: 'smooth'
        },
        grid: {
          row: {
            colors: ['transparent', 'transparent'],
            opacity: 0.2
          },
          borderColor: '#f1f3fa'
        },
        xaxis: {
          type: 'datetime',
          // type: 'category',
          // title: {
          //   offsetX: 0,
          //   offsetY: 8,
          //   text: this.chart_data.x_axis ? this.chart_data.x_axis.title : ''
          // },
          categories: this.chart_data.categories
        },
        yaxis: {
          title: {
            text: this.chart_data.y_axis ? this.chart_data.y_axis.title : ''
          },
          forceNiceScale: true,
          decimalsInFloat: 0
        },
        legend: {
          show: true,
          position: 'top',
          horizontalAlign: 'center',
          verticalAlign: 'middle',
          floating: false,
          fontSize: '12px',
          offsetX: 0,
          offsetY: 5,
          markers: {
            width: 30,
            height: 12,
            strokeWidth: 0,
            strokeColor: '#fff',
            radius: 1
          }
        },
        fill: {
          type: 'gradient',
          gradient: {
            opacityFrom: 0.85,
            opacityTo: 0.55
          }
        }
      }
    }
  },
  watch: {
    chart_data: {
      deep: true,
      handler: function () {
        this.series = []
        this.updateChart()
      }
    }
  },
  computed: {
    height () {
      return this.chart_data && this.chart_data.height
        ? this.chart_data.height
        : 350
    }
  },
  mounted () {
    this.series = []
    this.updateChart()
  },
  methods: {
    updateChart: function () {
      if (this.chart_data && this.chart_data.series.length) {
        this.series = this.chart_data.series
        this.chartOptions = {
          chart: {
            animations: {
              enabled: false,
              animateGradually: {
                enabled: false
              },
              dynamicAnimation: {
                enabled: false
              }
            }
          },
          xaxis: {
            type: 'datetime',
            // rotate: -45,
            // rotateAlways: true,
            categories: this.chart_data.categories
            // title: {
            //   offsetX: 0,
            //   offsetY: 8,
            //   text: this.chart_data.x_axis ? this.chart_data.x_axis.title : ''
            // }
          },
          yaxis: {
            forceNiceScale: true,
            decimalsInFloat: 2,
            title: {
              text: this.chart_data.y_axis ? this.chart_data.y_axis.title : ''
            }
            // min: this.chart_data.y_axis ? this.chart_data.y_axis.minValue : 5,
            // max: this.chart_data.y_axis ? this.chart_data.y_axis.maxValue : 300
          }
        }
      }
    }
  }
}
</script>
