<template>
  <apexchart
    class="apex-charts"
    type="pie"
    :height="height"
    :series="series"
    :options="chartOptions"
  ></apexchart>
</template>

<script>
export default {
  name: 'PieChart',
  data () {
    return {
      series: [],
      chartOptions: {
        chart: {
          height: 350,
          type: 'pie',
          toolbar: {
            show: true
          },
          offsetX: 0,
          offsetY: 14
        },
        plotOptions: {
          expandOnClick: true
        },
        colors: ['#6658dd', '#fa5c7c', '#4fc6e1', '#ebeff2', '#1abc9c'],
        legend: {
          show: true,
          position: 'top',
          horizontalAlign: 'center',
          verticalAlign: 'middle',
          floating: false,
          fontSize: '12px',
          offsetX: 0,
          offsetY: 5,
          markers: {
            width: 40,
            height: 12,
            strokeWidth: 0,
            strokeColor: '#fff',
            radius: 1
          }
        },
        dataLabels: {
          enabled: true
        },
        noData: {
          text: 'Loading...'
        },
        responsive: [
          {
            breakpoint: 600,
            options: {
              legend: {
                show: false
              }
            }
          }
        ]
      }
    }
  },
  props: ['chart_data'],
  watch: {
    chart_data: {
      deep: true,
      handler: function () {
        this.updateChart()
      }
    }
  },
  mounted () {
    this.series = []
    if (this.chart_data) {
      this.updateChart()
    }
  },
  computed: {
    height () {
      return this.chart_data && this.chart_data.height
        ? this.chart_data.height
        : 350
    }
  },
  methods: {
    updateChart: function () {
      this.series = this.chart_data.series
      this.chartOptions = {
        labels: this.chart_data.labels
      }
    }
  }
}
</script>
